[2020-07-21 11:44] ChristianSauer opened #2694 "Missing git crashes the installation, even if not needed at all"
- [x ] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x ] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [ ] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Docker tiangolo/uvicorn-gu

[2020-07-21 19:00] seansfkelley commented on #2621
I'm seeing this issue too: private repository and dependency extras being both required by the solver, but also ignored by the solver. The issue seems to be related to overlapping extras, as we were able to solve it by taking extras blocks that looked like this:

[code]

and split their overlaps so it looked like this:

[code]

(This was a wild crapshoot guess -- I happened to notice that the two

[2020-07-21 21:49] tmywada opened #2697 ""--author" option for "new""
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Feature Request
Scenario:
Generate new folder with specific author name(s)
Command:
poetry new --src "XXX" (--author "xxx yy@gmail.com")
E

[2020-07-21 22:29] JulianRMedina commented on #2657
Is there a version we should regress to in the meantime?

[2020-07-21 22:40] abn commented on #2657
@JulianRMedina `1.0.10` should still work as expected.

[2020-07-22 07:45] moochannel opened #2698 "poetry env use fails with NameError: name 'WindowsPath' is not defined"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Windows 10 Pro
- **Poetry ve

[2020-07-22 07:59] abn commented on #2698
@moochannel can you try the `develop` branch please? This shouldn't be an issue anymore.

[2020-07-22 09:02] moochannel commented on #2698
@abn Thank you for your quick reply.
I tried the develop branch with `pip install git+https://github.com/python-poetry/poetry.git@develop`.
The problem has been gone😉

Since `poetry -V` shows as 1.1.0a3 in the develop branch, I think this will be fixed in the next 1.1.0x release. Will this change apply to 1.0.x?

[2020-07-22 09:05] abn commented on #2698
Perfect. This will be released with the next `1.1.0` pre-release. As for this being ported to `1.0.x`, unfortunately `1.0.10` was the last planned release. However, the stable release for `1.1.0` will be coming soon anyway.

[2020-07-22 09:16] moochannel commented on #2698
Understood. I'll wait for the 1.1.0 release.
Closing.

[2020-07-22 09:16] #2698 closed

[2020-07-22 09:17] c-goosen opened #2699 "Poetry install with github private repo gets stuck resolving dependencies indefinitely"
- [ x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x ] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [ ] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Ubuntu GNU Linux 20.04
- *

[2020-07-22 09:17] pawamoy commented on #167
@maggyero, just to be clear, in

[code]

...it is not mandatory to use `application_1` as `name`, right? We could use any name we want, and Poetry will in any case install the `application_1` namespace package in the `organization` one.

[2020-07-22 10:51] maggyero commented on #167
@pawamoy No it is not mandatory to use `"application_1"` as name, you can call your _distribution_ as you want. The binding between the distribution name you choose and the top-level Python module name `"application_1"` will be recorded in the file top_level.txt of the distribution.

For instance you can see that the `setuptools` distribution has three top-level Python packages:

[code]

Indeed:

[2020-07-22 14:47] atollk commented on #2645
Which version constraint to you want to express? It looks like you are trying to mix tilde requirements and wildcard requirements which seems to not be supported.

[2020-07-22 14:54] bdoms commented on #1338
@abn just wanted say a big THANK YOU! I really appreciate the well thought out responses. Poetry is in good hands.

[2020-07-22 15:00] atollk opened #2700 "Restrictive transitive versioning of Python"
-  [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Microsoft Windows 10 Enterp

[2020-07-22 16:24] lv10 commented on #2094
Follwing @lmarsden suggestion I managed to speed up the process by making sure that sites/servers that prefer ipv4 use ipv4. On ubuntu I modified `/etc/gai.conf` by removing `#` (uncommenting) the following line:
`# precedence ::ffff:0:0/96 100`

[2020-07-22 17:58] finswimmer commented on #2700
Hello @atollk,

poetry's version solver does not solve the dependencies for the currently used python version. Instead it makes sure that all dependencies can be solved for all python version to which the project should be compatible. That's one of the goals of poetry: Describing a valid configuration for the project. That's a big advantage over other tools.

We really appreciate that you like to

[2020-07-22 17:58] #2700 closed

[2020-07-22 18:46] MiMiMeowMeow opened #2702 "Add command line option to display only the system Python path."
- [X ] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [ X] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Feature Request
Similar to the "poetry env info -p" command to only display the enivroment's full path.  Is there a way to just print ou

[2020-07-22 19:15] atollk commented on #2700
@finswimmer
How is forcing the user to add constraints that they do not care about an advantage? What exactly is that "goal" you're describing for poetry?
Can you point me to where this has been thoroughly discussed and decided?

[2020-07-22 19:39] jlumbroso commented on #1745
@wesleykendall Your solution is the most elegant one I've seen so far IMHO.

Here's how I would strive for tighter uncoupling right now:
- Have the dependency export happen on commit. I.e., on commit, export dependencies from Poetry as [done here with GitHub Actions](https://github.com/jlumbroso/comma/blob/master/.github/workflows/dependencies-update.yaml). This generates both files `requirements.

[2020-07-22 19:39] jlumbroso commented on #1941
Thanks to everyone for the conversation.

I agree with @sinoroc and others on the principle, that the whole goal of `tox` (and similar tools) is "_What would happen in similar configurations I don't have exact control over?_" In that sense, as package creators, we can choose to use `poetry`, but there is no guarantee that will be used by the end user.

However, the goal of `poetry` the way I under

[2020-07-22 20:19] rayluo commented on #1238
Despite this issue is currently still open, it is supposed to be fixed by #2342 , which was released in [1.1.0a2 at 2020-6-20](https://github.com/python-poetry/poetry/releases/tag/1.1.0a2), and now there is also a [1.1.0a3 released at this month](https://github.com/python-poetry/poetry/releases/tag/1.1.0a3). Can @nzsmartie et al try use poetry 1.1.0a? series to see whether the issue still exists?

[2020-07-22 20:22] s0undt3ch commented on #1238
Our problem reported in one of the comments in this issue is fixed in the `1.1.0a` series release

[2020-07-22 20:43] sdispater commented on #1238
@rayluo The 1.1.0 stable release should be available in August.

[2020-07-22 20:54] nikordaris commented on #697
Of @wolever's options, I prefer Option 1. Doing per requirement overrides is cumbersome and introduces another layer of conflict resolution between all of your requirement's overrides. How do you resolve conflicting overrides between multiple requirements? IMO, the cleanest solution is to authoritatively declare the specific version range that is compatible with your application. Option 1 does thi

[2020-07-22 21:11] mdgilene commented on #2621
I experience this same issue. I have worked around it for now by removing my "all" extra definition that includes all optional dependencies and left only the individual extras that don't have any overlap. Would be great to see this fixed as it is cumbersome doing "poetry install -E extra1 -E extra2 -E extra3 ... -E extraN" to install all dependencies. (Needed when developing a library and wanting

[2020-07-22 23:40] erodrig commented on #47
But what about already installed dependencies, like another project (library) installed

[2020-07-23 02:44] abersheeran commented on #2645
This is the problem, I did not find any string similar to `~3.6.*` in `setup.py`. @atollk

[2020-07-23 03:49] snejus commented on #2673
I Have just experienced it myself and after quite a lot of digging and confusion had to rebuild the environment. Having realised that `1.1.0a3` doesn't install the root project in the editable mode had to downgrade it back to `1.1.0a1`, even though I loved the new installer.

[2020-07-23 03:53] NZSmartie commented on #1238
I can confirm that this issue is resolved in the prerelease `1.1.0a3`

[2020-07-23 04:13] atollk commented on #2645
Which version constraint to you want to express?

[2020-07-23 04:19] abersheeran commented on #2645
`~3.6`

[2020-07-23 04:24] finswimmer commented on #2700
Hello @atollk,

the general goal is described in the [introduction of the docs](https://python-poetry.org/docs/#introduction) as:

If one say that the project depends on python >=3.8,<4.0, but declares a library that is not available for python 3.9, poetry take care about it and tell you that. This is an advantage, as you can already react on this fact during development.

[2020-07-23 07:43] gaozhidf commented on #1985
`poetry add -vvv pystray` meets the same problem.

[code]

[2020-07-23 08:17] atollk commented on #2645
And what does your pyproject.toml look like?

[2020-07-23 08:20] abersheeran commented on #2645
There is no pyproject.toml, only a setup.py file.

[code]

[2020-07-23 08:26] atollk commented on #2700
How would I react on that? If a library is not available for 3.9 at the moment then I can't change that. Printing a warning such as "Your project won't support 3.9 because you use package X"? That's fine, sure. I still don't see what advantage one gains from making this a hard error.

Neither do I see how that relates to the paragraph you cited. My project requires any version from 3.8 up. The cod

[2020-07-23 08:31] atollk commented on #2645
I see. I guess it refers to this then: `python_requires='==3.*,>=3.6.0'`.

The usual way to express this constraint would be `>=3.6,<4`. Would you still receive the same error with this constraint?

[2020-07-23 08:33] abersheeran commented on #2645
The problem lies in the python version constraints of contextvars. `python_version == "3.6.*" and python_version >= "3.6.0"` is incorrectly parsed as "~3.6.*"

[2020-07-23 08:38] abersheeran commented on #2653
https://github.com/Docker-s-IMAGES/no-pypoetry

I created a mirror that can help any project that contains poetry to build a mirror that does not contain poetry. This can greatly reduce the size of the final image.

By the way, I don't think it is necessary to include poetry/pipenv in the final image.

[2020-07-23 08:50] swist commented on #1632
Turns out there's a magic envvar (should have finished reading the docs) that does the auth. Still doesn't quite solve the problem when you're accessing the same repository via different vpc endpoints (for example building your images in multiple clusters but pushing to same registry) - that would still require a rewrite of pyproject.toml (and the lockfile I suppose) at build time

[2020-07-23 08:57] finswimmer commented on #2700
`poetry` protects you to declare project dependencies that will not work.

The importent part was in bold. With `poetry` you declare the libraries the whole project depends on. This is different to other tools, which usually only take the current environment into account or let you write anything in, without making sure that it is correct.

If any of the dependencies is not compatible to version 3

[2020-07-23 09:53] atollk commented on #2700
How is that an advantage? What gain do I have from not being able to write "^3.8" when that is all my code requires?

By that logic, why is it acceptable that I don't have to list transitive requirements? If my project uses package A and A uses package B, my project depends on B. So with the same argument, I should have to declare B as a dependency. But that doesn't make sense, the same way that h

[2020-07-23 10:01] peterdeme commented on #2405
Same here. FYI @stephsamson @sdispater

[2020-07-23 10:07] sdispater commented on #2700
@atollk

You can and should put `^3.8` if that's what your project support.

What you need to understand is why this feature has been implemented. Let's say we have this configuration:

[code]

and that `my-package` has the following Python restriction "<3.9".

Now, Poetry will resolve the dependencies but will see that the `my-package` will not be satisfied for Python `>=3.9,<4.0`, hence the erro

[2020-07-23 10:11] jstriebel commented on #1882
Tested it again with poetry `1.0.10` and could reproduce this issue, however this seems to be fixed on the `develop` branch / `1.1.0a3`, it works for site-packages and dist-packages there.

If anybody else needs poetry to install packages once for site-packages and dist-packages (see #1711) with the current versions, we are currently using a specific poetry version for both cases:
[code]

[2020-07-23 10:15] psaghelyi commented on #2405
and here

[2020-07-23 10:24] sdispater commented on #2405
@peterdeme @psaghelyi Could you try with the latest prerelease of poetry `1.1.0a3`?

[2020-07-23 10:28] atollk commented on #2700
Thanks for joining the conversation, @sdispater .

Which is what I am trying to do.

Sure, I understand where the error comes from. But, as you said, I am questioning _why_ it exists and whether this behavior is the best it could be.

That certainly looks like a better solution than having to restrict the Python version globally just from a syntax pov.
However, if the dependency changes from `^3.8

[2020-07-23 10:58] earonesty commented on #338
Just curious. does the new installer pre-build for the local env, cache the built dists, and soft-link to them rather than copying them?

[2020-07-23 13:52] ShadowWolf opened #2703 "Poetry cannot add ssh urls from Azure Devops due to their URL"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Windows 10 and Ubuntu 18.04

[2020-07-23 13:59] abn commented on #2673
@PetterS You might run into it on very specific scenarios where this could be an issue. And even then, it is seems like an issue of the environment and not necessarily how poetry manages it. I am still not sure how `pkg_resources` is detected as an installed package in your environment since the namespace is installed due to `setuptools` installation, any insights into this welcome. In these cases

[2020-07-23 16:09] demus opened #2704 "Poetry does not gracefully error when trying to install malformed packages"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.

## Issue

1. add a file to pyproject.toml, from local source:

```package = {path = "package"}```

2.
[code]

3.

```poetry install```

and you'll receive a stack trace with a StopIteration error.

I understand this is user error and also a really weird edge ca

[2020-07-23 18:45] ginty opened #2705 "The poetry build command forces the pre-release identifer to 'rc'"
- [x ] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x ] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x ] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

## Issue

My project version is something like `2.0.

[2020-07-23 19:50] eblume commented on #1614
I've been hitting this issue myself as we roll poetry out to a project with many developers in a relatively heterogeneous development environment. We are finding a lot of merge conflicts, particularly when dealing with dependency changes in a release/CI flow where merge conflicts can be a real frustration.

I've been trying to think through what a `poetry lock --preserve` might look like, as sugge

[2020-07-23 20:21] seansfkelley commented on #1614
Fully in favor of this, however, the reason I suggested `--preserve` is that I figure this constitutes a breaking change and would therefore have to be delayed until 2.0.

By analogy, `--remove-untracked` was added to `poetry install` to make it more conservative, and then I filed https://github.com/python-poetry/poetry/issues/2370 to track making that conservatism default in 2.0.

I don't think t

[2020-07-23 22:53] #2181 closed

[2020-07-23 22:53] #2657 closed

[2020-07-24 03:15] birnbera opened #2707 "The new `--no-modify-path` argument to `get-poetry.py` is misleading"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [ ] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Centos7
- **Poetry version**

[2020-07-24 05:49] laike9m commented on #513
+1 on previous comments. Having no way to turn off the behavior of removing dev packages is not ideal, and I believe I have a legit use case to prove it.

I'm using Poetry for dependency management and tox for testing.

The depdencies I have are like this:

[code]

Not **every** dev dependency is needed in tests, for example `grpcio-tools`, is not needed. So here's my `tox.ini` file:

[code]

Beca

[2020-07-24 08:21] ThePresence opened #2708 "Error import: not found on Windows 10 WSL2 - Ubuntu 20.04"
- **OS version and name**: Ubuntu 20.04 on Windows 10 WSL2
- **Poetry version**: 1.0.9
---

## Issue -

Whenever I try to use poetry I'm getting below error message -
[code]
I'm only getting this error on Ubuntu wsl2, but on Windows 10 it's working flawlessly.

Please find the screenshot below -

![image](https://user-images.githubusercontent.com/19200271/88373388-6118a080-cdb5-11ea-9a11-eaadc57de

[2020-07-24 08:27] abn commented on #2708
@ThePresence can you post the output of the `cat $(which poetry)`?

[2020-07-24 08:30] ThePresence commented on #2708
Please find below -

[code]

[2020-07-24 09:44] PavlosMelissinos commented on #1614
Oh right, yeah that makes sense. Thanks for chiming in!

(I don't suppose there are any critical situations where someone would prefer **more** changes in dependencies, it's usually the other way around, so if it were up to me I might not consider it a breaking change and be less conservative than wait for v2.0. I'm not a huge fan of semver anyway, changing a number should not absolve developers o

[2020-07-24 11:24] elferia opened #2711 ""env use" fails with "NameError: name 'PosixPath' is not defined""
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Ubuntu 18.04.4 LTS
- **Poetr

[2020-07-24 11:34] elferia commented on #2711
version 1.1.0a3 not include 5487069 https://github.com/python-poetry/poetry/blob/a50d87dbdcd539499ce7e5c7e9149a491505af52/poetry/utils/env.py#L664
So workaround is installing preview version.

[2020-07-24 11:44] abn commented on #2711
@elferia appreciate the bug report and the analysis. As you have already identified, the preview version will resolve this. And since we recently released the last `1.0.z` release and next release is expected soon, resolving this.

[2020-07-24 11:44] #2711 closed

[2020-07-24 14:47] #1900 closed

[2020-07-24 19:52] myliyifei commented on #1972
I can't display the ANSI color effect in Windows terminal either, I have to add the command line parameter --ansi every time I run it, can this option switch be added to the config without adding the parameter every time?

[2020-07-24 20:46] ewen-lbh commented on #1972
@myliyifei you could use an alias (sth. like `alias poetry="poetry --ansi"`) as a workaround, but I don't know how to make aliases on windows though (or if it's even possible at all...)

[2020-07-25 01:34] dazza-codes opened #2723 "Restore working version of poetry.lock after SolverProblemError"
The `poetry.lock` file that was previously working before trying to install/update packages should be restored after encountering a `SolverProblemError`.

[code]

This leaves the `poetry.lock` in a broken state and subsequent `poetry update` processes seem to try to resolve a nearly impossible conflict to resolve, taking too long to identify that the `poetry.lock` file is broken already.

The prop

[2020-07-25 02:52] khanguslee commented on #2261
Thanks for this! This help solve my problem after I did a `brew update` a couple of days ago.

[2020-07-25 03:15] dazza-codes commented on #2386
Similar issue:

[code]

where `{some-lib}` uses a pyproject.toml with
[code]

So, what's up with `dataclasses (^0.6) which doesn't match any versions`?

[2020-07-25 06:58] snejus opened #2725 "Editable mode is gone since `1.1.0a2`"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
  * Though this covers more than one release
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS ver

[2020-07-25 11:36] gegenschall opened #2726 "Package goodtables is not installable via poetry"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Arch Linux
- **Poetry versio

[2020-07-25 11:44] ahobsonsayers commented on #1816
Is there any update to this? The pyproject.toml of poetry implies that poetry is currently using poetry-core 1.0.0a9 which should have this feature but it still is not working as of 1.0.10. Is there something missing that needs to be done for this feature to become available? Im willing to make PR if required.

[2020-07-25 11:59] abn commented on #1816
@ahobsonsayers `1.0.z` does not use `poetry-core`. Please try `1.1.0b2` pre-release of `1.1.z`.

[2020-07-25 12:12] abn commented on #2726
@gegenschall seems I am unable to reproduce this issue. Although it is good to note that this will take a bit of time to resolve because of botocore.

[code]

You can workaround the resolution time caused mainly due to the number candidate solutions of `botocore` and `boto3` by being explicit about them in your `pyproject.toml`. For example;

[code]

Will now be resolved quicker.
[code]

[2020-07-25 12:45] abn commented on #2725
The short answer here is that this is expected and highlights the fragility of how editable installs are handled today. This is an expected side-effect of the transition to a more standard approach to handle editable installs in [PEP 517](https://www.python.org/dev/peps/pep-0517/) build backends as recommended in [PEP 610](https://www.python.org/dev/peps/pep-0610/). This does not have any function

[2020-07-25 12:46] abn commented on #2725
@snejus would be great to get some more details on how this is blocking your upgrade.

[2020-07-25 13:36] ahobsonsayers commented on #1816
@abn Thanks for pointing this out, I updated poetry to the latest preview version and the develop flag now works perfectly 😁

[2020-07-25 17:09] bratao commented on #2674
Hi @abn , maybe #2388 is related to this bug?
#2388 is a very important scenario ( using a private pypi) that is failing in multiple machines to me.

[2020-07-25 17:14] abn commented on #2674
Could be part of the reason. However, I suspect that one is more to do with not being able to download the artifact (eg: html error page being downloaded). Fixing this will simply invalidate it and download again, which might again return the bad content.

[2020-07-25 19:40] snejus opened #2728 "Poetry shows `astroid` has two dependencies while pip says there's four"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Ubuntu 18.04.4 LTS x86_64
-

[2020-07-25 19:42] snejus commented on #2728
`poetry update -vvv`
[code]

[2020-07-25 19:57] abn commented on #2728
Try `poetry show -a astroid`.

[2020-07-25 20:22] snejus commented on #2728
[code]

So it seems that the problem is specific to `astroid`.

[2020-07-25 20:47] snejus commented on #2725
Okay, this makes sense. Though considering that many people do rely on editable installs, I wouldn't say that releasing these changes is the best option (even if we're talking about pre-releases). I take my words back if (a) majority of things going on now *depend on it being present* or (b) it's about to be completed. For example, maybe it would be possible to isolate PEP 610 to a specific _branc

[2020-07-25 22:09] abn commented on #2725
To be clear, in this context, functionality has not changed.

The issue reported here has to do with how `pip` detects the "editable" package's location. When you run `poetry install` the current project's included directories are written to `<purelib>/python-<version>/site-packages/<package>.pth` file as described [here](https://docs.python.org/3/library/site.html). This means that your package s

[2020-07-25 22:21] abn commented on #2728
It might have to do with something in your environment. I am unable to reproduce this using `1.1.0b2`. Providing a minimal `pyproject.toml` might be helpful.

[code]

This was using the following:
[code]

[2020-07-26 03:39] mtsolmn commented on #655
@JulianFerry If you have already ran `poetry install`, then a `poetry.lock` file have been created and is the reason for this issue. I do not know of any argument for `poetry add` to ignore `poetry.lock`, so you may need to delete `poetry.lock` after editing pyproject.toml.

To give a temporary solution to @maggyero and @johnthagen, yes I agree this is really annoying. For me the best solution on

[2020-07-26 05:47] alexlouden commented on #2711
I had the same issue, upgrading to the latest preview version fixed it for me - thanks1

[code]

[2020-07-26 11:58] tony commented on #2711
Thanks @alexlouden

I had to do : `pip install --user --pre poetry -U`

Since my poetry installation gave me this warning: `Poetry was not installed with the recommended installer. Cannot update automatically.`

[2020-07-26 12:37] myliyifei commented on #2681
I'm having the same problem, even with the latest 1.1.0B2 version, I tested powershell, cmd and elevated cmd with the same error.

Traceback (most recent call last):
  File "C:\Users\yifeili\.poetry\lib\poetry\_vendor\py3.8\clikit\console_application.py", line 131, in run
  File "C:\Users\yifeili\.poetry\lib\poetry\_vendor\py3.8\clikit\api\command\command.py", line 120, in handle
  File "C:\Users\

[2020-07-26 12:46] abn commented on #2681
@myliyifei can you try installing with pipx or pip? Just want to make it's not an issue with the installer.

[2020-07-26 12:52] myliyifei commented on #2681
What you mean is, first I use get-poetry.py to uninstall the version that installed in "C:\Users\xxx\.poetry", then I use pip to install poetry into the current version of python site-packages directory, is that correct?

[2020-07-26 14:11] abn commented on #2681
If the script is working yes. Otherwise, can just remove the directory from path or remove the poetry install directory. Note that the latter is destructive. :)

[2020-07-26 22:59] jdeyton commented on #2538
@danieleades I'm of the opinion the documentation is a little unclear. However it seems to work for multiple users:

There are steps provided here in #910, specifically https://github.com/python-poetry/poetry/issues/910#issuecomment-484963046

For what it's worth, I was able to get a poetry to publish to a pywharf container backed by the local filesystem using this approach, with the exception tha

[2020-07-27 00:30] wakemaster39 opened #2730 "1.1a3/b2 does not detect installed packages as git"
- [ x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [ x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x ] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: MacOs 10.15
- **Poetry ve

[2020-07-27 01:25] abn commented on #2730
@wakemaster39 can you try the fix in #2722, I think that should resolve this issue.

[2020-07-27 09:51] gegenschall commented on #2726
Oh! So I actually didn't wait long enough for poetry to resolve this. Sorry, I judged by the log that it would never finish.

Thank you for looking into this and providing a work around. Is this even a dependency cycle? Should I notify the maintainers of `goodtables`?

Cheers! <3

[2020-07-27 09:51] #2726 closed

[2020-07-27 12:44] KyleKing commented on #2643
Just following up. This issue is still present in the latest `Poetry 1.1.0b2`

Could this just be `dep._path = dep.full_path.as_posix()`? Why is the relative path to `package.root_dir.as_posix()` necessary?

https://github.com/python-poetry/poetry/blob/4769f72a052743691a5c073777aaf07f72f94e74/poetry/puzzle/provider.py#L686-L696

[2020-07-27 14:40] Luttik commented on #167
Another part of this issue that is not yet addressed is how to use nested namespaces. I'd like to have packages in the format `company.package_domain.package_name`. But I found that neither of these work:
1.

[code]

2.
[code]

Maybe I'm doing something dumb here but it doesn't seem trivial to me. I'd also love to see a more in-depth explanation in the readme for use-cases like these, time after t

[2020-07-27 15:11] abn commented on #2643
@KyleKing can you try using a url dependency with [direct-reference](https://www.python.org/dev/peps/pep-0440/#direct-references) instead here? The issue with using a path dependency is that we expect it to be on the local machine. For network mounts, you will have to use `file:` direct refernces.

That said the specific code path you have pointed out needs to be fixed too, since we should really

[2020-07-27 15:56] abn commented on #2726
Well, for good hygene `goodtables` could specify stricter constraints by adding a minimum version of `botocore` but if they genuinely work with all versions of `botocore`, there isn't much that can be done when solving.

[2020-07-27 17:09] joelb123 opened #2731 "Request: developers should be able to turn off dependency upper-bound calculations"
- [x ] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Feature Request

Poetry assumes that dependencies have an upper bound of the next major version from semantic versioning.  I do not see a

[2020-07-27 17:27] KyleKing commented on #2643
Okay, that makes sense. I just have a couple of quick questions about modifying the toml file and how can I test `pip @ file://...` separate of poetry

1. I looked through the tests from python-poetry/poetry-core#22 and the poetry website and couldn't determine what the TOML file should look like to specify a direct-reference (`url=file:///`, right?). Based on PEP440 and the [MDN note](https://doc

[2020-07-27 18:17] thejohnfreeman commented on #1941
I left a thumbs up on @sinoroc's [explanation](https://github.com/python-poetry/poetry/issues/1941#issuecomment-582326917), but never explicitly said that he changed my opinion on this subject, after I [copied](https://github.com/thejohnfreeman/python-typeclasses/blob/master/tox.ini) his suggested [pattern](https://github.com/python-poetry/poetry/issues/1941#issuecomment-581602064) with success. I

[2020-07-27 18:39] abn commented on #2731
@joelb123 I have not groked your entire description, will re-read it later once I have  some mroe time. But based on parsing your last bit, I am assuming you mean the bounds written to the wheel metadata.

As a quick example, taking `poetry`, we currently define the dependency on `keyring` conservatively.
[code]
This translates to the wheel metadata as:
[code]
The different versions here are becau

[2020-07-27 18:57] sinoroc commented on #1941
This is enabled by the [`isolated_build = true` setting](https://tox.readthedocs.io/en/latest/config.html#conf-isolated_build). This lets _tox_ know to look into `pyproject.toml`'s `build-system` section, and delegates the build to the proper build backend, which in the case here is _poetry_ obviously. This was always (as far as I can remember at least), clearly the case in both _FAQ_'s ([_poetry_

[2020-07-27 19:21] abn commented on #2643
Hmm, thanks for the details @KyleKing much appreciated. It might be better to handle this as a file dependency (as you originally did) I reckon. I forgot that poetry handles file uri's as file dependnecies as opposed to url dependency, so my original recommendation is moot

As for the the issue itself, I think adding an "is absolute" test might work. Assuming that `pathlib` correcly recognises the

[2020-07-27 19:42] KyleKing commented on #2643
Oh okay, I tested pathlib with this snippet:

[code]

[2020-07-27 22:07] PAStheLoD opened #2733 "poetry 1.1.0b2 tries to install nltk...win32.exe on Linux"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Linux, Ubuntu 20.04 (Focal)

[2020-07-27 22:52] abn commented on #2733
Thanks for the report @PAStheLoD. Looks like `nltk` has `bdist_wininst` which poetry was not handling correctly when choosing the archive to use. While these files are supported by PyPI, seems newer versions of nltk `3.5.5` do not use them either. As a workaround, you can switch to `3.5` for now. It should be something we will fix in the next pre-release.

Also, you should consider switching away

[2020-07-28 03:00] goodcheer commented on #2711
Thanks @tony

if you're using `pipx` as install manager, you can get pre-release by : `pipx install --pip-args='--pre' poetry` (confimred working)

or upgrade exisiting one `pipx install --pip-args='--pre -U' poetry` (haven't tried this one, but might work)

[2020-07-28 05:30] rhysmdnz opened #2734 "Missing asgiref dependency for django"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Arch Linux
- **Poetry versio

[2020-07-28 07:34] peach-lasagna opened #2735 "Poetry add pack"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [ ] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: 10 Windows
- **Poetry versio

[2020-07-28 08:05] finswimmer commented on #2735
Hello @peach-lasagna,

at the moment I cannot  tell you why there is an recursion error when you try to remove the package. But I can tell you something to your first point.

After running `poetry install` the packages get installed into a virtualenvironment. You have to run your program within that env.

This can be done in several ways:

1. Use `poetry run`

[code]

`poetry` will create a new sh

[2020-07-28 08:40] PAStheLoD commented on #2733
Thanks for the quick reply!

(This is a project in-transition away from py2. But it's a sloooow process, due to lack of funds and strange over-engineered homegrown modules that never should have been created. Oh, and NLTK 3.5+ dropped py2 support, so we can't upgrade just yet. 😭 )

[2020-07-28 09:04] abn commented on #2733
I feel your pain!

As for a workaround you can also add it as a `url` dependency direct linking to the zip file on pypi. But, this should be fixed prior to `1.1.0` if you prefer to wait.

[2020-07-28 09:09] absassi commented on #1953
To those still having problems even after upgrading virtualenv, see [this comment](https://github.com/python-poetry/poetry/issues/2027#issuecomment-587393855) (in short, remove any .egg-info folder from your project).

[2020-07-28 09:17] abn opened #2736 "Add a graceful retry logic for intermittent network failure when downloading packages"
In certain cases, it is possible that the network might not be reliable and be prone to outages. In these cases, it would be great if poetry's artifact download logic would recover gracefully. Ideally, with both an exponential back-off as well as a retry attempts.

A sample output when this happens.
[code]

The relevant logic could be implemented here.

https://github.com/python-poetry/poetry/blob

[2020-07-28 09:20] abn commented on #2734
@rhysmdnz can you try #2722 please?

[2020-07-28 09:34] ewjoachim opened #2737 "Tilde operator (`~=`) in dependencies fails silently in 1.1.0b2"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version. (unstable)
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [ ] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: N/A
- **Poetry ve

[2020-07-28 09:39] peach-lasagna commented on #2735
@finswimmer
Thanks so much!
[code]
Helped me!.

[2020-07-28 11:44] abn opened #2738 "Improve how internal errors are propagated to users and when debugging issues"
As things stand today, the internal errors that happen when issues like #2737 #2734 are encountered are lost to the logger.

https://github.com/python-poetry/poetry/blob/cae154c26485e3177f994f828b73d342aec12810/poetry/inspection/info.py#L153-L160

This needs to be improved such that we use an application level logger with an option to generate debug logs if/when required without interfering with t

[2020-07-28 11:45] abn commented on #2737
@ewjoachim I have raised #2738 to handle the "silent failure" issue.

[2020-07-28 11:48] PAStheLoD commented on #2733
Thanks again!

Now that I know what the bug is, it's no problem to use 1.0.10 (`python2 -m virtualenv poetry.venv && poetry.venv/bin/pip install poetry==1.0.10` ... just as easy as using the get-poetry.py.)

[2020-07-28 11:52] ewjoachim commented on #2738
(perfect :+1: thank you)

[2020-07-28 12:47] ewjoachim commented on #2737
Ok, we can close this one then :)

[2020-07-28 13:04] #2738 closed

[2020-07-28 13:54] padix-key opened #2740 "Stabilize 'build.py'"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Feature Request

In order to compile C-extensions, it is currently required to add a build script to the project directory and  to `pyproj

[2020-07-28 13:57] padix-key commented on #2493
Just recognized, that this issue is a duplicate of #2214.

[2020-07-28 13:57] #2493 closed

[2020-07-28 14:26] abn commented on #2740
@padix-key this feature is, today, an undocumented and really unsupported features. However, we do plan on making support for build scripts more standard. This will be added to documentation once it is fully supported and flushed out. Changes like python-poetry/poetry-core#45 are stepping stones to this.

[2020-07-28 14:48] abn commented on #2738
@sdispater Is there some processing missing here?
[code]

I was expecting `<debug>` to be rendered correctly.

[2020-07-28 14:52] e0lithic commented on #2461
Hi again, considering there's been quite some time. I hope everyone is doing well. @finswimmer or @sdispater . Do you still consider the above mentioned issue as being a bug or an intended feature? I would plan building the scripts around poetry accordingly.

[2020-07-28 15:01] sdispater commented on #2738
@abn It's rendered correctly on my end:

<img width="694" alt="Screenshot 2020-07-28 at 17 00 33" src="https://user-images.githubusercontent.com/555648/88683319-ef618f00-d0f3-11ea-9913-0d17b851007f.png">

[2020-07-28 15:05] abn commented on #2738
Strange. Not sure why that single debug won't render as expected on mine. Will debug later then.

[2020-07-28 16:15] LyonsDo commented on #1238
Happened to me just now when adding configparser.  Deleting the lock file allowed poetry to rebuild it with output
Package operations: 1 install, 3 updates, 0 removals

  - Updating urllib3 (1.25.9 -> 1.25.10)
  - Installing configparser (5.0.0)
  - Updating coverage (5.2 -> 5.2.1)
  - Updating rq (1.4.3 -> 1.5.0)

[2020-07-28 16:50] abn commented on #1238
@LyonsDo I am guessing the issue was a stale lockfile? Can you clarify if the issue is resolved for you? If not, can you try one the latest pre-release please?

[2020-07-28 17:01] LyonsDo commented on #1238
Seems OK now thanks.  If it recurs, I'll try the pre-release.

[2020-07-28 17:04] claeyzre commented on #858
I am also seeing this with poetry 1.0.9 with a private pypi server

[2020-07-28 17:14] abn commented on #858
@zyxue @claeyzre can you try `1.0.10` or `1.1.0b2` please?

[2020-07-28 18:11] claeyzre commented on #858
Thanks for the reply @abn
The issue is still the same with 1.0.10
I get a "HTTP Error 405: Method Not Allowed" when pushing to https://X.X.com/simple/

[2020-07-28 19:52] rotu opened #2741 "`poetry run` could handle args better"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Ubuntu 20.04
- **Poetry vers

[2020-07-28 20:55] sztomi commented on #858
@abn if you look at my analysis above (and compare the state of the code today: https://github.com/python-poetry/poetry/blob/master/poetry/publishing/uploader.py#L262) you will see that the root cause has not been addressed.

[2020-07-29 02:59] pladdy opened #2742 "1.0.10 NameError exception 'PosixPath' is not defined when creating virtual envrionment"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: centos7.8.2003
- **Poetry ve

[2020-07-29 05:10] danmur commented on #2736
Strangely I was about to file an issue for this and saw this near the top. Same problem at my work, the corp proxies are a touch flaky and will occasionally fail a connection, with a long set of dependencies to resolve you're almost assured to get a network failure which derails the whole process.

I have a fix that I've been using for forever now, using urllib3.Retry. I'm still testing it against

[2020-07-29 05:38] JPTIZ commented on #2491
Yup, that was exactly my issue here! Symlinking solved this for me too.

[2020-07-29 07:06] NateScarlet commented on #2742
Duplicate of #2711

[2020-07-29 08:00] ShoorDay commented on #2708
@abn I have a similar problem on Windows 10 WSL2 - Ubuntu.
[code]
As shown above, `poetry`  point to the One installed on Windows. And poetry works well on Windows.

[2020-07-29 08:16] ShoorDay commented on #2708
I reinstall it again and it works now. But I don't know what happened. 😭

[2020-07-29 10:39] LyonsDo commented on #76
Just been through all that with xdg which conflicts with pyxdg.  What finally worked was to download pyxdg-0.26-py2.py3-none-any.whl and install it with pip install.  Poetry then ADDed python-xdg.whl.  And, after two hours fiddling, from xdg import user_config_dir finally worked

[2020-07-29 10:43] abn commented on #2742
@pladdy can you try with the latest pre-release please? As mentioned in #2711 that should fix the environment creation issue.

We should probably fail better when the `venv` creation fails like this. The installation should not have continued.

[2020-07-29 11:57] fredrikaverpil opened #2744 "1.1.0b2 causes EnvCommandError (Non-posix paths with file:// protocol on Windows)"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Windows 10
- **Poetry versio

[2020-07-29 13:07] pladdy commented on #2742
I should have searched closed issues, thanks for referencing https://github.com/python-poetry/poetry/issues/2711

I installed the preview version with `poetry self update --preview` and it worked.  Thanks!

[2020-07-29 13:07] #2742 closed

[2020-07-29 13:21] fredrikaverpil commented on #2744
Turns out the error stems from the fact that I had a `setup.py` file laying around in my repo root. Deleting that fixes everything. Closing this.

[2020-07-29 13:31] fredrikaverpil commented on #2744
I am re-opening this, at I am hitting this constantly now, with poetry 1.1.0b2.

[2020-07-29 13:38] milliams commented on #2565
This issue is affecting `poetry build` as well which is preventing us from being able to make a release of our software. While waiting for a fix, is there a possible workaround?

As alluded to by @MrJohz, the use of the `LICENSES` directory will increase as it is a requirement of the [REUSE spec](https://reuse.software/spec/#license-files):

[2020-07-29 14:11] MrJohz commented on #2565
As an aside, it looks like since I last looked at this, the relevant code moved to `python-poetry/poetry-core` [here](https://github.com/python-poetry/poetry-core/blob/ffc3d54ab6967c02a709ded79d579ced78e8ad49/poetry/core/masonry/builders/wheel.py#L169), which also makes the current pull request kind of useless.  @finswimmer / @abn  - is there a way for you to move this issue & PR to the other repo

[2020-07-29 14:21] juanzt opened #2746 "poetry install gets CalledProcessError or EnvCommandError on Windows"
- [ x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [ x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [ x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**:  Windows 10 Pro version 2

[2020-07-29 16:26] masipcat commented on #1813
Same here :(

[2020-07-29 18:12] fredrikaverpil commented on #2744
What's more; if I manually pip install using the same command which poetry is supposed to execute, there are no errors:

[code]

When I debug poetry 1.1.0b2, these are the args passed onto the `self._env.run_pip` method (executor.py, row 281):

[code]

I'm noticing that `self._env.run_pip` is a method bound to VirtualEnv:
[code]

However, my virtual environment was created with venv: `python3 -m v

[2020-07-29 18:38] timothyjlaurent commented on #1999
BUMP -- I'm seeing this too. I was getting a 405 error - looks like I need twine as a dev dependency

[2020-07-29 18:42] fredrikaverpil commented on #2744
@dispater I tracked down what the issues is here, and I could set up a PR to fix this. But I want to hear where you think this should get fixed, as I see two possible approaches.

I suppose this is a Windows-only problem. When inside the `poetry.utils.env.py:Env._run`, I can see what the `cmd` variable holds with a simple print statement.

In my case, `cmd` comes into the method as:

[code]

Since

[2020-07-29 19:21] fredrikaverpil commented on #2744
I updated the comment above. Please re-read, if you've already had time to read it.

[2020-07-30 00:05] palette-swapped-serra commented on #2697
Just a quick related question: where does `poetry new`  read the *default* author name from? It seems to work transparently (using the user's .gitconfig data) on one of my Windows accounts, but not another (where it just defaults to `"Your Name <you@example.com>"`).

[2020-07-30 00:11] zahlman commented on #2697
Just a quick related question: whence exactly does `poetry new` read the *default* author info? It seemed to come from the signed-in user's `.gitconfig`, but it doesn't seem to work consistently.

[2020-07-30 02:28] dazza-codes opened #2749 "poetry support for optional dependencies"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Existing behavior

See debug-versions below for details.

Assume this sample `pyproject.toml`

[code]

Created by:
- `poetry init` # etc
-

[2020-07-30 04:47] danmur commented on #2736
Woops, didn't realise 1.0.10 was already out! Anyhow, it works fine against master.

[2020-07-30 07:07] atollk commented on #2700
Bumping. @sdispater

I realize that you seem to have a hard time catching up with the number of issues coming in each day. But considering I have already offered to take care of this issue myself, I am wondering, why you are rejecting it so much without having any clear reason to do so. At this point, it looks to me like you are rejecting the idea just on principle because it wasn't made by a poet

[2020-07-30 07:42] sdispater commented on #2700
@atollk

There is a valid reason to do so, which I explained above. Poetry's behavior is the right one in this case because otherwise it would lead to inconsistencies.

That's not true and I would have rejected the idea even if it had come from a core contributor. Even if it's one of the most misunderstood feature of Poetry, it's one that has been carefully and purposefully designed.

So, I apprec

[2020-07-30 09:28] approxit commented on #1241
Complexity of python packaging amazes me even after many years working with it. 🙄

As @ABitMoreDepth states, this problem is hidden if default PYPI is used. `setup_requires` ignores pip's config because it have separate installation flow outside of pip, so for e.g. it show itself in case of corporate PYPI mirrors. We can read more about [controlling `setup_requires` in PYPA docs](https://pip.pypa.

[2020-07-30 09:40] vincentwyshan commented on #571
perfect solution, it's much better than `poetry shell`

[2020-07-30 10:17] olivierpelet commented on #2403
- **OS version and name**: Rasbian Buster
- **Poetry version: 1.0.10**
- **Link of a Gist with the contents of your pyproject.toml file:** https://gist.github.com/olivierpelet/f67f8719da3ff96cb4369b489d7873b7

### Issue

I'm facing the same issue. `pyobjc` is added as dependency on a raspberry pi when trying to install `pybluez` package.
As a workaround, I have to manually delete the dependency fr

[2020-07-30 11:15] GigiusB commented on #559
This issue should be reopened.
adding default = true in pyproject.toml as suggested in the doc (https://python-poetry.org/docs/repositories/#disabling-the-pypi-repository ) will only apply to add but not to other commands like "search" ! (as of v1.0.10)

[2020-07-30 11:48] abn commented on #2744
@fredrikaverpil thank you for the details you have provided. The issue here is the following piece of code.

https://github.com/python-poetry/poetry/blob/c77299ed373df50ec459907671f65f5da3de5070/poetry/installation/executor.py#L425

This is problematic because `str()` as this is not cross-platform safe. Looking into this, at the moment the type of `archive` is not necessarily guarenteed to be a `P

[2020-07-30 11:50] fredrikaverpil commented on #2744
@abn exactly. I was actually working on a fix and a regression test for this. Do you want me to make a branch with this in it?

[code]

[2020-07-30 11:52] abn commented on #2744
@fredrikaverpil freel free to submit a PR for the code you linked above by replacing `str(archive)` with `archive.as_posix()`, there is no need to use the windows check, leth `pathlib` worry about that :)

I'll clean up the other bits later anyway.

[2020-07-30 12:01] abn commented on #2403
@olivierpelet @gruel can you try using the latest pre-release please? You might also want to regenerate the lock file (`poetry lock`). Note that new lockfiles generated with `1.1.x` will not be usable with `1.0.x`.

[2020-07-30 12:22] wakemaster39 commented on #2730
@abn no, this isn't resolving the problem. I think it definitely could but there is one problem I am not sure how to best resolve.

My test library is named `test-abc`, and the `.pth` file that is being installed is called `test_abc.pth`

`-` is not a valid character in python packages so my source folder contains `test_abc` as its root folder. Now I am not sure if the process is installed based o

[2020-07-30 12:38] abn opened #2751 "CI: Intermittent test failures on Python 2.7 due to standard output checks"
[code]

This might have been introduced with #2663 due the use of unicode charecters. The new installer should probably have a fallback output when dealing with non-fancy consoles.

[2020-07-30 12:58] tlc28 opened #2752 "Poetry does not work with tomlkit 0.6.0"
Hi Poetry!

Poetry 1.0.10 is unfortunately broken on Guix (https://guix.gnu.org) since I upgraded tomlkit to version 0.6.0!
The version required by Poetry is "^0.5.11", which translates to ">=0.5.11,<0.6.0". We only have one version of tomlkit packaged, and it's the latest one, 0.6.0.

From what I understand reading SemVer (https://semver.org), minor versions should only "add functionality in a ba

[2020-07-30 13:02] #2744 closed

[2020-07-30 13:18] mburszley commented on #559
ping @sdispater since this issue seems to have lost attention

[2020-07-30 14:41] abn commented on #2730
@wakemaster39 i have pushed a new fix to that branch

[2020-07-30 17:37] albireox commented on #2740
I'm confused about the new build system. I've modified my `pyproject.py` to use

[code]

and

[code]

and my `build.py` to

[code]

where `ext_modules` is a list of `distutils.core.Extension`.

This works fine with `poetry install` (in the sense that the extension is compiled and I get the shared library) but when I run `pip install .` no compilation happens.

Am I missing something?

[2020-07-30 18:08] ThePresence commented on #2708
Did you find any solution?

[2020-07-30 18:16] albireox commented on #2740
Looking at the `pendulum` example, it seems one also needs to add

[code]

for the compiled extension to be installed. This should be documented when the feature becomes stable.

This include is not in the test at `tests/masonry/builders/fixtures/extended_with_no_setup/pyproject.toml` so I'm not sure how that test would pass.

[2020-07-30 18:45] wakemaster39 commented on #2730
@abn looks good now :)

[2020-07-30 19:17] abn commented on #2736
@danmur while the `urllib3` retry will work for http errors, i am not sure if that approach will work for this particular issue as this is raising a socket error. The retry might be a good improvement, it will not resolve this particular issue I reckon.

[2020-07-30 19:27] abn commented on #2740
@albireox moving forward we will make it the responsibility if the build script to move the compiled files around such that they are in the right places as expected. If the built files are within an included package it will automatically be picked up. This is probably why it works in the test (did not look into it). If it is in another location, the `include` configuration is the way to go. We mig

[2020-07-30 19:55] albireox commented on #2740
Thanks for the explanation.

I would really encourage that if this change become part of `1.1.0` it gets documented, even if it's considered an experimental feature. The old build system, although undocumented worked as expected and a stable release should not break that.

[2020-07-30 23:00] abn commented on #2740
The old mechanism should still work out of the box; since the default is to generate the setup file for this release. But yes, I agree, some documentation explaining all this would be good.

[2020-07-31 00:22] danmur commented on #2736
Hmm yeah that makes sense. The error I was getting was a bad status line, at the http level. Thanks, I'll do some testing on the weekend and confirm, but yes will probably need more.

[2020-07-31 04:02] NateScarlet opened #2754 "python2 deprecation warning break scripts that read from stdout"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: debian and windows7
- **Poet

[2020-07-31 07:38] #2309 closed

[2020-07-31 07:58] fredrikaverpil commented on #1941
I'm hoping to be able to specify dependency groups in my CI once this is available ([planned for poetry 1.2](https://github.com/python-poetry/poetry/issues/1856)):
https://github.com/python-poetry/poetry/issues/1644

But until then, what _is_ the recommended usage of poetry with tox when you need to install dev dependencies for e.g. linting/pytest or the other usual CI suspects?

I've noticed that

[2020-07-31 08:06] jaklan opened #2755 "Comment in pyproject.toml breaks new lines"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: macOS Mojave 10.14.6
- **Poe

[2020-07-31 09:05] #2730 closed

[2020-07-31 10:06] keddad opened #2756 "Poetry says that "environment seems to be broken" all the time"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Fedora 32
- **Poetry version

[2020-07-31 12:48] olivierpelet commented on #2403
I've just tried with version **1.1.0b2**, the issue is still there.
I don't know if it can be related to the bug but I'm in a **pyenv** shell, using python version **3.6.9**.
Of course I don't have any virtualenvs running with pyenv.

[2020-07-31 12:56] finswimmer commented on #2756
@keddad I encountered this problem, when the venv is activated and poetry detect it as broken and than try to recreate it. So make sure your venv is deactivated and run `poetry install` once again. Afterwards everything should work normal.

[2020-07-31 13:25] keddad commented on #2756
Sadly, that didn't really work in my case. I'm clearly not running any venvs:
[code]

but `poetry install && poetry show` still results in "broken environment" issues.

[2020-07-31 13:41] keddad commented on #2756
Ok, that's clearly an issue with how `VirtualEnv.is_sane()` works. It simply checks if there are python and pip present:
[code]
[
github.com/python-poetry/poetry/blob/master/poetry/utils/env.py#L1168](
github.com/python-poetry/poetry/blob/master/poetry/utils/env.py#L1168)

Since after `poetry install` my venv contains there files, it is probably looking for them in the wrong spot.

[2020-07-31 13:56] keddad commented on #2756
I've recorded a [trace](https://gist.github.com/keddad/2e22d67bd7763929f2a04b15d3188b4c) of `poetry show` running in "broken env". I'm not really sure why is that happening, but here is a thing:
* It removes my venv `22146 rmdir(".venv/socialcomp-nXpxZNnR-py3.8") = 0`
* And only then checks if `pip` binary exists `22149 stat("/home/keddad/Documents/hseproject/socialcomp/.venv/socialcomp-nXpxZNnR-p

[2020-07-31 14:20] jlumbroso commented on #1941
@sinoroc

Generating a `requirements.txt` feels unnecessary to you—and using an "extras" to specify dev dependencies when there is another more specific mechanism designed explicitly to do so (i.e., dev-dependencies, literally), that's what feels redundant/unnecessary to me.

I knew of no such plugin, however some due-diligence Googling led me to discover a very unusual effort:
https://github.com/

[2020-07-31 14:30] Saelyos commented on #2276
Hello, I'm experimenting the same issue as the OP with version 1.1.0b2 if I add a `build` command with a `build.py` file in the package.

See [this project](https://github.com/Saelyos/poetry-test) for an example (it's just a fork of the OP project with an added build command).

[2020-07-31 14:37] jlumbroso commented on #1941
@fredrikaverpil

I agree that using extras is not ideal.

So here's what I have done in my most recent package, [`comma`](https://github.com/jlumbroso/comma/) (Python CSV for human!! 😇):
- I have my `dev-dependencies` [specified in `pyproject.toml`](https://github.com/jlumbroso/comma/blob/e201f89bb66b4960e6ce36ab0a0bddc574ee949d/pyproject.toml#L40-L53)
- I have my CI automatically update `requirem

[2020-07-31 14:50] tlc28 commented on #2752
Thanks @abn!
Actually, we have the same problem with cleo and clikit… but the versions have been updated in dev. So we'll have to live with a patch until 1.1.0 is out and can be packaged.

[2020-07-31 14:50] #2752 closed

[2020-07-31 20:29] bartekpacia opened #2757 "What is egg-info folder"
Hi! I've just started using Poetry because it looks awesome. I created a new project using `poetry new ...` and then `poetry install`, and a folder called `<my_project_name>.egg-info` was created in my root directory. I've searched for some info about info but I didn't find anything. I think it should be better documented, e.g I don't know whether it should be checked into git or not.

- [x] I hav

[2020-07-31 21:11] PetterS commented on #2658
@abn not consistently as in triggering every time, no.

But it really needs to be fixed before 1.1. I think the stack trace pretty clearly shows that running the installs in parallel is unsafe?

[2020-07-31 21:17] PetterS commented on #2658
Crashed on the second attemt with 1.1.0b2. So it should be easy to reproduce.

`FileNotFoundError: [Errno 2] No such file or directory: '/home/petter/.cache/pypoetry/virtualenvs/testenv-wETKOq8S-py3.8/lib/python3.8/site-packages/~ecorator-4.4.2.dist-info'`

[2020-07-31 21:18] PetterS commented on #2658
Will you accept a PR making all uninstalls run sequentially? We have to do something about this.

[2020-07-31 21:18] abn commented on #2757
Hi @bartekpacia the creation of the `egg-info` is done by [distutils](https://docs.python.org/3/library/distutils.html) as described in [PEP 376](https://www.python.org/dev/peps/pep-0376/).

The reason why `poetry install` causes the creation of this is because, `poetry <= 1.0.10` relies on [setuptools](https://setuptools.readthedocs.io/en/latest/) to for the editable installation of the project u

[2020-07-31 21:40] bartekpacia commented on #2757
Thank you @abn! This is a good clarification:)

[2020-07-31 21:40] #2757 closed

[2020-07-31 21:46] abn commented on #2658
@PetterS I am not sure what to tell you. I just ran this against the current master, and I did not hit the issue. Effectively sets up your issue and iterates 10 times.

[code]

I am curious as to what the root cause here is, considering each package is only uninstalled once, how two packages try to remove the same file/directory is confounding.

@sdispater you have any input here since you impleme

[2020-07-31 21:55] abn commented on #2752
@tlc28 just so you know, 1.1.0 will require `tomlkit-0.7.0` see comments on #2753. I suspect so will cleo and clikit.

[2020-07-31 22:16] engstrom commented on #1368
@finswimmer Can you please explain how this works in the current version? So far all I can find are closed issues and PRs with no changes merged.

[2020-08-01 00:13] tomzx opened #2758 "poetry update --lock package=version-constraint"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Feature Request
I have `pyproject.toml` and `poetry.lock` files and I'd like to be able to update the `poetry.lock` file so it uses a spec

[2020-08-01 01:23] aaronsteers commented on #2314
I have created a chocolatey package for poetry. Would appreciate your review: https://github.com/aaronsteers/choco-python-poetry

Once published to the chocolatey package directory, this enables Windows Chocolatey users to utilize the following:

[code]

[code]

Sample install and uninstall output here:

[code]

[2020-08-01 01:56] bergkvist opened #2760 "[Feat] Automated Development Environment with Docker Volumes"
- [X] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [X] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Feature Request
Ability to `poetry install`/`pip install -e .` on an (empty) folder during docker build.

The Docker image will have all p

[2020-08-01 06:41] serjflint opened #2761 "Unable to retrieve the package version for git on preview 1.1.0b2"
- [ ] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Linux 5.7.11-1-MANJARO
- **P

[2020-08-01 07:15] abn commented on #2761
@serjflint the issue here is caused by:

https://github.com/python-trio/triopg/blob/19343c5012d43219999e983d03f31e9bdd9415f1/setup.py#L3

Since the version is determined dynamically, we are unable to inspect the version from the file.

Can you try `poetry` from the master branch? We have an improvement that might address this issue.

[2020-08-01 07:22] serjflint commented on #2761
@abn How to install poetry from source? I didn't find it in the docs

[2020-08-01 07:40] abn commented on #2761
If you used the installation script, then you'd want to uninstall before this.

Otherwise, `pip install --user git+https://github.com/python-poetry/poetry.git` should do the trick.

[2020-08-01 08:01] serjflint commented on #2761
@abn master branch didn't solve the problem and added new messages:
[code]
1.0.10 works with that repo though

[2020-08-01 08:30] abn commented on #2761
@serjflint that one is due to a bug in the pre-release version with respect to parsing `~=`. You can test the fix by also installing `poetry-core` from master too in the same site as poetry install.

[2020-08-01 12:05] shangguan91 opened #2762 "how to install it on google colab?"
name 'poetry' is not defined after i installed, and run poetry --version

[2020-08-01 17:34] jdahm commented on #513
@laike9m I have this same problem and worked around it for now by exporting the set of non-dev dependencies to a `requirements.txt` file format, and installing those with pip. My project's `noxfile.py` now start with:

[code]

[2020-08-01 17:41] laike9m commented on #513
@jdahm Thanks for showing the workaround. I still have faith in Poetry that this will eventually be supported. @sdispater any thoughts?

[2020-08-01 19:37] abn commented on #2762
@shangguan91 you could install it like shown below. Note that I am using `--pre` here, this is because the default python version does not come with `ensurepip` and the `1.1.x` releases of peotry will be using `virtualenv` which handles this scenario.

[code]

[2020-08-01 20:59] abn commented on #2760
@bergkvist is there any reason that you cannot do a `poetry install --no-root` during build with `pyproject.toml` added in order to cache a layer with dependencies (default venv config should be good here, and probably better in most cases) and trigger `poetry install` on run via an entrypoint perhaps? As long as the `poetry.lock` or `pyproject.toml` do not change, the `install` should be quick an

[2020-08-02 18:45] #2725 closed

[2020-08-02 20:17] mikenerone commented on #426
As it appears to be the case that the use of extras is required for **all** optional dependencies in order in order to be able to opt-in, I think the phrasing of this comment in the docs at https://python-poetry.org/docs/pyproject/ need to be changed. Note the word "some", which implies "not all".
[code]
It's confusing at best.

[2020-08-02 21:35] pcp1976 commented on #2215
@aeroaks try
`pip uninstall importlib_metadata` followed by `pip install poetry`.

[2020-08-03 02:42] m1hawkgsm commented on #1632
@swist Do you mind sharing how exactly you're using Poetry with CodeArtifact? Ignoring the rolling creds bit (I'm aware of it), and assuming a hard coded or configured set of creds, that's fine.  I'm having a hard time understanding how to get Poetry to work without getting `403`'s and such (and yes, I've seen the docs for using `config`, `env` vars, etc).

Apologies for piggybacking off this thre

[2020-08-03 06:49] #2735 closed

[2020-08-03 06:51] tlc28 commented on #2752
Thanks @abn

[2020-08-03 06:51] #2737 closed

[2020-08-03 07:37] PetterS commented on #2673
Since we are apparently not the only ones running into this issue, I think a notice or warning that the virtualenv may need to be recreated is in order.

For me personally, it is not a big issue or course, since I am aware of this issue and the work-around.

[2020-08-03 09:11] nat-n opened #2763 "[RecursionError] on first poetry install of tomlkit project"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: macOS 10.14.6
- **Poetry ver

[2020-08-03 09:38] Boubsi commented on #655
Hi all
@mtsolmn Thanks for the `#!/usr/bin/env python3` hack, this is the only thing that works for me (by default any project created with the `new` command would be only python2.7 compatible, and the `poetry env use python3` command would end up with a `[NoCompatiblePythonVersionFound]` error.

An idea to prevent that would be to be able to add a tag that specifies python version when creating a

[2020-08-03 09:46] ShoorDay commented on #2708
@ThePresence Just add `Poetry` to Path in `.zprofile`:
[code]

[2020-08-03 10:12] ThePresence commented on #2708
@ShoorDay
Thank you so much it worked.

[2020-08-03 10:12] #2708 closed

[2020-08-03 10:13] nat-n commented on #241
Since this PR probably still gets some google traffic I'd like to share a solution I'm working on:

### [Poe the Poet](https://github.com/nat-n/poethepoet) a task runner that works well with poetry.

Basic usage is quite similar to proposal in this PR, but it also supports defining tasks using shell syntax or as references to python functions similar to scripts.

Besides lightweight configuration

[2020-08-03 10:30] abn commented on #2763
@nat-n `tomlkit` uses a lockfile generated by one of the `1.1.0` pre-releases of `poetry`. These are incompatible due to a change in the way the markers are read. Can you try using the latest pre-release?

[2020-08-03 11:32] #2645 closed

[2020-08-03 12:01] nat-n commented on #2763
@abn Yes apparently it works with 1.1.0b2.

[2020-08-03 12:09] sfermigier opened #2764 "Poetry refuses to install isort > 5."
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: MacOS X 10.13.6 or Ubuntu 18

[2020-08-03 12:32] flyte commented on #2600
I was getting this issue, but since upgrading to v1.0.10 it's fixed.

[2020-08-03 12:41] finswimmer commented on #2764
Hello @sfermigier,

you've defined that your project is compatible to python>=3.7. So there is no upper boundary. But isort has one. Change

[code]

to

[code]

Please see also my comment in https://github.com/python-poetry/poetry/issues/1930#issuecomment-653906544

fin swimmer

[2020-08-03 12:41] #2764 closed

[2020-08-03 12:43] kiudee commented on #1567
Same problem here using `1.0.10` on Ubuntu 20.04.
[code]
results in
[code]
while `poetry run python` or `poetry run pip` works.

[2020-08-03 16:56] M-J-Murray opened #2765 "Poetry ignores platform constraint when using local path"
- **18.04.2 Ubuntu 5.0.0-32-generic**:
- **Poetry version 1.0.10**:
- **Link to toml https://gist.github.com/M-J-Murray/7c3d538db07413614d9ff6f04ce28b57**:

## Issue
Hello,
I'm attempting to setup poetry such that a couple of local libraries are only installed when using windows. However, the platform argument is failing in two ways. When I use platform and path arguments on ubuntu, like so:
[code

[2020-08-03 18:01] thejohnfreeman commented on #1941
One of the reasons I'm excited about PEP 518 (`pyproject.toml`) is that I don't have to keep a `requirements.txt` (much less two of them) in my codebase, confusing newcomers and adding an operational burden (CI job just to keep it synchronized).

Extras has good support across Python tools, so I have switched to using it instead of `[dev-dependencies]`, a Poetry-specific extension not found in PEP

[2020-08-03 18:32] jlumbroso commented on #1941
Good points @thejohnfreeman.

Although I agree with you, I think the practice of having `requirements-dev.txt` widespread in our community enough that GitHub automatically parses that file [to provide metadata about a repository](https://github.com/jlumbroso/comma/network/dependencies), which I think is important for many reasons—for instance it helps us track usage, it helps us track old dependen

[2020-08-03 18:51] sinoroc commented on #1941
Agreed. From my point of view it should be a convention (a recommendation), not a specification (a rule).

Maybe. _PyPA_ is in the process of writing new _PEPs_, one of them  in particular [_PEP 621_](https://www.python.org/dev/peps/pep-0621/) proposes to specify the way project's metadata should be stored in `pyproject.toml` files. The discussion is a bit on pause since a few days, but still open

[2020-08-03 21:39] guhcampos commented on #2475
I believe this problem is related to something I've experienced.

It looks like `poetry` will clone the repository with it's default name during `poetry add` but will try to infer the local repository name from the package name when doing anything else, so in my case I had something like:

[code]

which cloned such repository under `$HOME/.cache/pypoetry/virtualenvs/myproject-pbdKQ0bZ-py3.6/src/my

[2020-08-04 07:34] #732 closed

[2020-08-04 07:44] bentheiii opened #2766 ""Install" hangs with poetry as a forgone dependency with "virtualenv.create false""
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS:** docker linux
- **version:**: 1.1.0b2
- **Gist

[2020-08-04 08:16] #2763 closed

[2020-08-04 08:50] abn commented on #2766
@bentheiii this could be an issue because you are using `--no-dev` option. This will mark the already installed `poetry` dependencies in your system environment as removable. This could potentially be causing issues with poetry's runtime.

As a workaround you could do something like this;
[code]

As a side note, adding poetry as a package dependency is not recommended as this can cause more issues

[2020-08-04 10:49] bentheiii commented on #2766
The motivation is that the project could be installed both as a non-virtual env (in docker) and as a virtual env in development environments.

[2020-08-04 10:58] #2762 closed

[2020-08-04 12:44] fabiocaccamo opened #2767 "[RuntimeError] maximum recursion depth exceeded installing python-benedict"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: `macOS Catalina 10.15.6`
- *

[2020-08-04 13:27] finswimmer commented on #2767
Hello @fabiocaccamo,

I'm not able to reproduce it, with the latest preview of poetry. Could you try it as well?

fin swimmer

[2020-08-04 13:55] fabiocaccamo commented on #2767
Hello @finswimmer,
I confirm you that with latest preview of poetry this issue is fixed.
Thank you for the quick feedback.

[2020-08-04 15:32] #2767 closed

[2020-08-04 18:28] err931 commented on #2635
I had the same issue.

I think the following patch will fix it. Apply it in the "lib" directory of the installation.

[code]

-----

__This problem also occurs in the pre-release version.__
Send a pull request if needed. Please let me know which branch I should apply it to.

[2020-08-04 19:51] abn commented on #2600
Resolved with #2582

[2020-08-04 19:51] #2600 closed

[2020-08-04 20:17] abn commented on #2765
@M-J-Murray can you try this with the current pre-release or `master`? Attempted to reproduce this with `master` and was unable.

[2020-08-04 20:37] abn commented on #2758
@tomzx you might want to just specify your dependency as `torch = ">=1.3.0 <1.6.0"`. However, what you are trying to do sounds like an anti-pattern.

In your case, you might be better off installing the wheel instead of using poetry to install your final project. The whene will have `Requires-dist: torch (>=1.3.0 <2.0.0)` since you have specified `^1.3`. This means that when the wheel is installed

[2020-08-04 20:43] noamraph commented on #2179
Just in case it helps someone, here's the script I used. It finds TOML_DIR from the location of the executable, so it doesn't need to be hardcoded. It also uses a function, like [tool.poetry.scripts].

[code]

[2020-08-04 20:55] abn commented on #2179
I am a bit unclear on the issue here. Poetry, similar to git, will detect the `pyproject.toml` as long as the current directory is a child directory.

Here is an example where `poetry run` is executed within the `src` directory in the project.

[code]

[2020-08-04 21:07] abn commented on #2179
@noamraph something like this will also work.

[code]

And then execute the follwoing within the project context (any sub directory):
[code]

Is the requirement here for you to be able to run `foo` in a directory outside the project context? Something like this? (Possible proposal.)

[code]

[2020-08-04 21:14] svermeulen commented on #2179
@abn yes, a `--project` argument would make our lives much easier in these cases

[2020-08-04 23:20] taranlu-houzz opened #2769 "Poetry 1.0.10 seems to use the wrong version of Python when running `poetry install` in mixed Python2/3 environment"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: macOS 10.14.6
- **Poetry ver

[2020-08-04 23:48] taranlu-houzz commented on #2756
I think I am also running into the same issue.

I have a local `poetry.toml`:
[code]
And `virtualenvs.in-project` is set to `false` globally.

[2020-08-05 02:43] bennycooly opened #2770 "Poetry should validate that the canonicalized name for packages is consistent."
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: MacOS Catalina
- **Poetry ve

[2020-08-05 05:18] finswimmer commented on #2756
Ah, now I see what's going on. At the moment you cannot point `virtualenvs.path` to `.venv` as this is some kind of reserved location for poetry. Whenever it finds a `.venv` folder within the project it asumes that this is the folder with the venv. But this is not the case here with this setting, because it just defines the root folder in which the  folders for the venvs will be placed.

Related:

[2020-08-05 05:56] Dminor7 commented on #507
If the PATH for poetry is there in .profile then you have to just logout from the current session and log in again. The changes in .profile will be reflected.

[2020-08-05 06:17] noamraph commented on #2179
Yes, exactly. It would be like git's -C option, that allows you to run commands on a repository regardless of your working directory.

[2020-08-05 06:54] noamraph commented on #2179
@abn I want to describe my use case a bit more. I'm developing a command line script that depends on the working directory. It's actually a tool for working with git repositories, so it detects the repository using the working directory (and it also has a `-C` option for specifying the repository directory manually). So in order to test the script, I have to be able to run it from different workin

[2020-08-05 10:20] hamedhsn commented on #2179
@abn I have the same sort of requirement, I am developing a CLI tool for which one of the functionalities is to build docker images. so for that, my working directory should be dir which I want to build my image and I want to remotely run my cli(managed by poetry). `--project` argument makes things much easier.

[2020-08-05 10:49] abn commented on #2179
This might not be the exact solution for the CLI development case, but here are a few options that might help till a better solution exists. All examples assume snippet from https://github.com/python-poetry/poetry/issues/2179#issuecomment-668825895.

1. Using the poetry managed virtual environment using one of the following.  or `` or `poetry $(poetry env info --path)/bin/activate`
[code]
[code]
2

[2020-08-05 11:39] JulianFerry commented on #897
@finswimmer
Thanks. Is there a way to override this? I am trying to test both packages together in a fresh docker environment (e.g. CI build), without having to push the dependency to a repository. As it stands I am using `sed 's/-e //'`

[2020-08-05 11:58] mett commented on #2728
I'm seeing the same thing. Only I'm seeing even less dependencies, that could be because 3.8 though.
[code]

[code]

[2020-08-05 12:35] dmiwell opened #2772 "Installing `scrapy`: maximum recursion depth exceeded while calling a Python object"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Linux Mint 20
- **Poetry ver

[2020-08-05 12:49] JulianFerry commented on #429
For anyone stumbling on this with the same issue as me:
- `poetry add apache-beam[gcp]` errors with `zsh: no matches found: apache-beam[gcp]`
- Writing `poetry add "apache-beam[gcp]"` fixed this

[2020-08-05 13:57] diogo-gaivota commented on #2576
How did you know that it was authentication problem? I'm having a similar issue here, but even with -vvv, i hadn't any point on it.

[2020-08-05 14:41] finswimmer commented on #2772
Hello @dmiwell,

could you try it with the latest preview release of poetry? With this I'm not able to reproduce your problem.

fin swimmer

[2020-08-05 15:16] dannywillems commented on #2572
Same here

[2020-08-05 16:24] smalllark commented on #2769
Workaround: install poetry < 1.0.10

[2020-08-05 17:28] taranlu-houzz commented on #2769
@smalllark Yeah, that is what I have ended up doing for now.

[2020-08-05 17:45] TimOrme commented on #2576
I actually attached a debugger to discover it.  I also added the PR here https://github.com/python-poetry/poetry/pull/2577 which adds logging for that case, so I was able to verify in that branch that the return status was 403.

[2020-08-05 18:59] SamuelMS commented on #2621
@stephsamson @sdispater @abn Per the note from @finswimmer above, is this something one of you can help us look into?

[2020-08-05 19:33] diogo-gaivota commented on #2576
The problem is the same to me. I got an 401 that failed silently.

[2020-08-05 19:55] vishalkuo commented on #2034
I'd be happy to tackle this if there's no traction

[2020-08-05 20:52] bphunter1972 commented on #2178
I think you mean:

2. `poetry run pip install --upgrade pip`

[2020-08-06 01:35] himat opened #2774 "Poetry unnecessarily creates a tty"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Mac OS Mojave 10.14.5
- **Po

[2020-08-06 03:26] dmiwell commented on #2772
Hi @finswimmer

Thanks for the quick response. I can confirm that it works fine with `Poetry version 1.1.0b2`

[2020-08-06 04:59] #2772 closed

[2020-08-06 05:50] atollk commented on #2700
@sdispater Thanks for your reply.
Sorry, I don't see what inconsistencies you are referring to. Could you elaborate?

Do you mean an inconsistency between the specification within pyproject.toml and the actual requirements of the built package? I understand that those exist, which is why (1.) propose simply to change these error messages to warnings, not too deactivate them at all. I do so because

[2020-08-06 10:46] saarwasserman opened #2775 "env script failes on centos uses export not setenv"
running $HOME/poetry/env script in order to add 'poetry' to PATH **fails on centos**.

need to add to the script support for centos and its family to run setenv PATH $HOME/.poetry/bin:$PATH

[2020-08-06 11:41] abn commented on #2775
@saarwasserman `setenv` is for `csh` shells. CentOS uses `bash` as it's default shell and hence export is supported. This might be an issue caused by the shell you are using.

[2020-08-06 13:45] Eduard-gan commented on #1547
Hi, first of all i want to apologize in advance for my english :D

The author asks actually different question as to me. The problem is not in *sources of actual binary data of the different the packages*.

Say we're in microservices environment. We trying to not duplicate our code and have some common code in separate repository that has its dependencies(for example i need aiohttp for this code t

[2020-08-06 14:41] abn commented on #1547
@CommonCrisis @Eduard-gan the solution proposed in #2270 might address the scenarios you are referring to. However, note that this intended for mono-repo cases. Which might be better suited for the cases described above. If not, please do let us know what the gap is.

@CommonCrisis in your case, it might also be prudent to consider that it might be better to better to build wheels (optionally publ

[2020-08-06 16:41] zdog234 commented on #1945
Are there any workarounds for this atm? What kind of work would be required to implement this?

For some input on the proposed interface for this, I really like the environment variable approach because it can be very temporary (it can be used for the duration of a single `subprocess` call

[2020-08-06 17:05] jaklan commented on #2687
Exactly the same issue, also with `black`.

[2020-08-06 21:48] cah-leo-guinan commented on #2094
I just noticed that the issue for me seemed related to using boto3 without specifying a version in the package I was importing. So I had package A that I built using poetry with `boto3 = '*'`. That did seem to resolve fairly quickly. But when I tried to import package A into a new package, B, it took >10 minutes to resolve (if it would ever finish). I specified the version used by package A for bo

[2020-08-06 23:58] tomzx commented on #2758
I definitely could, but I don't want to change my `pyproject.toml` file, only the `poetry.lock` file.

Anti-pattern in what aspect specifically? I think that my suggestion is reasonable if you frame it as someone that wants to update their `poetry.lock` file, given they have a lax constraint in their `pyproject.toml`. An example of this is the project being tested on `torch==1.5.0`, but allowing v

[2020-08-07 00:10] tomzx commented on #2271
I think the more interesting question is why does it install pre-release packages if you haven't specified `allowed-prereleases` on your package. I would expect the default behavior not to consider alpha/beta/release candidate packages, unless specified.

[2020-08-07 01:02] tomzx opened #2776 "Prompt before recreating a broken virtualenv"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Feature Request
When `poetry` detects a broken virtual environment it will currently delete it and recreate it. While that's great, this o

[2020-08-07 08:36] bibz commented on #2621
I experience the same problem than mentioned in #2494 but my search for an existing issue first landed me here. The issues symptoms look similar IMO.

[2020-08-07 09:02] bibz commented on #2494
Can reproduce with directory dependencies.

I cannot `poetry add <DIRECTORY_PATH>` _and_ specify a version as suggested in OP.
My workaround is to run `poetry add` for the dependency with the extras _every time_ I change/update the other dependencies.

[2020-08-07 10:34] artslob opened #2778 "Build packages with pinned dependencies from .lock file"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Feature Request

As title says, this feature is about to `poetry build` build wheels and packages with pinned versions specified in `poetr

[2020-08-07 10:58] saarwasserman commented on #2775
@abn So, shouldn't it be based on the shell used and not the os or both?

[2020-08-07 11:19] abn commented on #2775
@saarwasserman the issue is the shell detection, as far as I am aware, on RH distros using `tcsh` (which I suspect is how you are getting `csh` - guessing as I do not have any information regarding your environment), the environment variable `SHELL` is set to `/usr/bin/bash` which I think is coming from the login shell.

The following was executed on a fedora installation with `tcsh` installed.
[c

[2020-08-07 11:48] SamuelMS commented on #2621
Thanks for this. #2300 looks related.

[2020-08-07 11:52] abn commented on #2621
@SamuelMS happy to take a look into this, but before I do, can someone please make sure this is still an issue using current `master`? Also, please ensure that the lock file is regenerated too (should not have an impact here, but just for sanity).

[2020-08-07 15:45] louwers commented on #2776
Why would you want to keep a broken virtual envrionment around?

[2020-08-07 16:44] tomzx commented on #2776
It depends as to what `poetry` defines as a broken virtual environment. Maybe `poetry` incorrectly determines the environment to be broken so it would be a mistake to delete it. If it is broken, then there's definitely no reason to keep it, other than to investigate what caused it to be broken. You may also happen to have edited files in the virtual environment (not that I recommend doing that), s

[2020-08-07 17:04] tomzx commented on #2778
I'd think it is reasonable for a tool such as `poetry` to generate `Requires-Dist` constraints in the wheel's `METADATA`, knowing that it is the user's responsibility to ensure that whatever they've built can be installed in the other projects that need them.

I assume that what you want as behavior is that each package listed in your `pyproject.toml` have the exact version defined in your `poetry

[2020-08-07 17:53] tomzx commented on #2741
In the current implementation, it appears that when `poetry run` is called without any additional parameter, `run` is passed as the only argument to the `run` command. Effectively, it is the same as `poetry run run`, which explains why you are seeing a "No such file or directory error.

I'm not sure why `RunCommand` implements a custom argument parser. If I remove `RunCommand.__init__`, the code s

[2020-08-07 17:56] tomzx commented on #2746
Does the installation of python you have allow you to create virtual environments? Can you run `python -m venv .venv`, which should create a `.venv` in the current directory.

[2020-08-07 18:49] tomzx commented on #2755
In https://github.com/python-poetry/poetry-core/blob/master/poetry/core/_vendor/tomlkit/container.py#L177

Replace
[code]
with
[code]
or
[code]
will append the package right after the comment and put an empty line between the package and the `[tool.poetry.dev-dependencies]` section. Given there doesn't seem to be any test for the `tomlkit` implementation, I don't know how safe such change is. All

[2020-08-07 19:11] juanzt commented on #2746
I finally resolved this issue by installing Python directly from `python.org`. That installation works better, but still seems problematic. I get an error when I run: `poetry env remove xxx`. But the environment appears to be deleted despite the error.

[2020-08-07 19:22] tomzx commented on #2705
According to the logic in https://github.com/python-poetry/poetry-core/blob/master/poetry/core/version/version.py#L160-L161, `pre`/`preview` gets mapped to `rc`. According to the surrounding comments, it appears that there was a need to standardize names.

Could you give more context as to why the naming standardization might be an issue for you?

[2020-08-07 22:02] peterdeme commented on #2687
Yep, asterisk doesn't work with black on 1.0.10.

[2020-08-07 23:03] igormcsouza opened #2779 "Tensorflow-gpu does not recognize my NVIDIA GPU when using Poetry"
- [X] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [X] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.

- **Ubuntu 20.04**:
- **Poetry 1.0.0**:

## Issue
Hello! Firstly Nice work of yours!

Well, I'm getting this issue and, for some reason, I couldn't find anything

[2020-08-08 04:07] tomzx commented on #2779
Not likely to be related to `poetry` itself but rather that it cannot find the CUDA library (`libcuda.so.1`) on the machine you're running the code on. See https://stackoverflow.com/questions/41890549/tensorflow-cannot-open-libcuda-so-1.

[2020-08-08 04:14] tomzx commented on #2693
I'm not sure whether it makes sense to have the same package available both as a full dependency and a dev dependency. This could technically be seen as having the same dependency twice in either section (`tool.poetry.dependencies`/`tool.poetry.dev-dependencies`).

If you were to create a `poetry.lock` file where you have those constraints and the package defined in the `dependencies` has dependen

[2020-08-08 04:54] tomzx commented on #2642
It appears that for the dependencies you've specified, it takes about 10s to do version solving, but that it takes a large amount of time to go through graph building (`Solver._build_graph()`) using `poetry` 1.1.10.

Through a process of adding dependencies, I've identified that `aws-cdk.aws-rds` and `ws-cdk.aws-ecs` (together), `aws-cdk.aws-ecs-patterns` (by itself) seems to be causing some issue

[2020-08-08 05:40] alexifm commented on #2524
I think I have a similar problem.  I want to publish a temporary branch version with this: `X.Y.Z-<branch>+<build>`

`poetry version` has no problem with that but `poetry build` can't handle it.

I feel like this may be part of it:
https://github.com/python-poetry/poetry-core/blob/master/poetry/core/version/version.py#L14-L48

Basically, the regex seems to have a particularly demanding format.  I

[2020-08-08 05:56] pwoolvett commented on #2445
Far from ideal, but as a workaround you can temporarily set/replace `XDG_CACHE_HOME`, eg:

[code]
(tested on 1.0.9)

[2020-08-08 06:21] tomzx commented on #2629
Can you make sure that the virtual environment in `C:\\Users\\ernest\\AppData\\Local\\pypoetry\\Cache\\virtualenvs\\shoponsmile-python-ovOS_Rxi-py3.8` was properly created?

It looks like you're having conflicting pythons running. Do you happen to either be in an existing virtual environment or using PyCharm by chance/bad luck?

[2020-08-08 08:28] fredrikaverpil commented on #34
I opened a PR to mention this in the docs: https://github.com/python-poetry/poetry/pull/2780

[2020-08-08 14:09] artslob commented on #2778
Well, no actually. What I want is that when package is builded it will require exact versions of all dependencies from lock file. These versions can be extracted using poetry export -f requirements.

Right now when package is builded it requires versions specified in pyproject.toml file.

[2020-08-08 15:06] mdengler commented on #1814
@hrsma2i How did you solve this issue?  I am having a similar issue with `python -m poetry add flask` (and other packages besides `flask`).

[2020-08-08 15:10] mdengler commented on #1814
It appears if `pyproject.toml` does not end with a newline, this behavior happens.

[2020-08-08 15:59] Yajo commented on #2555
With this `pyproject.toml` also happens the same:

<details>

[code]

</details>

[code]

[2020-08-08 16:57] tony opened #2781 "Circular dependencies / recursion depth (MVP example)"
Potential duplicate of (search: ["maximum recursion"](https://github.com/python-poetry/poetry/issues?q=is%3Aissue+is%3Aopen+maximum+recursion)): #2555 #2376 #2329 #2138 #2138 #2008

If it is a duplicate, please feel free to close. Hopefully this gist example and debug log is helpful!

- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have s

[2020-08-08 18:09] ycd opened #2782 "poetry add breaks existing [build-system]"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [ ] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**:
DISTRIB_ID=Ubuntu
DISTRIB_RE

[2020-08-08 19:01] pikeas commented on #1301
I agree with most of what's been said here regarding build cache breakage. Fundamentally, it doesn't seem like `pyproject.toml` should be required to install dependencies. That file is becoming a defacto standard for general Python tooling, such as black, isort, and pylint. These tools have a lifecycle for iteration and updates that is completely unrelated to package versioning, which is managed i

[2020-08-09 12:47] hay commented on #2491
I had this issue in both Powershell and `cmd.exe`, and symlinking worked indeed.

For those  who don't how to symlink on Windows (i didn't have a clue), you need to use `cmd` (not Powershell) then do this:

[code]

[2020-08-09 13:28] jaklan opened #2783 "Fall back to public PyPI if 'ConnectionError' occurs"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Feature Request

I have a private PyPI repository defined in `pyproject.toml`. The repository is located within my corporate network. When

[2020-08-09 14:03] Mohamed209 opened #2784 "The dumbest most useless tool , I have ever seen"
Open Source dev , is not about wrapping few lines from existing tools and say hi i have a new tool
this tool is literally wrapper around pip package and every single feature introduced can be done in pip much more easily , so what the problem did this silly tool solved ! , no problem , it just replaces commands for example `pip install` >> `poetry install` , `pip list >> `poetry show`
if there was

[2020-08-09 15:01] dimitern commented on #2784
After a lot of frustration with `poetry`, I'm switching back to uising `pipenv`, which might have its own issues, but at least is solid and works for most cases I had to deal with so far, but most importantly:
 - Uses familiar pip-compatible dependencies specifications for version, especially git, path, zip-based dependencies.
 -  Supports `.env` file loading
 - No need to learn yet another config

[2020-08-09 19:53] tony opened #2785 "Thank you for this project!"
Dear authors and contributors of poetry,

I thank you very much for this project. I'd like to express my delight with the project

Currently I am using poetry on 2 large team projects, as well a few projects I ported to poetry over the weekend (that includes publishing) [1]:

- https://github.com/cihai/cihai
- https://github.com/cihai/cihai-cli
- https://github.com/cihai/unihan-etl
- https://githu

[2020-08-09 20:07] lironmo opened #2786 "failed to configure private pipy registry on aarch64"
Hello,
i am trying to use poetry on jetson nano or TX2 of nvidia, and i am getting the following error:

[ImportError]
/home/edgify/.poetry/lib/poetry/_vendor/py3.7/cryptography/hazmat/bindings/_openssl.abi3.so: cannot open shared object file: No such file or director

i installed cryptography, but still it's seesm that the poetry binary look for _openssl.abi3.so in different location.

can i buil

[2020-08-09 20:56] geckon commented on #2728
I'm also having this issue.

[code]

[code]
When I try and run `pylint`, I'm getting: `ModuleNotFoundError: No module named 'wrapt'`

[2020-08-09 21:11] abn commented on #2728
The root cause of this issue is the parsing of package requirements for `astroid`.

https://github.com/PyCQA/astroid/blob/25384d4bebf0187b6704c818c7df64945793362c/astroid/__pkginfo__.py#L29-L31

My comment above was with poetry development installation using a development branch with `poetry-core@master`, hence why it works.

The parsing issue was resolved with python-poetry/poetry-core#55 and pyt

[2020-08-09 21:16] geckon commented on #2728
Cool, thanks @abn. When can we expect the next preview version please?

[2020-08-09 21:33] abn commented on #2781
@tony can you you try using the latest pre-release please? Once installed, I'd recommend regenerating the lock file. On an additional notes, lock files generated using `1.1.z` releases will not work with `1.0.z` releases due to changes in how environment markers are handled.

[2020-08-09 21:43] abn commented on #2133
Fixed in `1.1.0b2`.

[2020-08-09 21:43] #2133 closed

[2020-08-09 21:43] abn commented on #2329
Fixed in `1.1.0b2`.

[2020-08-09 21:43] #2329 closed

[2020-08-09 21:49] abn commented on #1885
Fixed in `1.1.0b2`. Requires regeneration of lock file. Note that new lock file is not compatible with older versions of `poetry`.

[2020-08-09 21:49] #1885 closed

[2020-08-09 21:51] abn commented on #2008
Fixed in `1.1.0b2`. Requires regeneration of lock file. Note that new lock file is not compatible with older versions of `poetry`.

[2020-08-09 21:51] #2008 closed

[2020-08-09 22:06] Rexogamer commented on #2784
While I'm not a maintainer for Poetry I'm pretty @dimitern's feedback is a lot more constructive/helpful for them than a rant about how this "isn't what open source is". I mean technically open source is just any program whose code is available to the public for usage and editing.

[2020-08-09 23:15] abn commented on #2779
@igormcsouza I am afraid the issue is as indicated by @tomzx.

This might be related to the use of a virtual environment. Any chance you can try reproduce this without poetry by following the below steps?

1. Create new virtual environment. Either `python -m venv venv-test` (if using python 3) or `virtualenv venv-test` (if you have `virtualenv` installed).
2. Activate environment `source venv-test

[2020-08-09 23:55] #2784 closed

[2020-08-10 00:25] SethMMorton commented on #305
Given that #731 is implemented, merged, and documented, this solves the spirit of this issue. I will close the issue now.

[2020-08-10 00:25] #305 closed

[2020-08-10 02:32] igormcsouza commented on #2779
Thanks for you guys answers! Well, I've been using Docker to isolate my project, and there no issue happens!

But I'm going to try using a python virtual environment on my machine and I'll update here the results

[2020-08-10 04:32] adam-grant-hendry opened #2788 "Show venv in parentheses next to shell path"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Feature Request

This may be related to #571,  but I am looking for something different. When I activate a virtual environment with `virtu

[2020-08-10 05:48] mdgoldberg opened #2789 "Poetry build does not install build dependencies (affects both install and build)"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: OS X 10.15.5 (also tested in

[2020-08-10 09:18] lironmo commented on #2786
the file_openssl.abi3.s  exists. and has read permissions

[2020-08-10 11:59] GvandeSteeg opened #2790 "poetry config: 'Keyring' object has no attribute 'name'"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: MacOS Catalina 10.15.6
- **P

[2020-08-10 12:54] pkubik opened #2791 "Inconsistency with pip when handling versions with "+" in their name."
- **OS version and name**: Ubuntu 18.04
- **Poetry version**: 1.0.10

Deps:
[code]

## Issue

The default behavior is correct. Even if I remove `torch` dependency it is being installed as a dependency for `kornia`.

Yet for my server machine I need to use a specific manually installed version of torch which is `1.6.0+cu101`. This dependency is already installed on the system and should be reused.

[2020-08-10 12:55] MakuZo commented on #1556
Any progress on that?

[2020-08-10 13:02] mburszley commented on #2063
I ran into this today and for the life of me couldn't figure out why `pyproject`'s `include` was being ignored.  I think `include` should definitely take precedence.

[2020-08-10 13:40] adam-grant-hendry opened #2792 "Method to Exit Poetry Virtual Environment"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Feature Request

Related to #1057. Please add `poetry exit` or equivalent to exit virtual environment.

[2020-08-10 13:51] adam-grant-hendry commented on #2788
Moving to "bug" as the `activate` scripts within virtual environment folder indicate this is supposed to happen automatically. This does not work (at least in command prompt).

[2020-08-10 13:51] #2788 closed

[2020-08-10 13:52] adam-grant-hendry commented on #2788
Moving to "bug" as the activate scripts within virtual environment folder indicate this is supposed to happen automatically. This does not work (at least in command prompt).

[2020-08-10 13:59] adam-grant-hendry opened #2793 "Virtual Environment Does Not Appear Next to Path in Shell"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: <Windows 10, Version 1809>
-

[2020-08-10 14:29] abn commented on #2789
@mdgoldberg can you give the branch in #2794 a try?

[2020-08-10 14:41] abn commented on #2782
@ycd this should be resolved in the latest pre-release. Can you give that a try please?

[2020-08-10 14:58] adam-grant-hendry commented on #2793
**Update"** Using VSCode, I can set

[code]

after which the virtualenv is activated upon opening VSCode. I can know use commands `activate` and `deactivate` to show the virtual environment next to the path. However, after deactivating, entering `poetry env info` still gives me virtual environment information.

I'm unsure if the environment has been deactivated or not. How do I know the poetry vir

[2020-08-10 15:11] kiudee opened #2795 "Poetry on Windows 10 + pyenv-win is quickly corrupted"
- [ ] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version (reason below).
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Windows 10 (1

[2020-08-10 15:21] ycd commented on #2782
Hello @abn i installed the latest pre release **1.1.0b2**.

[code]
I can confirm that the issue is resolved. Huge thanks! But another thing to mention `poetry add databases[postgresql,sqlite]` is working, but when you add a space inside square brackets like `poetry add databases[postgresql, sqlite]`

[code]

It throws the following error.

[code]

https://github.com/python-poetry/poetry/blob/fa87f

[2020-08-10 15:21] #2782 closed

[2020-08-10 15:24] abn commented on #2782
@ycd looks like that is a shell issue, maybe try adding quotes around `databases[postgresql, sqlite]`.

[2020-08-10 15:47] ycd commented on #2782
I tried adding quotes around, here is what i tried

- **`poetry add "databases[postgresql, sqlite]"`**
[code]

- **`poetry add databases["postgresql", "sqlite"]`**
[code]

- **`poetry add databases["postgresql, sqlite"]`**
[code]

- **`poetry add databases"[postgresql, sqlite]"`**

[code]

[2020-08-10 16:24] abn commented on #2791
Relates to #2543

[2020-08-10 16:31] abn commented on #2782
Had a quick look, it's a bug in how we parse the name. That should really change and be normalised in core.

[2020-08-10 16:33] abn commented on #2786
@lironmo can you try installing either using `pip` or `pipx`? That should avoid the vendoring issue.

[2020-08-10 16:47] abn commented on #2790
@GvandeSteeg did the version of `keyring` channg in your python environment? Try `pip show keyring`.

[2020-08-10 16:51] GvandeSteeg commented on #2790
@abn
[code]

[2020-08-10 16:55] GvandeSteeg commented on #2790
And that solves the issue! Sorry for wasting your time :rofl:

[2020-08-10 16:55] #2790 closed

[2020-08-10 16:56] abn commented on #2790
No worries happy to help. :) You can use the installer `get-poetry.py` or use `pipx` to avoid this in the future.

[2020-08-10 18:02] andreas-wolf commented on #2076
Same bug (?) for new pytype version 2020.7.30 and python 3.8.3:

[code]

[2020-08-10 18:24] pkubik commented on #2791
@abn, yes, this is a duplicate to #2543. Sorry, I didn't have the right keywords when I was creating this issue.

[2020-08-10 18:24] #2791 closed

[2020-08-10 18:25] abn commented on #2791
@pkubik not a problem. Appreciate you raising the issue. :)

[2020-08-10 19:26] rafaellehmkuhl commented on #2468
Any news on this one? Same problem here.

[2020-08-10 23:07] evenprimes commented on #2468
I’ve just given up on using poetry for now, at least for projects hosted on windows.

I’m considering trying it on the next project I host on a Pi.

[2020-08-10 23:53] mdgoldberg commented on #2789
Yeah that works - one thing is that it leaves the build dependencies installed after `poetry build` / `poetry install` completes. Is that intended behavior? My understanding is that `build-system.requires` is specifically for packages that are needed at build time but *not* runtime (if they were needed at runtime, they'd be included in `tool.poetry.dependencies`). Does it make sense to uninstall t

[2020-08-11 01:13] sourkwhat commented on #2795
I am experiencing the same issue. I'm not using pyenv or pipx though -- just a vanilla setup of python. Are there any workarounds?

[2020-08-11 04:11] bphunter1972 commented on #2179
@abn The issue I will have with the 'poetry shell' method is that my command-line script needs other environment variables outside of poetry's control to launch the tools that my script will use. As soon as I switch to poetry's virtual env, those will get cleared out.

However, running 'poetry install' and then using @noamraph 's solution is ideal.

[2020-08-11 05:20] beeb commented on #2792
Just use `exit` to close the shell

[2020-08-11 06:35] adamwojt commented on #1879
@michael0liver What a great build. It really helped me with my URL shortener project https://github.com/adamwojt/ur_l
I expanded upon it and used docker-compose to utilize multi-stage. Anyone feel free to use it, it's MIT too.

[2020-08-11 07:00] abn commented on #2789
The decision to keep them installed was intentional. While, these dependencies are not required for runtime, it is still a development dependency of the package (as in, it is required for the development of the package). Without it, editable installs of the project would not be possible as that (`poetry install`) executes the build script, which in turn requires the dependency. Uninstalling and re

[2020-08-11 07:05] abn commented on #2179
@bphunter1972 option 1 (using `source`) or option 2 (alias) above should work in your case, ie. not clear existing variables.

[2020-08-11 07:14] mdgoldberg commented on #2789
@abn  Yeah, that makes sense. Thanks for your help. When do you think the functionality in that PR will be available on a release accessible via `poetry self update`?

[2020-08-11 07:16] abn commented on #2789
No guarantees on that one unfortunately. I'd like to get feedback from the other maintainers regarding the approach I have taken first. It might require rework.

[2020-08-11 07:30] bneijt commented on #2125
When using a source with basic auth without configuring the credentials correctly, the source is silently seen as empty.

At https://github.com/python-poetry/poetry/blob/dcf30073d24c29b2d53932ba8599ff049f3f2bb8/poetry/repositories/legacy_repository.py#L365

there is only a check for 404. Meanwhile 401 is parsed, no content is found (it's a you have to log in page) and an empty list is returned, re

[2020-08-11 08:13] abn commented on #2468
@rafaellehmkuhl @evenprimes does this also happen with the latest pre-release?

[2020-08-11 10:18] vbersier opened #2797 "Dependency resolver bluntly ignores version requirement and installs release candidate instead of latest stable"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Ubuntu WSL on Windows 10
- *

[2020-08-11 10:25] vbersier commented on #2545
This bug is still present in poetry version `1.1.0b2`. Please fix! It's a major issue and I have to constantly install packages manually or add meaningless packages to my dependencies so that they don't get removed!

[2020-08-11 11:30] rafaellehmkuhl commented on #2468
Didn't try. I'm using the latest stable. There was some change regarding this?

[2020-08-11 12:10] darkvariantdivine opened #2798 "TypeError: Can't intern string"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Fedora 31
- **Poetry version

[2020-08-11 12:32] vbersier commented on #2797
Duplicate from https://github.com/python-poetry/poetry/issues/2271 (my bad)

[2020-08-11 12:32] #2797 closed

[2020-08-11 12:35] vbersier commented on #2271
Can reproduce with package `numba`.

`numba (0.50.1)` depends on `llvmlite (>=0.33.0.dev0,<0.34`) but then `0.34.0rc1` gets installed.

[2020-08-11 13:56] myoung34 commented on #2662
I can confirm this behavior.

for now I'm having to work around it with

[code]

which feels really dirty

[2020-08-11 14:25] adam-grant-hendry commented on #2792
@beeb Thank you for your suggestion, but I don't want to close the shell. I often have to switch back and forth between multiple activities and projects and I want to use one window. In fact, I don't need a new shell to be spawned every time I want to use the environment.

In short, I would like the feel of `virtualenv` and `pipenv` (I believe this would help increase adoption by others). When act

[2020-08-11 15:50] beeb commented on #2792
I pretty much achieve exactly the behavior you are describing by using `zsh`. When I activate the environment with `poetry shell` I get the name of the environment in parentheses in the prompt, and when I do `exit` I go back the shell that was previously active (same window).

[2020-08-11 17:53] dclayh opened #2799 "1.1.0rc1: POETRY_HTTP_BASIC_ environment variables are ignored for private repositories"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: OSX 10.14.6 (Mojave); also o

[2020-08-11 18:45] mdgoldberg commented on #2789
Sounds good. Definitely looking forward to that update (and 1.1 in general), for now I will just `pip install Cython` before building.

[2020-08-11 19:40] jonringer opened #2800 "poetry should have a native namespace (poetry-core conflicts)"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [ ] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: NixOS (unstable)
[code]
- **

[2020-08-11 19:51] abn commented on #2800
@jonringer we unfortunately cannot move to native namespaces until Python 2.7 support is dropped (`1.2.0`). Until then we need to use [pkgutil-style](https://packaging.python.org/guides/packaging-namespace-packages/#pkgutil-style-namespace-packages). Also, this should not affect `1.0.10` as we do not use `poetry-core` for `1.0.z` releases.

For all poetry managed projects, as long as `poetry-core`

[2020-08-11 19:59] jonringer commented on #2800
We can fix it on the `nixpkgs` end, however I noticed that your `__init__.py` does more than just the `pkgutil-style` namespace in 1.0.10:
[code]

[2020-08-11 20:01] abn commented on #2798
@darkvariantdivine can you try the latest pre-release please?

[2020-08-11 20:01] jonringer commented on #2800
also, the setuptools `find_namespace_packages` allowed you to make compatible python2 and python3 wheels, but I haven't used that in several months.

[2020-08-11 20:08] abn commented on #2800
The namespace packaging was only introduced in `1.1.z`. Since `1.0.10` does not use `poetry-core` that should not be an issue and the content above is expected.

The [find_namespace_packages()](https://setuptools.readthedocs.io/en/latest/setuptools.html#find-namespace-packages) method is for Python 3.3+, and supported only [PEP 420](https://www.python.org/dev/peps/pep-0420/) implicit namespaces as

[2020-08-11 20:11] jonringer commented on #2800
sounds like this will eventually be remedied in later poetry updates. However, poetry-core will also need to adhere to PEP 420 as well.

Going to close as this seems to be on the roadmap

[2020-08-11 20:11] #2800 closed

[2020-08-11 20:57] igormcsouza commented on #2779
Hello dear friends! I actually run the python virtualenv and the same error happened! So I conclude the issue is related to enviroment rather than poetry itself. Just to give an answer... I used poetry in a tensorflow image (docker), outside an enviroment as poetry let it happens, and it worked! Thanks for helping!

[2020-08-11 20:57] #2779 closed

[2020-08-11 21:24] bneijt commented on #2799
I've been trying to debug this and the issue seems to be the following:
- The install executor do_execute asks the `chooser` to pick a url for the package to download
- The `LegacyRepository` returns a list of urls without basic auth credentials in the url from `find_links_for_package`
- The install executor tries to download the link without any credentials or session information.

The `LegacyRep

[2020-08-12 01:26] arnavb commented on #2210
Are there any updates on this? I'm experiencing the same on the Travis build for my package as well. The environment variable is just ignored.

[2020-08-12 02:17] arnavb opened #2801 "Poetry isn't using the POETRY_PYPI_TOKEN_PYPI variable when publishing"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: MacOS 10.15.5 Catalina
- **P

[2020-08-12 02:51] adam-grant-hendry commented on #2792
@beeb I see, okay. Is there a reason why `poetry` insists on spawning a new shell? This may cause issues for developers who want to use environments like vscode, atom, pycharm, etc., that all have the console/shell built-in to the editor. I'm sure it will be an inconvenience to have to handle an additional pop-up window when the point of these environments is to have everything all in one place.

[2020-08-12 04:33] beeb commented on #2792
Are you actually using poetry with your IDE? In VSCode it doesn't open a pop-up or anything.

[code]

[2020-08-12 05:03] finswimmer commented on #1945
Hello @jonapich and @zdog234,

could you please describe your use-cases? For now it's hard for me to imagine why this feature would be needed.

fin swimmer

[2020-08-12 05:13] finswimmer commented on #2776
`poetry` just checks whether it can find the `python` and `pip` executable within the venv. (It doesn't check if they work properly).
https://github.com/python-poetry/poetry/blob/bce954a8de3bac3997ff183c4e718c39abf0692b/poetry/utils/env.py#L1168-L1170

[2020-08-12 05:24] finswimmer commented on #2445
Hello,

I tested it with the latest preview release without any problems. Is someone else able to reproduce the issue?

fin swimmer

[2020-08-12 06:36] darkvariantdivine commented on #2798
Thanks for the prompt response @abn, just to confirm, this is poetry-core 1.0.0a9? I will try and update the results.

[2020-08-12 06:37] finswimmer commented on #2076
It's not a bug, it's a feature ;) and @cjolowicz is on the right track.

See my comment in https://github.com/python-poetry/poetry/issues/1930#issuecomment-653906544 for more details.

fin swimmer

[2020-08-12 06:37] #2076 closed

[2020-08-12 07:55] abn commented on #2801
@arnavb you can, as a workaround, do something like this.

[code]

This is a duplicate of #2210

[2020-08-12 08:20] AlexJoz commented on #2091
yep, agree, would be very helpful to fix

[2020-08-12 08:27] abn commented on #2792
@adam-grant-hendry If you are not already familiar with it, I would recommend reading up on [how virtual environments work](https://realpython.com/python-virtual-environments-a-primer/#how-does-a-virtual-environment-work). You will find that they depend on some trickery using shell environment variables (`PATH`, `PYTHONHOME` etc.) to manipulate Python's site.

It is important to note that `poetry`

[2020-08-12 08:36] #2801 closed

[2020-08-12 08:42] abn commented on #2091
The issue with this is that when doing update or generating lock file all dependencies, including optional ones are required in order get a correct dependency tree. Avoiding this when resolving dependencies, could lead to other issues. It might be better to fail here. If a lock file already exists and the dependency is not activated (via extra etc.), this should not fail.

Re-using the existing pa

[2020-08-12 09:05] abn commented on #2545
Could be a duplicate of #1609

[2020-08-12 09:10] vbersier commented on #2545
@abn good catch, I missed this one when searching for similar issues. Strange that the resolution happens correctly on the first install resolution, but then somehow a different lockfile is generated when we `update` or `add` a package.

[2020-08-12 09:19] gwdekker commented on #2795
I have a very similar experience when trying to let poetry work with multiple python versions on Windows
* In my experience, `pyenv-win` and `poetry` do not play nicely so I dropped that option - instead, having several pythons installed in Windows through the standard python.org Windows installers, added only one to PATH.
* Poetry 1.0.10 seems to work fine as long as you use the same python versi

[2020-08-12 09:55] jonapich commented on #1945
CI servers may want to launch poetry for various reasons. The "thing" that launches poetry, may be a Python script launched from another virtual environment.

Another use case is to be able to script poetry actions in a batch. I have several small python projects in 1 tree and I like to automate common operations. Because of poetry's limitation, I was forced to do it in bash instead of python.

[2020-08-12 10:42] eino commented on #2621
I have the same issue: poetry suddenly failing to install a lib with extras from a private pypi. Not sure about master but at least in 1.1.0b2 it is still present.

[2020-08-12 12:18] daniel-j-h opened #2802 "`poetry build` creates package with platform marker not parseable: `pkg_resources.RequirementParseError: Invalid requirement, parse error at "'sys_plat'"`"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Ubuntu 20.04 (container)
- *

[2020-08-12 12:21] andreas-wolf commented on #1930
In my view, that is a really bad design, because it's counter intuitive. For every person on the planet who had to deal with regular expressions (mostly developers) ^3.8 means: _starts with 3.8_ which clearly does not include 3.9 while your definition does.
But ok, that probably can not be changed any more. So I go with >=3.8 and 3.8.* and omit ^3.8

For others as reference here is the [documentat

[2020-08-12 12:26] bergkvist commented on #2760
Yeah, thanks - I'm now using the following for my jupyter notebook setup - in case anyone else faces the same problem:
[code]

[2020-08-12 12:26] #2760 closed

[2020-08-12 13:00] zdog234 commented on #1945
Sure thing! I'm not actually sure if this particular issue would solve the problems I've had, or if I could write an issue that's more specific to windows.

I've got a library called `scan` (fake name, this is an internal tool) that could be running in either python 3.6, 3.7, or 3.8.

`scan` needs to be able to `subprocess.run("poetry install")` on any  `pyproject.toml` w/ python 3.6, 3.7 or 3.8.

[2020-08-12 13:02] zdog234 commented on #1945
Ah, sorry for that long wall of text. Just realized that my answer is covered by @jonapich 's

[2020-08-12 14:19] tomzx commented on #2776
My understanding of virtual environment not being the best, I would think that you don't need to wipe the virtual environment but simply to reinitialize/reinstall the virtual environment, which is a lot less drastic than wiping it clear. That is why I suggested prompting, this would at least give the option to users to look at their virtual environment and take a decision.

[2020-08-12 14:34] adam-grant-hendry commented on #2792
@beeb Yes, you are right. VSCode doesn't open a new CLI window when a new shell is spawned. I have been using it in VSCode, but I thought `poetry` wasn't working correctly in VSCode. I think my confusion was with what "spawn" meant. I was thinking it meant "create a new CLI window". Apologies and thank you for your clarification.

@abn Thank you very much for this insight into virtual environments

[2020-08-12 15:41] jonapich commented on #1945
I was able to work around it by removing that env variable before launching poetry through a subprocess.call:

                environment_variables.pop('VIRTUAL_ENV', None)

[2020-08-12 18:04] bphunter1972 commented on #2179
@abn You're right! I don't know how I missed it before, but after 'poetry install' running '/path/to/project/.venv/bin/foo' just works from any directory!

I feel like this should be more clearly documented, but I'm not complaining. Just happy to have resolved this.

[2020-08-12 23:01] arnavb commented on #2801
@abn Oh I saw that issue, I thought it only applied to non-PyPI repositories but I was mistaken. Thanks for the quick response!

[2020-08-13 04:00] daddycocoaman commented on #2795
Having the same issues with 1.1.0b2. Noticed the same stuff as @gwdekker . I've been able to deal with it by deleting the artifacts and cache folders in pypoetry cache folder but it's only good for one run so I end up deleting those folders anytime I want to `poetry add`.

[2020-08-13 05:33] bphunter1972 opened #2803 "search has no --only-name (-N) option"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.

## Issue

https://python-poetry.org/docs/cli/#search says that the search command has an option, --only-name, but it does not.

[code]

[code]
<img width="836" alt="image" src="https://user-images.githubusercontent.com/5446342/90097847-c0e6d500-dceb-11ea-802c-d

[2020-08-13 05:33] finswimmer commented on #2802
Hello @daniel-j-h,

thanks a lot for reporting this :+1: The problem is/was that there must be a whitespace after the url. So
`torch @ https://download.pytorch.org/whl/cpu/torch-1.5.1%2Bcpu-cp38-cp38-linux_x86_64.whl; sys_platform == "linux"` must become `torch @ https://download.pytorch.org/whl/cpu/torch-1.5.1%2Bcpu-cp38-cp38-linux_x86_64.whl ; sys_platform == "linux"`.

Fix is on the way: https:

[2020-08-13 06:21] #2802 closed

[2020-08-13 06:35] finswimmer commented on #2803
Good catch @bphunter1972 :+1:

[2020-08-13 08:21] daniel-j-h commented on #2802
Wonderful, thank you for this amazingly quick fix! :hugs:

[2020-08-13 09:47] CircleOnCircles commented on #2687
This also affects the version specification in packages with `setup.cfg` .
https://github.com/akaihola/darker/issues/52

[2020-08-13 10:01] finswimmer commented on #2774
Hello @himat,rHehttps://github.com/python-poetry/poetry/issues/2792#issuecomment-672730038llo

please see @abn's comment here https://github.com/python-poetry/poetry/issues/2792#issuecomment-672730038 for the answer.

fin swimme

[2020-08-13 10:01] #2774 closed

[2020-08-13 10:04] finswimmer commented on #2798
Hello @darkvariantdivine,

the latest pre-release version is 1.1.0b2.

Could you please provide enough enough information to reproduce your issue?

fin swimmer

[2020-08-13 10:40] finswimmer commented on #1190
Closing this as there are no more comments for a long period.

If someone disagree please just leave a comment.

[2020-08-13 10:40] #1190 closed

[2020-08-13 10:43] blaise17 commented on #1160
I'm also having this issue with a private source, poetry 1.0.10 and it not picking up any dependencies for scikit-learn in the lock file (scipy being the one causing me problems).

[2020-08-13 11:48] dekim24 commented on #1160
I just tried to reproduce the issue in a new test project but couldn't - this is using python 3.6.10 and poetry 1.0.10. what python version are you using?

[2020-08-13 12:04] blaise17 commented on #1160
I'm using python 3.7.5 and have tried both  `scikit-learn = "^0.23.1"` and `scikit-learn = "^0.23.2"`. I've also now tried it with poetry 1.0.9 (same effect). I've tried deleting my lock file and recreating it (same effect).

I do have an optional dependency that brings in scipy (which means scipy is present in the lock file, but listed as optional and only shown as a dependency of tensorflow), bu

[2020-08-13 12:48] abn commented on #2792
@adam-grant-hendry I think you are conflating a few different mechanisms here.

With respect to poetry commands, most are run within the project's virtual environment. So even if you do not have `poetry shell` executed, it will still detect the default environment and activate it. For example when you run commands like `poetry run` etc.

The specific message you are referring to could be improved,

[2020-08-13 14:13] darkvariantdivine commented on #2798
@finswimmer, thanks for replying. This is more of a poetry-core issue but when I attempted to create an issue on poetry-core, it directed me to the poetry issue board.

I'm trying to install my project (that I'm using poetry to manage builds) to a specific folder with a specific structure using the following command:

`pip install -U genisys --target='.packages' -- install-option='--install-script

[2020-08-13 15:19] Celeborn2BeAlive opened #2806 "Poetry messes up pyproject.toml when [build-system] is not at the end (with UnexpectedCharError)"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Windows 10
- **Poetry versio

[2020-08-13 15:50] abn commented on #2806
Looks to be a duplicate of #2782

[2020-08-13 19:11] abn commented on #2798
@darkvariantdivine definitely give you this, this is an interesting issue.

For anyone who is interested in the root case, when `tomlkit` reads in the `toml` file, the values of `tool.poetry.exclude` are of tyle `<class 'tomlkit.items.String'>`. This in most parts works seamlessly everwhere a string is required. However, it seems that in this particular case, since one of the values ("devops") is

[2020-08-13 19:24] finswimmer commented on #2052
Thanks a lot for your excellent issue report @gimbo :+1:

Like to see more of those :)

Fix is on the way https://github.com/python-poetry/poetry-core/pull/61

[2020-08-14 00:38] ikkoham opened #2807 "Poetry cannot resolve dependency from Qiskit Aer 0.6.0"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: macOS 10.15.6
- **Poetry ver

[2020-08-14 00:47] ikkoham commented on #2807
Caused by https://github.com/Qiskit/qiskit-aer/pull/775/files

[2020-08-14 00:59] jaklan commented on #2782
@abn the biggest issue is resolved, but it's not yet working correctly (I'm using the latest pre-release). That's the end of my `pyproject.toml`:
[code]
When I run `poetry add ...` TOML tables are automatically reordered, but there's an empty line missing between tables:
[code]
To make it work properly, you have to have an additional empty line at the end of the file, but it would be really annoyi

[2020-08-14 08:29] #2052 closed

[2020-08-14 09:15] multipitch opened #2809 "Can't include a folder that is a subfolder of one excluded by gitignore"
- **OS version and name**: Arch Linux
- **Poetry version**: 1.0.10

Relevant part of `pyproject.toml`:
[code]

Relevant lines in `.gitignore`:
[code]

With the above configuration, my pdf documentation, `docs/_build/latex/preppy.pdf`, is included, but the `docs/_build/html/` folder is not.
If I change the include to...
[code]
...it does include the various `*.html` files, but this isn't sufficient

[2020-08-14 09:19] eino commented on #2621
I solved the issue on my machine, it was a configuration issue. Even though the pyproject.toml was complete, I also also needed to configure the repository via `poetry config repositories.my-repo url` and `poetry config http-basic.my-repo login`... Not sure why it worked before.

[2020-08-14 10:07] multipitch commented on #2809
I've created a simple example: [https://github.com/multipitch/poetry-test](url)

Steps to reproduce:
[code]

If you look in the both the sdist and the wheel, the html folder is not included.

The same occurs if you build the sdist and wheel separately.

[2020-08-14 10:35] abn commented on #2807
When poetry inspects this package the `sdist` tarball gets downloaded. This is unpacked and inspected. The `PKG-INFO` contains the following.

[code]

Note that this does not contain any requirement specifications (`Requires-Dist: `). This causes poetry to fallback to parsing the `setup.py`. In `qiskit-aer-0.5.2`, this was easily parsed without error. However, `qiskit-aer-0.6.2` contains the follo

[2020-08-14 11:36] finswimmer commented on #2809
Hello @multipitch ,

currently `poetry` does not include a folder recursive (while it does for export). You can do it by using this patter: `"docs/_build/html/**/*"`

fin swimmer

[2020-08-14 11:41] #2803 closed

[2020-08-14 12:50] gimbo commented on #2052
Great stuff — many thanks! :-)

[2020-08-14 13:22] multipitch commented on #2809
Thanks @finswimmer  - I wasn't familiar with the ** glob pattern.
That's working for my use case.

Do you want to leave this open due to your comment below? ...

[2020-08-14 14:22] davidszotten commented on #2254
would you accept a patch that adds this?

[2020-08-14 14:53] abn commented on #2254
@davidszotten feel free to propose an implementation for this. You can either create a draft PR to discuss implementation or mention how you would want to approach this here. Couple of things that comes to mind:

1. Would this mean that we ignore all errors?
2. Can we identify "existing" vs "other error" accurately?
3. How do we handle other errors if this flag is set?

Happy to help review etc.

[2020-08-14 15:06] davidszotten commented on #2254
i would probably do something similar to [twine](https://github.com/pypa/twine/blob/master/twine/commands/upload.py#L32) (heuristics for a few package index implementations that try to detect this particular error)

i explicitly don't want to ignore all errors, only "this file already exists"

[2020-08-14 15:42] finswimmer commented on #2809
Yes, I think we should implement to include a folder recursive, like we do for excluding. That gives more consistency in user experience.

[2020-08-14 16:58] kesiraa commented on #1168
How about having separate toml files for various environments. ?
i.e pyproject.dev.toml, pyproject.prod.toml
This will also allow us to test newer python versions (i.e 3.9 in dev to test, while 3.8 is in the prod)

[2020-08-14 18:58] adam-grant-hendry commented on #2792
@abn Ah! Yes I see, this message was absolutely confusing me. So if I `deactivate` or `delete` the existing virtual environment and create a new one with `virtualenv`, do I then need to manually point `poetry` to the new virtual environment with `poetry config virtualenvs.path path/to/new/virtualenv`? I need to manually maintain both `virtualenv` and `poetry`, yes?

[2020-08-15 02:03] kousu commented on #1391
@severinsimmler I'm having the same issue (https://github.com/neuropoly/spinalcordtoolbox/issues/1526#issuecomment-674330466). Thanks a lot for trying to get the ball rolling with pytorch!

Poetry should stick close to the core pypa specs, and they want to kill `--find-links` and `dependency_links` in favour of https://www.python.org/dev/peps/pep-0508/#environment-markers (https://github.com/pypa/

[2020-08-15 02:39] Tobotimus commented on #1307
Sorry to be necromancing this issue a year later, but this is simply not the case. If wheels weren't intended for distributing apps, console-script entry points wouldn't exist (or at least, would not be so ubiquitous). You might personally *prefer* to distribute your application as a Docker image rather than a wheel, but not everyone can or should conform to that opinion. A wheel is a perfectly va

[2020-08-15 03:34] Tobotimus commented on #2778
I'm certainly a fan of this idea, and made a similar [comment](https://github.com/python-poetry/poetry/issues/1307#issuecomment-674336917) regarding that "Applications are not distributed via wheels" argument on the original issue.

[2020-08-15 06:30] #2488 closed

[2020-08-15 07:15] ShamrockLee commented on #1837
This issue also happens to Ubuntu 20.04

[2020-08-15 07:17] hemanta212 commented on #2681
I was updating poetry from 1.0.9 version to 1.0.10 using 'poetry self update' on administer prompt and I still get this error
`
[WinError 5] Access is denied: 'C:\\Users\\hp\\.poetry\\lib\\poetry\\_vendor\\py3.8\\msgpack\\_cmsgpack.cp38-win_amd64.pyd'
`

[2020-08-15 14:41] tony commented on #2781
@abn Thank you for your prompt reply!

This works correct with 1.1.0b2

[code]

Works good:

[code]

It looks like its solved in the next release, then.  I will close this issue for now

If you (or anyone else) would like to re-open please feel free!

[2020-08-15 14:41] #2781 closed

[2020-08-15 14:48] #2333 closed

[2020-08-15 17:10] abn commented on #1837
@jonapich this works for me at the moment; can you confirm please?

[code]

Note that that the ascii encoding error is an issuew ith the ubuntu docker image locale. In the above command I make use of `export PYTHONIOENCODING=utf-8` to make that work. See https://github.com/python-poetry/poetry/issues/1719#issuecomment-565391165.

And the `distutils` requirement is expected to be available in a pyt

[2020-08-15 19:11] #2798 closed

[2020-08-16 01:40] cozzbie commented on #525
If you're using a Dockerfile with `python:rc-buster` as base

[code]

[2020-08-16 01:56] neersighted opened #2815 "FreeBSD Releases Broken"
After changes to the `make-nix-release.sh` [script](1), FreeBSD releases are [broken](2), as they require the latest stable version of Poetry to have a FreeBSD binary, in order for `get-poetry.py` to work. A simple `uname` check might be able to fix this, or maybe a switch back to installing from PyPI is needed.

[1]: https://github.com/python-poetry/poetry/commits/master/make-nix-release.sh
[2]:

[2020-08-16 06:42] #2098 closed

[2020-08-16 10:56] tchaton opened #2816 "poetry export -f requirements.txt -o requirements.txt --without-hashes --tree --size"
Motivation:
I am building a docker image using script:
https://github.com/tchaton/sagemaker-torch-template
[code]
I noticed to have faster to build and push to have each pip install into its own layer.
However, the dependencies are ordered by alphabetical order.
* Add a --tree options. I was wondering if they could be generated using hierarchical tree dependencies (c.f poetry show --tree), so it w

[2020-08-16 13:43] danihodovic opened #2817 "Git installs broken since 1.1.0b2"
[code]

[2020-08-16 13:44] #2817 closed

[2020-08-16 13:53] danihodovic commented on #2761
I'm still facing the same problem with the install from git master.

[2020-08-16 14:00] danihodovic commented on #2008
While 1.1.0b2 fixes this issue, it breaks git installs. @abn do you have a recommendation for people that are facing both issues?

[2020-08-16 14:09] danihodovic commented on #2094
This is a pragmatic approach to the problem. Are there any logging / debugging flags we can enable to show installation metadata?

[2020-08-16 14:36] abn commented on #2008
@danihodovic what is the breakage?

[2020-08-16 14:38] danihodovic commented on #2008
1.1.0b2 fails to install git packages. Versions before 1.1.0b2 cause the recursionerror

[2020-08-16 15:14] abn commented on #2008
@danihodovic sorry to be obtuse, but I tried using master and the issue does not seem to exist. Would you be able to provide a quick example? I might be missing something.

[2020-08-16 15:27] abn commented on #2761
@danihodovic this requires `poetry-core` from `master`. Just confirming you tested with that, not just `poetry` from master.

[2020-08-16 15:49] danihodovic commented on #2008
I didn't update poetry-core to master. I didn't even know that package existed. I will try it out. Thanks

[2020-08-16 15:53] abn commented on #2792
You can do that or activate the environment prior to running poetry commands. If a virtual environment is already active when you execute poetry, then Poetry will use that.

What works of my personal use is the `in-project` configuration. I have set `poetry config virtualenvs.in-project true`. This means Poetry will use `/path/to/project/.venv` as the virtual environment and I configure my IDE to

[2020-08-16 15:57] abn commented on #2815
Breaking commit is https://github.com/python-poetry/poetry/commit/21867a17c1b3ebe8ffe5879a624eeaf54bb3cc3c

[2020-08-16 16:31] arnegroskurth commented on #926
I feel like this should be easier. Maybe something like `$ poetry destroy [-f]` for the environment associated with the current working directory?

[2020-08-16 17:12] abn commented on #926
@arnegroskurth the `poetry env remove <python>` command does this.

As pointed out above you can also do ```rm -rf `poetry env info -p` ``` to remoe the virtual env directory depending on what you need to do.

[2020-08-16 17:18] arnegroskurth commented on #926
@abn Sure but that is more complicated and requires the user to know about the `poetry env *` commands. At least me (and I suspect quite a lot of other users) are only using `poetry {install,update,add,remove}` the vast majority of the time and are happy that everything regarding the venv is abstracted away from me.

So I feel like there should be something to just *level the playing-field* withou

[2020-08-16 17:27] abn commented on #926
Sounds to me more lika a deficiency in the documentation and/or onboarding of a new user to Poetry. That is definitely an area that we are interested in improving on.

At this time, I do not think we want to encourage the addition of multiple commands to do the same task. And, personally, adding something like `poetry destroy` does not really solve the issue, it is yet another command anyway that

[2020-08-16 17:37] mrchrisadams commented on #337
Hey folks, I found myself missing the handling of .env files when I came to Poetry, and this is the approach I've settled on for now.

Rather than relying on Poetry to include the handling of .env files as part of it's functionality, if you're only using python scripts, it turns out not to be too much work to use [python-dotenv]() to wrap calls to your original binary with python dotenv's CLI comm

[2020-08-16 17:55] abn commented on #337
A tool independent option might be to use [direnv](https://direnv.net/).

[2020-08-16 18:07] arnegroskurth commented on #926
@abn I just feel like that the benefit of using poetry over venv+pip is for the user to not have to care about two separate tools for dependency-management and project-isolation anymore. And because I can create and update the environment with top-level poetry commands, I feel like that I should also be able to remove the environment with a top-level command that is much more discoverable (`$ poet

[2020-08-16 20:07] abn commented on #926
That definitely is **one of** the advantages of using poetry. Although, it is important to note that explicit creation of an environment relies on `poetry env use <python>`. What you are referring to is the implicit creation of the environment by commands that require an existing virtual environment. All commands relating to environment managent are already grouped under `env`.

We appreciate your

[2020-08-16 20:48] refulgent-de commented on #1363
Your solution helped me alot, @rdonkin. To show my gratitude I allowed myself to port your solution into an ansible script : )

`
- name: Install python3-apt
  when:
    - ansible_facts['distribution'] == 'Ubuntu'
    - ansible_facts['distribution_major_version'] == '18'
  block:

    - file:
        path: "{{ virtualenvDirectory }}/src"
        state: directory
        owner: "{{ systemUser }}"

[2020-08-16 20:53] ycd commented on #2806
As @abn mentioned, the problem resolved in latest pre release(**1.1.0b2.**)

[2020-08-16 21:04] abn commented on #1165
The only scenario where `pip` is externally managed is when Poetry is configured to use the system envrionment and not create a project virtual environment.

In `1.0.z` releases under Python 2.7 this `pip` is ensured by `virtualenv` and under Python 3 `pip` installation is ensured via `ensurepip` that is called by the `venv` built-in module. With `1.1.0` this becomes unified with the use of `virut

[2020-08-17 02:03] micahscopes commented on #1168
If you haven't tried it, yarn has a nice feature for this called [`yarn link`](https://classic.yarnpkg.com/en/docs/cli/link/).

[2020-08-17 02:38] darkvariantdivine commented on #2798
Thanks @finswimmer and @abn for this. Poetry is a great tool, I hope it continues to grow!

[2020-08-17 06:13] rdonkin commented on #1363
@finswimmer - agree this is an upstream issue, though it's useful to have the workarounds here as they are not easy to do.

@refulgent-de - glad this was useful.  I tend to do this when bootstrapping an Ansible laptop, but your Ansible code will be useful for other cases.

[2020-08-17 08:47] AssassinTee opened #2819 "SolverProblemError with papermill"
## Information

- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [ ] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Ubuntu 18 LT

[2020-08-17 09:04] abn commented on #2819
@AssassinTee can you try the latest release (`1.0.10`) or pre-release (`1.1.0b2`) please? This seems to be resolved.
[code]

[2020-08-17 09:15] M-J-Murray commented on #2765
@abn I installed poetry using: `curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python`.
Does this not install from master?

[2020-08-17 09:34] AssassinTee commented on #2819
I updated poetry with `poetry update self` to version 1.0.10 and opened a new **clean** conda environment, **only** installing papermill with `poetry add papermill` still leads to the error:

[code]

[2020-08-17 09:49] abn commented on #2819
@AssassinTee whats the python dependency for your project? And what is your python runtime version?

[2020-08-17 09:50] AssassinTee commented on #2819
I am currently using python 3.7 and was able to create the issue with a clean conda environment (without other dependencies)

[2020-08-17 10:02] abn commented on #2819
Thanks for that. I can reproduce the issue now using:

[code]

I was installing black before papermill; missed the part you said about it being the workaround :)

[2020-08-17 14:28] dector commented on #1567
I have this issue too.

<details><summary><code>$ cat /etc/os-release</code></summary>
<pre>
NAME="Ubuntu"
VERSION="16.04.6 LTS (Xenial Xerus)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 16.04.6 LTS"
VERSION_ID="16.04"
HOME_URL="http://www.ubuntu.com/"
SUPPORT_URL="http://help.ubuntu.com/"
BUG_REPORT_URL="http://bugs.launchpad.net/ubuntu/"
VERSION_CODENAME=xenial
UBUNTU_CODENAME=xenial
</pre>
</

[2020-08-17 15:10] SylleoYr commented on #2081
It seems that this issue hasn't been fixed yet? I met the same question in my Windows machine, but when I set the environment variable `POETRY_HOME` to my prefix setting permanently (not at installing the poetry), `poetry self update` works correctly.

- **Windows version**: Windows 10 2004 update (19041.450)
- **Poetry version**: 1.0.10

And I found that the `poetry` installer `get-poetry.py` doe

[2020-08-17 16:14] adam-grant-hendry commented on #2792
@abn and @finswimmer +1 for as adding this to `candidate/faq`. Thank you for the help!

[2020-08-17 16:39] abn commented on #2819
The root cause here is that when provided `black (*)` as a dependency; since `black` only has pre-release versions, no version was detected when resolving for dependencies of `paparmill`. I have attempted to fix it by modifying currrent behaviour such that such packages fallback to returning pre-release versions if constraint is `(*)`. Alternative fix might be in `poetry-core` where a dependency t

[2020-08-17 16:50] 9mido opened #2822 "Add Docker Installation/Upgrading To Docs"
Stackoverflow and some other sites have methods for Poetry to be installed with Docker. But they are not all noob friendly and might not be the best ways to do things.

Please add to the docs the recommended way to install poetry with docker and how to upgrade poetry with docker.

[2020-08-17 17:56] adam-grant-hendry opened #2823 "EnvCommandError: Cannot find `pip-req-build` folder"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Windows 10, vers. 1809
- **P

[2020-08-17 18:38] adam-grant-hendry commented on #2792
I get error when creating my own virtual environment with `venv`. See #2823

[2020-08-17 19:13] adam-grant-hendry commented on #2823
Deleting `Cache\artifacts` folder contents does not solve problem. I can add packages if `Cache\artifacts` folder contents deleted, but issue resurfaces if a package is removed and then readded:

[code]

[2020-08-17 19:14] abn commented on #2823
@adam-grant-hendry can you remove this config:
[code]

And also remove your `poetry.toml` file? Try again?

[2020-08-17 19:17] adam-grant-hendry commented on #2823
@abn Same error. Add, remove, add gives error.

[2020-08-17 19:21] abn commented on #2823
@adam-grant-hendry maybe uninstall your current poetry install. It could also be that the cache storage is somehow corrupted in your environment.

[code]

Maybe consider dropping by the Discord server; might be easier over there.

[2020-08-17 19:33] adam-grant-hendry commented on #2823
@abn How do I uninstall? Where is `get-poetry.py` on Windows?

[2020-08-17 19:38] abn commented on #2823
@adam-grant-hendry you only need the script if that is how you installed it :)

Also; https://github.com/python-poetry/poetry#resources

[2020-08-17 19:42] adam-grant-hendry commented on #2823
@abn Ah, I see. I missed it, apologies. I confirm that uninstalling and using `pip` install method solves the problem. `pip` found an older version of `poetry` installed. I must have had this installed with the Discord server version simultaneously.

[2020-08-17 19:55] evilyach opened #2824 "Parsing error whenever specifying url and optional inside dependency"
- **OS version and name**: Ubuntu 20.04 (Linux 5.4.0-42-generic)
- **Poetry version**: 1.0.10, 1.1.0b2, master branch
- **Link of a [Gist](https://gist.github.com/evilyach/03ac35b933d510a2b7bb15cac704e3ab) with the contents of your pyproject.toml file**:
## Issue
Whenever you have `url` and `optional` inside the same dependency, it crashes when trying to install the built wheel. The gist is availa

[2020-08-17 20:03] abn commented on #2824
Duplicate of #2802
Fixed by python-poetry/poetry-core#60

[2020-08-17 20:04] evilyach commented on #2824
Thanks.

[2020-08-17 20:04] #2824 closed

[2020-08-17 20:10] abn commented on #2792
#2417 resolves gap in documentation.

[2020-08-17 20:10] #2792 closed

[2020-08-17 21:00] danihodovic commented on #446
This is still an issue in 1.1.0b2

[2020-08-17 21:01] danihodovic opened #2825 "Poetry update hangs when prompted for ssh key passphrase"
Re-opening https://github.com/python-poetry/poetry/issues/446 which was automatically closed.

[2020-08-18 10:51] joyofdata opened #2827 "How to upgrade Python version from 3.8.2 to 3.8.5 for an existing poetry environment?"
How to upgrade Python version for existing poetry environment?

- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Issue
I manage Python versions via pyenv. But I can't convince poetry to l

[2020-08-18 12:29] geronm commented on #11
**salotz** said:

This comment seems to have fallen out of date.

I think this tag (`v0.1.7`) in the repo gives a stable reference with working build.py: https://github.com/ADicksonLab/geomm/tree/v0.1.7

[2020-08-18 12:57] zoj613 commented on #11
I have a build.py I use in my own project and it works just fine: https://github.com/zoj613/OccuSpytial/blob/master/build.py

[2020-08-18 15:30] louwers commented on #366
Related: https://github.com/python-poetry/poetry/issues/2102

Installing Poetry in a virtual environment is not possible on our CI server.

[2020-08-18 15:35] dclong commented on #2267
What about including a JAR file?

[2020-08-18 16:46] makeworld-the-better-one commented on #111
Using this file feels even more helpful, as it now seems that Poetry cannot cache the password in a file anymore. The default keyring usage is not helpful, as it brings the user out of the terminal, and often into a program they don't understand.

[2020-08-18 16:51] makeworld-the-better-one opened #2828 "Support publishing git dependencies to PyPI using vendoring"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Feature Request

I noticed that when trying to upload a package with a Git dep to PyPI, I get an error:
[code]

My research has told me th

[2020-08-18 18:48] finswimmer commented on #2827
Hello @joyofdata,

I believe at the moment `poetry` doesn't take the patch version into account, when checking if there already a venv exists for it.

fin swimmer

[2020-08-19 03:11] RobRoseKnows commented on #2734
Workaround for now is just to install asgiref 3.2.10 manually using `poetry add`. Perhaps [this Django commit](https://github.com/django/django/commit/3d16496037fbb8a6bbc6b6e354fa4f5eb65e6cea) has something to do with it, since they bumped the version.

[2020-08-19 04:30] 4F2E4A2E commented on #2204
For us it's working the following way :

* config: `poetry config repositories.acme http://localhost:8080/repository/acme-pypi/`
* config: `poetry config http-basic.acme <user> <password>`
* build: `poetry build`
* publish: `poetry publish -r acme`

_Poetry version 1.0.5_

[2020-08-19 07:50] max-wittig commented on #2653
This would be very nice. Currently we also do this in another private repo. Just using the upstream poetry image would simplify things a lot

[2020-08-19 09:05] abn commented on #2204
Most likely related: #2359 #2210

[2020-08-19 09:29] sanzoghenzo commented on #2676
I'm having the same problem with poetry 1.0.10.

Adding the dependency to a new project without extras runs fine, but if I use `poetry add pyswsutils[all]` or `poetry add pyswsutils -E all` I got the same kind of error as @himkt .

[Gist with poetry output and pyproject.toml](https://gist.github.com/sanzoghenzo/c0ce4aa0d6bc62db3883484879d720c9)

using `poetry run pip install pyswsutils` (it's on a

[2020-08-19 09:34] louwers commented on #2742
Can this be backported? Or can a release be made?

[2020-08-19 09:39] himkt commented on #2676
@sanzoghenzo

FIY but in my environment, `poetry 1.1.0a3` works fine.
(`pip install --pre poetry` installs the latest non-stable version of poetry)

[2020-08-19 10:13] louwers commented on #2545
We are affected by this as well.

[2020-08-19 11:50] kulame opened #2830 "Unable to add prompt-toolkit 1.0.18"
- [ ] I am on the Poetry version 1.1.0b2

[code]

- **OS version and name**:
- **Poetry version**:

pyproject.toml
[code]

[2020-08-19 12:32] GuillaumeLegoy opened #2831 "Poetry fails to install [build-system] dependency (poetry or poetry-core) from a private package repository"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**:  macOS Catalina version 10.1

[2020-08-19 15:08] sebastian-hatala-leanix opened #2832 "Add option to use symlinks on Unix platforms"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Feature Request
I have a use case for poetry that requires creating a virtual environment in Unix by copying the Python executables instea

[2020-08-19 15:10] waszil opened #2833 "Install poetry behind a proxy"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Feature Request
Hi, I tried to install poetry on Centos8, however I could not even do this behind a corporate proxy. I could pass the prox

[2020-08-19 15:51] briggySmalls commented on #1168
@janhurst I have _exactly_ the same issue that you do. Our production docker containers use poetry to build a wheel before installing it in a fresh image. Currently the shared library in the `dev-dependencies` causes this build step to fail.

[2020-08-19 17:01] GvandeSteeg opened #2834 "Preview poetry not respecting private repositories anymore"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: MacOS 10.15.6 Catalina
- **P

[2020-08-19 18:53] eugenetriguba commented on #1804
@skorokithakis In regard to your comment on `pygments` being pinned to `^2.4.2` but poetry upgraded it to `2.5.2`, is that not the intended behavior with the `^` version constraint? Same with your comment on `django-webauthin`.

https://python-poetry.org/docs/versions/

[2020-08-19 19:54] skorokithakis commented on #1804
@eugenetriguba ah, it appears I had conflated `^` and `~`, thank you.

[2020-08-19 19:55] #1804 closed

[2020-08-19 22:36] abn commented on #2832
@sebastian-hatala-leanix the virtual environment creation is using the `virtualenv` package now. This means for platforms that do not support symlinks, they shouldn't be used. There has been some discussion around allowing extra configuration options for venv creation. Might be good to aggregate those too before deciding on how best to handle this (eg `config virtualenvs.creation.use-copies` vs `c

[2020-08-19 22:43] abn commented on #2833
@waszil does `pipx` or `pip` install of `poetry` work for you?

Also, since the script uses `urllib` internally and `pip`/`poetry` uses `requests`, you can set your http proxy in your shell. Probably drop this into your `~/.bashrc` to cover your bases. Be sure to specify both upper and lower case variables.

[code]

[2020-08-19 23:36] adam-grant-hendry opened #2836 "Poetry Does Not Handle Spaces in Path for Wheel Install"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Windows 10, version 1809
- *

[2020-08-20 01:27] jazzblue opened #2837 "Cannot use the same package in develop mode for dev and non-develop mode for non-dev"
- [ x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [ x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [ ] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**:  MacOS
- **Poetry version*

[2020-08-20 02:45] mariofix commented on #2769
Also, latest beta fixes it

[code]

[2020-08-20 03:07] adam-grant-hendry commented on #2823
Please close this as resolved. (Note to self, don't have two different versions of `poetry` installed at the same time...*slaps forehead*)

[2020-08-20 03:24] gehring commented on #2825
I ran into a similar issue when authenticating with https, e.g., `poetry add git+https://github.com/username/my_private_repo.git`. Oddly enough, running it with `-vvv` allowed me to run it to completion but I had to type in my login info 4 different times!

I had to type it in 1) at the start, 2) while "resolving dependencies", 3) in between "writing lock file" and "Package operations: 1 install,

[2020-08-20 04:32] #2823 closed

[2020-08-20 09:10] sanzoghenzo commented on #2676
You're right @himkt , I just updated to `poetry 1.1.0b2` and it works!

Thanks

[2020-08-20 10:52] andymcarter opened #2838 "UnexpectedCharError when executing poetry commands"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.

- **MacOS 10.15.5, python 3.8.3**:
- **1.0.10**:
- **gi

[2020-08-20 10:58] intelligent174 commented on #2698
Hello! I decided to start using poetry, but faced such a problem. Tell me what's wrong? Thank you in advance!

D:\flexites\project> poetry env use D:\Python38\python.exe
Creating virtualenv project-ZWWETv50-py3.8 in C:\Users\admin\AppData\Local\pypoetry\Cache\virtualenvs
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'WindowsPath' is not defined

[FileNotF

[2020-08-20 14:39] waszil commented on #2833
Standalone pip works fine. pip of poetry: I don't know, as I still cannot install poetry itself.
I have the env-vars exported, both in .bashrc and in /etc/profile.d/proxy.sh, however it still does not work. Even curl only works if I specify it explicitely with the --proxy option.
If I run the get-poetry.py, I get this:

 File "/usr/lib64/python3.8/ssl.py", line 1099, in read
    return self._sslob

[2020-08-20 17:38] abn commented on #2833
@waszil the environment variable should be handled by `urrlib.request` transparently.

See: https://docs.python.org/3/library/urllib.request.html

Assuming you are not using Python 2.7, this should work. It mighjt be that your proxy is terminating the connection.

As a workaround you can use the `--file` option. You can download the release tarball from [releases](https://github.com/python-poetry/

[2020-08-20 18:59] #2676 closed

[2020-08-20 19:04] finswimmer commented on #2838
Hello @andymcarter,

I'm unable to reproduce this. Can you upload somewhere an original `pyproject.toml` with which it doesn't work? Or does this also happens with a new one created by `poetry init -n`?

fin swimmer

[2020-08-20 19:12] andymcarter commented on #2838
This was a new pyproject.toml, but I suspect it is something with my
installation as it seems to be affecting all my poetry managed envs.

Even with the verbose output I can't track down what might be the cause,
just wondered if that specific error rang any bells with anyone else.

On Thu, 20 Aug 2020, 20:04 finswimmer, <notifications@github.com> wrote:

[2020-08-20 20:42] jdeyton commented on #761
The [format of the dephell command](https://dephell.readthedocs.io/cmd-deps-convert.html) is `--from-path` instead of `--from` and `--to-path` instead of `--to`.

i.e.

[code]

[2020-08-20 22:24] jules-ch commented on #2436
You're not using the same python environment.

The first one is using your global python3 since you haven't activated your virtualenv created with poetry.
The second one is using the poetry virtualenv and no GUI Backend is installed in this environment to show your figure.

So use `poetry shell` then `./main.py`, you'll see the same warning.

Or install a Backend like `poetry add pyqt5` then do `p

[2020-08-21 03:12] gitpushdashf commented on #1692
Any update on this? Would be really nice to do `poetry add /some/absolute/path`

[2020-08-21 08:16] andymcarter commented on #2838
I think I've found the solution, somehow `envs.toml` in my virtualenvs folder had been edited to look like this.

![image](https://user-images.githubusercontent.com/22293319/90867412-3fe3a980-e38d-11ea-868f-67551d0612b5.png)

Removing the offending line on 4 and the duplicate key got me back working.

[2020-08-21 08:24] pawamoy commented on #761
For those having issues with the script from @albireox with newer versions of Poetry, check it out again: https://github.com/sdss/flicamera/blob/master/create_setup.py, it was updated 🙂 Thanks @albireox ❤️ !!

[2020-08-21 08:35] kalfa opened #2839 "poetry fails with pypi.org certificate when I have multiple repositories"
- [x ] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x ] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x ] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Linux Centos 7 kernel 3.1

[2020-08-21 08:39] #2838 closed

[2020-08-21 09:05] kalfa opened #2840 "python requirement ^3.6 does not match packages on pypi.org with "Python >=3.6, <3.7""
- [x ] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x ] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x ] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Linux Centos 7
- **Poetry

[2020-08-21 09:32] #2840 closed, assigned to nobody

[2020-08-21 15:56] AstraLuma opened #2842 "Explicit setuptools dep breaks poetry export"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Mac OSX w/ pyenv
- **Poetry

[2020-08-21 16:23] #2842 closed, assigned to nobody

[2020-08-21 16:39] maxgrenderjones opened #2843 "Enable reading project's version number dynamically from somewhere other than pyproject.toml"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Feature Request

I'm working on a project where we would like to adopt poetry. One aspect of our long-established workflow is that our ver

[2020-08-21 17:16] tomzx opened #2844 "poetry update --lock should list the packages updated in the lockfile"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Feature Request
The `poetry update --lock` command is great if you don't want to actually update packages locally. When you run `poetry up

[2020-08-22 08:53] peach-lasagna opened #2845 "Poetry show and update"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Windows 10
- **Poetry versio

[2020-08-22 15:22] dmugtasimov opened #2846 "Python requirement (^3.8) is not compatible djangorestframework-simplejwt requires Python >=3.6,<3.9"
[code]

[2020-08-22 16:15] NathanDeMaria opened #2847 "Document the proper metadata for Python libraries"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.

## Issue

In [the first FAQ](https://github.com/python-poetry/poetry/blob/d2fd581c9a856a5c4e60a25acb95d06d2a963cf2/docs/docs/faq.md#why-is-the-dependency-resolution-process-slow), it's mentioned that, "not all libraries on PyPI have properly declared their meta

[2020-08-22 22:38] jane-meichen-chen opened #2849 "EmptyKeyError when running poetry shell"
- [x ] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [ x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x ] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: MacOS Catalina 10.15.6
-

[2020-08-23 08:10] giantas opened #2850 "Poetry 1.1.0b2 PackageInfoError"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: OpenSUSE 15.1
- **Poetry ver

[2020-08-23 18:45] finswimmer commented on #2846
Hello,

it's not a bug nor a fix is required. It's a feature. See https://github.com/python-poetry/poetry/issues/1930#issuecomment-653906544

[2020-08-23 18:45] #2846 closed

[2020-08-23 21:10] mrijken commented on #1168
I have made https://pypi.org/project/poetry-dev/ in order to support this use case.

[2020-08-23 22:04] jacebrowning commented on #98
It's my understanding that the `Package jupyter is already present` error when attempting to `poetry add jupyter` a second time is the expected behavior.

Unless someone can share a way to reproduce `poetry add` failing for a different reason, I don't think this issue is actionable.

[2020-08-23 22:12] jacebrowning commented on #204
Unless people are still experiencing this with Poetry 1.0+, I think we can close this.

[2020-08-23 22:25] jacebrowning commented on #208
Assuming the following environment variables are set:

[code]

This is how I handle uploads to a private PyPI server:

[code]

I can see why adding environment variable expansion to `pyproject.toml` could be too much of a scope creep for Poetry.

[2020-08-23 22:35] jacebrowning commented on #221
Poetry `1.0.10` now displays a slightly more clear error message:

[code]

using this minimal `pyproject.toml`:

[code]

[2020-08-23 22:54] abn commented on #204
A lot has changed since this version. Closing for now. Please raise a new issue if this is still an issue with a newer release.

[2020-08-23 22:54] #204 closed

[2020-08-24 00:40] adam-grant-hendry commented on #2836
This appears to be a problem with the binary downloaded from Christoph Gohlke's site (https://www.lfd.uci.edu/~gohlke/pythonlibs/#curses). Note, this is a Windows issue only. To solve, do the following:

[code]

then run

[code]

from the terminal. Please close this issue as solved.

[2020-08-24 04:36] finswimmer commented on #2845
Hello @peach-lasagna,

could you please try out the latest preview release? With this I'm not able to reproduce your problem.

fin swimmer

[2020-08-24 04:39] finswimmer commented on #2849
Hello @jane-meichen-chen ,

could you please show your complete `pyproject.toml`? It looks like there is something malformed. Especially around line 12.

fin swimmer

[2020-08-24 04:56] finswimmer commented on #2458
Hello,

it seems we have very different expectations about that :) For me, I still have not found any use-case, where I need to use `--no-root`.

Let's assume a simple project like this:

[code]

How do you import `somelib` into `cli.py`, which will also be your running script, when the package itself is not installed? Yes, you can do this by adding a path to `PYTHONPATH` or `sys.path`. But being

[2020-08-24 05:02] #2836 closed

[2020-08-24 06:08] buriy commented on #98
@jacebrowning problem is not that
"poetry add jupyter" fails -- that's expected behaviour.

Problem is that attempt to add multiple packages:
"poetry add jupyter numpy" *fails* if jupyter is installed but numpy *is not installed*.
Rather it should say "jupyter is already installed" and install numpy.

[2020-08-24 07:23] waszil commented on #2833
I'm using Python 3.8.0.
I guess the corporate proxy is not so helpful. I'll try the --file option, however I just opened this issue, because I periodically face this problem with a bunch of packages/libraries, and one of those can handle the life behind the proxy, others cannot, and it is quite frustrating, that there is no way to globally configure the proxy for everything.

[2020-08-24 08:20] rdmolony opened #2851 "Improved error message for EmptyKeyError"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Feature Request
Hey, I had a similar issue to #2849 where my `poetry` Github Action failed with `EmptyKeyError` with

[code]

@finswimmer

[2020-08-24 08:39] rdmolony commented on #2851
To reproduce bug enter a line such as `<<<<<<<<<<<<<<` in `pyproject.toml`

such as:

[code]

and run `poetry config` in the same directory as `pyproject.toml`

[2020-08-24 08:40] jane-meichen-chen commented on #2849
Hey @finswimmer
Please see below for the complete pyproject with name and email removed. Thanks.
[https://gist.github.com/jane-meichen-chen/27b43f37d7cd851750009128aab45c3c]

[2020-08-24 09:07] louwers commented on #2324
`setup.py` is still needed for Cython extensions, for intergration with some versioning systems or for better support for namespace packages, e.g.

[code]

[2020-08-24 09:20] BenWhetton commented on #2610
Any comments?
Is this the expected/desired behavior and/or is there a different way to solve this problem that I am not aware of?
We are evaluating tools at work and this might be a deal breaker.

[2020-08-24 12:01] #2833 closed

[2020-08-24 13:43] finswimmer commented on #2850
Hello @giantas,

this will be fixed if https://github.com/python-poetry/poetry/pull/2810 is merged.

fin swimmer

[2020-08-24 13:47] #2667 closed

[2020-08-24 15:09] julienmalard commented on #221
@jacebrowning Thank you! If you could point me to the place where the AUTHOR_REGEX is defined (I can't find it!) I would be happy to contribute a pull request to help fix this. Perhaps a good approach would be to validate only what is in between <> tags, and allow the name to be anything? (Because some languages will use apostrophes, colons, combining makrs and other characters that re is likely t

[2020-08-24 17:04] joyofdata commented on #2827
Isn't that a tiny bit ironic that a dependency management system for Python cannot manage the most central dependency - that of the interpreter itself?

[2020-08-24 19:08] GodTamIt commented on #2586
+1 this is reproducible.

Commit a3b648ba141d88486b035eae383faa0adefbecac may be worth looking into as a root cause

[2020-08-24 19:13] gazorby commented on #366
Here is my `.travis.yml` based on those above :

    dist: xenial
    language: python
    python:
    - 3.8
    - 3.6
    - 3.7
    stages:
    - test
    - name: deploy
      if: tag IS present

    # Tests
    before_install:
    - pip install poetry
    install:
    - export PYTHONPATH=$PYTHONPATH:$(pwd)/turbulette
    - poetry install --no-root -v
    services:
    - postgresql
    env:

[2020-08-24 19:29] alexj-novisto commented on #2545
We've also been affected by this. Loss of time + now having to circumvent the issue.

[2020-08-24 19:55] jacebrowning commented on #221
@julienmalard It looks like `AUTHOR_REGEX ` is now part of Poetry Core: https://github.com/python-poetry/poetry-core/search?q=AUTHOR_REGEX&unscoped_q=AUTHOR_REGEX

And imported here: https://github.com/python-poetry/poetry/blob/d2fd581c9a856a5c4e60a25acb95d06d2a963cf2/poetry/console/commands/init.py#L491-L498

[2020-08-24 20:28] brettdh commented on #2166
Also interested in this feature. I have a similar multistage build, with the added constraint that the second stage has no network connectivity, so as to isolate the parts of the build that depend on external data. We could remove `--no-root` from the first-stage installation, but this would require moving build steps to the first stage as well, which defeats the purpose of them taking place in a

[2020-08-24 20:51] julienmalard commented on #221
@jacebrowning Thank you! I had not noticed that poetry.core was not part of this repository.

[2020-08-24 22:31] dmyersturnbull opened #2852 "Spurious version conflict"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Windows 10
- **Poetry versio

[2020-08-25 04:39] finswimmer commented on #2843
Hello @burrscurr,

please see my comment at https://github.com/python-poetry/poetry/pull/2366#issuecomment-652418094 about what you can do.

Hello @maxgrenderjones,

this is a question that raises from time to time. Also me was asking this a while ago (https://github.com/python-poetry/poetry/issues/1314#issuecomment-530366576). However, generate or read the version number dynamic from somewhere, m

[2020-08-25 05:12] finswimmer commented on #2852
Hello @dmyersturnbull,

there are some mistakes in your `pyproject.toml` here:

[code]

You are saying the  `peewee` version must be greater `>=3.13` and smaller `<1.0`. Both criteria cannot be valid at the same time.

Furthermore the `sshtunnel` version must be exact `0.13` and smaller `1.0`. While this can be valid, the current version of `sshtunnel` is `0.1.5`. So poetry will fail here as well.

[2020-08-25 06:38] #2806 closed

[2020-08-25 08:30] shibumi opened #2853 "Poetry is not able to handle URLs correctly: ParseVersionError: Unable to parse None"
- [X] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [X] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [X] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Linux, Arch Linux
- **Poetry

[2020-08-25 08:31] shibumi commented on #2853
Is there any way to set this URL manually? Would be a shame if I cannot use poetry, just because it's not able to do basic tasks (pip install -r requirements.txt works fine).

[2020-08-25 08:50] finswimmer commented on #2853
Hello @shibumi,

the problem here is not the URL but that the version is dynamically read into the `setup.py`. `poetry` cannot handle this in the current stable release, but will in the next minor release.

Be aware that for this `poetry` needs to create a separate build environment, run the build process (to be more precious "run the [prepare-metadata-for-build-wheel](https://www.python.org/dev/p

[2020-08-25 08:52] shibumi commented on #2853
Hi @finswimmer
I don't maintain the upstream project so I can't modify the setup.py. Good to hear, that this will be supported, but is there really no way to at least add the URL manually to poetry for at least working with it? This is actually something I would have expected from a `1.x.x` release :S I mean it does work with `pip install -r requirements.txt`

[2020-08-25 09:42] finswimmer commented on #2853
Hi @shibumi,

of course you can add the url manually to the `pyproject.toml`. See [here](https://python-poetry.org/docs/dependency-specification/#url-dependencies).

But this will not help you, because poetry still needs to parse the metadata of this source and this will fail due to the point mentioned above. The problem ist not the url, it's how the metadata are provided by the source.

fin swimm

[2020-08-25 09:45] abn opened #2854 "cli: improve messaging around usage errors"
Right now if a cli user accidentally adds a wrong option or provides an incorect value, the error with the stack trace is ... rather intimidating. This should be improved by displaying a more useful message. The change actually might be required in `clikit` unfortunately.

[code]

[2020-08-25 09:50] abn commented on #2853
To add to @finswimmer 's point, poetry specifically requires the dependencies from the associated metadata so that the resolver (as mentioned above) can work. You can install your package into your environment without adding it to your dependencies using `poetry run pip install <url>`. But this negates the purpose of using `poetry` to manage your package dependencies and any build artifacts will n

[2020-08-25 10:04] tetienne commented on #1879
@michael0liver Thx for your great example. I use it for my VS code dev container.
I have just one trouble. What do you suggest when we set up some private pypy repositories in pyproject.toml? We have to pass two env variables at build time: POETRY_HTTP_BASIC_XXX_USERNAME and POETRY_HTTP_BASIC_XXX_PASSWORD, and docker suggest to not use ARG for confidential information.

[2020-08-25 10:17] michael0liver commented on #1879
You should use docker [--build-arg](https://docs.docker.com/engine/reference/commandline/build/#set-build-time-variables---build-arg). These variables only exist within the build stage and will not persist in the built image. Expose these variables inside your CI pipeline (for example as secrets inside a GitHub actions workflow).

[2020-08-25 11:36] mxab commented on #1879
In case someone uses the buildkit feature of docker you can also use the secret mount

https://docs.docker.com/develop/develop-images/build_enhancements/#new-docker-build-secret-information

You also need to put the `# syntax` block
[code]

[code]

[2020-08-25 12:27] jonapich commented on #2698
@intelligent174 upgrade to the pre-release version:

    pip install --upgrade poetry --pre

[2020-08-25 18:16] pawamoy commented on #366
And here is my CI config with a GitHub workflow (migrated from my GitLab CI config, previously commented [here](https://github.com/python-poetry/poetry/issues/366#issuecomment-559796011)):

[code]

[2020-08-25 19:32] abn commented on #2324
@louwers can't this be done via poetry's `packages` configuration? Also note that poetry detects namespace packages without any issues.

[2020-08-25 20:34] abn commented on #2324
@wichert with `1.1.0` poetry will not use `setuptools` for the editable installs. The presence of a setup file should not impact this anymore.

See: #2360

[2020-08-25 20:36] #2324 closed

[2020-08-25 20:44] abn commented on #2849
@jane-meichen-chen I tried that `pyproject.toml` and could not reproduce the issue, can you confirm recreating that file does not cause the issue for you? It could also be because of the values you removed.

[2020-08-25 21:34] shibumi commented on #2853
@abn this is exactly I was looking for and it's fine by now. This way I can use poetry + wait for the release.

[2020-08-25 23:16] abn commented on #2853
Closing this as this is a known limitation of `poetry<=1.0.10`. As mentioned above version `1.1.0` improves the situation, but we cannot truly get away from bad package metadata.

[2020-08-25 23:16] #2853 closed

[2020-08-25 23:36] alexkyllo commented on #2834
I'm experiencing this too--I've added a private package repository (data-science-packages) to my pyproject.toml and when I try to `poetry add retention` (the name of my package) I get the same error, it recognizes the repository name but fails to find the package in it.

[code]

[2020-08-25 23:44] alexkyllo commented on #2834
Could this be the same issue as #2576 ?

[2020-08-25 23:47] rcoulter13 commented on #2698
@jonapich Hello! I attempted your solution but am still getting the same results as @intelligent174 .  I checked the directory it is attempting to find and it is accurate. There is no pypoetry file in that location. Does this mean the original download was flawed and should be uninstalled and re-downloaded?  I appreciate any help you have to offer.

[2020-08-25 23:58] jonapich commented on #2698
"poetry --version" should give you something like 1.1.0b1 or something. Not 1.0.10 that's where the bug occurs.

[2020-08-26 00:20] dmyersturnbull commented on #2852
Oh wow, I have no idea how I didn't notice that.  Thanks.

[2020-08-26 00:20] #2852 closed

[2020-08-26 00:24] rcoulter13 commented on #2698
Unfortunately mine is not doing that.  After running the pip install you provided to upgrade to the pre-release version, I still have 1.0.10. I must have done something wrong but I'm not sure what.

[2020-08-26 01:47] rcoulter13 commented on #2698
Followup: the newest version requires the syntax "poetry self update --preview" in order to work, but even at that it denies permission even if PowerShell runs with administrator access.  Every time it gets really close to upgrading but it always runs into a file where access is denied. I'll keep exploring but so far it looks like uninstalling the current version of poetry and then downloading the

[2020-08-26 04:12] smheidrich commented on #1255
@sdispater I have the same issue. It's only reproducible if you actually have a Python package folder (project_name/``__init__.py``) to go along with the ``pyproject.toml``, otherwise the installation won't complain. I put a boiled-down version of @thedrow's ``pyproject.toml`` [here](https://gist.github.com/smheidrich/f297067a50170a66d2793d81ef47258b). The only relevant line is

[code]

Is that re

[2020-08-26 04:52] finswimmer commented on #1255
Hello @smheidrich,

the dependency is described correct. But you have to make sure you have the necessary ssh-key(s) on your pc. This is what I get when trying to clone the repository:

[code]

And that's the reason why a `poetry install` fails as well.

fin swimmer

[2020-08-26 05:05] smheidrich commented on #1255
@finswimmer I do have that the ssh-key loaded into ssh-agent, that's not the issue.

[2020-08-26 05:13] smheidrich commented on #1255
@finswimmer Can you reproduce this if you have your GitHub SSH keys loaded? Or does everything work fine in that case?

[2020-08-26 07:53] agoose77 commented on #1301
Just a note in case it is useful to others here:

If you make the installation a two stage process you don't have to cache bust upon modification of the root package:
[code]

[2020-08-26 12:26] abn opened #2855 "Editable Installer: Handle changes cleanly"
Today, the editable installer (`poetry>1.0.10`), does not handle removals of files (includes, console scripts etc.) cleanly. This needs to be improved.

There are two potential approaches,
1. Handle the delta manually by using the `*.dist-info/RECORD` csv file. We could load the list prior to new install and then identify the delta after installation.
2. Uninstall editable package explicitly (this

[2020-08-26 13:08] ginty commented on #2705
Thanks for the reply, here are the reasons why I don't want to use 'rc':

Firstly, there is a semantic distinction between a pre-release and a release-candidate and when doing the former I don't want it forced to be identified as the latter.

Secondly, the project I encountered this on is comprised of multiple packages across different languages all built via various flows - even in Python I have

[2020-08-26 15:47] GvandeSteeg commented on #2834
Good call, that sounds very possible

[2020-08-26 18:30] jane-meichen-chen commented on #2849
Hey @abn
I still get the same error even when I start a new project. After running poetry init, poetry shell returns the same error in the original post.

`% poetry shell

  EmptyKeyError

  Empty key at line 12 col 0

  at ~/.poetry/lib/poetry/_vendor/py3.7/tomlkit/parser.py:371 in _parse_key_value
       367│
       368│         # Key
       369│         key = self._parse_key()
       370│

[2020-08-26 18:49] abn commented on #2849
@jane-meichen-chen unfortunately there is not enough information here to help us help you. I have, once again attempted to reproduce this in a clean docker environment. See below for details. Your exception suggests that your toml file is corrupt. Maybe try `poetry shell -vvv`? That might provide a bit more details on the exception. If an empty key does not exist in the `pyproject.toml` file maybe

[2020-08-26 19:15] jane-meichen-chen commented on #2849
Hey @abn

Please see below for the output when I run `poetry shell -vvv`

[code]

I have tried uninstalling poetry and re-install. removing poetry.lock doesn't do anything either.

[2020-08-26 19:34] abn commented on #2849
Okay. This is better, the issue is triggered by this bit.

[code]

Your `envs.toml` is somehow corrupt. Can you check the content of `~/.cache/pypoetry/virtualenvs/envs.toml` for invalid toml, ie. a key/value pair with an empty key perhaps?

[2020-08-26 19:36] abn commented on #2849
The change in https://github.com/python-poetry/poetry-core/pull/70 should improve the error messages for these kind of issues.

[2020-08-26 19:45] jane-meichen-chen commented on #2849
Hey, i don't seem to find `~/.cache/pypoetry/virtualenvs/envs.toml` anywhere, where does it suppose to live?

[2020-08-26 19:46] jane-meichen-chen commented on #2849
ah nvm, i find it now