[2020-10-01 15:20] drcongo commented on #3019
No worries @tony - `poetry self update 1.0.10` in our Dockerfile is working for now.

[2020-10-01 15:24] iksteen opened #3023 "Export fails after upgrading poetry to version 1.1.0"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Linux (archlinux and CentOS

[2020-10-01 15:27] craigjbass commented on #3023
We've also noticed the same issue in all our builds :sob:

[2020-10-01 15:37] #3021 closed

[2020-10-01 15:54] remram44 commented on #3019
Broken for me because `poetry export --dev --format requirements.txt` fails with an IndexError (printed to stdout instead of stderr, too, like I wasn't piping that...)

[code]

[Link to CI job](https://gitlab.com/ViDA-NYU/datamart/datamart/-/jobs/768154155)

[2020-10-01 16:00] abn commented on #3019
@drcongo whats your pip version; looks like the issue is with the system installed pip version there. Can you try running the same within a poetry managed virtualenv please? It is not obvious where the problem lies atm. From what I can tell, poetry handed over the installation of local wheel to pip. The difference is in `1.1.0` we no longer use `pip` to download the wheels.

@remram44 see #3024

@

[2020-10-01 16:02] remram44 commented on #3019
@abn Thanks, now what do I do about this one:

[code]

Today is going to be a long day, thanks for that.

[2020-10-01 16:08] remram44 commented on #3023
Same. Also the error gets printed to stdout, which is piped to the requirements.txt output. I guess I'll open an issue about that.

[2020-10-01 16:09] abn commented on #3019
It does not have to be, maybe consider locking at `1.0.10` if your workflow is breaking untill all the issues are resolved. Also perhaps test early with pre-releases and let us know of issues. Testing early helps. :)

We are all unpaid volunteers with day jobs here maintaining this project, we do try to do a good job. Sometimes things break, and considering the amount if changes in this realease,

[2020-10-01 16:11] remram44 opened #3025 "Poetry prints tracebacks to stdout"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- ~~If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).~~

- **OS version and name**: linux, probably affects all

[2020-10-01 16:12] waldronfaulkner commented on #3023
We also have an issue with `export`, we're getting:
`ERROR: In --require-hashes mode, all requirements must have their versions pinned with ==. These do not:` and a long list of sub-dependencies.

We're temporarilly using the previous version til the issue gets fixed

[2020-10-01 16:13] remram44 opened #3026 "RuntimeError"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Ubuntu Linux 20.04.1
- **Poe

[2020-10-01 16:29] remram44 commented on #3019
I see, nice! Your [blog post](https://python-poetry.org/blog/announcing-poetry-1-1-0.html#lock-file-format-changes) made it seem like that was added in 1.1.0.

[2020-10-01 16:29] abn commented on #3026
Unable to reproduce this issue.

[code]

[2020-10-01 16:31] remram44 commented on #3026
Yeah I am unable to reproduce it in Docker either, even on Python 3.8. However it happens consistently on my laptop. I even reinstalled Poetry.

What kind of information would help troubleshooting this? This is not blocking for me since I have to use `1.0.10` anyway, but I thought I'd report it.

[2020-10-01 16:36] abn commented on #3026
Ubuntu distros typically do have issues with `virtualenv`. You can try maybe installing poetry using `pipx`. Or try `pip install --upgrade virtualenv pip` if you installed `poetry` using `pip`.

[2020-10-01 16:39] remram44 commented on #3026
I tried to install on a fresh Ubuntu 20.04 but `poetry install` fails with `ModuleNotFoundError: No module named 'distutils.util'` (#721? #1837?)

[2020-10-01 16:44] abn commented on #3026
IIRC, ubuntu image comes with a non-standard installation of distutils. That is more a distro isssue that anything to do with poetry.

As for information, from what I can tell the issue reported has to do with an exception happening within a context manager, we could harden the handling but the root issue will still persist.

[2020-10-01 16:44] xM8WVqaG opened #3028 "Poetry 1.1.0 Unable to Resolve Private Packages from pre-1.1.0 poetry.lock"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: `Ubuntu 18.04 bionic`
- **Po

[2020-10-01 16:47] remram44 commented on #3026
Re-did the whole thing on fresh Ubuntu 20.04, making sure to not install python3 but python2.7. Then installing python3 (which my project needs) once Poetry is set up.

I get warnings when running Poetry, and still can't install:

[code]

[2020-10-01 16:49] abn commented on #3026
1. How did you install poetry?
2. Looks like virtualenv cannot discover python3 binary.

[2020-10-01 16:54] dvf commented on #3028
Can confirm. Legacy users need to run `poetry update` to add these keys to the older sources.

[2020-10-01 16:55] dvf commented on #3019
Make sure you run `poetry update`. See https://github.com/python-poetry/poetry/issues/3028

[2020-10-01 16:56] remram44 commented on #3026
Not finding python3 seems to be the same distutils issue, using poetry env with a full path to the Python binary still fails.

[2020-10-01 17:09] kigawas opened #3029 "How to disable Poetry 1.1 warnings?"
I'd like to hide:

[code]

[2020-10-01 17:41] rarenatoe commented on #3029
I was about to ask this :) Please I also need help.

[2020-10-01 17:47] drcongo commented on #3019
I've had to switch to another project, but I'll check when I'm back on it. It _should_ be the latest pip but there's always the chance that it isn't.

By the way, I can't think of a project that has as many possible variables that could break people's workflows as this one, so I'm _hugely_ appreciative of everyone's work on Poetry. You're all amazing.

[2020-10-01 18:08] iksteen commented on #3025
While I agree that errors should go to stderr, you can use the `--output requirements.txt` option to not have to rely on redirection.

[2020-10-01 18:21] atugushev opened #3030 "Cross path dependencies cause SolverProblemError"
- [X] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [X] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [X] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: macOS 10.15.5
- **Poetry ver

[2020-10-01 18:33] abn commented on #3029
@rarenatoe the official installer based installer is designed to run on the currently active interpretor. If you inspect the `poetry` bin file the header might be pointing to `python` instead of `python3`. You can fix that manually. The installer tries to choose correctly, but might not work as expected in all environment configurations.

Alternatively you can also consider installing via `python3

[2020-10-01 18:55] matthewarmand commented on #3019
I've noticed this same behavior, our `pyproject.toml` doesn't have the `packages` attribute in the `tool.poetry` section so I wonder if that check in the error message needs to be different. Export works fine up through 1.0.10, breaks on 1.1.0

[2020-10-01 19:11] finswimmer commented on #3001
The funny thing about that, is that a colleague of mine showed me this today with exact the same words :smile:

We simply update poetry to the freshly released 1.1 and the problem vanished.

[2020-10-01 19:29] finswimmer commented on #721
@rarenatoe, it doesn't matter with which python executable you've installed poetry. `poetry` will pickup whatever `python` links at the moment of invoking `poetry`. This is a little bit different if your system does not provide a `python` executable. Then `poetry` will try to find `python3` during installation and if this fails `python2`. Whatever works will be added to the shebang and used afterw

[2020-10-01 19:32] jhonatanTeixeira commented on #1556
So, i have to stay using crappy pipenv because poetry doesn't have this super basic configuration

[2020-10-01 19:34] finswimmer commented on #3023
Fascinating that many people seem to use `poetry export` :) Can someone enlighten me please what are the use cases for that? Can be over at [discord](https://discordapp.com/invite/awxPgve), so that we don't get off topic in this issue.

[2020-10-01 19:35] #1969 closed

[2020-10-01 19:48] remram44 commented on #3023
Personally I use this as part of CI, to install a subset of the packages (export requirements.txt, then use it with `pip install --constraint`

I also use it for Docker builds. To use the cache effectively, you want to install dependencies first, then put your code in and install it. I believe the use cases are already tracked as #936

[2020-10-01 20:01] finswimmer commented on #3030
Hello @atugushev,

the problem here is, that you the `package2` dependency for `poetry-bug-with-cross-path-deps` is in a different path, than the `package2` dependency for `package2`.

Your folder structure looks like this:

[code]

So you have `poetry-bug-with-cross-path-deps/deps/package2` and `poetry-bug-with-cross-path-deps/deps/package1/deps/package2`. You have to rename one of these packages

[2020-10-01 20:04] cruzelante098 commented on #3013
@abn the new release (1.1.0) works fine now but there's a new error related to `pyreadline`. The `pyproject.toml` remains the same as before, I just moved to a new project to test it and set it to create the env in the project folder:

[code]

[2020-10-01 20:16] finswimmer commented on #3023
Sounds like the planned feature "[dependency groups](https://github.com/python-poetry/poetry/issues/1644)", correct?

[2020-10-01 20:28] dylrich commented on #2519
I had the same issue with Jenkins -- setting $HOME as a hack works for now but it'd be nice if poetry fell back to the current directory if $HOME isn't available.

[2020-10-01 20:46] mkielar opened #3032 "Poetry 1.1.0 cannot install zope.interface because of "is not a supported wheel on this platform" error."
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **Ubuntu 18.04**:
- **Poetry 1.1.0**:
- **https://gis

[2020-10-01 20:57] itai12312 commented on #3028
Thanks! I was also struggling with this issue today(remote run fails).

[2020-10-01 21:18] remram44 commented on #3023
Groups would work, thanks for bringing up that issue. Although in my case that's a single package, I just want to install flake8 and its dependencies, but using the locked package versions ([CI config](https://gitlab.com/ViDA-NYU/datamart/datamart/-/blob/1f15e3db009837cb51ee22274ce9bf3b96e205d7/.gitlab-ci.yml#L124)).

The current way works fine (the [script](https://gitlab.com/ViDA-NYU/datamart/da

[2020-10-01 21:21] atugushev commented on #3030
Hi @finswimmer,

Thanks for your suggestions. In the real-world `package1` and `package2` are submodules, so renaming can't help in that case.

[2020-10-01 21:42] mikenerone commented on #3023
"Me too." My use case for export is that I need to pull dependencies for distribution for offline installs.

[2020-10-01 22:25] #3026 closed

[2020-10-01 22:28] abn commented on #3023
@iksteen any chance you can verify that #3024 fixes your issue as well? I could not test your pyproject file due to the repo being private obviously. And since export uses lock file ... :) Appreciate the report.

[2020-10-01 22:32] abn opened #3033 "install: support specific package installations"
One of the common use case in a few scenarios (CI, Tox etc.) is to install an arbitrary set of packages as locked by poetry. While [dependency groups](https://github.com/python-poetry/poetry/issues/1644) aims to solve a pre-defined set, the flexibility of `poetry install pkg1 pkg2` can be benfitial.

When `poetry install pkg1` is used, we should install `pkg1` similar to performing `pip install pk

[2020-10-01 22:41] abn commented on #3023
I have raised a feature request (#3033) to handle installing specific packages.

As for caching, docker build, I recommend you consider doing the following.

[code]

[2020-10-01 22:48] abn commented on #3023
We really do appreciate that this is an issue. However, please do bear with us. The various variables to consider in how people are using poetry is sometimes hard to keep track of. Especially when we need to make critical changes to to the resolver to expand both reliability and supported scenarios. Again, thank you for using poetry, and providing detailed bug reports.

[2020-10-01 23:00] setu4993 commented on #2348
Facing the same issue on 1.1.0.

[2020-10-01 23:36] abn commented on #3032
@mkielar whats the base image?

[2020-10-02 01:11] #3016 closed

[2020-10-02 01:11] #3017 closed

[2020-10-02 01:30] abn commented on #3028
@xM8WVqaG `poetry lock` should resolve your issue, this is because the lock file now correctly adds package source information.

I have also added #3034 to add a feature that adds `poetry lock --no-update` that will allow users to refresh the lock file without updating pinned dependencies. Feel free to test that branch.

[2020-10-02 01:30] #3028 closed

[2020-10-02 01:42] malcolmgreaves commented on #3011
👋 @finswimmer -- the pyproject.toml is in the `Gist` link above (https://gist.github.com/malcolmgreaves/b7ab6812eedce1adb1a2d03737dace3b).

Originally, I thought this might be a py3.7/8 issue -- but there's the right pkginfo for the `turicreate==6.4.1` package.

Does the non semantic versioning 2.0 format of `coremltools` matter?

[2020-10-02 01:43] abn commented on #3013
@cruzelante098 does this work in at all?
[code]

And when doing `poetry run pip install pyreadline` is it installing from `sdist` or `exe`?

[2020-10-02 01:49] abn commented on #3011
@malcolmgreaves the issue is the metadata associated with the package:

[code]

Note the requirement specified for `coremltools`.

Additionally, the second issue you face is a debug log bug. :(

[2020-10-02 01:51] abn opened #3040 "ux: hide stack trace when solution exists (eg: SolverProblemError)"
An error like this can be intimidating for users. and can lead to users believing that it is a crash and not an error. We should remove the stack trace in these cases unless `-vvv` is used.

[code]

Example sourced from #3011

[2020-10-02 02:01] abn commented on #3019
@matthewarmand please see #3018 for the export issue.

[2020-10-02 02:03] MasterNayru opened #3041 "Cannot download packages from private PyPi repository using HTTP basic auth with Poetry 1.1.0"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Fedora 32
- **Poetry version

[2020-10-02 02:09] abn commented on #3020
@awilkins please refer to https://python-poetry.org/blog/announcing-poetry-1-1-0.html#directory-dependencies-are-now-non-editable-by-default

Seems pip relies on a particular version of `typing` when doing a PEP 517 build of a path dependency, hence why the failure.

[2020-10-02 02:11] n8sty commented on #3006
I think the suggested behavior would actually add a fair bit of difficulty to working on a poetry managed project. Sometimes I'll `pip install ipython` into a poetry managed virtual environment because I want to use a fancier REPL or pip install a dependency to play with some additional functionality that I may or may not want added to as a project dependency. If each of these actions automagicall

[2020-10-02 02:18] abn commented on #3041
@MasterNayru interesting. We recently identified that in `1.0.10` we did not apply authentication correctly for source specified in the pyproject toml. In typical circumstances we expect authentication to be used for both api queries as well as file downloads.

Am I correct in understanding that in your case; authentication is used to retrieve wheel direct links (ie. incl. tokens) but the expectat

[2020-10-02 02:18] ketozhang commented on #3006
Good point @n8sty, it looks like what I'm really looking for is to be able to undo a pip install operation without needing to know its name similar to pipenv's has the clean command. Unfortunately `poetry install` is not able to restore the environment.

[2020-10-02 02:25] MasterNayru commented on #3041
@abn I am expecting that if I am trying to download packages from S3 that, since pypicloud returns a URL with the necessary auth parameters in the download URL from the API requests, and since S3 seems to error out when the username/password auth parameters are provided, that they will somehow not be used as part of the requests for the downloads, which seemed to fit in line pretty well with the b

[2020-10-02 03:13] Shadowsong27 commented on #3001
I am seeing this as well (not in tox, but standard poetry install), less than 1 day since the last success built, strange thing is: we have always fixed the poetry version to 1.0.5, but once updated to the latest 1.1.0, it works fine.

[2020-10-02 03:27] MasterNayru commented on #3041
@abn I am going to close this issue as it would appear that pypicloud have, since I last looked at it, defaulted to the behaviour which poetry is enforcing with regards to auth for package downloads. Rather than try to support the old behaviour which pip works with, I will update my pypicloud installation and make use of the new behaviour. Cheers for bearing with us.

[2020-10-02 03:27] #3041 closed

[2020-10-02 04:20] finswimmer commented on #3030
Hello @atugushev,

can you add more detail what you mean by "submodules" here exactly?

At the end of the day, you cannot install two different packages with the same name. So I guess your task must be solved in another way. Happy to help here, but for that I need to understand what the task is :)

fin swimmer

[2020-10-02 04:31] #3018 closed

[2020-10-02 04:35] finswimmer commented on #3011
@abn yeah I saw this too. Where does pypi take this metadata from? (and go to bed man, it's late already! :smile: )

[2020-10-02 04:40] finswimmer commented on #3006
`$ poetry install --remove-untracked` ?

[2020-10-02 06:16] cruzelante098 commented on #3013
The command throws the same error:

[code]

I'd say that is installing it from sdist since `poetry run pip install pyreadline -vvv` print a lot of logs saying `Skipping link: unsupported archive format: .exe`; however, I'm not sure at all.

[code]

[2020-10-02 06:19] iksteen commented on #3023
Yes, this fixes the issue. Thank you, this saves me (and my team) quite a bit of manual intervention once released.

I absolutely understand this and sympathize. Also, I would've been fine with backwards compatibility breaking if poetry's new version number had semantically represented that (eg. 2.0.0). Things don't have to be backwards compatible forever.

[2020-10-02 06:19] #3023 closed

[2020-10-02 06:33] mkielar commented on #3032
@abn Well, that's a bit complicated. We have a base image, and a pipeline image (which is also build from base). Then we build the aplication image using pipeline and base images in a two-stage dockerfile like this:

[code]

The base of all of this is `ubuntu:18.04`, and we're installing following tools in it:
[code]
and then in pipeline:
[code]

I'll try to create a SSCCE to reproduce this issue

[2020-10-02 07:30] benoit9126 commented on #3030
I have the same problem with git dependencies pointing on a specific branch.

[code]

[2020-10-02 07:32] atugushev commented on #3030
That's right. It's git submodules.

[2020-10-02 07:41] mkielar commented on #3032
Here it is:
[poetry.zope.interface.ssce.zip](https://github.com/python-poetry/poetry/files/5316541/poetry.zope.interface.ssce.zip)

Unzip, then run:
[code]

I've also added `-vvv` to `poetry install` for easier debugging. It now prints the full traceback too:
https://gist.github.com/mkielar/4cd81425618a56cffbbf184c968c61dd

[2020-10-02 07:42] andreevdanil opened #3043 "Poetry v1.1.0. IndexError: list index out of range"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **Ubuntu 18.04**;
- **Poetry 1.1.0**;

## Issue
Comma

[2020-10-02 07:57] lig commented on #3030
@finswimmer actually, it doesn't matter here why the paths are like that. This is a real-world scenario that works in 1.0.

Basically, what happens here is that there are two packages specified via relative paths. In case one of the packages specifies the path which is already specified in the root package as its local dependency poetry fails to resolve the dependencies.

The poetry 1.0 behavior w

[2020-10-02 08:09] cruzelante098 commented on #3013
I just realised that `poetry update` fails with the original error because a space in the path:

[code]

[2020-10-02 08:14] faylor opened #3044 "package = repository.find_packages(dependency=dependency)[0]"
Builds are now failing due to change in Poetry version 1.1.0:
At: exporter.py:76
Error: List index out of range.
Running bash command: poetry export -f requirements.txt

Works perfectly when revert to v1.0.10.

[2020-10-02 08:15] andreevdanil commented on #3044
Duplicate: https://github.com/python-poetry/poetry/issues/3043

[2020-10-02 08:17] faylor commented on #3044
Sorry, clearly dupe.

[2020-10-02 08:17] #3044 closed

[2020-10-02 08:22] abn commented on #3011
@finswimmer haha. Probably a smart plan.

As for the metadata, it is what is publish during dist upload by the publisher. Twine, poetry etc.

[2020-10-02 08:25] abn commented on #3043
Duplicate of #3018.

[2020-10-02 08:26] #3043 closed

[2020-10-02 08:29] abn commented on #3013
Looks like poetry is downloading the exe for some reason and pip doesn't like the exe. Can you raise a separate issue for that please? You can work around it by using a url dependency pointing to the zip file directly.

As for poetry update, if you have an older poetrg performing the update you will have the bug since well it is not updated yet. :)

[2020-10-02 08:31] cruzelante098 commented on #3013
Oh... I had forgotten that I was using 1.1.0rc1. Thank you.

Sure, I'll open a new issue. Thank you @abn

[2020-10-02 08:58] a-recknagel commented on #3018
Thanks for the quick fix, I just tested the new master and can confirm that it works =)

[2020-10-02 09:08] cruzelante098 opened #3045 "poetry fails to install pyreadline"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Windows 10 v2004
- **Poetry

[2020-10-02 09:15] #1614 closed

[2020-10-02 09:17] earshinov commented on #1614
How to use it? `poetry lock --no-update`?

[2020-10-02 09:19] nbraem commented on #3001
seeing this as well, workaround:
[code]

[2020-10-02 10:04] aaaaahaaaaa commented on #3016
@abn Any recommendation for a workaround while waiting for 1.2 to be released? This is currently breaking multiple of our pipelines.

[2020-10-02 10:28] abn commented on #3016
@aaaaahaaaaa we will be releasing a bug fix release `1.1.1` soon :)

[2020-10-02 10:37] xM8WVqaG opened #3048 "poetry lock has an issue with removing the marker caveat on certain packages"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: `Ubuntu 18.04 bionic`
- **Po

[2020-10-02 10:41] xM8WVqaG commented on #3028
@abn Thanks for the follow up to this but I have attempted `poetry lock --no-update` as suggested using poetry from the master branch and it didn't add the necessary information to `poetry.lock` to fix the `poetry install`.

All `poetry lock --no-update` did to the relevant section of of `poetry.lock` is:

[code]

It still fails with the same error:

[code]

[2020-10-02 10:43] xM8WVqaG commented on #3028
@abn Thanks for the follow up to this but I have attempted `poetry lock --no-update` as suggested using poetry from the master branch and it didn't add the necessary information to `poetry.lock` to fix the `poetry install`.

All `poetry lock --no-update` did to the relevant section of of `poetry.lock` is:

[code]

It still fails with the same error:

[code]

[2020-10-02 10:44] pgenevski commented on #76
@hectorpatino & others who may want to install GDAL or another binary wheel from a URL. Be aware that some web servers may block downloads based on e.g. the User-Agent header. So, even if you are able to download the file manually from the link, you may still encounter problems with the poetry URL dependency, e.g. "404 Client Error: Not Found for url".

A possible workaround is to download the whe

[2020-10-02 11:02] aaaaahaaaaa commented on #3016
@abn Any rought ETA?

[2020-10-02 11:07] matejcik opened #3049 "Relative `cache-dir` breaks the new installer"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Linux Mint 20, Python 3.8.2

[2020-10-02 11:13] matejcik opened #3050 "Unhelpful stack traces in `poetry install`"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Linux Mint 20, Python 3.8.2

[2020-10-02 11:26] sondrelg commented on #1316
I'm having this same issue.

@abn would you be able to provide a working example of your suggested workaround?

[2020-10-02 12:25] abn commented on #3048
@xM8WVqaG can you try #3051 please?

[2020-10-02 12:35] xM8WVqaG commented on #3048
Just tried the branch from your MR and I can confirm that I can no longer reproduce this issue.

Thanks for the quick turn around!

[2020-10-02 12:40] xM8WVqaG commented on #3028
I can confirm that MR #3051 (from #3048) fixes the `lock --no-update` failing to update the `source` block.

[code]

[2020-10-02 13:27] awilkins commented on #3020
They seem to acknowledge that even doing this is a bug in [this one](https://github.com/pypa/pip/issues/8214)

Adding `{ develop = true }` does fix my problem, I'm building Lambda packages and layers and my packaging script already de-references egg-links

[2020-10-02 13:28] voegtlel opened #3052 "poetry 1.1 fails to publish to artifactory (1.0.x was working)"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
  - I believe this issue is different from #2143, because it works in poetry version 1.0.x, but not any more in 1.1.0
- [x] If an exception occurs when executing

[2020-10-02 13:36] rudolfsberzins opened #3053 "Not able to publish to private Nexus repo using 'poetry publish -r nexus'"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **macOS Catalina 10.15.6**:
- **1.1.0**:
- **https://

[2020-10-02 13:37] rudolfsberzins commented on #3052
It seems we have the same issue - https://github.com/python-poetry/poetry/issues/3053

[2020-10-02 14:06] abn commented on #3052
The issue is caused because `package.sources` defined in the pyproject taking precedence over `poetry config repositories` values.

Workaround until `1.1.1` is to do the following. Note the suffix added to the repository names.
[code]

[2020-10-02 14:06] abn commented on #3053
Duplicate of #3052

[2020-10-02 14:16] abn commented on #3020
@awilkins closing this as it seems this might not be a poetry issue as things stand.

[2020-10-02 14:16] #3020 closed

[2020-10-02 14:39] adamgreig commented on #3029
Is there any chance of getting `get-poetry.py` to use `python3` when it exists, in preference to `python`, especially now that python 2 support will be deprecated? Maybe at least if `get-poetry.py` is itself run under `python3`? This has been an issue for _ages_ (#1042, #1257, #1494, #1878, #2106, #2222, #2352, #2547, among others); it was even briefly fixed in master until reverted by #2544. Ther

[2020-10-02 15:19] abn commented on #3016
@aaaaahaaaaa if the current open bugfix PRs get reviewed and verified,  this weekend. Otherwise early next week.

[2020-10-02 15:20] abn commented on #3045
@python-poetry/triage I am very curious why we downloaded the exe here:
[code]

[2020-10-02 15:48] abn commented on #1614
@earshinov yes, but it is bot yet available in a released version.

[2020-10-02 15:54] abn commented on #3023
@iksteen this wasn't meant to be a breaking change. The export behavior should have remained as is, but the changes in the lockfile meant that we had to resolve all dependencies without evironment markers available. This forced the change in this logic, however we weren't able to test all cases thoroughly since this was patched after rc.

So, if all had gone well this would have just worked with a

[2020-10-02 16:07] malcolmgreaves commented on #3011
Wow! Thank you so much for debugging this @abn 🙏  Does this mean that it is turicreate packaging & publishing error? (If so, I can file an issue on their GH page.)

[2020-10-02 16:19] abn commented on #3011
@malcolmgreaves i think filing an issue with the project is the right approach here. Tools like poetry rely on this metadata to work correctly.

[2020-10-02 16:20] abn commented on #3011
We should at some point write an FAQ about how to debug these issues.

[2020-10-02 16:21] #3011 closed

[2020-10-02 16:21] malcolmgreaves commented on #3006
@ketozhang My apologies -- I totally did not see the `poetry shell` and completely misunderstood!

[2020-10-02 16:24] ketozhang commented on #3006
No worries, as I've edited that in after your comment so your confusion was my fault

[2020-10-02 16:30] remram44 commented on #3023
The fact that the new lock files can't be read by the old Poetry is the breaking change.

[2020-10-02 16:41] abn commented on #3049
That should fix the specific issue.

An additional fix may be to resolve the cache-dir value when it is loaded in. However, not sure if there would be any unintentional side-effects in doing so.

[2020-10-02 17:40] alexifm opened #3054 "Poetry build using wrong virtualenv when installed with pipx?"
# System Info

- **OS version and name**: macos 10.15.6
- **Poetry version**: 1.1.0
- **Relevant pyproject.toml file contents**:

[code]

# Setup

Installed 1.1.0 with `pipx`:
[code]

Have a clean virtualenv with pyenv and Python 3.8.5:
[code]

# What happens

Building a wheel throws an error saying `numpy` isn't available
[code]

The logs say that poetry has detected the virtualenv and will use i

[2020-10-02 18:23] abn commented on #3054
Related issue is #2789

The python executable detected seems to be wrong as you have indicated. It should use the project venv.

[2020-10-02 18:31] Tadaboody opened #3055 "Pass --prompt to be project name"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Feature Request

Currently the prompt is either way too long in the case of generated global venvs, or useless in the case of `.venv`.
Vir

[2020-10-02 18:42] abn commented on #3055
Maybe project name name and python version might be appropriate.

[2020-10-02 18:56] Tadaboody commented on #3055
Saw you added `Good First Issue` - already implementing ^_^

[2020-10-02 18:57] abn commented on #3054
@alexifm can you try the fix at #3056 please?

[2020-10-02 19:00] Tadaboody commented on #3055
Also my gripe with having `{name} {version}` is that some prompts (like [starship](github.com/starship/starship) which I use) already display the python version :/
<img width="548" alt="image" src="https://user-images.githubusercontent.com/6463334/94959884-9e5a8680-04fa-11eb-99e6-3d72430386ed.png">

Actually I can configure that in starship so it's not that bad :U

[2020-10-02 19:06] alexifm commented on #3054
Looks good.  It's using the correct venv:
[code]

I take it that I `poetry build` should be run _after_ poetry install?  We have switched to using `pip wheel .` in CI pipelines instead which works for us and seems like it's the correct thing to do.

[2020-10-02 19:07] abn commented on #3055
The only reason why I mention the python version (atleast major and minor) is that majority shells do not have that :). The promt could just be something like `py37`.

This could in theory be also configurable in `poetry config virtualenvs.prompt {project}-py{python}`. See other configurations for using templates.

[2020-10-02 19:16] abn commented on #3054
Yes, we do not handle build-system requirements automatically at the moment, and that is intentional. #2789 is open to discuss this. Build scripts will be better supported going forward, right now it is till a hack. The first step will be to, ensure that the PEP 517 requirements get respected (https://github.com/python-poetry/poetry-core/pull/58), second we need to get the build happening in isola

[2020-10-02 19:22] #3053 closed

[2020-10-02 19:30] alexifm commented on #3054
Thanks for that reply.  I really appreciate it.  Makes a lot more sense now.  I barely understood the build systems before and was rather unsure about what exactly we had done to get Cython working with Poetry for our project.  But I'm now understanding 517 a lot more and how Poetry does things.  Sounds like a lot of good things in store as the project evolves.

(And because of not totally underst

[2020-10-02 19:49] abn commented on #3045
@cruzelante098 can you please try #3058 to resovle this issue please?

[2020-10-02 19:54] abn commented on #3054
Hah. That happens. A good tool is meant to be invisible, when it is not people get mad/frustrated. In any case, happpy that you are finding Poetry benifitial. Keep the bug reports (and even contributions) coming in. If you have questions regarding the build system etc, the [discord server](https://discordapp.com/invite/awxPgve) might be a good place to start.

[2020-10-02 20:11] andrew-zimmerman-rseg opened #3059 "Poetry 1.1.0 not able to use repository environment variable with private feed"
- [X] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [X] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [X] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Debian GNU/Linux 10
- **Poet

[2020-10-02 20:11] abn opened #3060 "📚 Contribute to documentation and frequently asked questions"
Hi there! This issue is a permanent issue dedicated as a placeholder to for documentation contributions. If you have questions talk to the community on our [discord server](https://discordapp.com/invite/awxPgve).

If you have a question about a particular issue, or pull rqeuest just tag @python-poetry/triage in a comment.

## Reference
- [Contribution Guide](https://github.com/python-poetry/poetry

[2020-10-02 20:22] klarose commented on #2102
I am seeing a further side-effect of this. I have a package which depends on some source-based python packages. When I install with `poetry install --no-dev`, some of those packages (a random selection) are not linked into the system path. Normally they would be.

The first thing the install does is remove a bunch of transitive dependencies of my dev packages, which were actually installed by the

[2020-10-02 20:28] abn opened #3061 "❤️ First time contributors"
Hi there! This issue is a permanent issue dedicated as a placeholder to for first time contributors. If you have questions talk to the community on our [discord server](https://discordapp.com/invite/awxPgve).

If you have a question about a particular issue, or pull rqeuest just tag @python-poetry/triage in a comment.

## Where do you start?
[Contribution Guide](https://github.com/python-poetry/po

[2020-10-02 20:32] malcolmgreaves commented on #3011
@abn I filed an issue https://github.com/apple/turicreate/issues/3342 and a PR https://github.com/apple/turicreate/issues/3342 to fix it on `turicreate`'s end. One of the project members is engaging on that GH issue thread about doing python version requirements in the package's published information. I think I'm a little out of my element commenting about "The Right Way" (tm) to do it -- if you h

[2020-10-02 20:42] kigawas commented on #3029
@adamgreig
That's why I've been using pip3 install poetry ;)

[2020-10-02 20:49] cruzelante098 commented on #3045
It works perfectly. Thanks @abn

[2020-10-02 21:05] abn commented on #3011
@malcolmgreaves done.

[2020-10-02 21:07] mbelang commented on #910
@sloev I just got the problem again and tried your solution and it works but I do not understand why it only started to happen with poetry 1.1.0.

our config before:
[code]

This worked for a while now. Since poetry 1.0.2 and it also worked with poetry 0.12.x up until poetry 1.0.10.

So why this has changed in 1.1.0?

[2020-10-02 21:11] abn commented on #910
With `1.1.0` there has been a rewrite of our installer. The reason why your old config worked, I believe is because of your repository configuration in `PIP_EXTRA_INDEX_URL`. Prior to `1.1.0` Poetry used pip to download artifacts to install. This is now managed by Poetry itself, thereby your pip global configuration will not be used at all.

https://python-poetry.org/blog/announcing-poetry-1-1-0.h

[2020-10-02 21:19] mbelang commented on #910
Ohhh that makes a lot of sens but this is very odd as I have the problem only inside docker build and not on my local machine :thinking:

[2020-10-02 21:27] abn commented on #3032
@mkielar first of all - thank you. For putting in the effort to provide (significant) amount of information to help us triage the issue better.

Now for the issue at hand. The problem is that the system `python` you use to create the virutalenvironment installs `pip` at version `9.0.1`. This is buggy to say the least. :) Upgrading it in the environment, or letting poetry create the environment for

[2020-10-02 21:27] #3032 closed

[2020-10-02 22:10] ginty opened #3062 "1.1.0 Does not resolve paths in dependencies correctly"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **Ubuntu**:
- **1.1.0**:

## Issue

First off, thanks

[2020-10-02 22:22] abn commented on #2102
@klarose are you using poetry to manage a system environment? When poetry creates an environment, only pip, wheel and setuptools will typically be present. Even in CI environments I'd recommend the use a virtual environment.

As for this issue, one option coule be to make it so that for `--no-dev` we do not remove anything, but only update versions that are changed. And current behavior could then

[2020-10-02 22:28] abn commented on #3062
With `1.1.0` Poetry no longer defaults to `develop = true` for path dependencies.

Please refer to https://python-poetry.org/blog/announcing-poetry-1-1-0.html#directory-dependencies-are-now-non-editable-by-default

In your case poetry attempts a PEP 517 build of your dependency, but since thats are relative files required for the build are not correctly copied, causing the error.

[2020-10-02 22:29] #3062 closed

[2020-10-02 22:39] ginty commented on #3062
Thanks a lot @abn, works perfect now!

[2020-10-02 23:34] sbreidbach-edr commented on #1316
We're in the same position with `pygeos` - we've tried setting `PIP_NO_BINARY` as suggested in #365 but still face the same errors.

[2020-10-02 23:57] abn commented on #1316
[code]

This will nto work with `1.1.0` as we no longer use pip as the backend to discover and download artifacts.

[2020-10-03 00:03] sbreidbach-edr commented on #1316
Fantastic!

[2020-10-03 00:10] malcolmgreaves commented on #3011
Thank you so much for your help! 🙏

[2020-10-03 02:14] moredatarequired opened #3063 "export fails with "list index out of range""
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Ubuntu 20.04.1 LTS (installe

[2020-10-03 03:57] willemt commented on #3059
I have the same issue. I removed `POETRY_REPOSITORIES_XXX` and added the following to my `pyproject.toml` as a workaround (I still use `POETRY_HTTP_BASIC_XXX_USERNAME`, `POETRY_HTTP_BASIC_XXX_PASSWORD` succesfully), thus it looks like the bug affects `POETRY_REPOSITORIES_XXX` (and `POETRY_REPOSITORIES_XXX_URL`) soley.
[code]

[2020-10-03 07:58] ricosuave73 commented on #3029
I'm having the same problem on Linux Mint. I have set my personal (.bashrc) to python 3 when using `python` as a command.
I have installed poetry using the get-poetry command using Python 3, but the installed poetry executable keeps referring to Python 2.7.
I have no idea how to circumvent this, and it also leads to errors when using PyCHarm with the poetry plugin. The warning confuses the PyCharm

[2020-10-03 08:44] schukerzheng opened #3064 "config [[tool.poetry.source]] are not working"
- **OS version and name**:  CentOS 7
- **Poetry version**: 1.1.0
- **Link of a [Gist](https://gist.github.com/) with the contents of your pyproject.toml file**:
[code]
## Issue
when I run `poetry add <package>`, pypi.org is still connected to. Trace is
[code]
such config file is worked correctlly under poetry version 1.0.10

[2020-10-03 09:07] #3064 closed

[2020-10-03 11:05] abn commented on #3063
Duplicate of #3018

[2020-10-03 11:05] #3063 closed

[2020-10-03 14:04] peldszus opened #3065 "Documentation missing for the cli action cache clear"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.

## Issue

The `cache clear` command is not yet listed, nor better described in the [CLI docs](https://github.com/python-poetry/poetry/blob/master/docs/docs/cli.md#cache).

## Related Issues

https://github.com/python-poetry/poetry/issues/521

[2020-10-03 14:06] Trim21 commented on #2027
I met this bug again in poetry==1.1.0 on windows.

![image](https://user-images.githubusercontent.com/13553903/94993591-a5e66200-05c4-11eb-983f-dd222a5a11e5.png)

[2020-10-03 14:10] peldszus commented on #2388
There you go: Issue #3065, PR #3066

[2020-10-03 14:10] MatheusR42 commented on #1985
I think that I get the same problem with networkx.

[code]

[2020-10-03 16:01] cuducos commented on #3016
For those with broken pipelines: downgrading to 1.0.10 (`poetry self update 1.0.10`) did the trick for me. So I can wait withj green pipelines until 1.1.1 is rolled out : )

[2020-10-03 16:18] juyoung-yoo commented on #858
1.1.0b2 has the same problem

[2020-10-03 19:51] billop commented on #2949
For me the fact that this is not default is the biggest pain point of using poetry across various machines, especially hosts where I don't have a HOME and I don't want to have to edit my bashrc just to set the right env var.

[2020-10-03 21:10] abn commented on #3059
@andrew-zimmerman-rseg I believe that your configuration is incorrect. You need to be using `POETRY_REPOSITORY_XXX_URL` not `POETRY_REPOSIOTRY_XXX`.

[code]

The `405` is is because the URL you have used cannot be used for publishing, that should be something like this.
[code]

Reminder that `POETRY_REPOSITORIES_XXX_URL` configuration is for publishing. The source section, as indicated by @willemt

[2020-10-03 21:10] #3059 closed

[2020-10-03 21:26] abn opened #3068 "publish: support url as argument to --repository option"
A common scenario when using poetry under CI environments is to rely on environment variables to perform a publish operation. For example,

[code]

We should improve this experience by support valid url's as arguments to the `--repository` option so that the above can be achieved like so.

[code]

[2020-10-03 21:36] MAX-EINSTEIN commented on #3068
@abn I m getting started on this.

[2020-10-03 21:37] abn commented on #1985
@MadHatt3rs this succeeds for me in `1.1.0`
[code]

@gaozhidf so does `pystray`

Regardig the assertion error, I agree this needs to be improved.
[code]

[2020-10-03 21:41] abn commented on #3068
@MAX-EINSTEIN thank you. You can submit a PR to master for this one. You can start by looking at the following:

- https://github.com/python-poetry/poetry/blob/master/poetry/console/commands/publish.py
- https://github.com/python-poetry/poetry/blob/04833bc42afc7ace61a471045cfface68141a7b6/poetry/publishing/publisher.py#L44-L51

Just need to check if it is a valid url first, also use the netloc (eg

[2020-10-03 21:49] abn commented on #2027
@Trim21 can you raise a new issue with some additional details please? Maybe a pyproject.toml, `-vvv` logs and how python was installed? I am particularly curious to see if the use of `PYTHONUSERBASE` has an impact on this as well.

[2020-10-03 21:50] Trim21 commented on #2027
@abn OK, I'll create a repo with github actions to reproduce it.

[2020-10-03 21:53] sobolevn commented on #2194
I am facing the same issue with the `1.1.0` release.

[2020-10-03 22:08] abn commented on #858
@claeyzre @juyoung-yoo  you cannot push to the `simple/` endpoint. The expected [upload api](https://warehouse.pypa.io/api-reference/legacy.html#upload-api) is typically `legacy/`. Obviously this can be different for different flavours of indices (artifactory, nexus, azure, bintray etc.).  This is not poetry specific, but rather what warehouse specifies. This also means some index implementations

[2020-10-03 22:08] #858 closed

[2020-10-03 22:12] abn opened #3069 "publish: raise an error on redirects due to trailing slashes"
This issue was originally brought up by @sztomi in #858, see referenced comments.

When encountering a `30X` error, requests library treats it as an "ok" response. And hence Poetry will not raise an error, but instead fail silently. We should report this error similar to any other `HTTPError` raised (#2285) and upload should fail.

Note that we do not want to explicitly allow redirects on POST req

[2020-10-03 22:24] abn commented on #2194
@sobolevn can you provide a bit more context please?

@yanoom I believe this was resolved in python-poetry/poetry#2000 for `1.0.6`. This was also resolved in python-poetry/poetry-core#28 and should be available in `poetry-1.1.0` via `poetry-core-1.0.0`.

If you are building the wheen under PEP 517, you should update your `pyproject.toml` to use the following.

[code]

[2020-10-03 22:39] abn commented on #3001
@fredrikaverpil I am unable to reproduce this in a clean environment,

[code]

[2020-10-03 23:14] abn commented on #3001
@fredrikaverpil these issues may be of relevance for you pypa/setuptools#2353 pypa/setuptools#2376 pypa/pip#6264.

[2020-10-03 23:15] abn commented on #2983
Alternatively, we should also keep an eye on https://github.com/FFY00/python-build

[2020-10-04 03:16] mburszley commented on #2063
@finswimmer That is not how it works unless something has changed in the 1.1.x releases.

[2020-10-04 03:17] gh640 opened #3071 "ModuleNotFoundError: No module named 'cleo'"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **Mac OS X / 10.14.6 / 18G5033**:
- **1.1.0**:

## Is

[2020-10-04 03:18] gh640 commented on #3071
`poetry -vvv` generates the following output:

[code]

[2020-10-04 04:58] klintan commented on #3023
I run poetry in Github actions, and run `poetry export -f requirements.txt > requirements.txt` for python-serverless-requirements. Since I run `curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python3` I got the latest version, which made it fail.

Tried to run `poetry lock`, `poetry update` and a range of other stuff before that command. Tried 1.1 branch as

[2020-10-04 05:58] gh640 commented on #3071
I needed to use Poetry soon and re-installed it.

[code]

The error has gone.

I hope this helps other people.

[2020-10-04 05:58] #3071 closed

[2020-10-04 06:01] laike9m commented on #3071
Same here

[2020-10-04 08:15] Yajo commented on #2921
Did you find any workaround for this?

[2020-10-04 08:20] sobolevn commented on #2194
@abn here's the full reproduction: https://github.com/dry-python/returns/pull/659

[2020-10-04 09:38] #3045 closed

[2020-10-04 09:38] #3054 closed

[2020-10-04 09:44] MAX-EINSTEIN commented on #3068
The tests failed because I m importing urlparse from urllib.parse. Is this project using python 2?

[2020-10-04 10:12] abn commented on #3068
Poetry at present supports Python 2.7 and 3.5+. Hence why compatibility calls need to be made. This will change soon, but until then you can use the compat module as seen [here](https://www.github.com/python-poetry/poetry/tree/master/poetry%2Finstallation%2Fauthenticator.py).

[2020-10-04 12:08] abn commented on #2194
@sobolevn am I correct in understanding that this was a plugin issue caused due to poetry's editable installs using dist-info insted of setuptool's `egg-link` mechanism for "develop" installs?

[2020-10-04 12:18] abn commented on #2921
@jeffcasavant @Yajo I am guessing this is still happening with `1.1.0` ?

[2020-10-04 12:20] abn commented on #2921
Relates: #2327 #2325

[2020-10-04 13:31] abn commented on #3023
@klintan can ypu provide a sample `pyproject.toml` that is failing please? If you could, please raise a new issue with the sample `pyproject.toml` along with the output of the command when run with  `-vvv`.

[2020-10-04 13:37] abn commented on #2063
@mburszley I cannot reproduce the reported issue.

[code]

Can you provide a sample pyproject.toml that is failing please? If you could, please raise a new issue with the sample pyproject.toml along with the output of the command when run with -vvv.

[2020-10-04 14:06] #3065 closed

[2020-10-04 14:37] sobolevn commented on #2194
Yes, exactly. We needed to add a hack around `MYPYPATH` to make this working again.

[2020-10-04 14:45] MatheusR42 commented on #1985
@abn , I was using version 1.1.0, but I realized that the problem is that I created a new project with same name of the package. I did this :sweat_smile: :
[code]

I tried with another project name and it works, thanks! :grin: I think that it is not a big problem, but will be nice if there is a warn message.

[2020-10-04 15:05] remram44 commented on #3023
Is there documentation on how one might test #3024? It seems that, to set up Poetry for development, I need a working Poetry already? Am I reading the contributing guide correctly?

[2020-10-04 15:20] remram44 commented on #3023
I can confirm that it does work for me (poetry `1.1.0-8-g32b01be`). I did not have to update my lock file (#3034).

[2020-10-04 16:02] abn commented on #2194
@sobolevn so I can close this issue then? Assuming there is nothing to be done on the poetry side since we are following standard mechanisms to load path into python site.

[2020-10-04 17:36] gaoming714 commented on #1972
@sztomi hi ,you can check the env, the poety need to get your "TERM"

[code]

For TERM = cygwin ,  you need to add --ansi to focus color it.
For TERM =  xterm, you are lucky.
I'm not clear the other values.

What is yours ?
here is my config.
![powershell_to_msys2](https://user-images.githubusercontent.com/7444968/95022653-2da69c00-06ab-11eb-910a-cd094e74fa95.png)

[2020-10-04 17:37] sobolevn commented on #2194
Yeap, this can be closed. Solution: use `MYPYPATH` env var or `mypy_path` option when `mypy` fails to detect your stubs.

[2020-10-04 17:42] sztomi commented on #1972
@gaoming714 TERM is not set in native windows terminals, that's a unix thing.

[2020-10-04 17:48] naveen521kk commented on #1972
I found the problem here. Poetry uses `cleo` which in turn uses `clikit` which in turn uses `pastel`. Where `pastel` doesn't support colours on Windows. The alternative is to use `colorama`, for colour.

[2020-10-04 18:35] amaralbf opened #3073 "poetry init fails when pyproject.toml exists and --dependency is specified"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Ubuntu 16.04 (Xenial)
- **Po

[2020-10-04 18:36] cjolowicz opened #3074 "1.1.0: export --dev does not include sub-dependencies"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: macOS 10.14
- **Poetry versi

[2020-10-04 18:42] cjolowicz commented on #3074
Note that this makes the requirements.txt unusable with pip:

[code]

[2020-10-04 20:26] brechtm opened #3075 "Poetry won't install 'wheel' package (1.0.10 -> 1.1.0 regression)"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- (N/A) If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Linux, MacOS, Windows
- **

[2020-10-04 21:32] #2194 closed

[2020-10-04 21:50] abn commented on #3075
@brechtm this was an intentional change introduced via https://github.com/python-poetry/poetry/pull/2814/commits/b92e68119c8f4a164c4c72081ed8bd3dd9479d2e since it is currently a base package in virtual environments.  The removal seems to happen because it is removed from the lock, since it is now an unsafe package. I need to check if we can make it safe without impacting anything.

The CI jobs you

[2020-10-04 22:01] abn commented on #3074
This was resolved with #3024.

[2020-10-04 22:01] #3074 closed

[2020-10-04 22:11] brechtm commented on #3075
What does it mean that wheel is a base package in virtual environments? That sounds like it is always available, without the need to install it. However, after a `poetry install` using 1.1.0, wheel is not installed in the venv (`poetry run pip list | grep wheel`).

After a `poetry update` (updates _virtualenv_ and _tqdm_), wheel is still not installed. Only after deleting the venv and another `poe

[2020-10-04 23:10] mburszley commented on #2063
@abn This was happening to me at work on a Win7 endpoint.  I'm on vacation, but I'll respond to the topic in a week.  I had to write a workaround that removed the line from `.gitignore` in my build script when running `poetry build -f sdist`.

This was on a fullstack web app project where the webpack bundle was being published into the flask app, then built from there.

[2020-10-04 23:47] abn commented on #2063
@mburszley no worries, just raise a new issue when you can and maybe tag `@python-poetry/triage`.

[2020-10-04 23:54] abn commented on #3075
That is what I would expect if you were using a cached venv created prior to `1.1.0`. The change in #2666 means that now we use `virtualenv` to create the environment, this will install `pip`, `setuptools` and `wheel`. Dropping `wheel` from `pyproject.toml` and regenerating the lock file, and also the enviornment should fix your issue. Wheel should be available in the environments **created** by `

[2020-10-05 00:00] abn commented on #1985
@sdispater can we get these, original issue and cyclic dependencies, propagated as a `SolverError`?

[2020-10-05 04:47] #3048 closed

[2020-10-05 04:57] finswimmer commented on #3029
Why do you want to do this? `poetry` can run with python2 and python3. Once we drop support for python2, the shebang will change to python3 only.

[2020-10-05 05:53] fredrikaverpil commented on #3001
Hm, a lot of people complaining about setuptools 50.0, but it all worked itself out fine on my end by using the following:

[code]

Does the above not make use of setuptools?

[2020-10-05 06:16] djerraballi commented on #2270
shared dependencies are very useful, but might make sense to inherit some of the logic from Maven regarding the shared block:

1. Allow definitions of dependencies and versions in a shared block
2. only pull them into the package if that dependency name is explicitly used in the dependency. In this way we can define standard versions for certain dependencies across all packages, but not require al

[2020-10-05 06:43] brechtm commented on #3075
Note that the issue was not fixed by deleting the venv and then doing a `poetry install`. In the CI jobs I referenced above the cached venv was not restored (because poetry.lock was changed), so these were also fresh installs.

[2020-10-05 06:47] adam-grant-hendry opened #3077 "Poetry Never Updates pywin32"
- [x ] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Windows 10, version 1909
-

[2020-10-05 06:52] adam-grant-hendry commented on #3077
Reverting `poetry` to version `1.0.10` resolves this issue, but it is still uncertain to me why this occurs with version `1.1.0`.

[2020-10-05 07:18] NovemberOscar opened #3078 "poetry install: `--no-ansi` uses non-ascii character ( `•` - `\u2022` - `BULLET`)"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Ubuntu 16.04 on Docker
- **P

[2020-10-05 08:10] agoose77 opened #3079 "PermissionError installing root package in 1.1.0"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Docker (Ubuntu 20.04)
- **Po

[2020-10-05 08:29] abn commented on #3079
Verified against the 1.1 branch.

[code]

[2020-10-05 09:22] Fuzi0n commented on #3078
I confirm this issue with ``

[2020-10-05 09:27] mtkennerly commented on #3001
@abn Those tickets are from a month ago, but I saw this issue start happening specifically within the last week in a GitHub Actions workflow, without any code changes in between.

* No issue (2020-09-27): https://github.com/mtkennerly/poetry-dynamic-versioning/actions/runs/275347882
* Issue began (2020-10-03): https://github.com/mtkennerly/poetry-dynamic-versioning/actions/runs/287057357

It occur

[2020-10-05 09:56] abn commented on #3078
@NovemberOscar have you seen https://github.com/python-poetry/poetry/issues/1427#issuecomment-537260307? I am curious if the root cause is the same here.

[2020-10-05 09:58] mr-bjerre opened #3082 "Using path dependency on a package that also uses path dependency breaks"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: macOS Catalina 10.15.7
- **P

[2020-10-05 10:01] NovemberOscar commented on #3078
Oh. I never seen it before when I searched issue 🤔 I seems very similar (docker, encoding, clikit...) I will check again soon :)

[2020-10-05 10:08] floi commented on #2475
I had a similar issue with a dependency from a private Gitlab repository that used SSH for cloning (same `CalledProcessError`). When testing in a local Docker container, I noticed that I had to actively confirm the server fingerprint. As git has no option for automatically doing that, I solved poetry's installation of dependencies in the Gitlab CI container by adding the fingerprint to `~/.ssh/kno

[2020-10-05 10:13] abn commented on #3082
With `1.1.0` Poetry no longer defaults to `develop = true` for path dependencies.

Please refer to https://python-poetry.org/blog/announcing-poetry-1-1-0.html#directory-dependencies-are-now-non-editable-by-default

In your case poetry attempts a PEP 517 build of your dependency, but since thats are relative files required for the build are not correctly copied, causing the error.

[2020-10-05 10:17] mr-bjerre commented on #3082
Thanks for the answer @abn . But shouldn't I be able to install the packages in non-development mode as well? I might be wrong about this of course.

[2020-10-05 10:24] abn commented on #3082
Well, you should be yes. However, this will depend on your project specification and the dependencies you include.

For example, if `a (/path/to/a)` depends on `b (/path/to/a/b)`, and `b` in turn depends on, `c (../c)`. With `c` being located at `/path/to/a/c`.

When you install `a`, poetry detects `b` as a dependency. And since, the dependency is now `develop = false`, a PEP 517 isolated build is

[2020-10-05 10:28] mr-bjerre commented on #3082
That makes sense. Thanks for the insights !

[2020-10-05 10:28] #3082 closed

[2020-10-05 10:29] GrzegorzBachBCG commented on #1251
Reinstall python with "install for all users" option.

https://stackoverflow.com/a/62207756

[2020-10-05 11:01] MichaelAquilina commented on #2623
FWIW this may have been fixed in poetry 1.1.1 @sdispater

[2020-10-05 11:19] abn commented on #3077
Have you tried re-creating the virtual environment?

[2020-10-05 11:22] ricosuave73 commented on #3029
Poetry returns a warning. This warning messes with some integrations like the PyCharm plugin. I imagine some other automated tools using poetry will break on this as well. There is another issue IIRC that asks for a way to suppress this warning for this reason.

[2020-10-05 11:26] PetterS commented on #3010
There are also other issues with the parallel installation: see #2658.

[2020-10-05 11:53] pietrodn opened #3084 "Error in "poetry config" when Poetry is not configured in pyproject.toml"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: macOS 10.15.7
- **Poetry ver

[2020-10-05 11:54] tamuhey opened #3085 "Changing `develop` option is not reflected"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [ ] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Mac OS X 10.14.6
- **Poetry

[2020-10-05 11:56] pietrodn commented on #3084
This is similar to #3073 but for a different Poetry command.

[2020-10-05 12:24] ponas opened #3086 "Editable installs sometimes cannot be imported (poetry 1.1.0)"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Fedora 32 (also reproduced w

[2020-10-05 12:41] Ver1Sus opened #3087 "key for sequential installation"
The new version of Poetry 1.1.1 installs dependency parallel - but this feature broke my programm

I use `websocket` and `websocket-client`, where `websocket-client` extends `websocket` by replacin  `__init__.py` and redefines WebSocket class, adding ssl support.

In version 1.0.0 I installed `websocket` -> `websocket-client`, but now, in CI during rpm creation, the libraries were installed as `we

[2020-10-05 12:45] danieleades commented on #2920
i was doing something like this and decided to throw in a `print` to double-check the interpreter version. I found that is was using the version installed by Poetry (3.8 for me) in every case, regardless of the version configured in the Nox session. Can you confirm whether you see the same behaviour?

[2020-10-05 13:10] jeffcasavant commented on #2921
This seems fixed in `1.1.1` @abn .  I'm curious if @Yajo is still having the issue, but I am now seeing both the `.venv/src` checkout and the `poetry.lock` updated when I do a `poetry update <git dependency>`.

[2020-10-05 13:12] klarose commented on #2102
FWIW, it turns out that my workaround doesn't work consistently, so I wouldn't go with it.

@abn  I'm trying out a venv now to see if it helps. The reason we decided not to do that before is that it just seems like an extra bit of overhead when we're running in a container whose purpose is already quite similar to a venv.

[2020-10-05 13:32] layday commented on #2920
You could do something like this:

[code]

The issue with this is that it introduces all of Poetry's dependencies in the test session's virtual env.

[2020-10-05 13:43] layday commented on #2920
You could also use [nox-poetry](https://github.com/cjolowicz/nox-poetry) which exports a requirements file with Poetry and defers to pip for installing packages.

[2020-10-05 14:18] bnavigator commented on #1645
For reference: This is no longer necessary with 1.1.1. The test moved to poetry-core. `git init` helps there.

[2020-10-05 14:25] abn commented on #3087
@Ver1Sus shouln't websocker-client depend on websocket? Or does it still order incorrectly when this is already the case?

[2020-10-05 14:27] mchesterkadwell commented on #3086
I am experiencing the same issue since the release of 1.1.1 (couldn't reproduce myself on 1.1.0).

My Docker image build has 5 git repos pulled in by SSH from Bitbucket. Poetry reports they are installing, but after running `pip list` in a container built from the image it shows one or more of them will not actually be installed, seemingly at random. I have run the build multiple times and each ti

[2020-10-05 14:47] Yajo commented on #2921
It seems the problem is reproducible when a pypi package is upgraded to a git package. Example:

<details><summary>pyproject.toml</summary>

[code]

</details>

<details><summary>poetry.lock</summary>

[code]

</details>

Notice this line:

[code]

I'm going to test questionary. I was trying to update from git to get a patch that wasn't released yet (it is now, but it still can be used to test thi

[2020-10-05 15:04] ponas commented on #3086
A temporary workaround is to disable the new installer with:
`POETRY_EXPERIMENTAL_NEW_INSTALLER="" poetry install`
or
`poetry config experimental.new-installer false`

[2020-10-05 15:11] klarose commented on #2102
Okay. venvs didn't work as well. Clearly something else is going on.

[2020-10-05 15:28] klarose commented on #2658
This is also causing issues with source packages. I'm installing source packages from our self-hosted git repo, and there is a clear race condition when using the new installer. I originally blamed #2102, but after some experimentation determined that the issue was unrelated to that.

My symptoms are that some of my source packages do not exist in my environment after doing the install. The happen

[2020-10-05 16:10] ahobsonsayers commented on #2740
With the new poetry 1.1.0 release i have found in my projects that my line: `script = "build.py"` no longer works and an error is thrown if i try to install the tarball that build.

Seeing this issue, i modified my pyproject.toml to use the poetry-core build-system and added the following lines. Now everything seems to be working again.

[code]

Is this the intended behaviour? Is now the new metho

[2020-10-05 16:16] abn commented on #2658
@klarose this was, funnily enough, brought up on discord a few hours ago via #3086.

I'd like to treat the issue being discussed here slightly separate to the issue you have raised as they are different enough to warrant separate solutions.

The `1.1` bug fix might be to, as @PetterS suggests, serialise the uninstalls and installations that use `develop` mode. However, the `1.2` fix, should be foc

[2020-10-05 16:18] br3ndonland commented on #1338
`py.typed` now appears to be properly included after packaging [my project](https://pypi.org/project/inboard/) with Poetry 1.1.0 and poetry-core 1.0.0.

[code]

To verify without affecting your PyPI package, you can publish to [Test PyPI](https://test.pypi.org/) as described in the [PyPA tutorial](https://packaging.python.org/tutorials/packaging-projects/).

Thank you to @abn and the other maintai

[2020-10-05 16:19] abn commented on #3086
This is also causing issues with source packages. I'm installing source packages from our self-hosted git repo, and there is a clear race condition when using the new installer. I originally blamed #2102, but after some experimentation determined that the issue was unrelated to that.

My symptoms are that some of my source packages do not exist in my environment after doing the install. The happen

[2020-10-05 16:25] abn commented on #3086
This was also discussed on the discord server. Effectively, the issue is a race condition, when packages (here, vcs packages) are installed. These are by default installed with `develop = true`, and in this mode these packages end up executing `python setup.py develop` simultaneously in some cases. And since both these operations execute writes to `easy-install.pth` we end up non-deterministic beh

[2020-10-05 16:27] abn commented on #1338
@bdoms safe to say original issue is resolved?

[2020-10-05 16:30] abn commented on #2740
@ahobsonsayers you will still probably also need https://github.com/python-poetry/poetry/issues/2740#issuecomment-665073135.

[2020-10-05 16:50] ahobsonsayers commented on #2740
Sorry, yes, it seems  I missed that line in my copy and paste of the lines. So is it intended for the `script = "build.py"` under `[tool.poetry]` to be deprecated and no longer work?

[2020-10-05 17:23] djerraballi commented on #697
Having a command that woudl explicitly drop conflicts to "Warnings" instead of failing the install would be great for a lot fo reasons.

Unfortunately in the python ecosystem, there are a lot of great libraries with terrible terrible setup.py configurations. Versions requirements that are far too strict, that impede development.

I think it makes the most sense that when a package is explicitly pr

[2020-10-05 17:37] abn commented on #2740
@ahobsonsayers I would have expected the old configuration to have worked even if it was depreciated. However if you have both `[tool.poetry.build]` and `tool.poetry.build = "build.py"` it would fail.

[2020-10-05 18:47] #3022 closed

[2020-10-05 18:47] #3052 closed

[2020-10-05 18:47] #3073 closed

[2020-10-05 18:52] finswimmer commented on #2623
Thanks for your response @MichaelAquilina. So I'm closing this. If someone disagree, just leave a comment.

[2020-10-05 18:52] #2623 closed

[2020-10-05 19:08] finswimmer commented on #3084
Looks like this is fixed by https://github.com/python-poetry/poetry/pull/3076 and is already included in poetry 1.1.1.

[2020-10-05 19:09] #1645 closed

[2020-10-05 19:28] nextmat commented on #2458
I've run into a lot of friction with this as well. To @anaulin's point, this behavior tends to confuse other folks when I introduce poetry into a project and I feel like it is a hindrance for broader adoption.

A per-project config option to set this makes a lot of sense to me since you generally either want the behavior or don't and it is unlikely you will be switching back and forth.

Is there a

[2020-10-05 20:09] andrew-zimmerman-rseg commented on #3059
It does look like my issue was due to setting the environment variable like `POETRY_REPOSIOTRY_XXX` and not the correct way of `POETRY_REPOSITORY_XXX_URL`.

Does it make sense to make note of this in the documentation? In reading through https://python-poetry.org/docs/configuration/#using-environment-variables it would not be obvious to me that I would need to append "_URL" to this environment var

[2020-10-05 21:03] ginty commented on #3085
I came here to say the same thing.

I expect that with `develop=true` a link will be created to the given path, such that when the files are updated they are automatically reflected in the parent app.

That works fine on `1.0.10` (without develop=true) but on `1.1.0` the dependency is copied into the virtualenv so that updates to the original source have no effect, even with `develop=true`.

[2020-10-05 21:12] ginty opened #3090 "Dependency install issue with 1.1.0 on Windows CI, fixed by experimental.new-installer=false"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [ ] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **Windows (Travis CI)**:
- **1.1.0**:
- **Link of a [

[2020-10-05 22:03] abn commented on #3090
@ginty think this is a duplicate of #3045. Can you try Poetry `1.1.1` please?

[2020-10-05 22:52] abn commented on #3085
@ginty that is what happens. The dependency is not copied, but installed as an editable dependency. However, since we do not use the `egg-link` hack, `pip` will not show it as a "develop" depenency.

@tadeoos am I correct in assuming that your scenario is an existing virtual environment created using `1.0.10`? If so you will have to either re-add the dependency or re-create the virtualenvironment

[2020-10-05 23:44] adam-grant-hendry commented on #3077
Recreating the venv, I still have the error. Not working now with 1.0.10 either.

[2020-10-05 23:56] adam-grant-hendry commented on #3077
Occurs in version 1.1.1 as well.

[2020-10-06 00:53] TimOrme opened #3092 "Poetry 1.1.0 erroneously warns about out of sync poetry.lock and pyproject.toml"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Debian Buster
- **Poetry ver

[2020-10-06 02:46] adamf commented on #2725
This is also breaking our upgrade to 1.1.0 - we install a package in editable mode so we can, later in a docker build step, inject built protocol buffers into that package. Without editable mode this process breaks. Any ideas how to work around it in 1.1.0 series?

[2020-10-06 02:56] NovemberOscar commented on #3078
@abn Thanks for letting me know! after I fixed container locale, poetry install succeed.

But as you know, most people don't specify locale in Dockerfile. Using `BULLET` is likely to cause problems for many people using poetry on docker(or any ascii only environment), so I suggest going back to dash symbol as it used to be.

[2020-10-06 03:29] tamuhey commented on #3085
No. The venv is created by poetry v1.1.1

Ok, I'll deal with it that way for now.

[2020-10-06 03:32] tamuhey commented on #3085
One question: Changing the default value for `develop` breaks backwards compatibility (e.g. in case of using symlink). Why this change is introduced in `v1.1`?

[2020-10-06 03:56] juyoung-yoo opened #3093 "poetry build wheel file. not found top_level.txt"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: MacOs 10.15.6

- **Poetry ve

[2020-10-06 04:32] finswimmer commented on #3093
Hello @juyoung-yoo,

what is this `top_level.txt`? I cannot found anything about in [PEP 491](https://www.python.org/dev/peps/pep-0491/) which poetry follows when creating a wheel. I found some reference with google, but I'm not sure what is this file for and where it comes from.

fin swimmer

[2020-10-06 04:38] finswimmer commented on #2725
Hello @adamf,

the editable mode still works. The default behavior has changed. So if you define a path dependency, you have to set the `develop` key to `true` explicit:

[code]

[2020-10-06 04:42] finswimmer commented on #3092
Hello @TimOrme,

whenever you see such warning, you should run `poetry lock` to make sure, your `poetry lock` is up to date. Also please update to poetry 1.1.1 Unfortunately there were some bugs in the 1.1.0 release around locking and exporting.

fin swimmer

[2020-10-06 04:57] kkozmic opened #3094 "Poetry 1.1.x breaks mypy in a project with source dependencies"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: MacOS 10.16.5
- **Poetry ver

[2020-10-06 05:32] finswimmer commented on #3094
Hello @kkozmic,

is this related: https://github.com/python-poetry/poetry/issues/2194#issuecomment-703246165 ?

fin swimmer

[2020-10-06 05:43] kkozmic commented on #3094
hey @finswimmer

Yeah, I looked at that solution, but if I understand it correctly, `mypy_path`/`MYPYPATH` adds other paths to scan by mypy.

That's not what I want - I want those additional dependencies to be treated as dependencies, not as my project code.

Additionally, running mypy with `mypy_path` added fails as it ignores these projects' own mypy settings. Trying to make my project's setting

[2020-10-06 06:15] Ver1Sus commented on #3087
Should, but it doesn't) I fixed this, by using `poetry config experimental.new-installer false` before `poetry install` - and installation become consistent.

So, this issue may be closed, but maybe need add some feature in `pyproject.toml` to set prioritet on the installed packages

[2020-10-06 06:16] TimOrme commented on #3092
Running `poetry lock` seems to have no effect unfortunately.  I also see the same issue in 1.1.1 as well.

[2020-10-06 06:20] TimOrme commented on #3092
Here's the console output:

[code]

Interestingly, I only see this happen in the docker container with debian jesse.  I don't see the same issue occur on my mac.  It's unclear if thats strictly an OS issue or other dependency in the environment.

[2020-10-06 07:01] pietrodn commented on #3084
Actually, I tested this bug on Poetry 1.1.1 and it is still there:

[code]

[2020-10-06 07:09] PetterS commented on #3086
Since there seems to be several issues with parallel install/uninstall in 1.1, perhaps it would make sense to disable parallel execution by default until it is fixed in 1.2?

[2020-10-06 07:11] abn commented on #3078
This is not really a poetry specific issue. And we use non ascii characters elsewhere too.

https://click.palletsprojects.com/en/5.x/python3/#python-3-surrogate-handling

The issue here is the Ubuntu container. Additionally, this is a non issue for python 3.7.

[2020-10-06 07:12] #3078 closed

[2020-10-06 07:15] abn commented on #3086
@PetterS you can disable the new installer easily at the moment. And the only real issue at the moment is the develop install at the moment. I'd much rather resolve or mitigate that, than simply disable parallel all together.

[2020-10-06 07:20] PetterS commented on #3086
It isn't really documented but for anyone finding this issue and wondering how to do it, here is a command:
[code]

Several people are having trouble with parallel installation. I would not say that the "only real issue" is the develop install since the uninstalls crashes as well.

Sure, of course it would be nice to mitigate or fix, but 1.1 is a stable versions which people are using for real thi

[2020-10-06 07:41] abn commented on #3094
@kkozmic I am guessing in this scenario your dependencies are poetry projects installed with `develop = true`? If so, they should be still written to `package-name.pth` instead of `easy-install.pth`

[2020-10-06 07:42] abn commented on #3094
Just read your pypt, this is actually https://github.com/python-poetry/poetry/issues/3086.

[2020-10-06 07:54] kkozmic commented on #3094
OK? I saw that issue before submitting this one, and it looked related, albeit concerned with race conditions whereas my problem is broken mypy.

We've got `tag = something` and `branch = something`. Not sure how that affects things.

[2020-10-06 08:00] kkozmic commented on #3094
I tried it with `poetry config experimental.new-installer false --local` and that doesn't seem to affect this particular problem. Only rolling back to v1.0.10 fixed it

[2020-10-06 08:30] ginty opened #3096 "Updates to develop dependencies are not applied by 1.1.1"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [ ] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **Ubuntu**:
- **1.1.1**:
- **Link of a [Gist](https:/

[2020-10-06 08:31] ginty commented on #3085
Thanks for the quick replay @abn. I don't really understand what you mean, however, as this may be going off on a tangent from the original thread I've opened #3096 for further discussion on it.

[2020-10-06 08:53] abn commented on #3094
@kkozmic I was on my mobile. So looking at the `mypy` code; it seems they should really be [loading all `pth` files](https://docs.python.org/3/library/site.html) as `easy-install.pth` is only guaranteed by `setuptool` installs and as a consequence `pip`. In a PEP 517 world; this is a broken assumption I feel.

[2020-10-06 08:56] MarcoGlauser opened #3097 "Duplicate entries when running poetry update --dry-run"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [ ] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Ubuntu 20.04
- **Poetry vers

[2020-10-06 09:34] goofiva opened #3098 "Nested relative directory dependency failing to resolve."
- [X] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [X] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [X] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: 10.15.7 macOS Catalina
- **P

[2020-10-06 09:45] ginty commented on #3098
I think this may be because you now need to add `develop = true` to path dependencies, see #3062

[2020-10-06 09:50] goofiva commented on #3098
😑 I could have sworn I did a thorough search for your ticket... Thanks @ginty! 😅

[2020-10-06 09:50] goofiva commented on #3098
😑 I could have sworn I did a thorough search for your ticket... Thanks @ginty! 😅

[2020-10-06 09:55] abn commented on #3086
@ponas @mchesterkadwell can either of you verify that the fix in #3099 resolves the issue?

[2020-10-06 10:07] kkozmic commented on #3094
Right, so you're basically saying it's more or a mypy bug than Poetry.

I'd have to put something together from scratch as obviously I can't use our production code. I'll look into it over the cming weekend

[2020-10-06 10:17] ginty commented on #3098
No probs @goofiva.
Btw, interested to hear if you see development dependencies actually working or not? While this did solve the same installation error for me, I now see that when I edit the source code of such a dependency it does not get updated in the parent app.
I opened this ticket for it - https://github.com/python-poetry/poetry/issues/3096
Cheers!

[2020-10-06 10:26] abn commented on #3094
Yes. However, if there is anything we can do to keep things compatible, I am happy to look into it. We can, at least for `1.1` play nice and write to `easy-install.pth` as well if there are no undesired side-effects.

Awesome. That would make things easier to triage/decide.

[2020-10-06 10:33] goofiva commented on #3098
@ginty I am seeing the same thing as #3096 as well. Furthermore... I may have spoken too soon with this ticket I made here too. Not sure how to describe this issue I'm having just yet.

[2020-10-06 10:35] abn commented on #3096
@ginty I tried to reproduce this; no luck.

[code]

[2020-10-06 10:35] kkozmic commented on #3094
Awesome, and I appreciate it 👏

[2020-10-06 10:55] ginty commented on #3090
@abn, I confirm that 1.1.1 fixes this, thanks!

[2020-10-06 10:55] #3090 closed

[2020-10-06 11:05] goofiva commented on #3098
I bumped into this error when the dependencies are a bit more complex, see this public repo for details.

https://github.com/goofiva/poetry-directory-dependency

[2020-10-06 11:08] ginty commented on #3096
Thanks for that @abn.
I can confirm that on my setup a similar simple test also works fine.

However on a larger project, it does not work consistently.
In my project I have two development deps:

[code]

And it seems that the `python_plugin` one does update as expected, while the `origen` one does not.

Looking at the virtualenv, I can see that the one that works seems to have been installed with

[2020-10-06 11:32] ponas commented on #3086
@abn Unfortunately, this did not resolve the issue. I tried verifying by installing the same test project as before using your branch:
[code]

[2020-10-06 11:35] beanaroo commented on #1937
It appears the latest relevant PR is https://github.com/python-poetry/poetry/pull/2682

[2020-10-06 11:40] kkozmic commented on #3094
So I got carried away and created a reproduction @abn

[code]

This should work under Poetry 1.0.10 and fail under 1.1.1 with the error from OP.

[2020-10-06 12:01] abn commented on #3086
@ponas was this with a clean venv?

[2020-10-06 12:20] abn commented on #3086
@ponas can you try again please?

[2020-10-06 12:29] ponas commented on #3086
@abn Your latest commit solves my issue. Thanks for looking into this! :-)

[2020-10-06 12:29] abn commented on #3096
Couple of questions;

1. Does a project with **only** `origen` work as expected?
2. Is `origen` a `setuptools` project?
3. Does the lock file specify `origen` is in `develop = true` mode?

[2020-10-06 12:43] ginty commented on #3096
Hi @abn, here you go:

Yes it does, if I comment out the `python_plugin` line the `origen` gets installed as a develop dependency correctly. This is very consistent, un-commenting it again re-creates the error again.

No, it is a Poetry (?) project. Here it is if you want to see it - https://github.com/Origen-SDK/o2/tree/master/python

No, this correlates with the error. When toggling it back and

[2020-10-06 13:10] pepastach commented on #3041
We hit exactly the same problem with **poetry** 1.1.1 and **pypicloud** 1.0.10.
The way I understand it, this can't be solved by **pypicloud** upgrade. Here's my reasoning:

1. **poetry** makes a call to **pypicloud**
2. **pypicloud** returns a pre-signed URL pointing to our S3 bucket (the URL already contains AWS access key and token)
3. **poetry** makes a GET request (using **requests** library)

[2020-10-06 13:28] lig commented on #3098
Looks related to #3030

[2020-10-06 13:29] pepastach commented on #3041
**pypicloud** 1.0.11 introduced the ability to stream files through pypicloud. By briefly looking at the diff, it seems like we can configure **pypicloud** with [`pypi.stream_files = True`](https://github.com/stevearc/pypicloud/compare/1.0.10...1.0.11#diff-8e7ab5cd99f95fb9b5ca92506caaacaeR102). **pypicloud** should then return the package file directly instead of redirecting to S3.

We'll try pypi

[2020-10-06 13:35] KyleKing commented on #2643
Just following up, the latest poetry 1.1.1 version won't let me use dependencies on mounted drive locations. Can I help make code changes? What is the plan to address this use case?

[2020-10-06 13:41] lgelmi opened #3102 "Fail resolving nested git dependencies 1.1.*"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Ubuntu 18.04 and MacOs 10.15

[2020-10-06 13:59] 2m commented on #3030
We noticed a similar issue with poetry `1.1.0` and `1.1.1` (`1.0.10` works fine).

We have a `root-project` that depends on `helper` and `lib`. `lib` also depends on `helper`. All of the dependencies are `git="..." rev="..."` pointing to the same revision.

The error we get is:
[code]

Note that poetry reports that both dependencies are the same:

But it still reports `SolverProblemError`.

[2020-10-06 14:02] DustinMoriarty opened #3103 "Poetry using home folder pyenv version instead of current directory."
I am unable to get poetry to create an environment using the correct python version if there is a pyenv local version set in the home directory. Please see the output below.

I want poetry to use python 3.6.11 set by pyenv. However, it is using 3.6.9.

What python is available outside of poetry for 3.6?
[code]

What python is poetry using for 3.6?
[code]

Here is what pyenv sees outside of poetry.

[2020-10-06 15:04] RixzZ commented on #2894
I had this same problem. It seems it only happens when you have a whitespace in the value of 'name' in the pyproject.toml.

[2020-10-06 15:20] pawamoy opened #3104 "AttributeError: Table object has no attribute decode in urllib parse"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

---

- **OS version and name**: Red Hat Enterprise Linu

[2020-10-06 16:00] #2894 closed

[2020-10-06 16:14] ginty commented on #3096
Hi @abn, that does fix it, both install now with develop enabled, thanks!

[2020-10-06 16:16] abn commented on #3102
@lgelmi can you try #3105 pelase?

[2020-10-06 16:55] abn commented on #3030
This is expected behaviour. In `1.0` the resolution was incorrectly performed for nested path dependencies. This meant that, if you had `./deps/package2` and `./deps/package1/deps/package2` when `./deps/package1` metadata was inspected while resolving for your root project, build **incorrectly** selected `./deps/package2` instead as a dependency of `package1` when it should have  selected, `./deps

[2020-10-06 16:56] abn commented on #3030
@2m is your scenario multiple copies of submodules as well? If not, could you please try the fix at #3105 ?

[2020-10-06 17:44] benoit9126 commented on #3030
@abn I agree with you with *path* dependencies: two different paths must be considered as two different dependencies.

Nevertheless, with the example of @2m, the dependency is the same git repository at the same revision... It must be considered as the same dependency and be valid. Idem with git dependencies pointing to the same branch on the same repository.

[2020-10-06 17:49] abn commented on #3030
The question is how they are included. Hence why my comment above asking for clarification. Submodules are path dependencies, not git dependencies from a poetry/pep-508 perspective.

[2020-10-06 18:01] benoit9126 commented on #3030
I can not answer for @2m but I have troubles with git dependencies of the form `library = {git="git@github.com:organization/repository", branch="..."}` and there are no submodules at all.

Thanks!

[2020-10-06 18:04] mikenerone commented on #2458
There is an extremely common misunderstanding of virtualenvs that I think is what has lead to this request. A virtualenv is, _by design_ independent of (almost) everything outside of it by default. You should have no dependence on your modules being importable simply because they happen to be in your current directory. What could be more environment-sensitive than that? :P This has harmful effects

[2020-10-06 18:18] 2m commented on #3030
In my case all dependencies are provided as git dependencies, like so:
[code]

I will try the fix provided in #3105 a bit later and will report back.

[2020-10-06 18:28] rajuah commented on #3077
I see this as well starting with version `1.1.0`
Updating to `1.1.1` didnt resolve the issue

[2020-10-06 18:50] 2m commented on #3030
Tried poetry from #3105 and still got the same error as in https://github.com/python-poetry/poetry/issues/3030#issuecomment-704288487

[2020-10-06 19:02] abn commented on #3030
@benoit9126 @2m can we capture the git dependency issue in another issue please? Would be great to have an example project as well.

[2020-10-06 19:09] abn commented on #3079
@agoose77 can you try #3107 please?

[2020-10-06 19:19] finswimmer commented on #3084
Ok, I can reproduce it, when there is a pyproject.toml, but not if there is not such a file.

[2020-10-06 19:26] egnor commented on #2458
With all due respect, @mikenerone, I disagree a bit with your analysis. (I would like to gently point out that your tone lands as a bit condescending, which I presume you don't intend; you strongly imply that a lack of technical proficiency is the only reason for disagreement on this issue. _Please consider_ alternative ways to highlight assumption mismatches; thank you!)

First, you seem to be as

[2020-10-06 19:59] #2658 closed

[2020-10-06 19:59] #3098 closed

[2020-10-06 20:01] mikenerone commented on #2458
Indeed, no disparagement is intended. If I feel it's a misunderstanding, I also acknowledge that it's a super common one (almost always one of the first corrections with new hires), and also that I had the same misunderstanding myself at one time. If there's a fault, it falls with documentation regarding virtualenvs, not the developer community at large.

[2020-10-06 20:03] adam-grant-hendry commented on #2027
Same issue

[2020-10-06 20:06] adam-grant-hendry commented on #2027
@Trim21 Is there a link to your repo?

[2020-10-06 20:09] adam-grant-hendry commented on #2027
@cordery Also confirm this was due to a bad egg for me. I deleted the `.egg-info` folder, recreated my `venv`, and reran `poetry install` with my existing `toml` and it worked.

[2020-10-06 20:12] abn commented on #2027
@adam-grant-hendry; yes I think this is because we moved to a in-tree editable installer (1.1) rather than relying on setuptools (1.0). The old egg-info takes precedence when python path is built i think.

[2020-10-06 20:19] Trim21 commented on #2027
Not yet, being busy these days.

------------------&nbsp;Original&nbsp;------------------
From: "adam-grant-hendry"<notifications@github.com&gt;;
Date: 2020年10月7日(星期三) 凌晨4:06
To: "python-poetry/poetry"<poetry@noreply.github.com&gt;;
Cc: "Trim21"<github@trim21.me&gt;; "Mention"<mention@noreply.github.com&gt;;
Subject: Re: [python-poetry/poetry] Python 3.8 - &quot;TypeError: expected string or bytes

[2020-10-06 20:42] goofiva commented on #3098
@ginty I built and installed this commit... https://github.com/python-poetry/poetry/commit/8acbd03246646d663736d3fa0ae3dc47462f787f Worked out with #3096 as well.

[2020-10-06 20:46] #3096 closed

[2020-10-06 20:46] abn commented on #3098
@goofiva `1.1.2` is now out with this fix.

[2020-10-06 21:08] 2m commented on #3030
I tried to reproduce the problem I noticed in a minimized example but could not get the same error. Will try harder a bit later.

[2020-10-06 21:34] #3086 closed

[2020-10-06 21:39] pietrodn commented on #3084
I confirm, the problem has been solved in the case of a missing `pyproject.toml`. Updating title and description to reflect this.

[2020-10-06 22:50] zyxue opened #3110 "poetry 1.1.x causes SSLCertVerificationError when installing packages from private repo"
I have a poetry project, configured with a private pypi repo, that used to work well, but after upgrading poetry to 1.1.x (tried 1.1.0 to 1.1.2), it causes error like

[code]

when downloading packages that are only available in the private repo.

When I downgrade poetry to 1.0.10, it then works fine.

[2020-10-06 23:02] lowitea commented on #3040
Hi!
I have made a PR #3111
@abn could you please review it

[2020-10-06 23:06] anaulin commented on #2458
I'd be nice to pause the mutual 'splaining of the Real Good Way to do Python ™️ , and instead refocus on @nextmat 's very practical, and reasonable, question:

[2020-10-06 23:25] goofiva commented on #3098
@abn, Thanks a BUNCH! ❤️

[2020-10-06 23:37] mikenerone commented on #2458
@anaulin Hmm, a single comment that attempted to explain the _reason_ behind that resistance, directly addressing that question, followed by an exchange about what do about it? That's what you want paused?

[2020-10-06 23:43] egnor commented on #2458
(I also think answering @nextmat 's question would be nice!)

[2020-10-06 23:47] mikenerone commented on #2458
Well I stated very clearly that for me the answer is yes, there's active resistance (not that I get to make the decision or anything). That's why I don't really get why @anaulin's criticism about _not_ answering that was directed as a response to my comment.

[2020-10-06 23:54] egnor commented on #2458
(OK, who's the decider? I'm actually unfamiliar with the governance of Poetry. Would it be @finswimmer ?)

[2020-10-06 23:56] mikenerone commented on #2458
@finswimmer, @sdispater, and @abn

[2020-10-06 23:57] anaulin commented on #2458
@mikenerone seems you felt personally called out. Sorry you feel hurt, that wasn't my intention. I was referring to the several comments on this thread that have happened both before and after you showed up, both by you and others, about what constitutes or does not constitute the "standard" or "right" or "better" way to do Python. I'm sure you are aware that you are not the only participant on th

[2020-10-06 23:59] mikenerone commented on #2458
np, clean slate then. But let's be open to points of debate. It's async communication, and we have to live with the concurrency. :)

[2020-10-07 00:07] abn commented on #2458
First off, the team appreciates the community's interest in the project, and we are really happy that the project is useful in varied scenarios. Some scenarios are more surprising than others. :)

As for the original request, am I understanding this correct that the intent is to be able to configure per command cli option in a project's `pyproject.toml`? Or, is the intent to have a per-user per-pr

[2020-10-07 00:16] abn commented on #3110
@zyxue can you try setting [`REQUESTS_CA_BUNDLE`](https://requests.readthedocs.io/en/master/user/advanced/)?

[2020-10-07 01:06] abn commented on #2765
Sorry for the delay in response. That installs the latest available release. Which right now is `1.1.2`. You should try this version.

[2020-10-07 04:41] #338 closed

[2020-10-07 04:47] finswimmer commented on #405
I guess this is fixed in the meantime? If someone disagree just leave a comment.

[2020-10-07 04:47] #405 closed

[2020-10-07 04:59] finswimmer commented on #696
As there are no more comments for a long time now I close this issue. Feel free to leave a comment if you disagree.

[2020-10-07 04:59] #696 closed

[2020-10-07 05:02] finswimmer commented on #690
I agreed with @jtrakk. If python will find a module in the current working directory it will prefer it. So there is nothing poetry can do about it here.

[2020-10-07 05:02] #690 closed

[2020-10-07 07:28] mpernigo commented on #3040
Hey! I was just starting to look into this. Let me know if I can help

[2020-10-07 07:38] ketozhang commented on #3006
@finswimmer
Thanks! I've missed this having outdated poetry. Is it possible to make this behavior the default when running bare `poetry install`? My expectation is always "Python environment should always match the environment specification file". I wonder if this is a golden rule for poetry?

[2020-10-07 07:49] lgelmi commented on #3102
I installed version 1.1.2 (which includes the PR, as far as I understand) and still have the issue.
The error message has minimal differences (package_a "rev" became "branch") :

[code]

Thanks for the swift answer btw! :D

[2020-10-07 08:05] sinoroc commented on #2458
If I may... I feel like what's missing from this conversation is concrete examples of how `poetry install` (without `--no-root`) breaks (***1.***) people's expectations and/or (***2.***) their development environments.

***1.*** It is a bit confusing to read that to some users the fact that `poetry install` does indeed install the project is surprising behavior. It might be helpful to expand on th

[2020-10-07 08:07] mozartilize opened #3112 "poetry lock/export wrong with sys_platform (works fine on ver 1.0.10)"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [ ] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Ubuntu 20.04
- **Poetry vers

[2020-10-07 08:11] zoopp commented on #2972
I experience this issue with Python 3.8.5 as well (when running `poetry install`). I'll attach the stack trace in case it's relevant:

[code]
I've been iterating stable release versions backwards starting from v1.1.2 and the latest one in which this doesn't happen is 1.0.10.

[2020-10-07 09:07] ycd commented on #2972
@zoopp Please try this steps.

If you installed virtualenv with a package manager something different than PIP (like brew,apt,yum, etc.)

* Find it and delete it
* You can locate it via which virtualenv
* If you are unable to delete it, try installing your current version from pip

[2020-10-07 09:21] zoopp commented on #2972
@ycd Your suggestion fixes the issue in my case, thank you! I see I should have read the previous comments more carefully. :sweat_smile:

[2020-10-07 09:49] finswimmer commented on #3006
There is already a feature request for this: https://github.com/python-poetry/poetry/issues/2370 We haven't finally discussed it until now.

[2020-10-07 09:56] 2m opened #3113 "Transitive git dependencies that use setup.py fail to resolve"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- macOS 10.15.6
- Poetry version used is locally built

[2020-10-07 09:58] 2m commented on #3030
Created a separate issue with a reproducer project: https://github.com/python-poetry/poetry/issues/3113

[2020-10-07 10:03] RobinFrcd opened #3114 "Repository "private" does not exist | Since 1.0.0"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version: tested from 1.0.10 to 1.1.2
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
    - https://github.com/python-poetry/poetry/issues/2109 - closed
    - https://github.com/python-poetry/poetry/issues/2110 - closed

[2020-10-07 10:31] abn commented on #3114
@RobinFrcd can you provide a sanitised output of `poetry config repository` please?

[2020-10-07 10:41] RobinFrcd commented on #3114
`{'private': {'url': 'https://my.private.repo/simple/'}}`

[2020-10-07 11:37] chdsbd commented on #696
I think this is still an issue.

[2020-10-07 11:45] abn commented on #696
@chdsbd I do not think mounting host virtual environments into a container environment is a reliable scenario.

I would recommend you cache the virtual environment in the container instead.

Add this to your `.dockerignore` file (assuming you use `in-project` on your host).
[code]

[code]

[2020-10-07 11:49] marns93 opened #3115 "Poetry 1.1.2 does not export dependency url for nested git dependencies"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [ ] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Ubuntu 16.04
- **Poetry vers

[2020-10-07 12:01] Agalin opened #3116 "poetry show fails to resolve private package with extras"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Windows 10, RHEL 7.8
- **Poe

[2020-10-07 12:12] abn commented on #3114
@RobinFrcd I am unable to reproduce this.

[code]

[2020-10-07 13:20] tchaton commented on #745
Same trouble this morning
[code]

[2020-10-07 13:22] marns93 commented on #3115
@abn Could you please have a look?

[2020-10-07 13:53] abn commented on #3116
@Agalin can you try the fix in #3117 please?

[2020-10-07 14:04] Agalin commented on #3116
This version works. 😄

[2020-10-07 14:11] KyleKing commented on #745
@tchaton you may want to open a new issue. I tested poetry latest with my network’s self-signed certificates yesterday and the recommended fixes still work. In your case, it looks like something else is happening.

I would recommend posting more information about your IT environment, poetry and OS versions, and the steps you can take to replicate the failure? Does pip install work with poetry run

[2020-10-07 14:32] abn commented on #3114
Can you maybe try in a container or a clean environent? Just want to make sure this is not somehting environment specific.

[2020-10-07 15:06] RobinFrcd commented on #3114
Alright, I managed to make it work by tweaking the toml. I moved `tool.poetry.dependencies` to the top.

I had (which is working on 1.0.10 but not on 1.1.0+)
[code]

And switched it to

[code]

And now it works with 1.1.0+.

So I don't know if we should close the issue, I think it's still a bug.

[2020-10-07 15:24] ericriff opened #3122 "Be able to explicit the path to the pyproject"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Feature Request
It would be very useful to be able to be explicit about the location of the `pyptoject` file when you invoke `poetry`. Thi

[2020-10-07 15:25] ericriff opened #3123 "Be explicit about pyproject location"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Feature Request
It would be very useful to be able to be explicit about the location of the `pyptoject` file when you invoke `poetry`. Thi

[2020-10-07 16:19] natea opened #3126 "ssl module in Python is not available"
I'm unable to install Poetry due to this SSL error.

- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [ ] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Issue

When I try to install Poetry on Python3, I get the following error:

[code]

[2020-10-07 16:26] 2m commented on #3113
Additional note: if `ptry-lib` and `ptry-helper` are poetry managed projects then `poetry update` does not raise any error anymore.

[2020-10-07 16:26] abn commented on #3126
@natea I don't think this has anything to do with poetry. Seems like an issue with your python installation. I have seen this before in some OSX machines due to extra flags being required when installing python via brew.

Effectively the error is pip is unable to talk to pypi .

[2020-10-07 16:26] #3126 closed

[2020-10-07 16:30] berislavlopac opened #3127 "Poetry install -q (and update -q) produce messages"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [ ] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Xubuntu 20.04
- **Poetry ver

[2020-10-07 16:30] abn commented on #3113
@2m forgot to comment here before, it will also work if you update the url you use in `pyproject.toml` to be the same as what's in the `requirements_sources.txt` file in `ptry-lib`.

The source url comparison is a non-smart equality check. Which is expected atm.

[2020-10-07 17:02] ericriff commented on #3123
This will also allow us to create a `poetry-shebang` just like the one for `pipenv`, which makes the life of a dev using virtual environments 10 times easier.

https://github.com/laktak/pipenv-shebang/blob/master/bash/pipenv-shebang

[2020-10-07 17:25] ericriff commented on #3029
I agree with both issues here. If available, poetry should run with `python3` or at least the python version used to call `get-poetry.py`. Otherwise it defaults to python2 and you get two warnings, one about it being deprecated and another one about some functionality not supported on `python2`.

About disabling the warnings for python 3.5 and 2, they are not only annoying, they also break this fu

[2020-10-07 17:28] immerrr opened #3128 "`poetry update <single-pkg>` updates a different package with extras specification"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Ubuntu 16.04
- **Poetry vers

[2020-10-07 17:35] finswimmer commented on #3122
Hello @ericriff,

there is already a feature request for this here: https://github.com/python-poetry/poetry/issues/2179

fin swimmer

[2020-10-07 17:35] #3122 closed

[2020-10-07 17:42] ericriff commented on #3122
I missed it. Sorry about that.

Thanks Fin.

[2020-10-07 17:51] ericriff commented on #2179
Having the ability to point to the path of the `pyproject` provides many advantages.

One example would be to be able to run your scripts from outside the project folder. Lets say we have something like
`~/projects/poetryproject` which contains `script.py` and all the poetry files.
I would love to do `poetry run ~/projects/poetryproject/script.py`, but I cant since I have no way to tell poetry whe

[2020-10-07 17:54] ericriff commented on #2179
This `source $(poetry env info --path)/bin/activate` is broken if you use `python 3.5` or `python 2`, because of the warning about those versions of python being deprecated.
This also fails if `python` defaults to `python2` and you installed poetry with `get-poetry.py`, since the executable has `python` in its shebang.

[2020-10-07 18:35] Qu4tro opened #3129 "Not installing extras / Behavior change from 1.0.10"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [ ] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.

- **OS version and name**: Not relevant
- **Poetry version**: Latest
- **Link of a [Gist](https://gist.github.com/) with the contents of your pyproject.toml file

[2020-10-07 19:04] nextmat commented on #2458
Where I run into this are projects where I'm using poetry for dependency management and virtual environment management but don't want to explicitly package anything. This is a pretty common scenario in application development.

As a point of clarification, the friction for me is really in two places right now:

1. I forget to use `--no-root` constantly because I'm not running install every day and

[2020-10-07 19:06] Qu4tro commented on #3129
This might be a duplicate of https://github.com/python-poetry/poetry/issues/2992 .

I've managed to reproduce the previous behavior with:
[code]

Replacing 1.1.0rc1 by 1.1.2 returns to the wrong behavior.

Feel free to close the issue if I just need to wait for the next release.

[2020-10-07 19:07] Senpos commented on #2420
Since #2666 is merged, should I close the issue? :)

[2020-10-07 19:34] tomlaube opened #3132 "Resolving pdfminer-six depedency causes infinite loop"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: linux-5.4.69
- **Poetry vers

[2020-10-07 20:49] #2420 closed

[2020-10-07 21:17] jgentil commented on #3077
I have this same problem.  Following for solution...

[2020-10-07 21:20] jgentil commented on #3077
Actually mine is slightly different.  It *always* tries to upgrade it, even if it's the same version.  I see the same thing you do though, and I feel like that's also what you're experiencing.  It has version 228 installed, but tries to update to version 228 for some reason.

[2020-10-07 22:02] ericriff opened #3134 "Poetry links to python3 and not python3.x"
- [X] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [X] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [X] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Ubuntu 16
- **Poetry version

[2020-10-07 22:23] abn commented on #3132
@sdispater seems that `self._solution.relaton(term)` is returning a subset. I did see similar cases in other issues. I suspect this is just a missing condition?

[2020-10-07 22:31] neilpanchal commented on #3110
Is it possible to ignore SSL certs in poetry? We have an internal private pypi repository hosted without SSL certs.

[2020-10-07 22:59] sinoroc commented on #2458
@nextmat Thanks. What happens when you forget to use `--no-root`?

[2020-10-08 03:51] abrahamfrancis opened #3136 "poetry thinks virtual env is still active after manual deactivate"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**:  Arch Linux x86_64
- **Poetr

[2020-10-08 04:09] finswimmer commented on #3029
This should be fixed now by https://github.com/python-poetry/poetry/issues/2754

[2020-10-08 04:45] finswimmer commented on #3136
Hello @abrahamfrancis,

`poetry shell` spawns a new shell and activate the venv in there. A `deactivate` just deactivates to venv but doesn't leave the shell. For this you have to type `exit` instead.

See the [docs](https://python-poetry.org/docs/basic-usage/#activating-the-virtual-environment) why this is neccessary.

fin swimmer

[2020-10-08 04:45] #3136 closed

[2020-10-08 05:39] zyxue commented on #3110
tried `REQUESTS_CA_BUNDLE=/app/certs.pem `

but it doesn't seem to be working, still the same error.

[2020-10-08 05:42] zyxue commented on #3110
@abn could you please point me to the place in the code how certs file is used differently between poetry 1.0.x and 1.1.x?

[2020-10-08 07:13] fcruzel opened #3139 "Poetry install removes packages that are necessary"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

---

- **OS version and name**: Docker
- **Poetry version**: 1.1.2
- **Link of a [Gist](https://gist.github.com/) with the contents of your p

[2020-10-08 07:45] agoose77 commented on #3079
@abn this passes my existing build-step test. Thanks for the quick turn around!

[2020-10-08 09:28] #2754 closed

[2020-10-08 09:30] sobolevn opened #3140 "poetry does not resolve dependencies correctly for fastdiff"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [ ] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: macos 10.14
- **Poetry versi

[2020-10-08 09:40] sobolevn commented on #3140
On previous version of `poetry` (`1.0.x`) it was:

[code]

[2020-10-08 09:41] 2m commented on #3113
Thanks for the hint. After the following change `poetry update` completed successfully:

[code]

Note that not only `ssh://` needs to be appended but also `:` is replaced with `/`. This solves our issue and, as far as we are concerned, this issue can be closed.

[2020-10-08 09:44] sobolevn commented on #3140
This commit fixed this for my repo: https://github.com/wemake-services/wemake-python-styleguide/commit/22f987352ac5df2b174593716d4c1ee6398ab65f

But, this was my manuall hack 🙂

[2020-10-08 10:17] gghildyal commented on #208
With AWS codeartifact repository, the authentication token is a part of the URL, so this becomes even more important to get a smooth CI experience. Currently I am having to add git commits every time the token expires which is every 12 hours :(

[2020-10-08 10:25] madig commented on #2339
I'm seeing the same (using a private repo as a secondary source) and am scratching my head at the following output:

[code]

The last lines seem to implicate that `rope` is found on the official PyPI, but then poetry goes off and queries the private repo for it anyway?!

[2020-10-08 11:40] absassi commented on #3077
It seems this is due to pywin32 installing a `pywin32.pth` file in site-packages, which causes Poetry to think it is installed in develop mode (and also that's why the "Updating" line it prints has a path) and thus needs to be reinstalled in non-develop mode.

[2020-10-08 12:03] abn commented on #3113
I would like to keep this open for us to consider normalising the urls when checking equality.

[2020-10-08 13:09] gergelyk opened #3141 "Supported version formats not specified"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.

## Issue

1. Poetry docs suggest that [any versioning scheme can be used](https://python-poetry.org/docs/pyproject/#version) :

Indeed this possible at the time of setting version, but poetry gives an error when building package:

[code]

2. Poetry docs suggest

[2020-10-08 13:46] adam-grant-hendry commented on #3077
@jgentil Yes, you are correct. My error is the same as yours. It always tries to "update" from 228 to 228, but nothing ever seems to get resolved (it continues to do this every time I run `poetry install` or `poetry update`).

@absassi Is the `pywin32.pth` file necessary? I could delete the file locally and see if this resolves the issue, but then somone would need to create a pull request to `pyw

[2020-10-08 13:50] gergelyk opened #3142 "Operator `at` not documented"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.

## Issue

[Docs](https://python-poetry.org/docs/cli/#add) are not too verbose on what `@` operator means. E.g. three commands bellow seem to do the same thing:

[code]
Additionally these few are accepted as well:

[code]

[2020-10-08 13:52] finswimmer commented on #3123
I guess this an accidentally made duplicate of #3122 :)

[2020-10-08 13:52] #3123 closed

[2020-10-08 14:00] gergelyk opened #3143 "pep517 and toml packages not reachable"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Linux anarchy 4.19.91-1-lts

[2020-10-08 14:09] abn commented on #3143
@gergelyk I guess this is an issue with source installs in offline mode. The only real solution to this is to vendor these wheels (similar to how virtualenv bundles wheel, setuptools, pip etc.) as they are required for isolated builds.

[2020-10-08 14:18] mbrrg commented on #2681
Just encountered this problem when trying to upgrade 1.1.0 to 1.1.2. Access denied and broken poetry install.

[2020-10-08 14:20] exhuma opened #3144 "Poetry fails with KeyError if the PATH environment variable is not present"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Ubuntu 18.04
- **Poetry vers

[2020-10-08 14:26] rickymyl-karhoo commented on #3129
Not sure whether it is a duplicate hence posting here. I am trying to do

[2020-10-08 14:30] ericriff commented on #3134
I did some more digging and this behavior was introduced after dropping `venv` in favor of `virtualenv`, since they work in different ways: `venv` copies over the python executables to the environment whereas `virtualenv` creates symlinks.

[code]

[2020-10-08 14:31] exhuma commented on #3144
With the debugger I was able to get the traceback:

[code]

[2020-10-08 14:37] vlcinsky opened #3145 "AttributeError 'Table' object has no attribute 'decode' with v1.1.2"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Debian buster
- **Poetry ver

[2020-10-08 14:44] ericriff commented on #3134
Sorry about the noise, I'm trying to post all the info that I can find on this issue since it is introducing some nasty bugs. I don't know enough about the Project to patch it myself.
Changing the default `python3` version to `3.6` and running with `-vvv` shows the list of python versions it checks. It should avoid python3 if it is a symlink or maybe expand it.

[code]

[2020-10-08 14:48] abn commented on #3129
@rickymyl-karhoo @Qu4tro can yo try the fix in #3147 please?

Note that #2992 is only partly related; the sisue there is alos the case of the extra package name used.

[2020-10-08 15:03] vlcinsky commented on #3145
Probably duplicate of #3104

[2020-10-08 15:12] sam-willis opened #3148 "Invalid package METADATA?"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [ ] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Ubuntu 18.04.5 LTS (Bionic B

[2020-10-08 15:22] abn commented on #3148
@sam-willis are these packes used locally only?

[2020-10-08 15:24] rickymyl-karhoo commented on #3129
How do you install a specific commit/branch? Thank you

[2020-10-08 15:25] hemanta212 commented on #2681
In windows I never feel comfortable update poetry and always run the get-poetry script it replaces poetry but configs are saved.

[2020-10-08 15:33] sam-willis commented on #3148
No, in my current use case this is a subdirectory with it's own setup.py. For example:
[code]

[2020-10-08 15:36] TNMarcus opened #3151 "Poetry 1.1.2 doesn't work with private packages in older lockfiles"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: macOS 10.15.6
- **Poetry ver

[2020-10-08 16:09] abn commented on #3151
@TNMarcus there was a bug with the lock file generated. Recommendation is to use `poetry lock --no-update` to fix the issue.

[2020-10-08 16:09] #3151 closed

[2020-10-08 16:18] abn commented on #3129
Something like this will work.

[code]

[2020-10-08 16:42] abn commented on #3148
Well, let me rephrase. Do you publish these wheels to an index? The local path dependencies in non-develop mode I guess should be written as `dep @ file://<absolute path to dir>` in the core metadata so as to support  NFS mounts etc too.

The "is used locally" relevance is if these dependencies are editable or relative to current package. There really is no supported or agreed upon standard on how

[2020-10-08 16:55] lig commented on #3030
@abn

I'm deeply sorry, but the 1.0 behavior is actually expected and logical behavior.

With 1.1 behavior it is impossible to install dependencies in this case.

The case is:
* We have `the current project` which directly depends on `./deps/package2`.
* We have `package1` which directly depends on `./deps/package2`.
* We add `package1` as a direct dependency to `the current project` as `./deps/pa

[2020-10-08 17:07] lig commented on #3030
Basically, Poetry 1.1.0-1.1.2 is not working at the moment for the case for which Poetry 1.0 was working at least in some way.

[2020-10-08 17:07] abn opened #3152 "🎁 Hacktoberfest Guidelines"
As as small project, we appreciate all types of contributions. That said, since we are a very small team, we would like to make sure that we set the expectations right.

Here are a few things to note before submitting hacktoberfest related pull requests.

1. Please read #3061 before making any contribution.
2. If you want to contribute to documentation, read #3060.
3. Please indicate explicitly th

[2020-10-08 17:18] alimantu commented on #2681
Same here, just tried to update from 1.0.5 to 1.1.2 using `poetry self update` from bash bash console with admin rights and received ->
[code]

[2020-10-08 17:21] #3144 closed

[2020-10-08 17:26] abn commented on #3140
Can you please try the fix at #3147.

### Using pipx
[code]

### Using a container (podman | docker)
[code]

[2020-10-08 17:48] abn commented on #3104
Does this happen only when locking?

Can you please post the `source` configuration from your `pyproject.toml` as well as the output of `poetry config repositories` (sanitised ofcourse).?

[2020-10-08 17:49] abn commented on #3145
@vlcinsky I would say it is a duplciate.

[2020-10-08 17:49] #3145 closed

[2020-10-08 18:13] randallpittman commented on #3030
I'm having a problem like this too. Poetry 1.1.2 doesn't like me installing both of these dependencies for my project:

[code]

nctemplate's `pyproject.toml` has the ncdataset git repo as a dependency, and poetry gives the following error when I try to include both and run `poetry update`:

[code]

[2020-10-08 18:15] randallpittman commented on #3102
I'm having a similar problem, I think.

Ref. also #3030.

 Poetry 1.1.2 doesn't like me installing both of these dependencies for my project:

[code]

nctemplate's `pyproject.toml` has the ncdataset git repo as a dependency, and poetry gives the following error when I try to include both and run `poetry update`:

[code]

[2020-10-08 18:18] sobolevn commented on #3140
It now generates:
[code]

[2020-10-08 18:20] sobolevn commented on #3140
Diff: https://github.com/wemake-services/wemake-python-styleguide/commit/e747fa3532c9b72e3250c7acadccf1b837bfe9da

[2020-10-08 18:20] sobolevn commented on #3140
Looks like it works! Thanks a lot @abn!

[2020-10-08 18:38] finswimmer commented on #3030
@lig am I right that your expectation about the dependency resolution is like that:

Whenever poetry finds a path dependency, it should read the name and the version from there. When its finished to collect all these information, it should decide based on that which path dependency it installs.

While this sounds reasonable on the first sight, this is not how it works or how it should work. A pack

[2020-10-08 18:41] ericriff commented on #3049
Just came across this myself, on poetry version `1.1.2`, but only if I'm using `python 3.7`. With `3.6` and `3.5` it works as expected.

[2020-10-08 23:49] gitpushdashf opened #3153 "1.0.10 -> 1.1 regression: EnvCommandError: 'No module named setuptools' on Python 3.7"
This may because it's installing a nested package. Python 3.8 doesn't have this issue but 3.7 does. I don't have a reduced test case yet. I'm hoping the traceback is helpful and someone knows what's going on from it. Python 3.7 and 3.8 are fine with Poetry 1.0.10, everything else being identical. Python 3.8 with Poetry 1.1.2 is fine as well, just not Python 3.7 with Poetry 1.1.2.

[code]

[2020-10-09 00:09] abn commented on #3153
@gitpushdashf looks like this is an issue with the version of `pip` installed with your `3.7` installation. Looks like you are installing without a virtual environment. If this is the case, first try after perorming `/usr/local/bin/python -m pip install -U pip`.

[code]

Another possibility is, if you are using an Ubuntu distro, the distutils version installed might be interfering with your instal

[2020-10-09 00:11] gitpushdashf commented on #3153
Thanks for replying!

This is using the python:3.7 and python3.8 Docker images which I believe are Debian based. With that image should I be doing `python3 -m pip install` or is `pip3 install` okay?

[2020-10-09 00:13] abn commented on #3102
@lgelmi I suspect your issue is #3113. Try making sure that all projects refer the same source url.

[2020-10-09 00:22] abn commented on #3141
1. Is not an issue. This is expected. You cannot build a wheel that is not compliant to PEP 427 and hence an error. This is not enforced as not all projects are intended to be built.
2. The secton you are referring to refers to your project version not package dependencies.

[2020-10-09 00:37] abn commented on #3153
@gitpushdashf fwiw; I cannot reproduce this in a container, any chance you can provide some steps to reproduce this? Typically the containers should have `python` pointing to the tag version and `pip` pointing to the corresponding `pip` version. The use of `python3.7 -m pip` is more done for safety and portability.

[code]

[2020-10-09 00:38] abn commented on #3153
Also this indicates you are using the old `build-system` configuration in your dependency project.

[code]

I would recommend you try moving to the [standalone build backend](https://python-poetry.org/blog/announcing-poetry-1-1-0.html#standalone-build-backend).

[2020-10-09 01:06] abn opened #3154 "Cirrus CI: Wait for release to be ready before attempting to push an artifact to github releases"
Presently, the cirrus ci release logic checks if release is ready, if not it simply skips the upload. This needs to be changed to ensure that we wait for a reasonable amount before skipping.

https://github.com/python-poetry/poetry/blob/6a96dd22f4cf22f6f6d5bdb36c44c02097d57bee/.cirrus.yml#L53-L59

[2020-10-09 01:17] abn opened #3155 "🧹 Test Suite Cleanup: Permanent Issue"
This is a great issue to work on if you are new to the Poetry code base and want to start contributing. Over the years the poetry test suite has grown significantly, this means that there is significant amount of code duplication in-efficient

If you are submitting a pull request associated with this, please keep the pull requests small and modular. This means, do not do too much in one PR and try

[2020-10-09 01:52] ericriff commented on #3134
I wen't further down the rabbit hole and I believe it is an issue of `virtualenv` itself.
[code]
Whereas specifying the non-default version produces the correct symlink
[code]

[2020-10-09 03:40] ahlaw commented on #3097
Hi, can I take this issue? I think I found the problem, when the `_dry_run` attribute is set, the executor writes after passing the `_should_write_operation` check [here](https://github.com/python-poetry/poetry/blob/6a96dd22f4cf22f6f6d5bdb36c44c02097d57bee/poetry/installation/executor.py#L181) and then again inside `_do_execute_operation` [here](https://github.com/python-poetry/poetry/blob/6a96dd2

[2020-10-09 03:44] abn commented on #3097
@ahlaw most definitey! Feel free to create a draft PR for this if you want to discuss a solution.

[2020-10-09 04:43] abn commented on #3112
Can you please try the fix at #3119.

### Using pipx
[code]

### Using a container (podman | docker)
[code]

This hould output the following.
[code]

[2020-10-09 06:07] Yajo commented on #3090
I'm having the same issue [here](https://github.com/copier-org/copier/runs/1229756173?check_suite_focus=true) , but I use Poetry 1.1.2. However my logs aren't so detailed. You can see the complete logs there and navigate to the pyproject.toml file. The summary:

[code]

[2020-10-09 08:21] pawamoy commented on #3104
OK I think I know why it happens. I had some left overs in Poetry's global config:

[code]

Newest repositories were added like this:

[code]

[2020-10-09 08:28] ishikawa commented on #2102
I also encountered this issue (Python 3.6). My workaround (like others): add some dependencies as optional and add those to `extras` section.
[code]
pyproject.toml
[code]
then
[code]

[2020-10-09 08:38] oncleben31 opened #3160 "1.1.2: regression with poetry export when using python version constraints."
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [ ] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: MacOS 10.15.5
- **Poetry ver

[2020-10-09 08:38] lgelmi commented on #3102
Welp! That seems to have worked.

Thanks for your help.

[2020-10-09 08:38] #3102 closed

[2020-10-09 08:54] sam-willis commented on #3148
Ah thanks for the clarification. We do not publish the wheels to an index, so locally.

 I think `dep @ file://<absolute path to dir>` would be valid. In my case the issue is not that I want the metadata to include the path absolute or otherwise, it's that a builtin part of python throws an exception when the package is specified in the metadata as it currently is.

[2020-10-09 09:24] gergelyk commented on #3141
1. In this case you may consider pointing this out in description of [build](https://python-poetry.org/docs/cli/#build) command. Regarding PEP-427, this document doesn't seem to restrict version format. PEP-440 does.

2. You are right. Chapter about [add](https://python-poetry.org/docs/cli/#add) command may be better place for specifying which version formats are supported.

[2020-10-09 10:31] wasdee opened #3162 "poetry 1.1.2 with enable parallel fails to find package from pypi when custom private source is set."
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [ ] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Windows 10 2004 build 19041.

[2020-10-09 10:34] gergelyk commented on #3143
I confirm. It does fallback. It just takes some time (370 seconds) till pip process times out. This makes an impression of hanging. Maybe some debug message could prepare the user for waiting. E.g.:

[code]

[2020-10-09 10:35] Fizzadar commented on #1462
We are also encountering this problem, leading to potentially installing completely incorrect dependency versions!

[code]

Generates a `setup.py`:

[code]

[2020-10-09 10:37] CircleOnCircles commented on #3162
seems related to https://github.com/python-poetry/poetry/pull/3117

[2020-10-09 10:50] Fizzadar opened #3163 "`extras_require` ignores version specifier"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: MacOS 10.15
- **Poetry versi

[2020-10-09 10:54] mozartilize commented on #3112
@abn Hi, I can confirm that the fix works!

[2020-10-09 11:05] CircleOnCircles opened #3164 "`poetry run -h` result in error"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [ ] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Windows 10 2004 build 19041.

[2020-10-09 11:06] lig commented on #3030
@finswimmer the reality is that whilst the software cannot guarantee something people are not dumb and could guarantee that via a policy on which they agreed on. In that case, the software needs to stand aside and allow people to handle that.

I want to be able to state "I know what I'm doing" and software should be able to obey that.

[2020-10-09 11:18] CircleOnCircles commented on #3162
[code]

To no avail, this does not solved this issue .

[2020-10-09 11:45] davidszotten opened #3165 "1.1.{1,2} missing from history page"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.

## Issue

I think the most recent patches, 1.1.1 and 1.1.2 are missing from https://python-poetry.org/history/

[2020-10-09 12:48] pepastach commented on #3144
This does not seem to be related to `PATH` variable only (though I hit exactly this issue quite a few times). It randomly crashes on any poetry unrelated environment variables. Couple of examples: `CI_JOB_ID`, `DOCKER_ENV_CI_MERGE_REQUEST_REF_PATH`, etc. It actually fails even if these variables are defined. It really seems like a race condition problem. This fix might help, but I think there is a

[2020-10-09 12:56] finswimmer commented on #3164
Hey @CircleOnCircles,

this was reported before in https://github.com/python-poetry/poetry/issues/1567 and https://github.com/python-poetry/poetry/issues/2741

fin swimmer

[2020-10-09 12:56] #3164 closed

[2020-10-09 14:24] Qu4tro commented on #3129
Yep, I can confirm that it works with my setup. Thank you for the quick fix.

I also want to say, that dependabot has updated to `Poetry 1.1` and has such, using it atm, might create an issue of missing extra packages (which was how I noticed this issue in the first place).

[2020-10-09 14:44] ericriff commented on #3134
For all interested parties, https://github.com/pypa/virtualenv/issues/1974

[2020-10-09 14:51] ericriff commented on #3049
Are you guys going to open a PR for this?
I don't know how the internals of Poetry work, but if it is just that line I don't mind changing it.
I would hate to steal the credit, but it blocking some of my work since I can't move past python 3.6 if I'm using relative paths on the cache.

By the way, I'm using the relative paths as a workaround to `in-project` only allowing you to have ONE environmen

[2020-10-09 14:56] mattkram commented on #3160
I have noticed similar behavior with platform-specific dependencies, which may be related:

I have a package (``my-package``) which lists a subdependency in ``pyproject.toml``:
[code]

This package is built as a wheel and is then a dependency of another application, which lists it in ``pyproject.toml``:
[code]

When using ``poetry export -f requirements.txt``, I noticed different output between ``

[2020-10-09 15:13] jhrmnn commented on #3001
I'm seeing the missing Setuptools error in environments created with Conda.

[2020-10-09 18:01] tony commented on #3165
I made a PR for this (I'm not fully versed on the structure of branches yet)

Changelog is not updated for 1.1.1 and 1.1.2 in master: https://github.com/python-poetry/poetry/commit/6a96dd22f4cf22f6f6d5bdb36c44c02097d57bee (yet)

- https://github.com/python-poetry/poetry/blob/1.1.1/CHANGELOG.md
- https://github.com/python-poetry/poetry/blob/1.1.2/CHANGELOG.md

I think these just need to be merged t

[2020-10-09 18:05] austinbutler opened #3167 "Update not working with two Artifactory sources"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: macOS 10.15.7
- **Poetry ver

[2020-10-09 20:55] bryanforbes commented on #3094
The next release of mypy (0.800) will [include a fix](https://github.com/python/mypy/pull/8847) for this, but I'm not sure when it will come out since 0.790 was just released today

[2020-10-09 21:18] DustinMoriarty commented on #1941
All of this seems like a work around to me. Is there something that needs to change on the tox side to make tox set up poetry environments correctly? In theory, it seems that the tox.ini should look the same for a poetry package as it would for a package using setup.py. I don't put "pip install" in a tox.ini for a setuptools project.  If there are things that need to be fixed on the tox side, perh

[2020-10-09 21:36] AmmarlOsama commented on #2027
did u solve it ?

[2020-10-09 23:38] Trim21 commented on #2027
@AmmarlOsama It has been fixed in latest poetry.

[2020-10-09 23:38] nextmat commented on #2458
@sinoroc I just get a `<my-project>.egg-info` directory that I don't need and I remove it.

[2020-10-09 23:41] abn commented on #3167
@austinbutler what you have configured is the source. The way this is done might not always be clear. What you should probably do is the following.

In your `pyproject.toml` add this as you already have it, as describled [here](https://python-poetry.org/docs/repositories/#install-dependencies-from-a-private-repository).

[code]

And in the environment you need to to publish the package do the foll

[2020-10-09 23:48] abn commented on #3163
@Fizzadar you can add the following to your `pyproject.toml` to avoid this altogether. Poetry will stop generating setup files by default in coming release.

[code]

[2020-10-09 23:50] austinbutler commented on #3167
Thanks for the explanation. That is what I ended up doing.

What's confusing is that `poetry publish --build --repository artifactory-upload` worked _without_ configuring Poetry at all, it would ask for username and password interactively, then when I provided that it published just fine. I guess the relationship between `poetry confid` and `tool.poetry.source` in `pyproject.toml` is a bit confusi

[2020-10-09 23:51] abn commented on #3163
The issue lies in thow the [SdistBuilder](https://github.com/python-poetry/poetry-core/blob/master/poetry/core/masonry/builders/sdist.py) computes extras from the `pyproject.toml`. The fix needs to happen in `poetry-core`. We must, retrive extra dependencies from project level dependencies prior to serialising them.

[2020-10-09 23:54] abn commented on #3167
@austinbutler The new behaviour is undocumented. The source yours gets merged into available repositories to allow them to use configured credentials. We should probably add a flag `publish = false` to these repositories when injected into the runtime configuration so that the publish logic ignores them.

[2020-10-10 00:19] abn commented on #3129
Thank you for reporting this @Qu4tro. I might try get a release out soon. Hopefully not many projects get impacted by the dependabot update. :(

[2020-10-10 00:31] abn commented on #3141
PEP 427 was the wrong reference, what I should have refered to was https://www.python.org/dev/peps/pep-0426/#version - this requires PEP 440.

As for the add command, we are using the [version constraints](https://python-poetry.org/docs/dependency-specification/#version-constraints), not necessarily PEP 440.

[2020-10-10 01:15] abn commented on #3160
@mattkram can you please try the fix at #3147.

### Using pipx
[code]

### Using a container (podman | docker)
[code]

[2020-10-10 07:47] abitrolly commented on #240
What was the consensus on this? I see empty https://github.com/python-poetry/poetry/blob/master/.coveragerc and nothing on SonarCloud, Codecov and Coveralls.

* https://coveralls.io/github/python-poetry/poetry
* https://codecov.io/gh/python-poetry/poetry
* https://sonarcloud.io/dashboard?id=python-poetry

[2020-10-10 09:11] abitrolly commented on #2620
`zsh` doesn't create `.zprofile` automatically - https://www.reddit.com/r/zsh/comments/fjcd35/theres_no_zprofile_file_in_my_home_directory_in/ It also doesn't use `.profile` because it may be not compatible. `.zprofile` is also not loaded by graphical terminals - https://askubuntu.com/questions/708924/zprofile-is-not-read-on-graphical-login-when-user-s-default-shell-is-zsh

I see the solution to a

[2020-10-10 10:03] Hultner commented on #3071
I had to do the same thing after adding python 3.9 to my pyenv and update poetry, re-install was the only thing that would do it.

[2020-10-10 14:39] abitrolly opened #3171 "Rename get-poetry.py to getpoetry.py to make it importable and testable"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Feature Request

`get-poetry.py` script can not be imported, because Python doesn't allow dashes in module names. Renaming that will allow

[2020-10-10 15:20] abitrolly commented on #2539
This looks like a problem with internet connection. Does that repeat the the latest version?

[2020-10-10 15:54] twocucao commented on #2094
for any one who come from china mainland (如果你来自中国大陆),  add this to pyproject.toml

[code]

[2020-10-10 16:12] estyxx opened #3173 "Add support to publish on s3 private bucket with s3pypi"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Feature Request

Where I work we have some library we store in a private repository in an s3 bucket, to push the new version we use [s3pyp

[2020-10-10 19:14] MartinThoma commented on #2094
Why?

[2020-10-10 21:56] iadi7ya commented on #3163
Hi @abn Can I take this up?

[2020-10-10 22:11] abn commented on #3163
@iadi7ya definitely. If you need input, feel free to ping on discord.

[2020-10-11 00:43] yihuang commented on #2094
A pypi mirror runs faster in mainland China I guess.

[2020-10-11 03:05] schlich opened #3176 "Heroku: AttributeError: 'NoneType' object has no attribute 'to_dependency'"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: WSL 2 (Ubuntu 20.04)
- **Poe

[2020-10-11 06:27] #3084 closed

[2020-10-11 07:02] yajo opened #3178 "Cannot list envs in Windows"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Windows 10
- **Poetry versio

[2020-10-11 07:25] Cielquan commented on #2539
I have to test again.

[2020-10-11 15:57] #3104 closed

[2020-10-11 17:43] finswimmer commented on #2102
Hello,

the problem here is, that `poetry` and the package are installed in the same environment. One should never mix the installation method within one environment. Either use `poetry` or `pip`. But not both at the same time. Because they don't know each other and break things when a package gets installed or removed by one or another.

When using `virtualenvs.create false` make sure `poetry` is

[2020-10-11 17:43] #2102 closed

[2020-10-11 20:44] mattkram commented on #3160
@abn Looks like the output is identical for me between ``poetry==1.1.2`` and #3147 .

I created this gist to minimally reproduce, with output ``requirement.txt`` files for three versions: https://gist.github.com/mattkram/74ac2ac2de2065815ddfb379e235a7b6

The requests-kerberos [setup.py](https://github.com/requests/requests-kerberos/blob/d9c78fc3040481bf944306193ee5564ae6c4de31/setup.py#L55) lists

[2020-10-11 23:23] schlich commented on #3176
I think this is an issue with the buildpack, pinning the poetry version to a previous version (1.1.1) did the trick.

related to https://github.com/moneymeets/python-poetry-buildpack/issues/13

[2020-10-11 23:23] #3176 closed

[2020-10-12 01:58] ryboe commented on #2830
I'm having the same issue with `pyqb`.
[code]

[2020-10-12 06:49] kkozmic commented on #3094
No worries, I'll be keeping an eye out for it. Thanks @bryanforbes

[2020-10-12 09:57] mr-bjerre opened #3180 "Poetry does ignores extras_require packages defined in setup.py"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: both debian and macOS
- **Po

[2020-10-12 10:00] tamuhey commented on #3180
I've confirmed this bug with `poetry add modin[dask]`

[2020-10-12 10:03] tamuhey commented on #3180
It doesn't happen with `poetry=1.0.10`

[2020-10-12 10:51] wlievens commented on #3077
I get this issue too.

[2020-10-12 11:44] mosesontheweb commented on #1135
Hi,

just stumbled over this ticket. I had about the same problem, I wasn't able to install a package in editable mode within an environment created with poetry.
I used setup.py and setup.cfg to define all options for my package. Using it with pyproject.toml might be quite ok, but I miss somehow a good documentation for it. Additionally the support for data files is quite poor. So that's why I go

[2020-10-12 12:04] abn commented on #3160
@mattkram can you try that again; you might need to regenerate the lock file.

@oncleben31 your issue should also be fixed with #3147. Can you please confirm?

[2020-10-12 12:17] abn commented on #3077
@absassi @adam-grant-hendry can one of you give me a tree listing of your `site-packages` directory where `pywin32` gets installed please?

My guess is that this check is incomplete somehow.

https://github.com/python-poetry/poetry/blob/3b3791d3cac8b7d583699ac28086c10dc850b370/poetry/repositories/installed_repository.py#L137-L149

[2020-10-12 12:21] abn commented on #3171
@abitrolly this is meant to be used as a script. So, any tests, should be calling this as a script. I do not see any value in this being renamed.

[2020-10-12 12:32] abitrolly commented on #3171
@abn I'd be able to add tests to profile selection function in https://github.com/python-poetry/poetry/pull/3169 but I don't see how to test the file that can not be imported.

[2020-10-12 12:53] abn commented on #2830
@kulame is this still an issue? Looks like this was a networking issue.

[2020-10-12 13:01] abn commented on #3180
Can you please try the fix at #3147.

### Using pipx
[code]

### Using a container (podman | docker)
[code]

[2020-10-12 13:11] haenry commented on #3077
There are quite a few folders. The actual one should be the last I guess.
[code]
all contain
[code]

This is the error-message
[code]

[2020-10-12 13:23] abn commented on #3094
@kkozmic thank you for the reproducer. It is extremely helpful.

Had a quick look into this, and I am leaning towards not making any changes at the moment as I could not find any other cases where the `easy-install.pth` is expected/required in a similar fashion. And considering we expect a fix in `mypy`, adding an additional point of failure seems unwise. The `easy-install.pth` file is intended to

[2020-10-12 13:31] abn commented on #3077
@haenry the error message is interesting. So it seems pip is unable uninstall the existing packages. I believe this is a seperate issue to the one reported (albeit definitely related).

Is the file `pythoncom37.dll` link? Or does it have any permissions set? Also, can you try manually removing the package? `poetry run pip uninstall pywin32` ?

[2020-10-12 13:38] abn commented on #3180
Duplicate of #3129

[2020-10-12 13:38] #3180 closed

[2020-10-12 14:00] gwdekker commented on #3160
For what it's worth: I encountered a similar issue when running poetry 1.1.2 in our CI/CD pipeline while running poetry 1.0.9 locally (which created the .lock file). In that case the solution is to update the local poetry to 1.1.2 as well to make the lock file compatible. The constraint information seems to be stored in another place in the lock file than it was before, which causes this informati

[2020-10-12 14:12] abn commented on #3160
The lock file format has undergone some changes from `1.0.z` to `1.1.z`. This meant that the logic used in `1.0.z` for export no longer worked. This along with various improvements required meant a new logic for export was introduced, one which relied more so on the lock file itself. This means that older lock files may not have the required information to generate exports using newer poetry versi

[2020-10-12 14:59] bryanforbes commented on #3094
My only suggestion would be to add a flag to optionally generate `easy-install.pth`. Right now, I'm using [a script](https://github.com/bryanforbes/Erasmus/blob/d73508a861712760d92f3c2b7426976b163ffc6c/fix-poetry.sh) to generate `easy-install.pth` and I have to add it to a few of my projects and remember to run it. I understand, though, if you decide against it.

[2020-10-12 15:22] haenry commented on #3077
No, they are regular files. Permissions are
[code]
same as other files in site-packages

`poetry run pip uninstall pywin32` removes the package but cannot remove the `pythoncom37.dll` (` Successfully uninstalled pywin32-228` and then the `Acces denied` is thrown)
Afterwards the poetry install runs normally once and installs pywin32 again. Then it returns to the loop updating 228 -> 228.

[2020-10-12 16:09] KGB33 opened #3182 "No code coverage for `poetry/utils/shell.py`"
Coverage reports no test coverage for `poetry/utils/shell.py`

Relates-to: #3155
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

[2020-10-12 17:37] ryanhiebert commented on #3129
I'm trying to get switched to poetry today, and I ran into this issue. I'll try using an older version to see if that gets me unstuck for today.

[2020-10-12 19:02] abn commented on #2830
This cannot be reproduced.

[code]

[code]

[2020-10-12 19:02] #2830 closed

[2020-10-12 19:17] rugleb commented on #3115
I have a similar problem in version 1.1.2.

In `ad_strategies` project I have next dependencies:

[code]

In `ad_scores` package I need `ad_strategies` package:

[code]

Result of `poetry export -f requirements.txt -o requirements.txt --without-hashes` command in `ad_scores` package is:

[code]

and it wrong, I expect:

[code]

Sorry for my English

[2020-10-12 19:33] yunti opened #3184 "poetry default to using python instead of python3"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [n/a ] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: macOS big sur
- **Poetry

[2020-10-12 20:05] alimantu commented on #2388
I'm using poetry to create quite huge virtualenvs - 80+ packages and after fresh reinstall from poetry 1.0.5 to 1.1.2 I faced with this `zipfile.BadZipFile` issue. I tried to use `poetry cache clear --all <pypi_name>`, but in my case it didn't help.

What did?

1. Check the listing, search for the path of the specific corrupted wheel/tar.gz. It's usually starts with `Command ...../pip.exe install

[2020-10-12 21:26] pedrorrivero commented on #3184
It also fails to create the virtual environment. My current config is as follows:

[code]

[2020-10-12 21:27] oncleben31 commented on #3160
No same error by installing poetry from`git+https://github.com/abn/poetry.git@issue/3129` and redoing the instructions in first post.

[2020-10-12 22:11] Seanny123 commented on #2769
@taranlu-houzz possibly resolved with the release of 1.1.0?

[2020-10-12 22:12] jessaustin commented on #898
That PR still talks about `$POETRY_HOME`. That's not a thing that modern Linux users care about. Our other tools follow [the XDG spec](https://freedesktop.org/wiki/Specifications/basedir-spec/). Really old tools that don't know about that still know about `./configure --prefix`, and also they default that sensibly to `/usr/local`. The best tools allow the user to choose either of these standard te

[2020-10-12 23:04] Seanny123 opened #3185 "Poetry unable to parse bpython version on Fedora. Better error message?"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

# Summary

When a Python package has a malformed versio

[2020-10-12 23:23] abn commented on #3160
@oncleben31 apologies, I referenced the wrong pull request for your case. See #3119.

### Using pipx
[code]

### Using a container (podman | docker)
[code]

[2020-10-12 23:24] tharradine opened #3186 ""Compatible Release" (~=) operator violates PEP 440 with long (4-part+) versions"
- [X] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [X] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [X] **(N/A)** If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

<details>
<summary>poetry debug output</summa

[2020-10-12 23:25] abn commented on #3115
Can you please try the fix at #3119.

### Using pipx
[code]

### Using a container (podman | docker)
[code]

**Note:** The container example will require authorised pubkeys or the dependency references to be updated to anonymous ssh urls or https urls.

[2020-10-12 23:30] Jihadik commented on #3144
@pepastach, we started seeing lots of errors like this as well. As well as suddenly lots of warnings like `Connection pool is full, discarding connection: pypi.org`, which we were not seeing before.

I moved to 1.0.10 version, which previously worked fine and the same problems were discovered there.
@pepastach, would you mind creating an issue?

[2020-10-12 23:38] johnpaulett commented on #3115
I'm having a similar issue with nested relative path local dependencies on poetry 1.1.2:
[code]

It appears that poetry@3119 fixes it:
[code]

Not a problem, but interestingly, many lines now include the python_version restrictions (all of my internal dependencies and many third party libraries).

[2020-10-12 23:47] tharradine commented on #3186
Update: It seems as though the issue runs deeper, as this happens:

Input:

- `anchor-exp = ">=0.0.0.5,==0.0.0.*"`

Expected locked version:

- `anchor-exp = "==0.0.0.6"`

Actual locked version:

- `anchor-exp = "==0.0.2.0"`

[2020-10-13 00:27] dimaqq opened #3187 "Py3.10"
Python-3.10.0a1 is available, it would be awesome to be able to use it.

Today I can work around like so:
[code]

IIRC from 3.9, following needs to be done:
- [ ] ~change in code to add vendored deps for 3.10~
- [ ] change in the test matrix to include 3.10 (#3842)
- [ ] ~change in the release script to build against 3.10 (some platforms?~

[2020-10-13 01:17] abn opened #3188 "Nestedf development depdency overrides optional flag of main package"
Performing the following steps leads to a lock file where an optional `main` package gets marked as `optional = false`. This is unexpected and also seems to impeded correctly identifying package for removal during `poetry install --no-dev`.

### Reproducer
[code]

### Console Output Snippets
#### Lock File
Note the optional flag for `grpcio` package.

[code]

#### Output for `install --no-dev`
[co

[2020-10-13 01:18] kkozmic commented on #3094
Fair call @abn . Now 🤞 mypy 0.800 gets released soon so I can upgrade :partyparrot:

[2020-10-13 01:25] abn commented on #3187
@dimaqq you can [install poetry via `pipx`](https://python-poetry.org/docs/#installing-with-pipx) or plain old [`pip`](https://python-poetry.org/docs/#installing-with-pip) to use under python 3.10. However, note that the current "supported" python versions for discovery does not include `3.10`. However, you can manually activate an environment for your project.

[2020-10-13 01:35] akpircher opened #3189 "Poetry 1.1.2 uses an invalid format when exporting local file dependencies"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [ ] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: MacOS 10.14.6
- **Poetry ver

[2020-10-13 02:35] dimaqq commented on #3187
Oh yes, I did use `poetry env use 3.10` for an existing project.
Simple projects (few deps) work just fine with the work-around.
Complex projects are likely to not work due to some dep stumbling on BPO-40747

[2020-10-13 06:51] intgr commented on #2094
Well, "slow" is an understatement, I left `poetry update` running overnight and it's still going at 100% CPU:

<img width="310" alt="image" src="https://user-images.githubusercontent.com/137616/95825190-27fb2700-0d39-11eb-8228-008cc851c757.png">

[2020-10-13 06:53] razmarques opened #3191 "Including system libraries"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Issue

I want to include a library [(RDKit)](https://github.com/rdkit/rdkit) which is not available in PyPI. However this package is avail

[2020-10-13 07:29] techdragon commented on #2458
I'd argue this option actually belongs in both `poetry.toml` and `pyproject.toml` since a developer wanting to control their personal environment should use `poetry.toml` as this is their local config for their environments, however if a project were to for some reason _require_ this option, then it makes sense for them to have this in the `pyproject.toml` that will be checked into git and shared

[2020-10-13 07:41] seujza opened #3193 "unable to poetry install"
os ： win10
poetry version： 1.1.2
python version:  3.7.0
pip version: 20.2.3

when i execute `poetry install`， it returned
Thanks a lot in advance!
[code]

the poetry.lock is
[code]

[2020-10-13 08:18] mathieucaroff commented on #559
@sdispater I believe this issue does need to be reopened

[2020-10-13 08:45] abn commented on #2094
@intgr is there a `pyproject.toml` you can share that reproduces this behavior?

[2020-10-13 09:21] swamper123 commented on #3126
@natea I can confirm that this is a python installation problem where the ssl library is missing (has to be installed before installing the python version).

[2020-10-13 09:36] intgr commented on #2094
@abn Sure, I'll submit a new issue soon. I managed to get it working, `poetry update` now runs in 22 seconds.

[2020-10-13 09:46] jo7ueb commented on #365
I'm watching this issue as `opencv-python` requires --no-binary option in my case.

[2020-10-13 09:59] alimantu commented on #2339
I face same issue here, it seems to be, that poetry/pip checks packages for both default and secondary sources. It makes sense if we are talking about robustness - you'll always get version that will fit you best from poetry/pip point of view, but even so I would suggest at least some key/argument to avoid this deep check in case package fit the dependencies already found during search in some pre

[2020-10-13 10:04] kshcherban commented on #2179
Even `cd project/path && $(poetry env info -p)/bin/python foo.py` works but changing directories all the time is not convenient.
Also imagine such use case: you work in a monorepo and you need to start multiple projects from the same shell script.

[2020-10-13 10:36] alimantu commented on #3077
Same issue here.

**OS version and name:** Windows 10 Pro, Build 19041
**Poetry version:** 1.1.2

[2020-10-13 10:42] razorx89 commented on #3129
Any updates on this? I ran into this issue today, but unfortunately I cannot downgrade to 1.0.10 due to another bug.

[2020-10-13 10:57] #3193 closed

[2020-10-13 11:00] oncleben31 commented on #3160
Too bad same result. But perhaps it's on my side. I did have poetry errors after using your pipx command.
I've tried by installing poetry with `pipx install git+https://github.com/abn/poetry.git@cleanup/exports`

Have I done something wrong ?

[2020-10-13 11:07] abn commented on #3160
You need to do a `pipx install --force` i think if you are reinstalling because it is already installed before. Your command above would replace your current `poetry` binary., hence why I recommended you use the `suffix`.

[2020-10-13 11:15] oncleben31 commented on #3160
OK I've uninstall poetry before my command and with yours I have the following error and I don't know if it's important:
[code]
I can run the command the with the suffix with the same results:
[code]

[2020-10-13 11:19] abn commented on #3160
The issue you are seeing with `list` is a pipx issue: https://github.com/pipxproject/pipx/pull/491

As for the resulves you need `--dev` for the right results. The ouput above is correct since your `pyproject.toml` specifies that constraint. With `--dev` is when the nested dependencies of black gets activated causing two seperate entries.

[2020-10-13 11:50] ChameleonTartu commented on #3114
I get a similar issue with the 1.1.2 version. `link-python-common` is a private repo project.

[code]

Example of toml file:

[code]

Also, I set `
poetry config http-basic.example-test-pypi my_example_pypy_user my_example_pypi_password`

Is there anything I can do to fix this? I can make a PR if you guide me on where and what should be fixed.

[2020-10-13 11:53] abn commented on #3129
@razorx89 I am waiting on reviews for the fixes; unfortunately the team is a small group of folks volunteering spare time. :)

[2020-10-13 12:09] fkromer opened #3194 "Editable package command line interface installation under windows"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.

## Issue

Under Ubuntu I'm totally happy with my current setup. However under Windows I regularly run into issues w.r.t. this. I'm not sure if this is an issue or related to undocumented instructions.

On Windows 10 I'm running `Python 3.8.6`. My `project.toml`

[2020-10-13 12:18] abn commented on #3194
@fkromer you are attempting to build a `setuptools` project using poetry. In order to use poetry you willl have to create a PEP 517 project with a `pyproject.toml` and not a `setup.py` file.

You cat start by using `poetry init` to create this with some basic information for you. I would also recommend adding any dependencies your project needs.

To expose your cli, you will need to add a [`tools.

[2020-10-13 12:18] #3194 closed

[2020-10-13 12:21] abn commented on #3194
This is because python adds the current path to `PYTHONPATH` making it importable if a package. To avoid this gotcha, I'd recommend you adopt a `src/` layout for your project. This will ensure that you are also testing the right code if using tox.

[2020-10-13 12:30] fkromer commented on #3194
Thanks for this hint.

[2020-10-13 12:32] fkromer commented on #3194
Thanks. Activating the venv manually and executing the plain executable works. I'll consider to use https://github.com/dephell/dephell to ensure package meta data consistency (building wheels depends on `setup.py`, etc.).

[2020-10-13 12:38] abn commented on #3194
@fkromer I am not really sure what you are trying to achieve there. You do not need `setup.py` files for building wheels. You can see `poetry` itself if you would like. You can build poetry managed project wheels using `poetry build -f wheel`. And this is the whole point of [PEP 517](https://www.python.org/dev/peps/pep-0517/). Feel free to drop by our discord if you have more questions.

[2020-10-13 12:45] oncleben31 commented on #3160
So new and different results:
[code]
Is it OK to have 2 lines and not the union?

[2020-10-13 12:49] fkromer commented on #3194
@abn Great. Did not know that. The main point for me to use `poetry` is it's capabilities w.r.t. dependency resolution.

[2020-10-13 12:55] pederpansen opened #3196 "poetry install does not use available binary for numpy 1.19.2"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).
- **OS version and name**: Mac OS 10.15.6
- **Poetry ver

[2020-10-13 12:57] abn commented on #3194
I would recommend you try using only one of `setuptools` or `poetry` otherwise you are bound to end up with some pain, even if you introduce a third tool to try keep things in sync. I'd (of course biased) recommend using only poetry since you already want to rely on the dependency resolution.

[2020-10-13 12:59] NeilGirdhar commented on #1135
@mosesontheweb So basically you got it working by not using poetry?  I don't see how that helps.  We want to use poetry and have an editable install.  That means, keeping pyproject.toml and poetry.lock, and not having setup.py.

[2020-10-13 13:07] fkromer commented on #3194
@abn :slightly_smiling_face: Cause poetry supports wheel building I'll stick to poetry of course. Do you know about any issues w.r.t. building Python wheels including C/C++ extensions?

[2020-10-13 13:18] ericriff commented on #3184
The issue here is that the poetry executable has `python` in its shebang, which is annoying.
I don't remember exactly where it gets installed, but lets say it is `/usr/bin/poetry`, you can get this path with `$ which poetry`. If you edit the shebang in that executable and replace it with `!/usr/bin/env python3` instead of `!/usr/bin/env python` if will work.

This is a hack and not a solution. I d

[2020-10-13 13:30] abn commented on #3160
@oncleben31 yes; it is upto the PEP 517 front-end to decide what to do with that. We can create unions as well; but that might cause more problems down the lane. Also, this was the case in`1.0.10` too correct?

[2020-10-13 13:36] abn commented on #3194
You can refer to https://github.com/python-poetry/poetry-core/tree/master/tests/masonry/builders/fixtures/extended_with_no_setup for an example. Your `build.py` should be defined to handle building etc.

A real-world example is https://github.com/sdispater/pendulum/blob/master/build.py.

[2020-10-13 13:54] bjoernpollex-sc commented on #1632
Is there any update on this? On the one hand, this ticket is still open, on the other hand, [this comment][1] seems to hint that this might never be implemented.

[1]: https://github.com/python-poetry/poetry/issues/1632#issuecomment-567950475

[2020-10-13 14:14] vbersier commented on #2545
Hey @sdispater, is the fix you implemented present in poetry `1.1.2`? I tried my failing example with the latest poetry release and now it doesn't instal the dependencies of the extras at all.

[code]

So I would say it's a step backwards

[2020-10-13 14:15] Cielquan commented on #2539
So I tested it again on a VM that failed back then and now with `1.1.2` it works just fine. Dunno if the new version fixed it or some other circumstances.

[2020-10-13 14:15] #2539 closed

[2020-10-13 14:23] oncleben31 commented on #3160
Thank you for taking time for your explanation.
In 1.0.10 without the --dev flag, export function was doing the union (as shown in the example of the first post of this issue).
In need to reinstall poetry 1.0.10 to make the test and to confirm. I will do it later today.

[2020-10-13 14:29] vbersier commented on #2545
Hey @abn ,

Thanks for the suggestion, indeed this PR fixes the problem! Nice 👍

[2020-10-13 14:30] eduardofb commented on #3189
Hi. I'm having a very similar issue. According to this PEP [440](https://www.python.org/dev/peps/pep-0440/#direct-references), the format is right, but when running the command of pip install, it can't find the path correctly. Maybe is missing the `file:///` notation?

[2020-10-13 14:41] finswimmer commented on #3184
The shebang for `poetry`looks like this:

[code]

Which means, `poetry` itself will run with any python to which `python` points at the time of running. Doing this makes a smooth integration of `pyenv` possible. Your project needs python3.6? `pyenv shell 3.7.5` followed by a `poetry init -n` and `poetry install` and you are done. You need a python2? `pyenv shell 2.7.15` followed by a `poetry init

[2020-10-13 14:41] #3184 closed

[2020-10-13 14:44] fkromer commented on #3194
@abn I've tried on another windows machine with `poetry run my-cli --help` and got `ImportError: C extension: tzutc not built. If you want to import pandas from the source directory, you may need to run 'python setup.py build_ext --inplace --force' to build the C extensions first.` . What to do here?

[2020-10-13 14:48] naveen521kk commented on #3196
Did you install python 3.9 and did poetry created a venv with that?
I that is the case it is expected.

[2020-10-13 14:56] ericriff commented on #3184
When you say installer, are you taking abut `get-poetry.py`? Because last time I checked the shebang ended up being plain `python` regardless if I called `get-poetry` with `python` or `python3`.

[2020-10-13 15:21] silverwind opened #3197 "Make `poetry remove <package>` work on dev-dependencies"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Feature Request
[code]

It'd be nice if `remove` (and possibly other subcommands) would also look in the `dev-dependencies` for convenienc

[2020-10-13 16:56] abn commented on #3197
@silverwind how would you see this working for cases where a dependency exists in both categories? Do we then remove both? Or should we simply improve the error message to indicate that the package is present in another category?

[2020-10-13 17:09] akpircher commented on #3189
@eduardofb That seems to be the issue, manually adding `file:///` to the front of the path solves it

[2020-10-13 17:11] abn commented on #3144
@pepastach I am not sure you have provided any actionable information there. Perhaps details on how we can reproduce concern you have raised would be a start, `-vvv` logs would also go a long way to help. Since this issue is already closed, I would recommend creating a new issue if an open one for the errors you are facing does not already exist.

@Jihadik @pepastach if you are encountering issues

[2020-10-13 17:47] pepastach opened #3199 "poetry install fails on KeyError even for defined environment variables"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Debian Linux 10 Buster
- **P

[2020-10-13 17:49] pepastach commented on #3144
@abn Fair point. Here is the issue: #3199
Hope that would help someone reproduce it.

[2020-10-13 17:58] oncleben31 commented on #3160
With poetry 1.0.10 the results seems to be the union with or without the `--dev` flag:
[code]

[2020-10-13 18:38] max-sixty commented on #2937
Could I ask what the difference between having the _local_ config in `poetry.toml` and `pyproject.toml` is, on this dimension?

[2020-10-13 18:52] abn commented on #3199
@pepastach do you have any additional system information around cores availabe etc? Even any reference to the speciifcation of the runner the above occurs in.

[2020-10-13 18:53] abn commented on #3160
@oncleben31 I have added a fix to the same branch so that we emulate the same behaviour as `1.0.10`.

[code]

[2020-10-13 18:58] pepastach commented on #3199
It runs in AWS on **m4.xlarge** instances in Docker. That's 4 cores, 16 GB RAM, 2.3 GHz Intel Xeon® E5-2686 v4 (Broadwell) processors or 2.4 GHz Intel Xeon® E5-2676 v3 (Haswell) processors

[2020-10-13 19:14] kkawabat commented on #1168
I am trying to do something similar to this

[code]
but I am getting this error when trying to `poetry lock`

I think the problem is that poetry install installs both mylibdep and causes a conflict. Is there a way to prevent the production dependency from installing conditioned on whether -no-dev is on or not? Looking at the [doc](https://python-poetry.org/docs/versions/#using-environment-markers)

[2020-10-13 19:22] abn commented on #3199
Any limits on the container instances? Particularly CPU or Memory?

[2020-10-13 19:28] silverwind commented on #3197
The situation where the same package is in both `dependencies` and `dev-dependencies` should be avoided with by erroring when one tries to `add` a already existing module that is present in the other group. I don't see any valid use case that would require the same module to be in both at the same time.

As for `remove`, if it detects the module in both (maybe because of manual edits), I think it'

[2020-10-13 19:35] pepastach commented on #3199
No. When we run distributed unit tests, it reports 4 cores as it should. And memory is plenty. All the machine resources are available to the docker container running poetry.

[2020-10-13 20:07] intgr opened #3200 "Mistyped package name causes infinite loop"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [ ] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Tested on macOS & Arch Linux

[2020-10-13 20:10] max-sixty commented on #2938
I see something similar:

poetry initially chooses to install for python3.8:

[code]

And reports it as such:

[code]

But then actually sets up a python3.9 env:

[code]

Prior to running those commands, I'd removed any envs, such that `poetry env list` returned nothing.

Let me know any other details that would be helpful as a test case; here's a [`pyproject.toml`](https://gist.github.com/max-six

[2020-10-13 20:17] abn commented on #3200
Looks like there is a cyclic dependency involved here.

[code]

[2020-10-13 20:26] abn commented on #3200
@intgr noticed that. Appreciate the details in your issue report, it is extremely helpful.

[2020-10-13 20:56] rbpawle opened #3201 "`poetry add <dependency>` throws AttributeError, 'str' has no attribute 'get'"
Edit: this looks like an issue with a number of commands, not just add. These commands were working before, and I changed some configuration settings and the pyproject.toml file.

Using Poetry 1.1.2 installed in a python:3.7 docker container, `poetry add <dependency>` throws the below exception. I tried a few different dependencies with the same results.

[code]

[2020-10-13 21:28] abn commented on #3200
The issue was in how we normalised the name of the package. This needs a fix in core. And another change in poetry itself.

[2020-10-13 21:56] abn commented on #3197
I do not think poetry should disallow adding different versions that do not violate compatibility. An example scenario where this is required is when development environment might need particular extras activated for a dependency. There might also be scenarios where different versions are required only in development environment, or platform specific etc.

Removing both might be problemeatic as th

[2020-10-13 21:57] abn commented on #3199
Thanks @pepastach will try reproduce it.

[2020-10-13 21:58] jeriox commented on #977
just ran into the same issue. Any news on this?

[2020-10-13 22:24] Jihadik commented on #3199
I'm also seeing spurious errors like this one:
[code]
which causes `poetry install` to exit with code 1. It might be caused by parallel install.
@pepastach, have you tried disabling parallel installs?

[2020-10-13 22:27] #3069 closed

[2020-10-13 22:28] abn commented on #3163
@iadi7ya is this something you are still working on?

[2020-10-14 03:49] n8sty commented on #3171
@abitrolly you should be able to import `get-poetry.py` using `importlib` like

[code]

[2020-10-14 04:33] silverwind commented on #3197
The scenario you describe is probably so rare that it warrants a `--force` switch or similar. I don't even know how to import a specific version of a package without messing with `sys.path` which is probably should be discouraged in itelf.

[2020-10-14 05:46] cruzelante098 commented on #3139
Yes, I did have some preinstalled dependencies that wanted to keep while installing the project dependencies with Poetry. Thank you @abn.

[2020-10-14 05:51] iadi7ya commented on #3163
I am not able to figure out solution for this.

[2020-10-14 06:47] pepastach commented on #3199
@Jihadik as far as I know you can't disable parallel install in poetry 1.1.2

[2020-10-14 06:49] dorranh commented on #1168
@kkawabat, IIRC the issue is that poetry dev and standard dependencies form a kind of super set, so the `lock` command fails since you have two conflicting versions of the same package defined (one as the git dependency and as a local dependency). Are you just installing the package in the docker image build or are you trying to build a wheel? If only the former, have you tried using only the path

[2020-10-14 08:01] kosta-p commented on #3199
@pepastach actually you can `poetry config experimental.new-installer false` helped me to resolve similar issues on my MacOS dev environment and inside docker during Gitlab CI

[2020-10-14 08:29] pepastach commented on #3199
Thanks @kosta-p that seems to help. I ran our CI/CD three times and all runs passed.

**For anyone experiencing this issue, try disabling parallel installer:**

**`poetry config experimental.new-installer false`**

[2020-10-14 09:03] olliethomas opened #3202 "Platform constraint ignored"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- MacOS Catalina
- 1.1.2
- **Link of a [Gist](https://g

[2020-10-14 11:43] abn commented on #3202
@olliethomas it looks like the metadata for `guildai` does not contain the markers. Right now poetry is told `guildai` requires `windows-curses` irrsepective of platform and it tries to find a valid version for your platform. Which, obviously in this case, does not exist.

[code]

I would recommend that they add this to their `install_requires` instead of conditionally appending `windows-curses`.

[2020-10-14 11:44] #3202 closed

[2020-10-14 11:53] kaldown commented on #2618
Same for me.
I have `IPython` in dev, still `poetry export --without-hashes -f requirements.txt` including all dev packages

[2020-10-14 11:57] abn commented on #3163
As mentioned in #3061, feel free to discuss this on discord. Happy to give you pointers if you want to contirbute. The crux of what needs to be done is highlighted in the my comment about.

[2020-10-14 12:05] saskenuba commented on #2545
This also fixes my very weird 2nd level dependencies error. Thanks, hope it gets released soon!

[2020-10-14 12:12] abn commented on #3197
I suspect there is a sampling bias there. :) And this is not about having two versions of a package installed in the same site. The resolver will resolve this to a single version, but the required nested dependnecies may change based on installation context.

And to be clear, this behaviour is not intended to be changed at the moment. To bring things back on topic, this issue should focus on how t

[2020-10-14 13:13] olliethomas commented on #3202
Thanks for your help!

[2020-10-14 14:34] roxchkplusony opened #3203 "Adding a transitive path dependency throws exception"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: macOS Catalina 10.15.7 (19H2

[2020-10-14 14:38] pawamoy commented on #3167
We could also get rid of the `url` in `pyproject.toml` when/since it's already configured in Poetry's global config?

[2020-10-14 15:30] kshcherban commented on #1698
Just use odoo as a submodule in your git repo and change dependency from `git` to `path`.

[2020-10-14 15:42] zyv commented on #3115
Closing this, since the problem is finally resolved in #3119.

[2020-10-14 16:11] roxchkplusony commented on #2174
I just ran into this. If you open the sdist tarball and remove the `poetry.tool.dev-dependencies` section, it'll work as expected. What's not expected is that there's no clear way to build these sdists without the dev dependencies getting in the way.

[2020-10-14 16:34] rarenatoe commented on #3197
Why not show a confirm dialog.

Personally I am glad someone spoke out about this. I found this annoying too when trying to remove packages.

[2020-10-14 16:36] gcalmettes commented on #3199
Same error encountered during Gitlab CI, and disabling parrallel installer as noted above worked.
Thanks !

[2020-10-14 16:44] finswimmer commented on #3197
There is already a feature request for this in https://github.com/python-poetry/poetry/issues/2058. That's why I will close this one here.

I think the reason for confusion about the current behavior is, that only few people are aware, that one can define the same package in both section as @abn said.

IMO a confirm dialog would be fine. But also just removing the dep if it's only in one section w

[2020-10-14 16:44] #3197 closed

[2020-10-14 16:45] abn commented on #2058
@bhaveshpraveen were you still thinking of working on this?

[2020-10-14 16:54] bhaveshpraveen commented on #2058
@abn I did not receive any response so I didn't pick it up then. If it's alright, I'd like to pick this up now. I'll be able to work on this over the weekend.

[2020-10-14 16:55] silverwind commented on #2058
Here's my thoughts. I see two options to resolve:

1. Ignore the `--dev` argument on `remove` like other package managers and remove the dependency from both types. This is my preference because when removing a package, I do not want to think about where it was defined. If the same package is defined in both, remove it in both.

2. Provide a more helpful warning or a prompt when a package is in an

[2020-10-14 16:56] silverwind commented on #3197
Thanks for finding that one and sorry for not searching throughly enough. GitHub search was not really helpful when searching for keywords like "remove" which are found in many issues.

[2020-10-14 16:57] abn commented on #3203
@roxchkplusony this is expected behaviour as path dependencies are not included in the sdist of your first level dependency and an isolated build will fail because it is being built in a temporary directory. The exception is raised because the "../commons" directory is not longer in the expected location.

You could include the directory as part of your sdist. However, this will have to be in your

[2020-10-14 17:24] abn commented on #2058
@bhaveshpraveen sure go for it; as discussed here and elsewhere, the expected solution is similar to (2) as described by @silverwind.

1. If `--dev` is provided, only attempt to remove development dependency.
2. If `--dev` is not specified and
    a. dependency does not exist in in main, but exists in dev raise a confirmation prompt. Note that the prompt must only be a warning if non-interactive m

[2020-10-14 17:32] #3129 closed

[2020-10-14 17:32] #3115 closed

[2020-10-14 17:32] #3116 closed

[2020-10-14 17:32] #3112 closed

[2020-10-14 17:52] pedrorrivero opened #3206 "Virtual environment not created in-project on `poetry new`"
- [ ] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [ ] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: macOS Catalina v10.15.7
- **

[2020-10-14 17:53] finswimmer commented on #3178
Hello @Yajo,

looks like a broken venv. Can you remove the `.venv` folder, run `poetry install` and try again?

fin swimmer

[2020-10-14 17:54] elliott-imhoff commented on #2166
I'd like to add support for this feature.  I have repos with C++ extensions I need to edit and rebuild while developing.  Right now, the only way for me to do so is rerun ``poetry install`` after making changes to the C++ code, which then leads to poetry trying to reinstall all dependencies.  Some of these dependencies include git repos that have C extensions of their own for which I need to wait

[2020-10-14 19:31] finswimmer commented on #3206
`poetry new` doesn't create a virtual env. It gives you a basic package structure with a basic `pyproject.toml`. After running `poetry new` you have to step into the folder and run `poetry install`.

[2020-10-14 19:31] #3206 closed

[2020-10-14 21:22] max-sixty opened #3207 "Add poetry to all shells on install?"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Feature Request

Currently it seems that poetry adds itself to the PATH in the system's default shell. Here's an example — this system has

[2020-10-14 21:51] max-sixty commented on #2938
FWIW running `poetry env use 3.8` makes this work!

[2020-10-14 21:56] max-sixty commented on #2908
Is this a duplicate of https://github.com/python-poetry/poetry/issues/2124?

[2020-10-14 21:58] max-sixty opened #3208 "poetry env remove --all?"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Feature Request

In debugging some recent issues, I've wanted to clear out all poetry environments to reset state. Any thoughts on a `poet

[2020-10-14 22:01] jgentil commented on #3077
Something to try:  Make sure you aren't running `poetry install` from inside a `poetry shell` or have an active poetry shell running.

Moving out of the shell fixed it for me.  I had to stop _all_ instances of the shell though.

[2020-10-14 22:08] ericriff commented on #2908
In deed it it. I'll close it.

[2020-10-14 22:08] #2908 closed

[2020-10-14 22:12] ericriff commented on #2924
I'm working around this limitation by setting `in-project` to `false` and the `cache folder` to `.poetry`. That way I moved the whole cache to the root of my project and I end having an arbitrary number of environments inside my project.
The drawback is that relative paths for the cache is broken for python3.7(+?)
https://github.com/python-poetry/poetry/issues/3049

[2020-10-14 22:28] abn commented on #3208
I do not see why not.

[2020-10-14 23:06] abn commented on #3077
Dug into this a further. Found the root cause.

https://github.com/python-poetry/poetry/blob/20a3161b0e3f417f04b833c192dcb72076098a4b/poetry/repositories/installed_repository.py#L141-L148

We seem to be assuming that a package is a "path" package because the `.pth` file lists multiple paths but none of them are vcs pakcages. The else block should only set `source_type = "directory"` if at least on