[2020-10-14 23:58] abn commented on #3077
Can you please try the fix at #3210.

### Using pipx
[code]

[2020-10-15 01:44] sumanthratna opened #3211 "--no-interaction breaks commands"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: macOS 11.0 Beta (20A5384c)
-

[2020-10-15 03:37] azdkj532 commented on #3191
I think its out of scope of poetry, but you can still follow RDKit official installation guide to install it manually. https://www.rdkit.org/docs/Install.html#macos-10-12-sierra-python-3-environment

[2020-10-15 03:47] azdkj532 commented on #3191
Or you can create a virtualenv yourself in root of you project by `python3 -m venv --system-site-packages .venv`. `.venv` is a special env that poetry will directly use it if possible. See https://python-poetry.org/docs/configuration/#virtualenvsin-project-boolean

[2020-10-15 04:15] #2769 closed

[2020-10-15 06:19] DustinMoriarty commented on #3208
@max-sixty : See PR #3212. I added an --all option and the ability to list multiple envs in one go. I'll check in the morning to make sure that all checks have passed.

[2020-10-15 08:07] gimlidc commented on #1899
I have the same issue when I try to call poetry export, but there is no workaroud (--no-root is not an option for export).

`
IndexError

  list index out of range

  at /var/lang/pipx/venvs/poetry/lib/python3.8/site-packages/poetry/utils/exporter.py:76 in _export_requirements_txt
       72│             if not dev
       73│             else self._poetry.package.all_requires,
       74│

[2020-10-15 08:10] qiankunxienb commented on #1238
Same issue when I run `poetry add scrapy`.

[2020-10-15 08:19] qiankunxienb opened #3213 "[RecursionError] maximum recursion depth exceeded while calling a Python object"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: macOS Catalina 10.15.6
- **P

[2020-10-15 08:21] abn commented on #1238
@qiankunxienb I am unable to reproduce the issue see below. If this is is still occurring, can you please create a new issue with your `pyproject.toml` file along with the output of the command when run with `-vvv` please.

### Using a container (podman | docker)
[code]

[code]

[2020-10-15 08:22] abn commented on #3213
@qiankunxienb I am unable to reproduce the issue see below. If this is is still occurring, can you please add an example `pyproject.toml` file along with the output of the command when run with `-vvv` please.

### Using a container (podman | docker)
[code]

[code]

[2020-10-15 08:24] abn commented on #1899
@gimlidc please update to `1.1.3`.

[2020-10-15 08:27] qiankunxienb commented on #3213
Strange, when I add `-vvv` argument, the issue can not be reproduced.

[2020-10-15 09:52] silverwind commented on #721
Any pointers for the `distutils.util` error encountered on Ubuntu 20.04 when using `python-is-python3`?

[code]

[2020-10-15 11:43] mr-bjerre commented on #3129
How come this was closed? I'm still having this issue in 1.1.3

[2020-10-15 11:55] seandstewart commented on #3213
Popping in here to say that I'm getting this consistently when I attempt to export my lock file. Full traceback:

[code]

I've confirmed that this issue is _only_ occurring on poetry v1.1.3. Downgrading back to v1.1.2 resolves the RecursionError. I'm running these installations using the officially supported installer, not via pip or anything like that.

Here's a link to the current pyproject.toml

[2020-10-15 12:10] machielg commented on #3010
I also have this problem when doing poetry (1.1.2) install in gitlab. The workaround is disable the new installer: `poetry config experimental.new-installer false`

[2020-10-15 12:21] PetterS commented on #3010
Yeah, this should be relatively easy to fix. Just wrap a lot of calls to `self._io` with a lock in the executor. Alteratively, make `IO` from clikit safe to call from multiple threads.

[2020-10-15 14:20] ryanhiebert commented on #3129
1.1.3 fixed the issue in my case. There might be something different about your setup that needs to be identified.

[2020-10-15 14:59] mazlum opened #3215 "Poetry does not install packages extras"
Hello,

I have started using Poetry.  I installed django-import-export. But poetry does not install tablib exstras. You can see [setup.py](https://github.com/django-import-export/django-import-export/blob/master/setup.py). Django-import-export has tablib[html,ods,xls,xlsx,yaml] requirement. But poetry does not install these(html,ods..) packages.

[2020-10-15 15:07] abn commented on #3215
@mazlum  I am unable to reproduce this.

[code]

[code]

[2020-10-15 15:09] jairhenrique opened #3216 "Authentication from poetry.toml doesn't work on 1.1.x"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: MacOS 10.15.7
- **Poetry ver

[2020-10-15 15:31] Yajo commented on #3178
This is what it says now, after deleting `.venv`:

[code]

Running `poetry install` seems to raise the same exception.

[2020-10-15 15:31] mazlum commented on #3215
Ohh. I'm sorry. I was using poetry 1.1.2. I think it was fixed 1.1.3. I updated poetry and problem solved.
Thank you very much.

[2020-10-15 15:31] #3215 closed

[2020-10-15 16:02] sujaymansingh opened #3217 "Extra depencies not being fetched?"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: MacOS 10.14.6
- **Poetry ver

[2020-10-15 17:39] abn commented on #3217
@sujaymansingh can you please try with `1.1.3`? You might want to either perform a `poetry update` or `poetry lock --no-update` prior to testing.

[2020-10-15 18:53] johnpaulett commented on #3148
Running into this myself.  poetry@1.0.10 (& older) would treat as
[code]

But with poetry@1.1.3 has the relative file path (pyproject.toml uses new develop tag `"mypkg.pkg1" = {path = "../pkg1", develop = true}`:
[code]

In my use case, I run `poetry build -f wheel`, assemble my local wheels into a wheel directory, then install the whl's inside docker.  Perhaps that itself is a corner case, but I'

[2020-10-15 21:24] zcherries commented on #3216
I'm also experiencing this same issue

[2020-10-15 23:22] rzuckerm opened #3218 "FileNotFound error when installing packages when console script same name as package for Python 2.7"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Ubuntu 20.04
- **Poetry vers

[2020-10-15 23:46] maroux opened #3219 "Frequent intermittent connection failures"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Debian GNU/Linux 10 (buster)

[2020-10-16 01:10] Seanny123 opened #3220 "Add ability to togglle dependency 'develop'"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Feature Request

Path-dependencies in Poetry can be [optionally marked as `'develop' = True`](https://python-poetry.org/docs/dependency-sp

[2020-10-16 03:43] inseopark commented on #2445
I've found something strange behavior on this topic.
Using poetry version 1.1.2, on Windows, I wanted run some script runnning with System privileges, I want to set cache-dir set other than Windows system directory.

When testing with normal user account,
* Without environment variable set :
[code]

* With POETRY_CACHE_DIR set to other locations
only artifacts directory goes into POETRY_CACHE_DIR,

[2020-10-16 04:37] finswimmer commented on #3220
Hello  @Seanny123,

yes this is something really useful :+1:

@abn listed this also in his suggestion in https://github.com/python-poetry/poetry/issues/3004.

fin swimmer

[2020-10-16 04:54] finswimmer commented on #2937
The `pyproject.toml` contains information about your package, like metadata and dependencies. Anything that is needed to build the package.

The `poetry.toml` contains the local configuration of the poetry application. One should not check-in this file into a repository, because these configuration are just personal flavors.

[2020-10-16 06:49] akeeman opened #3221 "Version resolving for vcs hosted packages"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Feature Request

**TL;DR** I'd like to be able to resolve vcs hosted package versions just like PyPI hosted packages.

Consider the follow

[2020-10-16 06:53] cruzelante098 commented on #3139
Hi @abn, one question. I was reading the docs. Should this bevahiour already be covered by the flag `--remove-untracked`? Meaning no dependencies should be removed unless the flag is passed to the command.

[2020-10-16 07:59] hrist0stoichev commented on #453
If you use `poetry-dynamic-versioning` and the above mentioned script is failing, you can try this one:
[code]

[2020-10-16 08:57] Izoelektro commented on #2825
Confirming that this is still an issue as of Poetry version 1.1.3.

It seems as if the poetry CLI/prompt overshadows the Git one - I am assuming this because for me the poetry prompt (without verbosity) keeps flashing and at times shows the Git prompt. I have even managed to make it work simply by guessing when the Git prompt appeared and typing in my username and passphrase multiple times.

This

[2020-10-16 09:45] sujaymansingh commented on #3217
Looks like using `poetry==1.1.3` fixes the issue, thanks @abn

[2020-10-16 09:45] sujaymansingh commented on #3217
Do you want me to close the issue?

[2020-10-16 10:15] rienafairefr opened #3222 "Poetry inheriting issue for git-client on github.com"
- [X] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [X] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [X] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Linux Mint 20, Py3.8.2 virtu

[2020-10-16 10:29] abn commented on #3222
At first glance I do not think this is an issue. Because there are legitimate cases where an `http` url is used and authentication is expected via CLI interaction. This probably is a different case if for example `--no-interaction` is set etc.

[2020-10-16 10:30] abn commented on #3217
Closing as this was resolved with `1.1.3`.

[2020-10-16 10:51] abn commented on #3222
Does this cause the process to hang as indicated in #2825? As in,  is the user able to enter the details required?

[2020-10-16 10:55] abn commented on #2825
It seems that it might be senisble to disable interactions for the git client and document that cases that need credentials should really use https://git-scm.com/docs/gitcredentials.

[2020-10-16 11:04] abn commented on #3139
Yes and no. The key thing to note here is that the `install` command is meant to ensure that any new packages required added, existing packages updated **and** remove packages that were removed. The assumption is that the the environment is "poetry managed". This assumption, needs to be revisited eventually I feel.

Poetry will not remove, iirc, packages that were never managed by poetry. So if yo

[2020-10-16 11:04] winpat commented on #3219
I can confirm the same issue with Poetry 1.1.2. Every other install fail with a `ConnectionError`.

[2020-10-16 11:05] rienafairefr commented on #3222
I've encountered it. not sure why, but it's not consistent, sometimes I could try to enter the credentials, sometimes I couldn't

[2020-10-16 11:17] abn commented on #3221
[Wearing personal hat, not mainter hat for the following comments.]

@akeeman this is something I have been pondering about recently. A few points to talk about:

- Would we say that we only support cases where branches/tags are semver pep440 comatible? ie. `([v]<semver> | <pep 440>)?
- Would the wheel metadata use the `ref` version? If we do that doesn't that invalidate the "resolved" version? Ma

[2020-10-16 11:19] abn commented on #3222
As I suggested in the other issue might be better to recommend the use of https://git-scm.com/docs/gitcredentials and disable interactions as you suggested.

[2020-10-16 11:23] abn commented on #3219
Hmm, we saw this intermittently in our own CI a while ago, but was restricted to Cirrus CI FreeBSD instances (which runs on Google Cloud).

We might be able to do a bug fix to try recreate the session, but I suspect the issue might be at the process/scoket level.

@winpat what environment are you seeing your errors in?

I am really inclined to move http logic to `httpx` in the next minor to handle

[2020-10-16 12:21] abn commented on #3220
I think this can happen independent of #3004. If this happens first, we just update the key it operates on when #3004 lands.

[2020-10-16 12:26] abn commented on #3216
Not relevant to the issue, but note that the `repositories.MyPrivateFeed` configuration is for publishing, so `/simple/` url will not work for that, you are better off removing that if you do not publishing it.

@jairhenrique for sanity, does `curl https://user:pass@my-private-repo/pypi/simple/mypy/` work as expected?

[2020-10-16 12:46] winpat commented on #3219
I observed the problem in various GitLab CI pipelines (GitLab.com, not self hosted). If I remember correctly then GitLab also uses GCP.

[2020-10-16 12:46] jairhenrique commented on #3216
@abn

1. Yes, calling curl it works.
2. My env is clean, I don't set any poetry environment variable.
3. No.

I just ran `poetry config http-basic.MyPrivateFeed user pass` but it no make effect.
This command should create an environment variable?

[2020-10-16 12:51] #3134 closed

[2020-10-16 12:51] abn commented on #3134
Mitigation is available via #3157 thanks to @finswimmer

[2020-10-16 12:52] abn commented on #3134
Thank you for providing the root cause analysis @ericriff !

[2020-10-16 12:56] iksteen opened #3224 "Extra dependencies for package on private repo uninstalled when running `poetry install`."
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Arch Linux
- **Poetry versio

[2020-10-16 13:24] ericriff commented on #3134
Thank you guys for fixing it :)

[2020-10-16 13:24] robsonpeixoto opened #3225 "Support for pip --constraint"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Feature Request

Tools like airflow has some constraints that need be respected, [for exemplo ](https://raw.githubusercontent.com/apache/a

[2020-10-16 13:44] timkofu commented on #926
This worked for me:
- cd into the folder where `pyproject.toml` is
- Run `poetry env list` (this will show you the venv for that project)
- Then run `poetry env remove whatever-WhATeVs-py3.9` to delete it

Running `poetry shell` after will create a new venv, after which running `poetry install` will install all the deps listed in `pyproject.toml`.

[2020-10-16 14:20] jedie opened #3226 ""poetry version v1.2.3" changes Quotation marks"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [ ] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

 (`-vvv` option will not print any more informations)

[2020-10-16 14:27] danihodovic commented on #2825
@abn Can't you forward stdin / stdout between the git subprocess to the user process when the password prompt is triggered?

[2020-10-16 15:01] abn commented on #2825
I suspect that will cause more problems than it solves. For example, when multiple operations happen in parallel. Better to keep this simple.

[2020-10-16 15:12] finswimmer commented on #3226
Hello @jedie,

was there ever a version where poetry used single quotes?

fin swimmer

[2020-10-16 15:13] abn commented on #3225
@robsonpeixoto it is not clear what you mean here. I doubt this is within the scope of Poetry. How do you imagine thise being used when generating the lock file? Feels like you are essentially removing the resolver from the equation.

If airflow needs these pinned dependencies, shouldn't this be done so within the package's core metadata? It looks like it already is.

See snipped output below.
[co

[2020-10-16 15:19] abn commented on #3216
Environment variables, pre-existing configuration files (`~/.config/pypoetry`) etc. can  have an impact.

https://python-poetry.org/docs/repositories/#configuring-credentials

This will either store the credentials in your system keyring or to a file at `~/.config/pypoetry/auth.toml`. Can you try removing the `poetry.toml` file and using just the global config please/

[2020-10-16 15:35] jonapich commented on #3153
I am also getting this error and I can reproduce it.

https://github.com/jonapich/test-poetry-setuptools

Clone that repo, and try "poetry install" in the test-functools folder, you will get the same stacktrace as in the bug report.

This seems pretty serious 🤔

[2020-10-16 15:45] jairhenrique commented on #3216
@abn

**First test**
- Delete `poetry.toml` from source folder.
- Delete key from keyring.
- Run `poetry config http-basic.MyFeed user pass`
- `poetry lock` -> error:

[code]
---
**Second test**
- Delete `poetry.toml` from source folder.
- `pip uninstall keyring`
- Run `poetry config http-basic.MyFeed user pass` with output:

[code]
- `ls ~/.config/pypoetry` with output:

[code]
- `poetry lock` ->

[2020-10-16 16:09] jedie commented on #3226
I think no.

[2020-10-16 16:12] danihodovic commented on #2825
Usually the ssh key is prompted for once and saved in the ssh-agent.

[2020-10-16 16:47] max-sixty commented on #2937
I see, thanks @finswimmer

[2020-10-16 17:20] robsonpeixoto commented on #3225
For some reason Airflow are not pinning all dependencies.

[code]

Makes sense add this feature? Being honest, was the first time a saw this parameter `--constraints`.

[2020-10-16 17:31] teruokun commented on #2940
So, I agree that solving for this use-case is blocked on the above (supporting full Pypi mirrors or repositories based on full pypi mirrors that don't implement the json apis), but it's actually a different feature.

I actually also have this use-case, but it's because we have multiple private repositories that we actually want to publish to as they have specific use-cases as we want their ecosyst

[2020-10-16 17:39] abn commented on #3225
That sounds like an airflow packaging issue, if ipython is really a dependency. Although, doing `pip install apache-airflow==1.10.12 -c constraints.txt`, will not install `ipython` if it is not defined in the core metadata.

This feature does not, imho, make sense for poetry. We already have a lock file, which is effectively what the cosntratint file is (minus the top level dependencies).

[2020-10-16 17:43] #3225 closed

[2020-10-16 19:17] abn commented on #3224
@iksteen first off, thank you for the extremely useful bug report! :+1:

Did a bit of digging; seems the issue is the way we parse the extras from the lock file. I have a hotfix for `1.1` and a proper fix for `1.2`. Will put up a PR soon.

[2020-10-16 19:29] iksteen commented on #3224
@abn That's awesome! Thanks for the quick triage!

[2020-10-16 21:24] bphunter1972 opened #3228 "get-poetry.py installation with --file Does not rename lib"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: CentOS7
- **Poetry version**

[2020-10-16 21:49] abn commented on #3224
@iksteen Good bug reports help :)

Can you please try the fix at #3229.

### Using pipx
[code]

### Using a container (podman | docker)
[code]

[2020-10-16 22:33] abn commented on #2940
@teruokun I think your usecase can be handled in otherways. For example;

[code]

Alternatively, once #3068 is done, you could do something like this.
[code]

[2020-10-16 22:47] mathieucaroff commented on #2058
I like @silverwind's `Ingore` solution, (1. Ignore the --dev argument on remove), because I believe that the scenario of editing a command and not taking the time to remove the --dev option is the most common.

I do not see the point of installing a package both as a dependency and a dev-dependencies. All dependencies are also dev-dependencies since a developer needs the dependencies to test the c

[2020-10-16 22:57] dariobig commented on #3219
We are having the same issue with our CircleCI builds

[2020-10-17 01:17] abn commented on #3219
I am not entirely sure if this will fix the issue, since I am assuming the real issue here is some sort of networking layer throttling being hit. If some of you can please try the fix at #3230, it would be helpful to know if session reuse across thread exeuctions was the issue here.

### Using pipx
[code]

### Using a container (podman | docker)
[code]

[2020-10-17 01:34] abn commented on #3199
For issues relating to connection reset errors; please see https://github.com/python-poetry/poetry/issues/3219#issuecomment-710718687. We would like to keep this issue focussed on the key error issue.

[2020-10-17 04:33] malcolmgreaves commented on #2113
Came to file a bug about not being able to install `detectron2` -- as of `poetry` `1.1.3` it's still not installable.

detectron2 needs `torch` to install:
[code]

Even though I explicitly have `torch` as a dependency:
[code]

Curiously, if I remove the `detectron2` line, do `poetry install`, then add back the `detectron2` line and do `poetry shell`, I am able to follow the project's [installation

[2020-10-17 04:36] malcolmgreaves commented on #2113
I imagine this might be a difficult problem (building wheels from general `setup.py`s). Any chance that there's a way to have poetry try to install other dependencies first before doing `git` installable ones? (Does this even make sense? @finswimmer if you have any time to look into this 🙏 )

[2020-10-17 06:45] laike9m commented on #1713
Does it support a list?

[2020-10-17 09:45] jabbalaci commented on #1387
I'm using Poetry version 1.0.10. In `pyproject.toml` I have this line:

    mypy = "^0.761"

When I want to upgrade it with the command `poetry add mypy@latest`, I get this error:

[code]

[2020-10-17 10:46] mvoitko commented on #1609
Still relevant to me.
Poetry version 1.1.2
[code]
google-cloud-bigquery is installed. pandas is not.

[2020-10-17 10:54] jkowalleck commented on #3148
having a similar issue.

the error message on  loading an entry point

my setup:

package-a:
* iterates over entry points and load them via
[code]

package-b:
* providing an entry point via `tool.poetry.plugins."xyz"` in `pyproject.toml`
* I am having a relative dependencie in `pyproject.toml` ala
[code]

[2020-10-17 11:12] hemanta212 commented on #1387
@jabbalaci you should try upgrading to current latest version and if the issue still persists create new issue with detailed logs.

[2020-10-17 11:18] abn commented on #2113
@malcolmgreaves the issue is that the library does not add `torch` to it's `build-backend.requires`. This is not something poetry can resolve, even if we install torch into the project's virtualenv. The build for detectron happens in it's own isolated environment with whatever it declares as it's build requirements.

[2020-10-17 11:38] abn commented on #2825
Yeah but the issue is when multiple processes request at the same time. I'm inclined to day that it's safer to document this and error out gracefully. Maybe even a detailed message on what to try.

[2020-10-17 11:39] abn commented on #1609
@mvoitko can you please try `1.1.3`? There is also an issue with nested extras that will be resolved later with `1.1.4`.

[2020-10-17 11:41] abn commented on #3226
@jedie I think this issue should go to `tomlkit` because it needs to preserve style. We rely on that library to load and write to the toml files.

[2020-10-17 11:42] #3217 closed

[2020-10-17 12:26] silverwind commented on #2058
It will add to both but I think only the last added one is the one that will be the active one. I think adding a dependency twice is always an error, `site-packages` does not even support multiple versions of one package so it's always a error.

I'd say the general user expectance is option 1 and that's how prior arts like pip, yarn, npm work too.

[2020-10-17 13:09] jabbalaci commented on #1387
@hemanta212 Thanks! I installed it from my OS's repo but it was an old version. Thanks, I will try with the latest version.

[2020-10-17 13:12] iksteen commented on #3224
Works for me!

[2020-10-17 14:22] finswimmer commented on #2058
We cannot ignore the `--dev` parameter for `poetry remove`. As @abn said, poetry supports that one have a dependency in both section.

A use case for this would be for example, you are writing a package, which is a wrapper around `black`. So you define `black` as a dependency. At the same time, you want to pin `black` for a specific version during development to format your code. So you define `bl

[2020-10-17 14:36] finswimmer commented on #1387
Hello @jabbalaci,

I guess you have `mypy` defined in the `[tool.poetry.dev-dependencies]` section. A `poetry add mypy@latest` will add mypy to the `[tool.poetry.dependencies]`. Having the same dependency in both section [is supported](https://github.com/python-poetry/poetry/issues/2058#issuecomment-711019518) by poetry.

If I'm right with my assumption above, you would end up with two dependency

[2020-10-17 14:39] bhaveshpraveen commented on #2058
@finswimmer  @abn

To summarize

1. If `--dev` is provided, remove only from dev section.
2. If `--dev` is not provided and dependency is present in only one section, then remove it from that section.
3. If `--dev` is not provided and dependency is present in both the sections, raise an Exception

Is that correct?

[2020-10-17 14:48] finswimmer commented on #2058
Now that I read it like this, we should maybe ask the user, from which section the dependency should be removed (dev, non-dev, both). Otherwise we end up in a situation, where we cannot remove a dependency at all.

[2020-10-17 15:17] bhaveshpraveen commented on #2058
Ok, got it.

Just a sugestion, I was thinking maybe we could add a separate flag, say something like `--all` or `--both`, that removes the dependency from both the sections so that the user can remove the dependency without having to depend on the prompt from poetry.

[2020-10-17 15:28] finswimmer commented on #3178
Sure? The AppData folder is usually just hidden, but you can enter this address directly. Try to jump directly into `C:\Users\User\AppData\Local\pypoetry\Cache\virtualenvs\` and remove any folder starting with `copier-`.

fin swimmer

[2020-10-17 15:40] finswimmer commented on #3221
Hello,

I can see the benefit, but I'm not sure we should do this. IMO if someone points to a vcs (or a path dependency) they expect that exactly that package is installed, that is found in this location. If a vcs is now treated just like a private package repository, this expectation is not met anymore.

Furthermore I don't think this would work, if you build a package that then get's installed b

[2020-10-17 15:53] jabbalaci commented on #1387
@finswimmer : Thanks, you are absolutely right. mypy was originally in the dev. section. I didn't add the `--dev` option.

Well, in this case a more informative error message would be better. If the error message mentioned that the normal dependencies conflict the dev. dependencies, then it would be easy to figure out what's wrong.

[2020-10-17 16:01] abn commented on #3221
Wouldn't this be just a direct reference from the locked version? As it is today? I do not think this would change.

I do not expect this to change. The internal representation is what changes, but particularly only when resolving not when installing etc.

I am not sure I agree with this. All this changes is the ability to select the reference based on semver. I would suspect `ref` and `version` t

[2020-10-17 16:02] #3226 closed

[2020-10-17 18:18] GabrielSimonetto commented on #2252
Could you tell us what an example of this error would be? By looking on the website it seems to me it's somehow defined for most cases

[code]

By searching [issues with this error](https://github.com/python-poetry/poetry/issues?q=is%3Aissue+ModuleOrPackageNotFound), it seems to me there is no single answer as to how to define this structure, since most issues have been solved by some ad hoc knowl

[2020-10-17 18:18] GabrielSimonetto commented on #2252
@python-poetry/triage

[2020-10-17 18:28] #1467 closed

[2020-10-17 18:29] #1061 closed

[2020-10-17 18:32] #1280 closed

[2020-10-17 18:35] #1098 closed

[2020-10-17 18:37] finswimmer commented on #876
I guess `poetry lock` is what you are looking for :)

[2020-10-17 18:37] #876 closed

[2020-10-17 18:43] cauebs commented on #3207
Well, I'll propose a PR and I guess we can continue the discussion from there.

[2020-10-17 18:49] GabrielSimonetto commented on #766
Maybe this is already solved by #3061 ?

[2020-10-17 18:56] cauebs commented on #3207
But, to be clear, this should not be an issue. Windows and `fish` are the only special cases. The rest are Unix shells, and all profile files found will be modified.

I'll just change it so that those files are also modified when Poetry is installed under `fish`.

[2020-10-17 18:58] abn commented on #766
If any aspect of contribution has not yet been covered across #3061 and our `CONTRIBUTING.md` feel free to open specific issues or join the conversation on our discord server.

[2020-10-17 18:58] #766 closed

[2020-10-17 18:58] abn commented on #766
Oh thank you @GabrielSimonetto for pinging this issue. :) Appreciate it.

[2020-10-17 19:01] abn commented on #3207
I am curious if it is better for us to link or add poetry bin into user's available path if possible than modifying profile files.

[2020-10-17 19:03] malcolmgreaves commented on #2113
😭  Oh that's very unfortunate!

I appreciate the very prompt reply @abn 💯

[2020-10-17 19:09] cauebs commented on #3207
I think I suggested ages ago that we linked it from `~/.local/bin` and just hope for the best, hahah.

I don't think that looking at the PATH to decide where to put it is a good idea, but maybe make it add `~/.local/bin` to PATH instead of the Poetry directory, via the method currently implemented, and then link from there.

[2020-10-17 19:10] abn commented on #2113
No worries. Wish it was a more helpful response. You can just send them a PR with a minimal `pyproject.toml`. In the interim, you can use a branch on your fork with the change.

[2020-10-17 19:14] abn commented on #3207
Is there a comparable solution for Windows?

[2020-10-17 19:24] cauebs commented on #3207
Hum... I can only think of the Python scripts' directory, which is often added to the PATH. But I'm not even sure of how links work on Windows.

[2020-10-17 19:29] FinchPowers commented on #3216
A temporary solution that works for me is adding the private repository via

`poetry config repositories.<name> <url>`

[2020-10-17 19:58] abn commented on #2252
The standard structure being referred to is the structure where the project's root package is in the same directory as the `pyproject.toml` file (project root).

By default, if [`tool.poetry.packages`](https://python-poetry.org/docs/pyproject/#packages) is not defined, poetry will attempt to look for [`module_name(tool.poetry.name)`](https://python-poetry.org/docs/pyproject/#name). If this is not

[2020-10-17 19:58] malcolmgreaves commented on #2113
@abn Would the minimum viable `pyproject.toml` be to specify that `torch`, alongside `setuptools` and `wheel`, is a requirement of the build system? i.e. does this formulation make sense?
https://github.com/malcolmgreaves/detectron2/pull/2/files

(I originally first thought that I should make it a poetry project https://github.com/malcolmgreaves/detectron2/pull/1/files#diff-50c86b7ed8ac2cf95bd4833

[2020-10-17 20:08] estyrke-axis commented on #3213
I have the exact same issue as @seandstewart - install works fine, but export does not. Not sure if it is related to the OP or if it is better handled as a new issue?

[2020-10-17 20:09] estyrke commented on #3213
I have the exact same issue as @seandstewart - install works fine, but export does not. Not sure if it is related to the OP or if it is better handled as a new issue?

[2020-10-17 20:19] malcolmgreaves commented on #2113
🎉  I have answered my own question -- just adding `torch` to `requires` in the `build-system` section is all that's necessary to get `poetry` to understand how to build the `detectron2` wheel! 🎉

[code]

[2020-10-17 20:27] abn commented on #2113
@malcolmgreaves for completeness this is what you need to keep legacy build.

[code]

[2020-10-17 20:28] cauebs commented on #2932
I agree with you, that is my intuition as well. I'm on it!

We just have to figure out if it then makes sense to have a flag for all commands that use a venv to not run `install` automatically when creating a new venv. I'm not sure.

[2020-10-17 20:30] malcolmgreaves commented on #2113
Great! Thank you a ton 💯 💯 🤗

[2020-10-17 20:42] max-sixty commented on #3207
That makes sense — my mistake

Thanks a lot for the PR!

[2020-10-17 21:09] chdsbd commented on #876
I don't think this issue should be closed.

`poetry lock` does not match this request. This request is for a `--frozen-lockfile` flag for `poetry install` that would raise an error if `poetry` was missing a lock file.

This is available in [`yarn`](https://classic.yarnpkg.com/en/docs/cli/install/#toc-yarn-install-frozen-lockfile) for comparison:

[2020-10-17 21:11] GabrielSimonetto opened #3236 "Organization: _get_validator function is not used inside the project"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Issue

I am currently trying to find missing tests on coverage, which leads me to `grep -r` some functions across the project in order to

[2020-10-17 21:22] GabrielSimonetto commented on #3236
Also happens with:

[code]

[2020-10-17 22:19] abn commented on #3213
Thank you for the reproducer @seandstewart.

Can you please try the fix at #3237.

### Using pipx
[code]

### Using a container (podman | docker)
[code]

Note that the lock step will take a a minute or so.

[2020-10-17 22:32] abn commented on #3236
For `_get_validator`, I suspect that the original intent was to validate the values when a merge is performed. As for the other two, I think its just left over code from an older version and can be removed safely.

[2020-10-17 22:34] abn commented on #876
@chdsbd are you suggesting that there is a need for `poetry install` to not create a lock file if one is not available? Can you provide a scenario where this is required?

[2020-10-17 22:42] abn commented on #2113
I am going to cose this issue as the original issue has been resolved and the current issue has to do with lack of PEP 517 metadata in the package source.

[2020-10-17 22:42] #2113 closed

[2020-10-17 22:44] cauebs commented on #2932
Actually, it wasn't as trivial as I imagined. Creation is not done directly by a `Command`, it's done by an `Env` when `EnvCommand.env.execute` is called. I can think of two options, both bad: instantiate a `InstallCommand` inside the `utils/env.py:Env`, or find some way to bubble up to `Command` whether a venv had to be created or not.

Not sure how to proceed, so I'll wait for feedback from the

[2020-10-18 00:01] abn commented on #2388
@alimantu appreciate the details provided. The new installer is a significant shift from what was being done in `1.0.z`, and it does come with it a new set of concerns. We do anticipate bugs along the way till the implementation stabilises.

The particular issue you seem to be hit with is a failure to discard corrupt/invalid cached artifacts. The cache clear does not invalidate the artifact caches

[2020-10-18 00:37] chdsbd commented on #876
@abn `poetry install --frozen-lockfile` would error if `poetry.lock` was missing or out of date. This would be useful in CI to prevent mistakes when changing `pyproject.toml`.

[2020-10-18 01:38] jaklan commented on #2949
@billop but you know you can change this setting both globally and for given project and you don't have to play manually with `.bashrc`, right?

[2020-10-18 01:54] billop commented on #2949
@jaklan I'm aware of both options yes; sorry looking back it seems my comment is kind of confusing. My main point was that I never want virtualenvs not to be in the project, and every time I have to setup pypoetry on a new machine I have to set the option, and the global configuration is sometimes not an option on some new hosts, which means setting it for every project.

[2020-10-18 02:11] DustinMoriarty commented on #3228
I don't see get-poetry.py in the coverage. I would be happy to take a shot at creating some unit tests for the get-poetry script to see if we can reproduce this issue with tests. However, creating tests for get-poetry.py may be a larger task, so I could create a separate issue for it.

[2020-10-18 02:13] jaklan opened #3238 "Custom repository doesn't have precedence over PyPI"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: macOS Mojave 10.14.6
- **Poe

[2020-10-18 02:29] jaklan commented on #2949
@billop what do you mean by _the global configuration is sometimes not an option on some new hosts_? Why are you not able to change it (especially when you can modify `.bashrc`)?

As a workaround you can just use the one-liner:
[code]

BTW I also use Poetry only with in-project virtualenvs, so I support this proposal in general.

[2020-10-18 04:13] DustinMoriarty commented on #3228
I was able to reproduce this with a unit test. I will look into the cause.

[2020-10-18 04:31] DustinMoriarty commented on #3228
@bphunter1972 : Where are you getting the tar.gz file from? It looks like there may be a difference between an sdist off of pypi and the version that the installer downloads from https://github.com/python-poetry/poetry/releases.

[2020-10-18 06:14] DustinMoriarty commented on #3228
@bphunter1972 : You should be able to install just fine from the github release location. However, see PR #3239 for support for using the sdist from your pypi mirror. I can see how in some organizations the pypi mirror could be preferred over github releases. Let me know if this works for you.

[2020-10-18 06:19] finswimmer commented on #2252
I guess @GabrielSimonetto's main point is, that it is not stated clearly in the docs  how poetry detects the package and this should be improved. PR is always welcome :)

[2020-10-18 06:34] finswimmer commented on #876
`poetry` already gives you a warning if the lockfile is not up to date with the latest changes in the `pyproject.toml`. Maybe we can just change it to raise an error? Or provide a config to decide whether we want something like a strict mode, which will raise an error otherwise just a warning?

I'm not sure if there should be a way, that poetry raise an error if the lock file is missing. Isn't thi

[2020-10-18 07:10] abn commented on #876
I guess what's required is a `strict` install mode.

That said, there is already a PR that adds`poetry lock --check` for checking if the lock is fresh.

[2020-10-18 07:49] yajo opened #3240 "Allow adding git ref as dependency"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Feature Request

https://github.com/python-poetry/poetry/issues/357 says that git refs are supported on `poetry add`, but it seems it's no

[2020-10-18 12:04] oncleben31 commented on #3160
@abn Initial problem is solve with poetry 1.1.3, but another pop up and is related to `export` feature.

In my repo https://github.com/hacf-fr/meteofrance-api, the command `nox -s tests` will be OK for Python 3.8 and 3.6 but not for 3.7 with this error:
[code]

In the Python 3.7 venv the command `export --format=requirements.txt --without-hashes --dev | grep zipp` return:

- `zipp==3.1.0; python_v

[2020-10-18 12:22] Keyurkariya commented on #381
Can I work on this issue? I did figure out the cause of this here :

https://github.com/python-poetry/poetry/blob/9c085a585c093a722717fec318bfc6610e93a9f1/poetry/console/commands/add.py#L173-L178

While the installer is running only `Exception` is being caught and not the `KeyboardInterrupt`. Also this issue would also be faced even without using `--dry-run `

[2020-10-18 13:25] johannb75 commented on #850
Have you found a solution to this issue?
I'm facing it

[2020-10-18 14:20] abn commented on #381
@Keyurkariya sure. Migth want to just use `BaseException` instead of `Exception`.

[2020-10-18 14:24] abn commented on #850
@johannb75 this is working as expected at the moment. There is a feature request at #2310 regarding the expansion of this to support files.

For task runners, the community has built additional tools like https://github.com/nat-n/poethepoet to support that use case.

[2020-10-18 14:37] Keyurkariya commented on #381
Yeah @abn `BaseException` is the `Baseclass` of both the `Exception`

[2020-10-18 15:19] estyxx commented on #381
I was working on this, I did a Draft PR #3233,  I need to change to BaseException!  :)

[2020-10-18 15:33] noritada commented on #2674
I encountered the same issue and found this issue report.
In my case, interruption of package installation by signal creates a broken cache file, and subsequent installation trials all failed.

I worked around by manually downloading the tarball and putting it to the path shown in the error message.

[2020-10-18 15:50] billop commented on #2949
@jaklan I don't even remember myself, but I think I confused two different hosts, one of which periodically cannot access HOME while the other doesn't have access to my HOME (GPU cluster).

To constructively add something to the discussion: what is the advantage of the current default? I think the advantage is the usual advantage of following XDG_CACHE_HOME where files that can be deleted can be c

[2020-10-19 02:18] CircleOnCircles commented on #2949
@billop  one solid benefit of is that you can easily switch between python version without a need to reinstall environments each time. since `.venv` could contain only 1 python version at a time.

Still in my daily python library development, I'm usually staying with a single python version and let CI/CD check other versions for me. If I have to debug then I could do a reverse of @jaklan. e.g. `py

[2020-10-19 02:30] rendaw commented on #365
This is not a duplicate of #1316 since _this_ issue, as an install override, doesn't drag in the question of config files/lock file specifications, platform string matching, etc.

Another example, `gevent==1.4.0` wheel doesn't work with new versions of Python 3.7 (Debian) due to binary incompatibility.  Installing from source works, but `PIP_NO_BINARY` or other environment variables don't work.  M

[2020-10-19 02:34] rendaw commented on #365
`PIP_NO_BINARY` environment variable no longer works since (1.10?) since file resolution is being resolved by Poetry itself no longer pip.

[2020-10-19 06:17] akeeman commented on #3240
I don't know the details, but you _can_ add branches, tags and commit hashes. So doesn't work referencing the related branch for you?

[2020-10-19 07:06] Izoelektro commented on #2825
From a user standpoint, git credentials do a fairly good job of solving it. Just documenting the issue would already help quite a lot in my opinion. Simply as an idea, would command-line options to provide credentials be a possible solution? That would likely cause some 'bloat' (verbosity) in the commands however.

[2020-10-19 07:14] sergekir commented on #3213
Same problem here.
`poetry@3237` worked fine and it took only a few seconds for 150+ deps 👍
But it added python version restriction on every package.
Is it expected?
In `pyproject.toml` there is `python = "^3.8"` and i got:
`flake8==3.8.4; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")`

[2020-10-19 08:03] abn commented on #3213
@sergekir at the moment this comes via propagation from dependency markers so, it does not take into account the pypt python constraint. The per dependency python constraint is expected at the moment since we are simply propagating whats in the lock file. Will see if we can remove that later on.

[2020-10-19 08:12] max-wittig commented on #3199
Same happening here in GitLab CI. 1.1.3 didn't fix it.

[2020-10-19 08:35] salty-horse opened #3242 "Docs: Caret requirements example incomplete"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.

## Issue
The current `master` documentation in `docs/docs/dependency-specification.md` says:

The text is missing an example caret version requirement for `requests`. The words "In this case" don't match anything.

[2020-10-19 08:36] akeeman commented on #3221
I mostly agree with @abn. Also I think that giving vcs refs multiple modes of operation (exact ref, and resolving versions) is a good thing.

A PEP would help here. So that votes for discarding this PR.

The final points of @abn hit the spot where the pain is. Coming up with proposals I got to a different possible solution. So let me get back to what I posted initially wit a few alterations:

[cod

[2020-10-19 08:47] estyrke commented on #3213
@abn, poetry@3237 works great for me!

[2020-10-19 08:54] chineseluo opened #3243 "How to package and upload to https://test.pypi.org ? Can you give me an example? thank you"
How to package and upload to https://test.pypi.org ? Can you give me an example? thank you

[2020-10-19 10:21] AKuederle commented on #3243
I think this article explains it really well. https://johnfraney.ca/posts/2019/05/28/create-publish-python-package-poetry/

[2020-10-19 10:26] RollerKnobster commented on #3213
Was able to reproduce the `maximum recursion depth exceeded` on any dependency-resolving action on `v1.0.9` but the issue was quickly fixed by updating `to v1.1.3`. Not sure if this is helpful or not.

Also providing [the stacktrace from `-vvv`](https://pastebin.com/6EuzzCQF).

[2020-10-19 15:04] yihuang commented on #944
I still have this issue, reproduce:
[code]

[2020-10-19 16:27] 0scarB commented on #3220
@python-poetry/triage Hi, really like the project. Have used it for a couple of personal projects. Mind if I take on the issue

[2020-10-19 16:51] finswimmer commented on #3220
Hello @0scarB,

I don't know if @Seanny123 already started to work on it? Otherwise we really appreciate any contribution :+1:

fin swimmer

[2020-10-19 17:20] bphunter1972 commented on #3228
Got it. Confirmed that this works.
Yeah, adding more help on where the --file must come from would be great!

[2020-10-19 17:20] #3228 closed

[2020-10-19 17:24] max-sixty commented on #2938
Unfortunately `poetry env use 3.8` is fickle, and doesn't work on a colleague's system, who still sees:

![image](https://user-images.githubusercontent.com/5635139/96490021-1ad8af00-11f5-11eb-8321-c38afc7859f5.png)

Is this expected? Am I doing something wrong to make this happen or is this a bug? Is there anything I can do to fix this?

[2020-10-19 17:25] Seanny123 commented on #3220
Have no started yet. Go for it @0scarB

[2020-10-19 17:26] 0scarB commented on #3220
@Seanny123 thx, I will :)

[2020-10-19 17:42] abn commented on #3228
@bphunter1972 just to be clear you don't need the `get-poetry` script to install from PyPI or a mirror.

You can simply use `pip install` or `pipx install` (probably preferred) for those.

[2020-10-19 17:45] abn commented on #944
@yihuang that is expected behaviour at the moment when PyPI metadata does not contain requirement information. We pick the first available wheel and derive core metadata from it. This is not the wheel that gets installed. This is only used for inspection.

[2020-10-19 17:52] ericriff commented on #2938
The easiest way to get around this is to remove all the versions installed with `pip` and then install it using `get-poetry.py` which is the recommended method.

[2020-10-19 18:05] bphunter1972 opened #3247 "ModuleNotFoundError: No module named 'pip._internal.cli.main'"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: CentOS7
- **Poetry version**

[2020-10-19 18:14] bphunter1972 commented on #3247
Additional information:

Cleaning out the whole area and starting fresh with poetry v1.0.10 on a CentOS6 gives me Python 3.6.3 and pip version 9.0.1. However, poetry then works as normal.  `¯\_(ツ)_/¯`

[2020-10-19 18:17] bphunter1972 commented on #3228
Referring back to my original issue, the platform that I'm trying it from does not permit downloads from external sources. I could only push zipped files to it and download from our mirrored PyPI.

Running pip install of poetry is possible, because it's mirrored, but then nothing is set up. (In fact, I don't know how one uses poetry if you run pip install on it).

[2020-10-19 18:20] seansfkelley opened #3248 "breaking change: invert `lock --no-update` to `lock --update` (or similar)"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Feature Request

Now that https://github.com/python-poetry/poetry/issues/1614 is fixed and released (yay!), I'd like to propose that for v

[2020-10-19 18:50] johnthagen commented on #2094
Another example. Adding `black` took 284 seconds.

[code]

[2020-10-19 19:13] pmantica1 commented on #3075
I think that what led to the:`Removing wheel (0.34.2)` line was that the `poetry.lock` file was generated using a old version of poetry. The version of `poetry` in the CI was probably the latest version of poetry, in which the `wheel` package was unsafe. Since this package is marked as unsafe in the latest version of poetry, the poetry in the CI decided to remove it. However, I think that most if

[2020-10-19 19:29] max-sixty commented on #2938
Yes, I had some separate issues with `PATH` when using that approach, which using Brew takes care of. But potentially dealing with those issues is less work than dealing with these issues.

[2020-10-19 19:29] finswimmer commented on #3242
Hello @salty-horse,

yes this sentence seems to be a little out of context. A PR to make it better is very welcome :)

fin swimmer

[2020-10-19 19:35] #3243 closed

[2020-10-19 20:08] hugohjerten commented on #1985
@MatheusR42 I did the same mistake as you did! Silly for sure, but would be nice if there was an alternative error handling when installing a package that has the same name as the project 😅

[2020-10-19 20:54] guhcampos commented on #3153
I can confirm this is a problem and affects anything that ultimately still depends on calling `python setup.py`, such as:

- installing a poetry powered package with `pip install -e`
- using a local package in `pyproject.toml` like @jonapich demonstrates with `test-testing = { path = "../test-testing/" }`

I can confirm the problem with Python 3.6, 3.7 and 3.8 alike.

And this is really hard to de

[2020-10-19 20:56] abn commented on #3219
@maroux @winpat @dariobig can you please verify if the fix above resolves the issue for your environments. If it does I can get that into the next patch.

[2020-10-19 20:59] yousefissa commented on #2418
Anyone found a fix for this yet? Still experiencing with `poetry==1.0.10`

[2020-10-19 21:28] abn commented on #3153
@jonapich based on your description I have attempted to recreate the scenario (minus the windows environment). Let me know what needs to be changed to reproduce the issue.

[code]

<details>
<summary><b>Console Output</b></summary>
<p>

[code]
</p>
</details>

[2020-10-19 21:50] #2933 closed

[2020-10-19 21:57] #1894 closed

[2020-10-19 22:11] abn commented on #3173
I suspect that this might be better suited as a plugin once the plugin framework lands. I can see this being useful for a broad range of users, but not something should be supported in poetry itself.

Right now, `tox` might be a cleaner solution. Not necessarily too different from what you seem to be already doing though.

[code]

There are also couple of other options until the plugin framework i

[2020-10-19 22:34] jaklan commented on #3238
I've just found the very similar issues:
https://github.com/python-poetry/poetry/issues/1677
https://github.com/python-poetry/poetry/issues/2564
but the problem seems not to be resolved for almost a year, so I will keep this issue open to bump the topic.

[2020-10-19 22:45] bhaveshpraveen commented on #2058
@abn  @finswimmer

Hey, i've coded it up. I couldn't find any tests for `remove` operation (Maybe I missed it?) To add tests, is there any snippet/example that I can use for reference? And do I have to make changes in the documentation as well?

[2020-10-19 22:57] 0scarB commented on #3220
Only [directory](https://github.com/python-poetry/poetry-core/blob/fa522603bc2aff99127adaf585046f0ad50db973/poetry/core/packages/directory_dependency.py#L11-L21) and [vcs dependencies](https://github.com/python-poetry/poetry-core/blob/fa522603bc2aff99127adaf585046f0ad50db973/poetry/core/packages/vcs_dependency.py#L10-L28)support the `develop` attribute.

If we add `develop = true` without checking

[2020-10-19 23:13] ghost opened #3249 "Provide index to pip for installation of sdist build dependencies"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Windows 10, Version 1909
- *

[2020-10-19 23:46] abn commented on #3238
Can you please try the fix at #3251.

### Using pipx
[code]

### Using a container (podman | docker)
[code]

[2020-10-19 23:59] abn commented on #3249
@ajacquah can you provide the output of the following please?

[code]

[2020-10-20 00:03] abn commented on #3228
Just as any other `pip` installed application.

[code]

[2020-10-20 00:14] benjaminlee314 commented on #3238
is this the same issue as #3249 ?

[2020-10-20 00:58] eli-schwartz commented on #1645
Why is this bug report closed just because some unrelated bug mentioned 6 comments in happens to be resolved?

The error seems to have moved around a bit, but I still cannot package poetry due to:

[code]

[2020-10-20 01:17] AzMoo commented on #3199
I'm receiving the same error in the gitlab-runner.

As far as I can see, the issue occurs for me only when using the docker executor with linked services. It doesn't seem to occur if I don't have any linked services.

It seems not to occur if I run the same install in docker-compose with the same linked services, it seems specific to the gitlab-runner.

The issue does not occur if I disable the ne

[2020-10-20 01:24] abn commented on #3199
@AzMoo @max-wittig are you referring to the KeyError or the connection reset error?

[2020-10-20 01:26] AzMoo commented on #3199
@abn Sorry, I am referring specifically to the KeyError as described in the original post by @pepastach

I have also seen it raise an EnvCommandError.

[2020-10-20 02:03] AzMoo commented on #3199
I've created a repo here: https://github.com/AzMoo/gitlab-poetry-test that replicates the issue.

I've found it doesn't require linked services, just to be running in the gitlab-runner with the docker executor, and to install a fairly significant amount of packages.

[2020-10-20 04:55] ajacquah commented on #3249
@abn here's the output
[code]

[2020-10-20 06:32] winpat commented on #3219
@abn Thanks for your help! I've added your fix to a couple of different projects. It will take a day or two until I can whether it's working or not.

[2020-10-20 08:06] bnavigator commented on #1645
+1 for the report of the bug message (we also skip this one on openSUSE) but -1 for the complaint. Nobody told them about the *different* PermissionError.

[2020-10-20 08:08] brechtm commented on #3075
For what it's worth, I don't think a fix for this should be high priority as it will only occur in a very specific situation. The problem can be manually fixed without too much fuss and there are probably more urgent issues to address.

For anyone running into the same problem, this should fix it:
- delete your virtual environment
- `poetry install` using 1.1.x
- `poetry update`
- delete the new v

[2020-10-20 09:45] absassi commented on #3110
I also have the same problem. The funny thing is that when doing `poetry add my-private-package` it is able to find the latest version of that package and resolve its dependencies (so `certificates.my-private-repo.cert` config is used there), but then fails when trying to actually install it.

Setting `REQUESTS_CA_BUNDLE` (or `CURL_CA_BUNDLE`, as requests check for them both) fixes it for me.

[2020-10-20 09:48] pawel-ch commented on #208
Can't do `poetry update` without this and depend on packages from our repository in local development. And yes – we would like CI to work too.

[2020-10-20 09:54] absassi commented on #208
@SpicySyntax , @yousefissa , @pawel-ch , see comment above from @loop0 on how this can be scripted:

https://github.com/python-poetry/poetry/issues/208#issuecomment-553480601

[2020-10-20 10:09] ulope opened #3252 "Upgrading dependencies needs better UX"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Issue
Currently there seems to be no "nice" way to upgrade specified dependencies.
What seems to be necessary is to run `poetry show --out

[2020-10-20 10:11] pawel-ch commented on #208
@absassi That doesn't solve the problem of storing credentials from URL in repository (both `pyproject.toml` and `poetry.lock`). Ie. for GitLab it looks like this in `pyproject.toml`:
[code]

And like this in `poetry.lock`:

[code]

[2020-10-20 10:21] abn commented on #208
@pawel-ch you can also use the environment variables `POETRY_HTTP_BASIC_GITLAB_USERNAME` and `POETRY_HTTP_BASIC_GITLAB_PASSWORD` if you want to use environment variables instead of the config.

[2020-10-20 10:29] abn commented on #3249
@ajacquah the issue here is that the isolated build environment required to build balck from `sdist` is not able to be setup as it cannot download setuptools.

Poetry when building wheels from sdist for dependencies (not the project itself) will handover build to `pip` via `pip install /path/to/sdist`. This will in turn trigger a PEP 517 isolated build within `pip`. During this process, it needs t

[2020-10-20 11:11] abn commented on #3199
Unfortunately I was unable to reproduce the issue on my machine. I do not have access to a gitlab environment readily to test. But, can you please try the fix at #3253. See if that makes a difference?

### Using pipx
[code]

### Using a container (podman | docker)
[code]

[2020-10-20 11:55] 0scarB commented on #3004
@python-poetry/triage I wouldn't mind working on this, given I've gained a bit of knowledge working on #3220. I could also fix the issue of the bad error message mentioned in #3220

[2020-10-20 12:08] mcepl commented on #1645
I am a bit lost: do we have opened ticket for this here?

[2020-10-20 12:31] bnavigator commented on #1645
No we just referenced this one here. Bad practise on our side, nothing to chastice the python-poetry developers

[code]

[2020-10-20 12:52] max-wittig commented on #3199
@abn I was mentioning the `KeyError` as in the issue title. @AzMoo Could you mirror that repo to `gitlab.com`, so that @abn can see the error in the logs?

[2020-10-20 12:55] eli-schwartz commented on #1645
There are a bunch of errors cropping up in various places, but they *all* have to do with the exact same problem -- the testsuite keeps on trying to do work, in the directory `/foo`.

It seems reasonable that they're all the same underlying issue, represented by this ticket.

[2020-10-20 12:57] ulope commented on #3252
I missed #461

[2020-10-20 12:57] #3252 closed

[2020-10-20 13:35] seandstewart commented on #3213
Hey @abn sorry for the late response - confirmed poetry@3237 works for me!

[2020-10-20 14:17] apollo13 opened #3254 "1.1.3 regression. poetry exports wrong constraints"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Fedora 33
- **Poetry version

[2020-10-20 14:21] Yajo commented on #3240
El dom, 18 de oct de 2020 a las 23:17, Arjan Keeman
<notifications@github.com> escribió:

Yes, that's been my workaround, but it's not as self-descriptive as
adding the pull request directly.

Besides, I don't know why it shouldn't work if it works with raw pip...
🤔

[2020-10-20 14:52] ajacquah commented on #3249
@abn - Thanks for explaining, that makes sense. And glad to hear this part will be consumed by `poetry` in the future.

I believe `black` and possibly other projects only makes `sdist` releases. I will look into this and confirm.

But given that we have the option to set a private repository as the *default* one, shouldn't this repo url be set via the `--index-url` for `pip` when handing over the

[2020-10-20 15:26] abn commented on #3249
At initial glance, I reckon your proposal is reasonable and should not impact other aspects as only assist and path cases require the isolated build environment.

Can you maybe verify that doing so manually works in your environment?

[2020-10-20 15:37] maroux commented on #3219
I've run it four times now and it's worked every time. I believe the PR does fix this issue.

[2020-10-20 15:56] abn commented on #3199
@AzMoo @max-wittig https://gitlab.com/abn/poetry-issue-3199/-/jobs/801924761 The errors seem to be package build related not the issue described here.

[2020-10-20 16:10] dariobig commented on #3219
Unfortunately I can't test it in our environment, I've turned off "new
installer" instead and that fixed the issue for us.

On Tue, Oct 20, 2020 at 11:37 AM Aniruddha Maru <notifications@github.com>
wrote:

[2020-10-20 16:23] jtc42 commented on #3196
We're also having this problem now which is causing significant delays in releasing a critical update.

Log available online if it's useful https://gitlab.com/openflexure/pi-gen/-/jobs/801886395

[2020-10-20 16:27] pmantica1 commented on #3075
Yep you are right. It's probably not worth fixing this.

[2020-10-20 16:50] abn commented on #1645
I have added some cleanup for the tests suites so that they work better for the use cases being described above. I am assuming (since it is not entirely clear), that the environments are your typical distro packaging environments. #3255

@bnavigator should allow you to re-enable most of those tests. Please let me know if additional tests are still failining. Particularly, if any tests still requir

[2020-10-20 17:04] ajacquah commented on #3249
Thanks @abn . Yes I can verify this works:
[code]

[2020-10-20 17:05] bnavigator commented on #1645
Thanks. Will test and report back.

+1 from me. dephell brings its own dependency hell (https://github.com/dephell/dephell/issues/347) and obviously fails too often on reading compliant specification files. Historically, it was necessary to create a setup.py and use the standard setuptools way of installing. Now we can also use `%pyproject_wheel` macro, which uses pip as PEP517 frontend.

+1

[2020-10-20 17:12] jtc42 commented on #3196
Worth noting that running `poetry config experimental.new-installer false` beforehand fixes this for me.

[2020-10-20 17:27] winpat commented on #3219
I also ran it a couple of times without any issues so far 👍.

[2020-10-20 17:34] ericriff opened #3256 "Poetry doesn't work on Ubuntu 16"
- [X] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [X] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [X] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Ubuntu 16 + Python 3.5.2
- *

[2020-10-20 18:10] sinoroc commented on #2458
As far as I know (from a previous discussion with @abn), Poetry's maintainers have on their todo list to revamp parts of the code base responsible for the handling of the configuration (which I believe includes the `poetry.toml` file, `poetry config`, the CLI flags, the environment variables, etc.). I have no idea how high or low the priority is for this task.

Most likely this feature request (`-

[2020-10-20 18:42] MrGreenTea commented on #2036
This has been added in Feburary already.

[2020-10-20 19:50] abn commented on #3256
The problem here is the dependency specificaiton in `clikit` and how poetry's release packages are built.

https://github.com/sdispater/clikit/blob/ead8dd5375d5c16fd9c9730a012a53d580201f62/pyproject.toml#L29

The poetry `3.5` release builds happen on `3.5.10` this means this dependency does not get bundled and this ends up with the issue it seems.

Installing using `pip` or `pipx` is recommended.

[2020-10-20 19:57] bnavigator commented on #1645
Meh, #3255 does not apply cleanly onto 1.1.3 and after rebasing, two tests still fail:

[poetry-pr3255-testcleanup-1.1.3.patch.txt](https://github.com/python-poetry/poetry/files/5411227/poetry-pr3255-testcleanup-1.1.3.patch.txt)

[code]

[2020-10-20 20:06] ericriff commented on #3256
So if I build my own release (I remember seeing a bash script that generates a release somewhere in the repo) using python 3.5.2, will it work?

[2020-10-20 20:07] bnavigator commented on #1645
BTW, the venv is still necessary because many tests call `python` directly instead of `sys.executable`

[2020-10-20 20:20] bnavigator commented on #1645
Directly building from 43cd07c has the same effect.

[2020-10-20 20:36] abn commented on #1645
The use of "python" is intentional in most cases as commands need to be executed by a different interpretor than that which poetry is running under.

As for the failing test, I have pushed a fix for the `test_builder_should_execute_build_scripts` failures. I am not entirely sure what is causing your failire for `test_execute_executes_a_batch_of_operations`. I tried locally without a network and it

[2020-10-20 20:37] bnavigator commented on #1646
This one and many more tests are still failing without venv (https://github.com/python-poetry/poetry/issues/1645#issuecomment-713109037)

[2020-10-20 20:43] bnavigator commented on #1645
Do you mean a different version or just a different process? If the latter, you still should use `sys.executable` because you cannot assume that `python` is in the PATH. openSUSE Tumbleweed only has `python3*`. `python` is Python 2 where installed.

[2020-10-20 20:49] bnavigator commented on #1645
With e1ba4f8 the test still fails, because you still want to write into the system root:

[code]

[2020-10-20 20:50] redraw commented on #2457
I took a simpler approach I guess? Supposing `poetry` is installed,

[code]

[2020-10-20 20:52] eli-schwartz commented on #1645
[code]

I discovered the cause of this error when modifying this: https://github.com/python-poetry/poetry/blob/68d6939f2e9cac1178fc5ffbcc3bac7a9db43fce/tests/installation/test_executor.py#L98-L126

so the `assert 0 == executor.execute` no longer masked the output which is tested by: `assert expected == output`

[2020-10-20 20:58] bnavigator commented on #1645
Okay, so the failed connection attempt debug log is misleading. Another permission error in system root. Good catch, Eli!

[2020-10-20 21:00] bnavigator commented on #1645
For all those tests the assertion of the returncode should be last.

[2020-10-20 21:02] abn commented on #1645
@bnavigator from your logs it seems that your are running as an unprivileged user, with system interpretor.  For that scenario, there are a few bugs in `1.1.z`. See #3107.

Different version when dealing with virtual environments. When dealing with system environment, we still use `sys.executable` and `sys.prefix` This is also whats essentially causing your woes, as I am assuming you are running a

[2020-10-20 21:02] eli-schwartz commented on #1645
Yeah, that was what I did -- saved it as `ret = ` then added `assert 0 == ret` all the way at the end (which nevertheless failed beforehand).

[2020-10-20 21:04] bnavigator commented on #1645
Running *tests* as privileged user is no option. Neither for rpmbuild (openSUSE, Fedora, ...) nor for Eli's Archlinux.

[2020-10-20 21:09] bnavigator commented on #1645
The same tests fail on 1.2.0a0 + #3255 (= e1ba4f8 )

[2020-10-20 21:23] abn commented on #1645
@bnavigator that fix (#3107) is not in master yet.

Not recommending that. What I am saying is you need to run your tests in a virtual environment. We do not really support running the test suite under the system interpretor.

I have updated the PR again with a few more fixes.

[2020-10-20 21:36] eli-schwartz commented on #1645
Question: does poetry's CI test runner get run as root, or does it get run via a virtualenv as you just suggested?

[2020-10-20 21:40] abn commented on #1645
https://github.com/python-poetry/poetry/blob/68d6939f2e9cac1178fc5ffbcc3bac7a9db43fce/.github/workflows/main.yml#L62-L68

Poetry implicitly manages the virtual environment.

[2020-10-20 21:44] eli-schwartz commented on #1645
But, does it actually *test* if the suite can run successfully as an unprivileged user?

Or does it only work because e.g. github workflows happen to run as root?

[2020-10-20 22:06] abn commented on #1645
@eli-schwartz the workflow does not explcitly drop down to an unprivileged user, but that is out of scope for the project. Most developers do not run the tests suites as the root user anyway.

Note that the issue that you are facing is effectively because the test suite is verifying that it can "install" to the `site` of the python interpretor that is running the test suite, as it is designed to d

[2020-10-20 22:06] oncleben31 commented on #3160
I found sequence to reproduce:
[code]
Check you have the following setting for python in `pyproject.toml`:
[code]
[code]
The last command will return:
- `zipp==3.1.0; python_version < "3.7" and python_version >= "3.6"` with poetry v1.1.3
- `zipp==3.1.0; python_version < "3.8"` with poetry v1.0.10

Do we continue here or do you need I open a new issue ?

[2020-10-20 22:07] abn commented on #3256
In theory yes. If you need help with that feel free to drop by our discord server.

[2020-10-20 22:08] AzMoo commented on #3199
Ah damn, I'm really sorry, I pushed that up in a hurry and didn't read the errors properly. Let me revisit and get it right this time.

[2020-10-20 22:08] #3256 closed

[2020-10-20 22:37] bnavigator commented on #1645
That's the info we needed! :tada:

This works:
[code]

[code]

[2020-10-20 22:46] bnavigator commented on #1645
With the above, #3255 only has an effect on the test_lock_no_update. The other tests don't need #3255.

[2020-10-20 22:47] bnavigator commented on #1646
Workaround: https://github.com/python-poetry/poetry/issues/1645#issuecomment-713179414

[2020-10-20 22:52] eli-schwartz commented on #1645
OK, tried to run tests like this:
[code]
I'm down to fewer failures, but it still seems to be trying to create `/foo/virtualenvs/simple-project-CDKM9e_d-py3.8`:

[code]

[2020-10-20 22:58] bnavigator commented on #1645
Did you forget to activate?

[2020-10-20 23:04] eli-schwartz commented on #1645
Why would I need to activate, a function that simply adds the venv python executable to the $PATH, if I explicitly invoke `/path/to/venv/python`?

[2020-10-20 23:06] eli-schwartz commented on #1645
Note: I've gotten this in 1.1.2 and 1.1.3, but I did not try any betas or git master...

[2020-10-20 23:10] ryancausey commented on #3103
Can confirm I just ran into this same issue.

[2020-10-20 23:18] mpolanski commented on #1645
From the package maintainers' point of view running the test suite using the system interpreter (and not in the virtual environment) is exactly what you want to do. This way you can test whether the software behaves correctly under the exact Python version that is currently packaged with all needed dependencies (that often have some downstream patches).

Eli by using arguments like `--system-site-

[2020-10-20 23:19] bnavigator commented on #1645
I don't know, maybe because the quirky poetry test suite internals still call the python from the PATH?

[2020-10-20 23:30] eli-schwartz commented on #1645
Well, I tried rerunning the test with:

[code]

And it had no effect. 1.1.3 still fails in the same place.

[2020-10-20 23:37] Coquinho commented on #3236
May I took this task?

[2020-10-20 23:38] demangejeremy commented on #2972
Error that cannot be resolved despite your answers. This is what I have:

`
  ModuleNotFoundError

  No module named 'virtualenv.seed.via_app_data'

  at <frozen importlib._bootstrap>:965 in _find_and_load_unlocked
`

Other informations:
- Poetry (version 1.1.3)
- macOS Catalina (version 10.15.7)
- Anaconda (Python 3.7.4)

A wonderful person to help me? 🙏

[2020-10-21 02:23] EvanShenkman-Sonos opened #3258 "v1.1.x regression - Installing from private repo fails when credentials are set using env vars"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS:** GNU/Linux
- **Poetry Version:** 1.1.3

#### s

[2020-10-21 02:28] EvanShenkman-Sonos commented on #3258
Related to #3216

[2020-10-21 04:49] Cielquan commented on #2457
Well good point. I think for local development its fine, but when you want to run it in CI I think it gets eventually problematic.
I run `pre-commit` via `tox` (https://github.com/pre-commit/pre-commit/issues/1309) so in my case it would be fine, but for others they would have to eventually change setups.

When #2511 gets merged the issue will be nonexistent anymore.

[2020-10-21 05:47] nextmat commented on #2458
Thanks for the context, @sinoroc.

In the interim, here is a short shell function that solves this issue, in case others find it useful:

[code]

[2020-10-21 05:55] pedroig commented on #2862
@l0b0, which python version did you use? I believe the issue is because [dataclasses](https://pypi.org/project/dataclasses/) doesn't support Python 3.7 anymore as `dataclasses` are already built-in. I had the same issue and solved it by using Python 3.6 for everything.

[2020-10-21 06:38] l0b0 commented on #2862
Sorry I didn't close this earlier; the project no longer uses Poetry.

[2020-10-21 06:38] #2862 closed

[2020-10-21 06:44] kervel commented on #2862
I think the issue is still there ...
The problem is that conditional dependencies are not supported by poetry. If you look at blacks setup.py:
https://github.com/psf/black/blob/master/setup.py

[code]

so the dataclasses dependency should be installed if the python_version < 3.7. I think poetry does not support that.

Frank

[2020-10-21 08:37] vitaliy-diachkov opened #3260 "Invalid file path when running commands in poetry shell"
- [ ] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [ ] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Ubuntu 20.04
- **Poetry vers

[2020-10-21 08:49] pederpansen commented on #3196
@naveen521kk As it turns out, the poetry version installed via Homebrew uses a hardcoded Homebrew-installed Python 3.9. The maintainers do not seem to see any issues with that: https://github.com/Homebrew/homebrew-core/issues/53169

I think this restricts the functionality of poetry in an unacceptable way. Solution: Use the official installer.

[code]

[2020-10-21 08:49] #3196 closed

[2020-10-21 08:54] mcepl commented on #1646
@bnavigator Could I hope for some submit request with this, please?

[2020-10-21 09:19] bnavigator commented on #1646
It's just a change in the test suite, no functional change. But here you go:
https://build.opensuse.org/request/show/843165

Note that it will be stuck in Staging:H (https://build.opensuse.org/request/show/841923)

[2020-10-21 10:33] cruzelante098 commented on #3139
I see. I would be a great idea to document this behavior in the docs. Thanks you @abn

[2020-10-21 10:58] jonapich commented on #3153
@abn you are right, I cannot reproduce the issue on Linux (I tried in a python:3 docker container).

It seems to be windows-specific. I just tried these steps on a clean Windows Server 2019 cloud instance.

- Install python
- Install poetry (1.1.3)
- Clone it
- poetry install in test-functools will fail

[2020-10-21 11:00] joostmeulenbeld commented on #2113
@malcolmgreaves I have this exact same issue, did you open a pull request at the original Detectron2 repo?

[2020-10-21 11:08] jstriebel commented on #1882
This is fixed with poetry `1.1.0`, thanks!

[2020-10-21 11:08] #1882 closed

[2020-10-21 11:17] qiuwei opened #3261 "Using pypi mirror sites to speed up the dependency resolving."
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Feature Request
Poetry needs to inevitably download some packages(either in sdist or in wheel format) to inspect the dependencies during t

[2020-10-21 12:07] TakenAlti commented on #3247
Mann what should I do pip is nowhere to be found...
Please help

[2020-10-21 12:26] sloev commented on #3219
completely unusable because of this.
i get a finished build every 10 times from travis because i have 1 private package on gemfury.

*do i really have to live with this: ???*

[code]

pyproject.toml:

[code]

[2020-10-21 12:30] sloev commented on #3219
my build just got thru travis. *TOOK 11 TIMES* for poetry to *NOT TIMEOUT*

[2020-10-21 12:48] jonapich commented on #3153
I was able to make it work on a clean windows 2019 server as well... 🤔 But you need py3.8 or below, because there's no wheels for typed_ast in 3.9 and you'll need to install the vs c++ build tools.

 I'll have to investigate what's different on my system.

[2020-10-21 12:54] ahobsonsayers commented on #3028
I'm still having this issue on and off. I have tried updating my lock file using:
- `poetry lock`
- `poetry lock --no-update`
- `poetry update`

I can confirm that `type = "legacy"` exists in poetry.lock, however when I run `poetry install` with a clean environment i get the error:

[code]

If i rerun poetry install a second time, it sometimes will work fine. Sometimes a third run is required. How

[2020-10-21 14:15] jonapich commented on #3153
So far, I can still reproduce the issue when going through poetry, but not when going through pip. My issue matches the OP's behavior:

<details><summary>Console Output</summary>
<p>
[code]
</p>
</details>

[2020-10-21 14:37] anthonyatp opened #3262 "poetry install: clikit RuntimeError Aborted"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **Poetry version**: 1.1.3
- **Link of a [Gist](https:

[2020-10-21 15:36] petobens commented on #2217
Hi @finswimmer and @blueyed. Now that the pr to allow non-development mode has been merged as per https://github.com/python-poetry/poetry-core/pull/23/files I tried adding the following line to my `pyproject.toml`
[code]
and did a `poetry update` (or even a clean `poetry install`) but pdpp still seems to beinstalled in dev mode right?
[code]
Am i doing something wrong or this is expected?

[2020-10-21 16:24] anthonyatp commented on #3262
I have resolved this, so I'll close.

For anyone else who runs into this. I solved by adding `-n` to `poetry cache clear --all pypi` command which doesn't ask any interactive questions

[2020-10-21 16:24] #3262 closed

[2020-10-21 17:22] johnthagen commented on #1745
It would be helpful if there was some official docs at https://python-poetry.org/docs/faq/#is-tox-supported about the issues around dev-dependencies and tox.

So far, the best solution I've found that doesn't break `tox`'s isolation by whitelisting `poetry`/`bash`/etc is to use @sinoroc's [`tox-poetry-dev-dependencies`](https://pypi.org/project/tox-poetry-dev-dependencies/) plugin. This allows usi

[2020-10-21 17:27] abraralali commented on #1735
Thank you kamyar
This solution worked for me also. Python 3.8.5

[2020-10-21 17:33] davidbfrogman commented on #858
I just wanted to add it seems my private repo seemed to have 405 problems with either legacy or simple.  I corrected by chopping both off.

final url:

http://myserver.com

(note the lack of "legacy" or "simple"

Comment that pointed me in that direction:
https://github.com/pypiserver/pypiserver/issues/212#issuecomment-454661922

[2020-10-21 17:49] jonapich commented on #3153
I went through the trouble of removing everything python and poetry off my system. I then reinstalled py3.8 using the latest installer and then reinstalled poetry using the Invoke-Webrequest method from the docs.

The behavior is still the same. Some observations:

- Through `poetry run python -m pip list` I can see setuptools is installed in the project's virtual environment.
- If I launch `poetr

[2020-10-21 18:01] sinoroc commented on #1745
I think a good course of action, would be for people here (i.e. people who have experience with tox and poetry), to make some clear condensed suggestion of what they would like to see in the documentation/FAQ.

* keep it short
* keep it non opinionated
* keep it general enough that anyone can use it without being surprising / counter-intuitive
* keep it simple for beginners
* make it meaningful so

[2020-10-21 18:40] triptec opened #3263 "Poetry attempts to install all VCS deps as editable, even when `develop = false`."
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Ubuntu 20.04
- **Poetry vers

[2020-10-21 20:05] abn commented on #3263
Can you please try the fix at #3264.

### Using pipx
[code]

### Using a container (podman | docker)
[code]

[2020-10-21 23:53] jaklan commented on #3238
@abn I've jus tested the PR. `poetry.lock` seems good, there's a proper `[package.source]` table for all packages:
[code]
But... there's one more thing. I've also run:
`poetry@3251 export -f requirements.txt -o requirements.txt --without-hashes --with-credentials`
and the first line of the output file is:
`--extra-index-url http://repository.intranet.foobar.com/artifactory/api/pypi/pypi-virtual/si

[2020-10-22 02:47] kevincon opened #3265 "Poetry can't run scripts from dependencies (which themselves use poetry) installed as editable on Windows"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Windows 10 Enterprise versio

[2020-10-22 02:52] roxchkplusony commented on #1644
Could groups also influence the `poetry build` target, not just `poetry install`?

[2020-10-22 03:01] DustinMoriarty commented on #3219
I am actually seeing a similar issue during test set up which only occurs for Python 3.6 with FreeBSD for the poetry PR #3259.

[code]

[2020-10-22 03:53] SakornW opened #3266 "1.1.3 poetry export command result in Maximum recursion depth exceeded"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Windows 10, Can be also repr

[2020-10-22 06:23] abn commented on #3238
@jaklan appreciate the input on that. I'd suggest we raise that as a new issue. I agree that a per package index is better for the extra-index case. One worry, however, is that people seem to be attached to the current export format because some do text processing of the output it for various reasons.

[2020-10-22 06:23] triptec commented on #3263
I’ll give it a try later today

[2020-10-22 06:38] abn commented on #3266
Duplicate of #3213

[2020-10-22 06:38] #3266 closed

[2020-10-22 06:53] StefanSchulz-Tesyo opened #3267 "option to prefer versions without local version identifier"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Feature Request
Assume a package "mypackage" exists with the following versions:
 - 0.1.0
 - 0.1.0+dirty.1
 - 0.1.1

And we define the fol

[2020-10-22 07:32] Celeborn2BeAlive opened #3268 "Poetry removes some of its own dependencies when running `poetry install --no-dev`"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Windows 10
- **Poetry versio

[2020-10-22 07:41] Celeborn2BeAlive commented on #3268
It also happens on Linux, in the python:3 docker image, here is a log on Gitlab CI: https://gitlab.com/c2ba_cookiecutters/python_cookiecutter/-/jobs/805609953

[2020-10-22 08:05] finswimmer commented on #3268
Hello @Celeborn2BeAlive,

this is an expected behaviour and the reason why poetry should not be installed in the same environment as the project. poetry doesn't know about about packages, it hasn't installed by itself. When running  `poetry install --no-dev` poetry will remove dependencies that are needed by a dev dependency. And this can be dependency that poetry needs itself.

Solutions: Use the

[2020-10-22 08:05] #3268 closed

[2020-10-22 08:20] Celeborn2BeAlive commented on #3268
@finswimmer Alright thanks for this information.

One issue I had with poetry installed with pipx is that it was "bound" to the python of its dedicated virtual env. In my case it was 3.7.x, so I was unable to handle projects with other versions of python :/

I guess I'll have the same  behavior using the recommended installer but I can try, I'll take a look at the script before.

But anyway anothe

[2020-10-22 08:51] sloev commented on #3219
when is this gonna be fixed? this morning: again 9 consecutive travis builds before i got thru my poetry install step. poetry version: 1.1.2

[2020-10-22 09:02] abn commented on #3219
@sloev as I mentioned on the pull request (https://github.com/python-poetry/poetry/pull/3230#issuecomment-713551777), this is an open source community project, not a product you have a paid support for. This is maintained by a small group of volunteers who spend their spare time on this. You demanding issues be fixed and spamming issue threads is not going to make anything go any faster. While we

[2020-10-22 09:07] abn commented on #3219
@DustinMoriarty yeah; we noticed that. This should go away once `1.1.4` is out. Hopefully the fix in #3230 is sufficient.

[2020-10-22 09:57] finswimmer commented on #3268
For that use case `poetry env use` exists. Before running `poetry install` type `poetry env use /path/to/python/of/choice`.

[2020-10-22 11:09] jaklan opened #3269 "`Poetry export` should use per-package --index-url instead of single --extra-index-url"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: macOS Mojave 10.14.6
- **Poe

[2020-10-22 11:09] jaklan commented on #3238
@abn here it is: #3269.

[2020-10-22 15:07] jkary opened #3270 "Poetry add failing with RuntimeError"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: 19.6.0 Darwin Kernel Version

[2020-10-22 16:49] abn commented on #3270
@jkary does this happen if you clean and re-install poetry? Or installing poetry via `pipx` ?

[2020-10-22 17:10] abn commented on #1645
The project test suite is not necessarily developed with distro packaging requirements in mind, but rather with the intent to test the project's functional requirements. What this means is that certain assumptions about how it is run might have crept in that might not work within the a distro's package build environment. The test suite, for example, tries to assess that the system interpreter (whi

[2020-10-22 18:34] johnpaulett commented on #3148
Workaround hat unzips the .whl, to re-write the METADATA.  I use this in an existing script that collects the .whls into a common directory to be COPY'ed during docker image building.
[code]

[2020-10-22 18:37] eli-schwartz commented on #1645
- on the 1.1.3 release, even running poetry's tests from inside a virtualenv in which the python command and `site.getsitepackages()` and `sysconfig.get_paths()["purelib"]` are all writable, still fails with: `virtualenv: error: argument dest: the destination . is not write-able at /`
- poetry's recommended install method uses the system interpreter which it cannot write to, so this assumption sho

[2020-10-22 19:47] pikeas opened #3271 "Poetry does not respect local .gitconfig"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: macOS 10.15.6
- **Poetry ver

[2020-10-22 21:18] sinoroc commented on #3203
@roxchkplusony Do we have a satisfying solution for this use case?

[2020-10-22 21:36] sinoroc commented on #1692
Seems like it "_works_" when adding the absolute path to the dependency directly in the `pyproject.toml`, but not via the CLI.

I use quotes, because the absolute path is in the metadata of the distributions (sdist, and wheel), but it shows up as relative path in other locations: the CLI output  (`poetry show`), the lockfile.

[2020-10-22 21:39] sinoroc commented on #1168
The following technique seems to work.

[code]

See this repo for an example: https://github.com/sinoroc/foosball

What issues do you encounter with this technique?

[2020-10-22 23:18] abn commented on #1645
Honestly, I do not think we can help you here because this is a build environment issue. Our CI works within virtual environments and will work just fine, and even development environments that run as unprivileged users work just fine both under poetry managed venv and tox managed venvs.

Here is a setup with an unprivileged user using system interpreter under alpine that works, maybe it will help

[2020-10-23 01:56] abn commented on #1645
Here is an example where #3255 and #3107 (added some additional fixes to support these cases) are applied, without a virtualenvironment and test run by an unprivileged user.

Using alpine as the example since I am guessing that is the one with build failures still based on above comments.

[code]

[2020-10-23 04:12] roxchkplusony commented on #3203
Yes, I think we can close this for now.

[2020-10-23 07:15] Katafalkas commented on #3041
Hi. Ran into the same issue.
`pypicloud==1.1.5`
`poetry==1.1.3`

Tried both with and without `pypi.stream_files = True` - same issue.

Error is because of the headers being sent. The same url is downloadable using `curl`.

[code]

[2020-10-23 08:51] bnavigator commented on #1645
FYI:

Here is the scenario for `rpmbuild` on the openSUSE build service. I imagine all RPM based distributions (Fedora and family) are similar. Also Debian and Archlinux.

- All requirements have to be installed before the build
- `%build`, `%install` and `%check` sections run as unprivileged user `abuild`
- The working directory is `/home/abuild/rpmbuild/BUILD/<name-version-arch>/<pkg-archiveroot

[2020-10-23 09:52] abn commented on #1645
@bnavigatorI think with the above patches your build should work without internet connectivity as well as without a virtual environment.

I do not understand this bit. If I understand correct, if `python-package-a` depends on `python-package-b`, `b` is installed systemwide as a seperate package when `a` gets installed. So, I fail to understand the need to install to a specific site.

I feel that t

[2020-10-23 10:05] brechtm commented on #3184
I would also expect that if running _get-poetry.py_ with python3, `python3` would be used for the shebang line. Even when I explicitly use python3 to install Poetry, I still get bothered by a big warning that Python 2 support is about to be dropped.

Sure, it's easy enough to adjust the shebang line manually, but not when installing Poetry in an automated way.

[2020-10-23 10:09] brechtm commented on #3184
How about simply changing the following line in _get-poetry.py_

    allowed_executables = ["python", "python3"]

to

    allowed_executables = ["python3", "python"]

This first tries Python 3, which doesn't spit out a big warning message. In fact, this is how it is done for Windows:

    allowed_executables += ["py.exe -3", "py.exe -2"]

[2020-10-23 10:24] bnavigator commented on #1645
As poetry currently builds, installs and tests fine (with https://github.com/python-poetry/poetry/issues/1645#issuecomment-713179414), I see no reason to merge the patches before you make a new release.

Only the `python-package-a` needs to be installed into the rpmbuild BUILDROOT during packaging. Everything else must be provided by the system.

Exactly. So any project deploying their sdist packa

[2020-10-23 12:07] mikeroll commented on #3271
Have you tried testing this with a plain `git clone`? Yields the same results for me, so it's an issue with git, not poetry.

[2020-10-23 12:16] jonadaly commented on #3258
I see the same issue. Is this a deliberate change in behaviour?

[2020-10-23 12:29] marpulli opened #3272 "poetry install causes 'PipInstaller' object has no attribute 'run_pip' error"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: macOS 10.15.7
- **Poetry ver

[2020-10-23 16:04] Katafalkas commented on #3041
@MasterNayru I would suggest that this issue should be considered as poetry issue. The reason being - same `pypicloud` server is working just fine with `pip`, and does not with `poetry`.

We run number of repositories and python packages, only one of them is with poetry and currently it does not work. We should either wait or help with fixing poetry or migrate to pip.

[2020-10-23 16:50] ericriff opened #3273 "Annoying traceback instead of error message"
If you run an invalid command you get a looong traceback that hides the actual error message. I don't think those tracebacks are needed.
See the following example with a typo on `help`:

[code]

It should only show
[code]

This is on the latest poetry version, 1.1.3.

[2020-10-23 17:25] mvoitko commented on #1609
@abn updating helped

[2020-10-23 17:56] malcolmgreaves commented on #1616
Not working when using `poetry` version `1.1.3`. The `platform=` specifiers are still ignored and only the first entry is installed :(

Does anyone have an example of a successful work-around?

[2020-10-23 18:37] finswimmer commented on #3220
Hello @0scarB,

the error message poetry raises are in general very technical and it is not always obvious to the end-user, but are very useful for debugging. That's a general topic we can improve. I guess there was already somewhere a ticket about this :thinking: .

fin swimmer

[2020-10-23 18:38] rzuckerm commented on #3218
This is currently blocking us from using the latest version of poetry. We still have a lot of python 2.7 in our codebases ☹️

[2020-10-23 18:42] finswimmer commented on #3004
Feel free to start working on the other points and ping us if we should give feedback. :+1:

[2020-10-23 18:48] jonapich commented on #3153
I wasn't able to find the cause of the problem. After a fresh install of Windows 10, I am no longer experiencing the issue and I can install the test repo that I created for this issue.

[2020-10-23 19:25] jonapich opened #3275 "Relative path cannot be found"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Windows 10
- **Poetry versio

[2020-10-23 19:28] dlech commented on #2295
My solution was to add this to my `~/.bashrc`. This way I don't have to remember to update completions if I update `poetry`.

    . <(poetry completions bash)

[2020-10-23 21:22] #3087 closed

[2020-10-23 21:22] #3077 closed

[2020-10-23 21:22] #3079 closed

[2020-10-23 21:22] #1677 closed

[2020-10-23 21:22] #3213 closed

[2020-10-23 21:22] #3224 closed

[2020-10-23 21:22] #3263 closed

[2020-10-23 21:23] abn commented on #2564
Resolved with `1.1.4`.

[2020-10-23 21:23] #2564 closed

[2020-10-23 21:23] abn commented on #3238
Resolved with `1.1.4`.

[2020-10-23 21:28] abn commented on #3275
With `1.1.0` Poetry no longer defaults to `develop = true` for path dependencies.

Please refer to https://python-poetry.org/blog/announcing-poetry-1-1-0.html#directory-dependencies-are-now-non-editable-by-default

In your case poetry attempts a PEP 517 build of your dependency, but since thats are relative files required for the build are not correctly marked for inclusion by the package, they ar

[2020-10-23 21:28] #3275 closed

[2020-10-23 21:29] abn commented on #3275
Appreciate the detailed issue report @jonapich !! :heart:

[2020-10-23 21:32] abn commented on #3273
Duplicate of #2854

[2020-10-23 21:32] #3273 closed

[2020-10-24 00:30] abn commented on #3218
@rzuckerm I was unable to reproduce it. Am I missing something?

[code]

[2020-10-24 02:44] zyxue commented on #3110
@absassi , I'm seeing the same behavior. the version is resolved, but it can't install.

Do I understand correctly that you set `certificates.my-private-repo.cert` and `REQUESTS_CA_BUNDLE` to the same value (i.e. path to a `pem` file) and then it works?

[2020-10-24 03:42] cereblanco commented on #3242
Hello @salty-horse @finswimmer. I opened a PR for this issue. I hope it gave the sentence more context. 🤞🏼

[2020-10-24 05:40] DustinMoriarty opened #3281 "Add Tests for Console"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Feature Request

There are several commands in the CLI which are not covered by unit tests.

[2020-10-24 07:45] abn commented on #3219
This was resolved with `1.1.4`.

[2020-10-24 07:45] #3219 closed

[2020-10-24 10:17] jonapich commented on #3275
😮

Hey how about an update to the exception text to suggest this? This has been preventing me to go forward for weeks 😅

[2020-10-24 10:51] jonapich commented on #2693
With 1.1.0, it is now necessary to use `develop = true` with local paths in my scenario. (ref: #3275 ) Therefore, here's an update of the use case which currently work:

[code]

- This will work as direct dependencies: the dev version is considered and no version is checked
- This will work as a transitive dependency if the version exists in the private repo

This will not work as a transitive dep

[2020-10-24 11:14] Yajo commented on #3178
El sáb, 17 de oct de 2020 a las 08:28, finswimmer
<notifications@github.com> escribió:

Sure, I double-checked and it doesn't exist. 🤷‍♂

[2020-10-24 13:18] jonapich commented on #3275
🤔

When I add `develop = true`, mypy will no longer be able to locate the local imports (they're all PEP 561). Is there a known workaround? I'll dig (probably not related to poetry 😅 ) but asking just in case this can document a common side effect.

[2020-10-24 14:34] rzuckerm commented on #3218
I've installed the latest poetry in a python 3.7 virtualenv. I run all the poetry commands from this virtualenv. I can reproduce this issue on demand. I use `poetry env use 2.7` to install packages into the 2.7 virtualenv.

The original issue was for poetry 1.1.3, but with poetry 1.1.4, I can reproduce this issue without the console script.

[2020-10-24 15:10] jonapich commented on #3275
aaah ha: https://github.com/python-poetry/poetry/issues/3094
https://github.com/python/mypy/pull/8847

all good, thanks!

[2020-10-24 16:11] fsouza commented on #2282
I'm running into a similar issue as well, poetry is able to find a matching version, but still creates the virtualenv with the wrong version. Reproducer from scratch:

[code]

The interesting bits are:

- poetry correctly complains about my current version of Python being not supported
- poetry correctly finds a supported version
- poetry creates the virtualenv with the incorrect version

For now,

[2020-10-24 17:41] mirosval commented on #1290
I actually had to downgrade: `pip install msgpack==0.6.2` pyenv & macOS

[2020-10-24 20:11] rzuckerm commented on #3218
I think I figured out what is going on for the python 2.7 virtualenv, this is the sysconfig paths:
[code]

When the python 2.7 virtualenv is created, the `local` directory does not exist. Somewhere along the way, poetry seems to create the `local` and `local/bin` directories. The `local/bin` directory is empty. It seems that poetry is trying to write a file to a directory in `local` that does not

[2020-10-24 22:22] jcassee commented on #3270
This happened to me after uninstalling an old version of Poetry (using `--uninstall`) and then installing again.

Poetry version 1.1.4, Ubuntu 20.04.

[2020-10-24 23:03] abn commented on #3275
Sorry to hear that.

We will be able to do this , hopefully, once we drop `pip` and use `python-build` instead. Today, this error happens in a second level subprocess and the best we can do is guess the context and check for strings in `stderr` and wrap the exception. This is not necessarily reliable as you might already know.

That said I am happy to review any reasonable improvement to how we ha

[2020-10-25 04:25] fsouza commented on #2282
@cjw296 can you check if #3283 fixes the behavior you're observing?

[2020-10-25 10:29] silverwind commented on #3271
I think git config can only live in `~/.gitconfig`, `$XDG_CONFIG_HOME/git/config` or `.git/config`, not `.gitconfig`.

[2020-10-25 11:10] jaepil-choi commented on #2681
Same here. I think this problem has been around since like before poetry 1.0.0
It happens on all shells - PowerShell, CMD, Bash on Windows.
My workaround to this problem is practically re-installing with `curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python -` command as if I'm fresh installing it.

[2020-10-25 12:25] fsouza opened #3284 "Poetry creates virtualenv with wrong version of Python despite finding the right one"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: macOS 10.15.7
- **Poetry ver

[2020-10-25 12:26] fsouza commented on #2282
After reading this again, I realize I have a different issue. Opened #3284.

[2020-10-25 12:44] castalheiro opened #3285 "At pyproject.toml file Include section does not respect packages section"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Ubuntu 20.04
- **Poetry vers

[2020-10-25 15:27] toanant commented on #3271
Agree with @silverwind comment as mentioned in `git config` doc - https://git-scm.com/docs/git-config#FILES

[2020-10-25 17:04] ArtistsTechGuy commented on #2503
Could we just add a section to the poetry.lock file if it is a --no-dev  install and check that before the add install?

[2020-10-25 18:13] abn commented on #2503
This can be performed as follows:

[code]

[2020-10-25 18:13] #2503 closed

[2020-10-25 18:32] finswimmer commented on #3285
Hello @castalheiro,

thanks for reporting this. I can confirm it.

fin swimmer

[2020-10-25 19:23] HallerPatrick commented on #2252
Made a pull request, which should provide sufficient information in the docs

[2020-10-25 21:16] yoav-orca opened #3286 "Unable to install pyre2 from git"
- [X] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [X] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [X] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: macOS Cataline 10.15.7 (19H2

[2020-10-25 22:27] francojposa commented on #1692
Yeah, for portability to Docker containers and other dev's machines, we need the lockfile to come out with the absolute path too.

[2020-10-25 22:36] 0scarB commented on #3220
@finswimmer Thanks for the feedback, I totally agree. After working on [#3004](https://github.com/python-poetry/poetry/issues/3004#issue-712023603) I think that the dependency classes need to be refactored to have the `json_schema` as a single source of true, inheriting from superclasses/interfaces for common options such as `optional`, `extras` and `editable`/`develop`. I'll try and find the issu

[2020-10-25 23:36] abn commented on #3286
@yoav-orca the issue is that `pyre2` does not add torch to it's `build-backend.requires`. This is not something poetry can resolve. The build for the dependnecy happens in it's own isolated environment with whatever it declares as it's build requirements.

The fix is for the project to add a `pyproject.toml` file with the relevant `build-system` section to the `pyre2` project. Here is a minimal `p

[2020-10-26 01:21] juyoung-yoo opened #3287 "poetry version update bug"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: MacOS 10.15.6
- **Poetry ver

[2020-10-26 08:17] yoav-orca commented on #3286
@abn thanks, it worked. I'll try to push this fix to pyre2

[2020-10-26 08:17] #3286 closed

[2020-10-26 08:59] brechtm commented on #3029
I originally posted this as a comment in #3184 (closed).

I would also expect that if running _get-poetry.py_ with python3, `python3` would be used for the shebang line. Even when I explicitly use python3 to install Poetry, I still get bothered by a big warning that Python 2 support is about to be dropped.

Sure, it's easy enough to adjust the shebang line manually, but not when installing Poetry

[2020-10-26 09:28] cglacet commented on #46
Are we really supposed to put all requirements in poetry (`pip freeze` output)? Or are we only supposed to add build dependencies?

[2020-10-26 10:30] sinoroc commented on #3029
@brechtm (and others) This issue is about hiding/disabling the warning messages. What you are asking for is related, but still a different thing. Maybe open a new ticket if there is not one yet, so that things are easier to track by reading the ticket titles.

[2020-10-26 10:45] sinoroc commented on #46
@cglacet

***Build dependencies*** go into the `requires` field of the`build-system` section. Typically for a poetry project the only build dependency is poetry itself or poetry-core for more recent projects:

[code]

***Install dependencies*** are the things that you want to be installed alongside your project, typically because your code imports them at run time. So the recommendation is to list

[2020-10-26 10:54] sinoroc commented on #1692
@francojposa The "bug" label is still up, so I can only assume a PR would be well received.

[2020-10-26 11:03] marpulli commented on #3272
Thanks for the quick fix! 🙏

[2020-10-26 11:04] cglacet commented on #46
@sinoroc Thanks for the very quick and precise answer. I was questioning the answers proposing to directly add everything from `requirements.txt` which I think in practice often contains the whole `pip freeze` output.

[2020-10-26 11:12] sinoroc commented on #46
@cglacet I didn't read the older messages in details, but yes, seems like potentially "_dangerous_" advice.

It depends what `requirements.txt` contains exactly. Sometimes it is the raw output of `pip freeze` sometimes it is a meaningful list. There is no rule. People can put whatever they want in it.

If it is a carefully curated list of direct top level install dependencies (i.e. import dependen

[2020-10-26 11:14] sinoroc commented on #3203
@roxchkplusony If you have the possibility, please close the ticket (I can not do it), this will make it easier for maintainers to keep an overview of what needs to be worked on. It can always be reopened later.

[2020-10-26 11:27] matthijskooijman commented on #2503
@abn, cool, that sounds like a reasonable approach indeed (seems that `add --lock` was not available yet when I submitted the original issue, so with that added recently, this is indeed possible). I wonder if this warrants a bit of documentation somewhere to help people figure this out, but I'm not so sure where that would live exactly, though.

[2020-10-26 13:35] rarenatoe commented on #3029
@sinoroc It's all related, if they can just fix the issue then there won't be any need to hide warnings

[2020-10-26 14:20] peldszus commented on #3261
Have you checked the documentation on custom repositories?
https://python-poetry.org/docs/repositories/#repositories

[2020-10-26 14:56] sinoroc opened #3288 "Choose the host Python version used when running poetry installed with 'get-poetry.py'"
Follow up to this issue:
* [_How to disable Poetry 1.1 warnings? (#3029)_](https://github.com/python-poetry/poetry/issues/3029)

Since #2683 a _EOL warning_ message is displayed when poetry runs under a Python interpreter that has reached its end of life (_EOL_), for example Python _2.7_, and _3.5_. Fair enough. But when using a poetry installation initiated with `get-poetry.py` it does not seem p

[2020-10-26 15:01] sinoroc commented on #3029
There are 2 distinct but related things in this discussion that I can identify:

* Feature request to ***knowingly*** disable / hide the ***legitimate*** "Python EOL" warning when Poetry is running under Python about to reach EOL. There is nothing to "_fix_" here, there is no bug. But maybe a new CLI flag `poetry --disable-warnings=eol ...` could help improve the UX.

* Confusion about what Python

[2020-10-26 15:18] ericriff commented on #3288
Aslo on this subject, on OSs like ubuntu which have a `python -> python2.x install` , the shebang in `/usr/bin/poetry` defaults to `python` and, therefore, uses `python2` . This results in the described warning about the EOL of p2, but also the following:
[code]

I believe that poetry should default to `python3` when available and if it is not, fallback to `python2`.

[2020-10-26 15:30] sinoroc commented on #3288
Personal opinions:

* `python` should always be Python 2, `python3` should always be Python 3. I think I had seen this as a somewhat official-ish statement from Python core somewhere, but can't find it any more, so I might as well have dreamt it. I still thinks it makes sense anyway, Python 2 and Python 3 are different things, I have never seen Python 1, and `python` has been a synonym of _Python

[2020-10-26 15:38] peldszus opened #3289 "Outdated metadata after version bump for local package"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Ubuntu 18.04.1
- **Poetry ve

[2020-10-26 15:46] sinoroc commented on #3289
Would you mind finding the `site-packages` directory for your environment, and see if you can find a `pi-0.1.1.dist-info` directory in there?

[2020-10-26 15:49] peldszus commented on #3289
Sure!

[code]

[2020-10-26 15:53] peldszus commented on #3289
PS:

I should add that the metadata are correctly shown when I reset my venv in between.

Following my gist: When I do `make clean build test` after the failure, the correct version number is shown. Most likely because I then have in my fresh venv's site-packages only the lastest `pi-0.1.2.dist-info` folder and no distracting other versions.

[2020-10-26 15:56] sinoroc commented on #3289
That might be the reason why `importlib.metadata` gets confused. What does `pip show pi` say? `poetry version`?

[2020-10-26 15:59] peldszus commented on #3289
Both correctly say `0.1.2`. But, `importlib.metadata` still finds `0.1.1`.

[2020-10-26 16:11] sinoroc commented on #3289
In the end it does not matter much what `pip` or `importlib.metadata` say. I am pretty sure there should be only one `dist-info` directory per project. Looks like a bug to me.

[2020-10-26 16:14] peldszus commented on #3289
Yes.

This is equivalent to the effect of installing to a clean env, that I mentioned above.

[2020-10-26 16:18] maces commented on #1065
Manually creating the venv did not work here with python 3.6.5. After upgrading python to 3.6.9 via pyenv it worked directly with poetry.

System:
Archlinux
poetry 1.0.10

[2020-10-26 16:40] bobwhitelock commented on #2203
Does anyone have a suggested workaround for this issue? I'd like to be able to cache my dependencies in CI, but this seems tricky to do due to this issue.

[2020-10-26 18:49] BruceWangTRT opened #3291 "Auth failure when installing from multiple private repos"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Ubuntu 18.04
- **Poetry vers

[2020-10-26 18:52] BruceWangTRT commented on #3291
Might be related to #3216

[2020-10-26 19:38] sinoroc commented on #3269
I guess a new flag `--without-indexes` could help, maybe?

[2020-10-26 19:44] oncleben31 commented on #3160
Problem not solved with poetry 1.1.4. After a `poetry lock --no-update`:

`poetry export --format=requirements.txt --without-hashes --dev | grep zipp` return `zipp==3.3.1; python_version < "3.7" and python_version >= "3.6" and python_full_version >= "3.6.1"`

[2020-10-26 20:23] estyxx commented on #3269
I can work on that!
But I'm confused on the name of the flag: if atm we don't have per package index and we don't want to change this default, think the flag should be `--with-indexes`, means that the export will add `--index-url http://repository.intranet.foobar.com/artifactory/api/pypi/pypi-virtual/simple` before the dependency...

[2020-10-26 20:34] sinoroc commented on #3269
@estyxx I'm sure it'd be much appreciated if you could get a PR started.

Maybe you're right, a `--with-indexes` flag might make more sense, if we want to keep the current default behaviour.

It was just a suggestion though, the finer details/requirements of the feature will appear as the implementation goes. Or would you rather have a more concrete outline of what the feature should look like fir

[2020-10-26 20:42] estyxx commented on #3269
@sinoroc
I was thinking to add a parameter in the Exporter class `with_indexes` and check  [here (exporter.py#L90)](https://github.com/python-poetry/poetry/blob/master/poetry/utils/exporter.py#L90) as it is already checking if the package has `source_url`...
so should look something like:

[code]

what do you think?

[2020-10-26 21:23] sinoroc commented on #3269
@estyxx

I do not know the code base, to be able to judge on the implementation. I was suggesting we brainstorm on what the UX should look like and what the output should look like for some particular examples of inputs. But looks like you already have a PR ready, so I'm a bit too slow... :D

For example I wonder if the output still needs the `--extra-index-url` statements at the top. I would say

[2020-10-26 21:34] sandrochuber commented on #2094
I also experienced the same problem on a fresh debian 10.6 install. Funny enough everything runs fine on my linux-mint laptop (same poetry version 1.1.4). Also `pip` itself seemed to be very slow.

Both `pip` and `poetry` started to being usable again once I disabled IPv6 with:

[code]

This disables IPv6 only temporarily until the next reboot. Obviously this only treats a symptom and not the root

[2020-10-26 21:36] estyxx commented on #3269
@sinoroc
Sorry I was thinking you were one of the maintainer/contributors... was an easy fix, but I converted the PR in Draft so we can discuss...

Think this option could be omitted now that each package has his `--index-url`

Think I have to check if there is the "authenticated URL" in the package object, and put that one instead in that case

[2020-10-26 22:07] mgrandi commented on #2440
This seems to be fixed as a result of https://github.com/python-poetry/poetry/pull/2595:

https://github.com/python-poetry/poetry/commit/c7055be9b4d34f61721da45ebb4994597fa3b05b#diff-4d02770efb95861ef5a4a2e3054e43fcf688ad882fdd166a79a6765f5fe16570R90

where now it lists it is installing the current project, which I think makes the UX better and therefore resolves this bug

[2020-10-26 22:07] #2440 closed

[2020-10-26 22:14] sinoroc commented on #3269
I am re-reading [the "_Requirements File Format_" section in _pip_'s documentation](https://pip.pypa.io/en/stable/reference/pip_install/#requirements-file-format):

Are we sure that the output we are trying to generate here is conform?

[2020-10-26 22:30] jaklan commented on #3269
@sinoroc It seems to be some understatement in docs, because as far as I remember per-package flags simply work, but it would be good to a) verify if it's still true with the actual pip version b) create an issue on pip repo to clarify that.

About the naming - I would keep it direct, e.g. --per-package-indices

[2020-10-26 22:36] sinoroc commented on #3269
Yes, please. Let us know.

Feels like it would be nicer to stay in the spirit of the other flags `--without-hashes`, `--with-credentials`.

[2020-10-26 22:42] jaklan commented on #3269
@sinoroc I get the point, but `--with-indices` is just misleading - `--extra-index-url` is also an index anyway ;) We can then go with `--with-package-indices`.

[2020-10-26 23:08] abn commented on #3269
@estyxx appreciate you starting to look into this. :+1:

@sinoroc you are correct, the per-package `-i` option will not work per-package.

Additionally, seems `pip` by design does not allow for ordering indexes. See:

- https://github.com/pypa/pip/issues/5045#issuecomment-369451195
- https://github.com/pypa/pip/issues/3454#issuecomment-290411096

I do not think this has changed since these issues.

[2020-10-26 23:09] sinoroc commented on #3269
@jaklan I meant we could try to keep a `with` or `without` prefix. `--with-per-package-index`,  `-with-package-indices`, or... I do not know. I do not have the last word anyway.

[2020-10-26 23:26] sinoroc commented on #3269
@abn Thanks for the additional info.

Should the output of `poetry export` be portable? Should a `requirements.txt` be installable under any Python version on any platform (as long as it is supported by the root project obviously)? In other words: can we really use direct URLS (PEP 508, PEP 440) or direct URL origin (PEP 610)?

Comparatively: are `poetry.lock` files portable?

If indeed `--index-u

[2020-10-27 03:01] qiuwei commented on #3261
Yes, I have used custom repositories for quite a while.
According to my observation, for packages that exist in both PyPI and custom repositories,  poetry still downloads them from PyPI.

[2020-10-27 03:03] #3261 closed

[2020-10-27 03:15] kigawas commented on #3029
@sinoroc

It's not just to improve the UX. This warning really breaks things especially for those tools parsing stdouts.

It'll be nice to hide the warning, or redirect it to stderr and let users hide it.

[2020-10-27 03:20] qiuwei commented on #3249
It seems this is already fixed in 1.1.4 release.

[2020-10-27 03:38] qiuwei opened #3293 "1.1.4 regression custom repository does not work properly anymore."
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: MacOS 10.15.6
- **Poetry ver

[2020-10-27 04:31] jlumbroso commented on #1745
Belatedly, thank you @sinoroc, your package takes care of this need very nicely! 🙏🏻

[2020-10-27 05:04] finswimmer commented on #3029
Hello @kigawas,

this is fixed since poetry 1.1.3. See https://github.com/python-poetry/poetry/pull/3131

[2020-10-27 05:32] finswimmer commented on #3288
Hello,

I've talked about this in another issue (https://github.com/python-poetry/poetry/issues/3184#issuecomment-707786235). The rational behind this, is perfect interaction with pyenv. Change the current python version with it and poetry will create the venv with this version immediately. That's the same reason why the shebang than uses `/usr/bin/env` instead of the absolute path to the interpre

[2020-10-27 06:32] linw1995 commented on #1771
Recently I found out that Poetry version 1.1.2 fixes this issue. Thanks to the effort that all contributors made.

[2020-10-27 06:32] #1771 closed

[2020-10-27 07:45] 1ace opened #3294 "Feature request: show dependency graph, like `pipenv graph`"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Feature Request

[`pipenv`](https://github.com/pypa/pipenv) has a neat feature of showing your project's dependency graph via `pipenv grap

[2020-10-27 08:50] 1ace commented on #3294
Ah, my bad; I started looking through the code to see if I should write this feature. and I discovered `poetry show --tree` which is exactly what I was looking for :raised_hands:

[2020-10-27 08:50] #3294 closed

[2020-10-27 08:57] sinoroc commented on #3288
I see. It could be mentioned in the "installation" section, and in the _Python EOL_ warning message, or the FAQ.

Do people really use _pyenv_ though?

That might be it, yes. Thanks!

For the rest, I would like to remind that it is not just a matter of Python 2 vs. Python 3. If I remove `python` from my OS, but I still have `python3` pointing at `python3.5` I get the message as well. And I assume

[2020-10-27 09:11] brechtm commented on #3288
@finswimmer

Thanks for the clarification. However, not everyone uses pyenv and many people run Ubuntu. So how about at least having the option of forcing which python to write to the shebang line by means of an environment variable? Then we could do:

    curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | PYTHON_VERSION="python3" python3 -

[2020-10-27 09:13] sinoroc commented on #3288
@brechtm If I may. Real question, I truly do not know:
Why do you want to use `get-poetry.py` then? Why not use any of other installation techniques?

[2020-10-27 09:19] sinoroc commented on #3293
Is it related to this PR:

* [_Use URL from response to support redirects (#3198)_](https://github.com/python-poetry/poetry/pull/3198)

[2020-10-27 09:27] brechtm commented on #3288
Because `get-poetry.py` is the recommended installation method, as per the Poetry documentation [1]? I haven't actually considered alternative installation techniques.

For my use case, however, installation is automated, so it should not require root privileges. `pip install --user poetry` might interfere with other packages the user has installed. Perhaps I could use _pipx_, but I didn't have a

[2020-10-27 09:55] nicolashainaux commented on #2972
Exactly same problem here. @ycd suggestions followed and unfortunately did not help.
Poetry version 1.1.4
OS is Ubuntu 20.04 (Build worker image on AppVeyor) with package python-is-python3 (to avoid having poetry start with python2)
System python (3.8) used (other python environments installed via `pyenv` and should be harmless: 3.6.12, 3.7.9)

[2020-10-27 10:05] sinoroc commented on #3288
When you feel comfortable enough with Python, I think it is worth considering the alternative installation techniques, especially if the default technique causes you issues. I have not used it but _pipx_ looks nice enough, that I would recommend at least trying it.

---

A personal take on this....
This is how I often do these kind of things (assuming `~/.local/bin` is listed in the `PATH` environ

[2020-10-27 11:38] MakuZo commented on #1168
@sinoroc This will only install the foosball-lib from the path directory, even with the `--no-dev` flag.

[2020-10-27 11:49] 1ace opened #3295 "`show --tree --no-dev` shows the dev dependencies"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**:  Any (tested on Fedora 32)
-

[2020-10-27 12:19] sinoroc commented on #1168
I just tested it and confirmed it. That is true, and that is strange. This is not necessarily what I would have expected. I also tried after having removed the `poetry.lock` lockfile beforehand, and the result was the same.

[code]

[2020-10-27 12:53] peldszus commented on #3289
I didn't have much time to look into, but it seems [there is code](https://github.com/python-poetry/poetry/blob/1.1.4/poetry/masonry/builders/editable.py#L205) to remove the old `dist-info` directory, it just didn't trigger. I also didn't see the corresponding debug message in my output.

[2020-10-27 14:24] wakemaster39 commented on #3032
For anyone else who stumbles on this:

`pip-19.2.3` had the same problem, it required upgrading to at the time `pip-20.2.4` for this to work.

[2020-10-27 14:56] estyxx commented on #3269
@abn

I don't know what kind of exports poetry is going to support in the future, but think is kind of natural that different exports can have differents flags and options... maybe we should think to validate them based on the export format selected...

direct origin URL seems a good option btw...

[2020-10-27 14:56] michaeljones commented on #1985
I made the same mistake as @MatheusR42. I wanted to play around with `py2app` so I made a project callec `py2app`. I didn't know that would break things. Certainly would appreciate a better message than the line 111 AssertionError. Love Poetry otherwise though :)

[2020-10-27 15:18] francojposa commented on #1692
Have started working on this - not to say someone won't beat me to it.

Basic approach is to replace

https://github.com/python-poetry/poetry/blob/master/poetry/console/commands/init.py#L441

[code]

with

[code]

Because at that point, `requirement` (the path provided by cli user) is fully vetted as a valid package. We can just accept the path as provided by the user.

[2020-10-27 16:05] Skyscimitar opened #3297 "File not found error when using poetry with conda on windows."
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Tested on windows-server-201

[2020-10-27 17:40] sinoroc commented on #3297
Could it be a `virtualenv` issue, more than a `poetry` one? Does `virtualenv` work without issue when installed from `conda`?

[2020-10-27 18:00] sinoroc commented on #3288
I had missed it, the _pyenv_ workflow is (succinctly) documented here:

* https://python-poetry.org/docs/managing-environments/

[2020-10-27 18:01] cglacet commented on #2094
Discussions here are quite interesting for a noob like me. I have a very naïve question though. Are packages built/published with poetry "correctly specified". In other words, imagine I only add packages built with poetry, will the resolving phase be lightening fast? Or will this still apply:

[2020-10-27 18:07] David-OConnor commented on #2094
Packages built using Poetry (or wheel in general) presumably provides the required information to Pypi, but Poetry doesn't use this; it treats all packages as if they must be installed to verify dependencies.

[2020-10-27 18:34] sinoroc commented on #2094
As far as I know:
If your project and all its dependencies (and their dependencies) are available for your platform (Python interpreter minor version, operating system, and CPU bitness) as wheels, then it is the best case scenario. Because in a wheel, the dependencies are defined statically (no need to build a _sdist_ to figure out what the exact dependencies are, for example).

You, as the develo

[2020-10-27 18:34] cglacet commented on #2094
@David-OConnor Is there a technical reason for that? Isn't it possible to check wether a package correctly specifies its dependencies?

[2020-10-27 18:37] MartinThoma commented on #2094
@cglacet What do you mean?

[2020-10-27 18:38] cglacet commented on #2094
@MartinThoma I was asking why "Poetry doesn't use this (information)".

[2020-10-27 18:41] sinoroc commented on #3289
@peldszus Looks to me like this piece of code would delete a pre-existing `dist-info` for the exact same version number. It does not seem to be looking for `dist-info` with different version numbers (lower or higher).

[2020-10-27 18:49] David-OConnor commented on #2094
Ultimately, the issue lies with PyPi having no flag to distinguish properly-specified (ie wheel) vs improperly. Poetry accepts this, instead of attempting to work around it.

[2020-10-27 18:55] folt commented on #1110
Got the same problem.
The information helped here. It would be great to add it to the documentation.

[2020-10-27 18:57] repnop commented on #2027
Hitting this on a fresh project, with 1.1.4 latest release installed via pip

[2020-10-27 19:26] sinoroc commented on #2094
@cglacet I think what @David-OConnor (please correct me if I'm wrong) might be referring to, is the difference between source distributions (_sdist_) and pre-built distributions (such as _wheels_).

In short and simplified:
On _PyPI_ there are 2 types of distribution formats: _sdist_ and _wheel_. For our concern here (dependency resolution), the meaningful difference between these 2 formats is tha

[2020-10-27 19:35] sinoroc commented on #2027
@repnop
It would be more helpful for you if you communicated meaningful information, such as the `pyproject.toml`, the name of the _git_ dependency that causes the issue, the full console output showing the error message.

[2020-10-27 19:35] David-OConnor commented on #2094
Yep. Anecdotally, if deps are specified at all on PyPi, they're probably accurate. If not, it could mean either deps aren't specified, or there are no deps.

Pypi not fixing this is irresponsible. Yes, I'm throwing spears at people doing work in their free time, but this needs to be fixed, even if that means being mean.

[2020-10-27 19:44] cglacet commented on #2094
@sinoroc @David-OConnor So if I get it correctly there are two problems, 1) we need to retrieve the whole package to answer any question about it, 2) answering dependency questions could potentially take some time because you need to open some files. I can very well understand why 1) is a problem because  package registry are slow, but why is 2) really a problem?

Ins't there a cache for storing/r

[2020-10-27 19:51] sinoroc commented on #2094
@David-OConnor

I do not understand what you mean. Dependencies are not specified in _PyPI_, they are specified in the distributions.

_PyPI_ does have some insight into what is contained in those distributions. But if that insight is based on the unreliable info contained in the _sdist_ then it is unreliable insight.

Short of building wheels of all existing _sdist_ for all existing combinations

[2020-10-27 19:55] repnop commented on #2027
@sinoroc its an internal work project so the git dependency is not public, but its a simple
[code]
the full error is exactly the same as above, and I did hit it when trying to install `aiomysql` or `sanic` before that (but it hasn't happened with them since I fixed? whatever the problem was there). I tried deleting the venv multiple times and reinstalling the dependencies.

[2020-10-27 20:05] sinoroc commented on #2094
@cglacet

***1.*** Yes. True for both wheels and sdists. They have to be downloaded. Although there is some ongoing work that would result in the possibility to skip the download for the wheels.

***2.*** Yes and no. True for both wheels and sdists, these archives have to be "_opened_" and some files have to be read to figure if there are dependencies and what they are. ***But*** this is not the p

[2020-10-27 20:07] David-OConnor commented on #2094
Ref https://pypi.org/pypi/requests/json *info* -> *requires_dist*

There is no reason a package manager needs to download, install, and examine each package each user installers.

I've already implemented a solution, which is the cache I've posted earlier.

[2020-10-27 20:23] sinoroc commented on #2094
Yes. I forgot about that. I think _poetry_ uses _PyPI_'s JSON API. _pip_ doesn't. But the same story again, this info is only available for pre-built distributions (_wheels_), and not for _sdists_. Those still need currently to be downloaded and built locally (not installed).

You mean your [_pydeps_ project](https://github.com/David-OConnor/pydeps)? I should look into that, I do not know it yet.

[2020-10-27 20:27] David-OConnor commented on #2094
Yep, I was referring to Pydeps.

You brought up a point I hadn't considered: Different dependencies depending on OS etc. That sounds like an important consideration I haven't looked in to. Is this common, in your experience? Ie different dep sets for a single package/version.

[2020-10-27 20:44] sinoroc commented on #2094
Yes, it is problematic. I think there are some `setup.py` files that look like this (pseudo code):

[code]

That makes an _sdist_ completely unreliable. It has to be built on the target platform to know what the dependencies truly are. The correct way is (pseudo-code):

[code]
which is much more reliable. Still not 100% reliable, but that would be somewhat workable. Truth is: as long as there is a

[2020-10-27 20:54] maroux commented on #3219
uh-oh just saw this now on 1.1.4:
[code]
might be unrelated?

[2020-10-27 20:54] ajacquah commented on #3249
@qiuwei - checked and this is still an issue in 1.1.4 release.

[2020-10-27 20:59] David-OConnor commented on #2094
I'm sorry - I'd completely forgotten about the `sys_platform` arg. I think I actually do account for that in Pyflow. So, it is specified on PyPi when built with wheels, and package managers can use the info.

[2020-10-27 21:37] estyxx commented on #381
As #3233 was merged, think this issue can be closed maybe :)

[2020-10-27 21:45] marhoy opened #3299 "Re-running `poetry install` "updates" packages to already existing versions"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.

- **OS version and name**: Debian Buster
- **Poetry version**: 1.1.4
- **Link of a [Gist](https://gist.github.com/) with Dockerfile and poetry-files**: https://g

[2020-10-27 21:55] nicolashainaux commented on #2972
Well no, I finally found out: when installing via pip after having deleted `/usr/local/bin/virtualenv`, it just kept using the wrong libraries. What I had to do was `sudo apt remove --purge python3-virtualenv virtualenv`, and then install `virtualenv` via `pip3`.

I did not actually installed these packages myself, they were installed as dependencies of `tox` and nothing else. So actually what I d

[2020-10-28 00:57] malcolmgreaves commented on #2113
@joostmeulenbeld I have a workaround here -- you can `poetry install` this as a `{ git = ... }` dependency
https://github.com/malcolmgreaves/detectron2

[2020-10-28 01:04] mfoglio commented on #2897
I got just one installed:
`❯ which -a poetry
/usr/local/bin/poetry
`
Still run poetry update self:
❯ poetry self update

  RuntimeError

  Poetry was not installed with the recommended installer. Cannot update automatically.
[code]

Also, note I used `curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python`.

Running on macOS.

[2020-10-28 04:17] irremotus commented on #3110
I am seeing the same issue, and can confirm that `certificates.my-private-repo.cert` and REQUESTS_CA_BUNDLE are set to the same value.

[2020-10-28 05:07] zyxue commented on #3110
@irremotus , do you mean it's still not working for you even with "certificates.my-private-repo.cert and REQUESTS_CA_BUNDLE are set to the same value"?

It's not working for me.

[2020-10-28 05:36] finswimmer commented on #2862
Hello @kervel,

of course poetry supports conditional dependencies. If you find a case where it does not, than it's probably a bug. But in the case reported here I'm unable to reproduce it, using poetry 1.1.4. dataclasses gets installed fine, in case the python version is <3.6.

fin swimmer

[2020-10-28 05:44] finswimmer commented on #3260
Hello @vitaliy-diachkov,

hard to say what's going on exactly without having a look on the source code. But I have to two things you should check/change:

1. If you use the src layout, there must be a subfolder with the package name in `src`. And in this subfolder you put your code:

[code]

2. Run `poetry install` to make sure your project gets installed in editable mode.

fin swimmer

[2020-10-28 08:09] fkromer opened #3300 "editable mode installation with poetry v1.1.4 leads to raise of incompatibility assertion"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Windows 10
- **Poetry versio

[2020-10-28 08:36] sinoroc commented on #3300
By default poetry installs your project (poetry calls it the root project) as editable.

There should be no need for such a dependency:

[code]

[2020-10-28 08:57] Skyscimitar commented on #3297
You're right, it's a virtualenv issue. Linking the relevant virtualenv [issue](https://github.com/pypa/virtualenv/issues/1986) for reference.
Thank you for your help :smiley:

[2020-10-28 09:30] fkromer commented on #3300
@sinoroc That's what I thought too. If you browse through the poetry issues you'll find out that the is a lot of ambiguity w.r.t. the topic "editable mode". And the ambiguity relates to different versions of poetry and other configurations (like the OS) as well.

[2020-10-28 09:55] sinoroc commented on #3300
@fkromer I am not following what you are implying. Where do you see ambiguity?

Is your issue solved, when you remove the following line or not?

[code]

A project can not be a dependency of itself. This does not make sense. So that line should be removed. Why do you need it?

[2020-10-28 11:30] #3295 closed

[2020-10-28 11:31] #2466 closed

[2020-10-28 11:34] fkromer commented on #3300
@sinoroc

    [tool.poetry.dependencies]
    mvp-end-device-agent = { "path" = ".", develop = true }

Of course this does not make sense. However given my Windows 10 + VSCode + vscode-python extension + poetry setup I was not able to get debugging of a console script based CLA working yet. Until now I was happy with debugging poetry managed CLAs with debuggers like pdbpp. However given the fact th

[2020-10-28 11:34] #3300 closed

[2020-10-28 11:42] #3272 closed

[2020-10-28 11:48] #3247 closed

[2020-10-28 11:48] jkary commented on #3270
I will try to clean and re-install.  Do you have a specific clean procedure you want me to follow?

Jason

[2020-10-28 11:51] stephsamson commented on #3236
@Coquinho I've assigned you to this task. And yes, deleting these functions and making sure the tests pass should be sufficient.

[2020-10-28 12:11] sinoroc commented on #3300
I see :/
Seems complicated. Good luck :D

[2020-10-28 12:34] cglacet commented on #2094
Usually in these situations what works best is lobbying for a better (simpler/clearer/broader/...) standards to be promoted by the authority. In this case I guess its PyPA? Or maybe both PSF and PyPA?

I never worked in any project that actively creates python packages so I might be wrong, but from my point of view packaging is not something that is currently crystal clear. It seems like there are

[2020-10-28 13:06] absassi commented on #3110
To make it clear: I've set both `certificates.my-private-repo.cert` and `REQUESTS_CA_BUNDLE` and _it works for me_ (it should probably work too by setting only `REQUESTS_CA_BUNDLE`, but I haven't checked).

[2020-10-28 13:09] irremotus commented on #3110
@zyxue When I set REQUESTS_CA_BUNDLE, both dependency resolution and package installation work.  When I set certificates.my-private-repo.cert (and not REQUESTS_CA_BUNDLE), dependency resolution works, but package installation fails, as @absassi mentioned.  This worked in previous versions (e.g. 1.0.0), but is failing in recent versions (e.g. 1.1.[1-4]).

[2020-10-28 13:39] roxchkplusony commented on #1945
Same use case here as @jonapich. We run our tests via scripts in jenkins and they start with some default virtual environment. That's fine and dandy for anything not poetry, but for poetry I'd like it to be using separate venvs. I'm working around it now by creating and activating venvs manually for each project involved in the one script.

[2020-10-28 13:42] sinoroc commented on #2094
Yes. That would be _PyPA_. They know all about these kinds of issues. They are actively working on solving them. These things take time. There is no need to lobby. There is need to participate with writing good documentation and good code. And most important of all, donate to fund developers to work full time on it.

This is a part of the work, yes. Once this rolls out, _PyPA_ will be able to move

[2020-10-28 13:49] sinoroc commented on #1945
If I may...

In particular for the CI workflows, are you sure you need poetry's CLI? Which kinds of poetry commands are you running in those 3rd party environments?

[2020-10-28 13:57] roxchkplusony commented on #1945
`poetry install` before `poetry run pytest`. We need the pythonpath and packages to be correct in order to run the tests.

[2020-10-28 13:59] sinoroc commented on #1945
@roxchkplusony Thanks. I would guess, that the blocking bit, is that you rely on the `dev-dependencies` defined in `pyproject.toml`. Otherwise you could do all this without any `poetry` command. Does that seem accurate?

[2020-10-28 14:07] fkromer commented on #3300
@sinoroc It probably is 😄. Thanks a lot.

[2020-10-28 14:09] danieleades commented on #667
another use-case for this-

i'm using Poetry to build gRPC bindings. I need to build multiple packages of bindings to be named and published separately, but the projects have identical dependencies, build scripts, test scripts, etc. They even share a common source directory (since the proto files form a single tree)

It would be really useful to have a single pyproject.toml file specifying multipl

[2020-10-28 14:44] bphunter1972 commented on #3247
This was closed why?

[2020-10-28 15:10] johnthagen commented on #2094
If you are looking for projects to help contribute to that don't yet have wheels, this site lists the top 360 packages, a handful of which don't have wheels: https://pythonwheels.com/

[2020-10-28 15:25] albertotono opened #3302 "poetry: command not found / Ubuntu install in conda"
- [X] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [ ] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**:
- **Poetry version**:

## Iss

[2020-10-28 15:33] albertotono commented on #3302
[code]

[2020-10-28 15:36] albertotono commented on #3302
after running `poetry config -vvv
`
I got nothing

[2020-10-28 15:38] albertotono commented on #3302
I can't even uninstall

[code]

But it tells me the version 1.1.4

[2020-10-28 15:41] zdog234 commented on #1945
@sinoroc, for what it's worth, I need to:

1. Create a virtual environment with the right python version pulled from the `pyproject.toml`
2. Pip install **all** dependencies into that virtual environment (`--dev` included)

Everything else could probably be easily automated.

I guess we could parse out the python version specification to meet 1, but it doesn't seem fun to parse the version

[2020-10-28 16:59] dvf opened #3303 "Regression: 403 Auth Failure for S3-hosted (Cloudfront) Private Repos"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate. (There are similar tickets, notably #3291 but they aren't specifically targeting a repo hosted on S3/Cloudfront)
- [X] If an exception occurs when executing a com

[2020-10-28 17:08] dvf commented on #3291
Please see https://github.com/python-poetry/poetry/issues/3303

[2020-10-28 17:26] sinoroc commented on #1945
@zdog234

I think I would use _tox_ for a use case like that.

[2020-10-28 17:43] sinoroc commented on #1945
Also I do not understand why the following does not execute in the environment created by poetry (i.e. not the one currently active)?

[code]

I had understood that _poetry_ relies on the `VIRTUAL_ENV` environment variable to detect if it is running in a virtual environment, but it might be a bit more complicated than that.

[2020-10-28 17:54] sinoroc commented on #667
Is this somehow related to the following?

* [_Support subprojects in a poetry project (#2270)_](https://github.com/python-poetry/poetry/issues/2270)

I see that it is different, but I could also see some intersection between the two approaches for some use cases.

[2020-10-28 18:01] sinoroc commented on #3302
I do not think `get-poetry.py` is meant to be installed in a virtual environment (conda or other).

[2020-10-28 18:02] claytonlemons opened #3304 "Don't publish if version already exists"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Feature Request

Let's say a package maintainer publishes version 1.5.0 of package `foo`. Later on, the maintainer decides to publish new

[2020-10-28 18:16] brunosavyofs commented on #3270
I faced this issue too in 1.1.3 version.
I was able to fix it by creating a new virtual environment and reinstalling dependencies.

[2020-10-28 18:21] #3302 closed

[2020-10-28 18:21] albertotono opened #3305 "No module named 'virtualenv.seed.via_app_data'"
[code]

[2020-10-28 18:22] albertotono commented on #3305
Python 3.8 latest

[2020-10-28 18:55] zdog234 commented on #1945
I think you're misunderstanding my (poorly written) comment. One of the assumptions of my script is that there are some (user-provided) `pyproject.toml` s, each of which could require python3.6, 3.7, or 3.8

[2020-10-28 18:56] zdog234 commented on #1945
I guess I'd throw 3.9 in now

[2020-10-28 19:02] jpyams commented on #3293
It appears so.  The description and output matches exactly the issue I saw when I created #3198.

[2020-10-28 19:14] sinoroc commented on #3304
I am confused... The issue you are describing should not have happened to begin with. As far as I know it is impossible to overwrite a distribution (_sdist_ or _wheel_) on _PyPI_.

Would you mind describing again what happened?
(Not the part where the fabric of reality disintegrated :D)

[2020-10-28 19:26] sinoroc commented on #3305
Same suggestion as this one:

* https://github.com/python-poetry/poetry/issues/3297

... could be a _virtualenv_ issue. Maybe check their issue tracker as well.

From your other issue today, it seems like you are using _conda_. As far as I know, _virtualenv_ does not really support _conda_.

[2020-10-28 19:47] sinoroc commented on #1945
I see. My bad :/

[2020-10-28 20:07] albertotono commented on #3305
Thanks @sinoroc, yes this one was without conda.
I will check the link.
Do you have it install on GCP?

[2020-10-28 20:08] #3305 closed

[2020-10-28 20:16] sinoroc commented on #3305
@albertotono

If _conda_ is not involved, then _virtualenv_ should work fine, so we have not found the cause for your issue. Am I missing something?

I do not understand the question. What is GCP?

[2020-10-28 20:26] albertotono commented on #3305
I think I will have to install virtuaenv on my Linux machine.

Google cloud Platform. GCP

[2020-10-28 20:35] sinoroc commented on #3305
Try to reproduce the issue on the same machine where the initial issue occured, but try to remove _poetry_ from the equation. Try to call _virtualenv_ directly on that machine, instead of calling poetry.

[2020-10-28 20:41] albertotono commented on #3305
How can I install virtualenv?

On Wed, Oct 28, 2020 at 1:35 PM sinoroc <notifications@github.com> wrote:

--

*Eng. Alberto Tono, LEED AP BD+C*

us *+14158672390 *

*Facebook <https://www.facebook.com/alberto.tono>** | **Twitter*
<https://twitter.com/albertotono3?lang=it>  | *LinkedIn
<https://it.linkedin.com/in/albertotono3> | Github
<https://github.com/albertotono>*

[2020-10-28 20:56] claytonlemons commented on #3304
@sinoroc The problem that originally motivated this request happened when using Artifactory as the remote repo. I published new changes to a package using an old version that had already been published. A colleague tried to `pip install --force-reinstall` to get the new changes, but for some reason that wouldn't work. Even clearing the pip cache and recreating the venv would not allow him to get t

[2020-10-28 21:14] sinoroc commented on #3304
I did not know Artifactory allowed overwriting an already published distribution. We all learned something.

I do not know if it is a workflow that _poetry_ wants to support. It seems like everything is working as expected. If overwriting is allowed, it overwrites. If it is not allowed, it fails.

If it were my place to decide, I would not change anything, or I would need some further convincing.

[2020-10-28 21:34] claytonlemons commented on #3304
Agreed. The status-quo appears to be that it's on the onus of the repo to control overwrites. I'm fine if we close this issue, but other may have a different opinion.

[2020-10-28 21:48] jaywhy13 commented on #617
Thanks so much @Trim21, this was precisely the situation I was having too!

[2020-10-28 23:50] zyxue commented on #3110
I haven't had a problem with before poetry 1.1.0. Currently, I explicitly set the poetry version to avoid break with `python -m pip install poetry==1.0.10`, but still curious why this is happening.

I tried with poetry 1.1.4 again, here is what I experienced:

| poetry   config   certificates.<repo> .cert | set REQUESTS_CA_BUNDLE | note

[2020-10-29 00:29] zdog234 commented on #1945
Np :)

[2020-10-29 05:23] finswimmer commented on #3265
Hello @kevincon,

thanks a lot for reporting and your detailed investigation :+1: Do you think, you can provide a PR to fix it? :)

fin swimmer

[2020-10-29 05:43] finswimmer commented on #3218
I wonder where the `local` directory comes from in your case :thinking: This is, how it looks here:

[code]

[2020-10-29 09:49] mafeko commented on #1879
Thanks @michael0liver for this blueprint.
Running CICD (jenkins) this container is launched with a fixed `uid:gid`.

Running as another user I also faced some issues regarding the `poetry-cache` which I fixed by setting it to a sub-directory of my POETRY_HOME.
[code]

[2020-10-29 12:46] NikhilKothari commented on #3247
I have the same issue!

[2020-10-29 14:42] mikeroll commented on #3271
@silverwind @toanant please read the OP again - this is in essence a random file that just so happens to be named `.gitconfig` to confuse y'all :). It is indeed ignored by git, but it doesn't matter since we are explicitly including it from the main `~/.config/git/config`. And it gets included alright, which can be verified via `git config --list --origin`. The only question left is why the `url`

[2020-10-29 15:18] 0atman commented on #663
**If export is a valid use case, it's obvious that import is also a valid use case.**

@sdispater, I'm not asking you to do free work for me, but **your disagreement as maintainer is chilling the community** from adding this essential functionality to poetry via PRs.

What's the harm in letting this simple feature be "up for grabs", rather than shot down? Let's get more people converting to the be

[2020-10-29 17:29] finswimmer commented on #2295
It would be a good idea to show it in the docs, how to add this to the users home folder. Just like for the other shells.

Happy to review a PR for this :)

fin swimmer

[2020-10-29 18:13] maksbotan opened #3306 "poetry 1.1.4 locks all packages to be pulled from secondary repo"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: macOS 10.14
- **Poetry versi

[2020-10-29 19:52] HHogg commented on #507
This issue might need to be reopened as it's still an issue, and just means the install flow isn't as smooth. I had the same issue as I didn't have a .zprofile or a .profile so just had to add the path myself in the .zshrc file.

[2020-10-29 21:39] francojposa commented on #1692
Update: I managed to get past the basic error being thrown when parsing the requirement, but this looks like it will require a change to `poetry-core`. These ultimately get modeled as a poetry-core `FileDependency` which always uses at path URL, then the absolute path gets re-resolved relative to the project root when the lock file is being created.

Since `FileDependency` always makes it into an

[2020-10-29 22:12] ewen-lbh opened #3307 "Failed to find interpreter for Builtin discover of python_spec='python3.9'"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Ubuntu 18.04.4 LTS on Window

[2020-10-29 22:28] ewen-lbh commented on #3307
This was fixed by installing `python3.9-distutils`.

[2020-10-29 22:28] #3307 closed

[2020-10-30 02:40] Ayuei commented on #2972
I'm on an arch-based system, I had to do the opposite of what was suggested above.

For me, I had to install python-poetry and python-virtualenv through pacman and uninstall the poetry I installed via the shell script and/or pip.

[2020-10-30 04:57] #3242 closed

[2020-10-30 05:19] finswimmer commented on #3287
Hello @juyoung-yoo,

please use the installer script to reinstall poetry.

fin swimmer

[2020-10-30 05:19] #3287 closed

[2020-10-30 05:29] #3203 closed

[2020-10-30 08:27] vitaliy-diachkov commented on #3260
In `main.py` I have something like this

[code]

I'm don't pretend to use events_api as a library, that is just my web app code inside src folder. Why do I need to create a subfolder then?

[2020-10-30 08:28] MartinThoma commented on #2094
The discussion on python.org might be interesting for some as well: [Standardized way for receiving dependencies](https://discuss.python.org/t/standardized-way-for-receiving-dependencies/3821)

[2020-10-30 08:33] absassi commented on #3110
@zyxue, since dependency resolution only works when you have the file in Poetry config and the variable is unset, it means that whatever you are setting in the variable is causing the validation to fail (the variable takes precedence over the configuration). Please double check the path for any typos or maybe wrong use of quotes.

[2020-10-30 09:06] sinoroc commented on #3260
@vitaliy-diachkov
Maybe you want to set your `pyrpoject.toml` like this:

[code]

This is an unconventional setup though. That is why _poetry_ requires more information in the `pyproject.toml` about the structure of the project.

Then you will want to call your code like so:

[code]

_[Have not tested it, but it should work.]_

***Reference***:
* https://python-poetry.org/docs/pyproject/#packages

[2020-10-30 09:31] vitaliy-diachkov commented on #3260
As I mentioned it wouldn't be a PyPi package or any library, it's just a simple Flask project and I was asking why poetry disallowes my to execute `python3 main.py` when I'm in `src` directory, but everything works fine when I'm running `python3 src/main.py` from project root directory.

[2020-10-30 09:42] sinoroc commented on #3260
@vitaliy-diachkov I will try to recreate the issue. How does the `pyproject.toml` file looks like?

There is a thing that bothers me in your code, it is your usage of `__name__`. I am not familiar with Flask, but the code seems strange to me. If `__name__ == '__main__' is indeed true, which should be the case when calling `python3 main.py` as you claim to be doing, then I do not understand how `fl

[2020-10-30 09:45] vitaliy-diachkov commented on #3260
The content is on `details` in thread

[code]

[2020-10-30 09:46] vitaliy-diachkov commented on #3260
I can create an example repo tomorrow (with a hello world Flask application), so you can test this on your own.

[2020-10-30 11:10] kolypto commented on #34
There's no `setup.py`, but you can get one by extracting it from the source `.tag.gz` file:

[code]

After this, the folder can be installe with `pip install -e`. Cheers! :)

[2020-10-30 11:27] sinoroc commented on #3260
This is what I have come up with:

Directory structure:

[code]

`pyproject.toml`:

[code]

`src/main.py`

[code]

After installing with `poetry install`, it can be used with:

[code]

---

I was not able to recreate the original error message.

Even entering the `src` directory and calling the script directly seems to work:

[code]

[2020-10-30 12:32] absassi commented on #3148
@abn, indeed it seems there isn't a standard for distributing wheels with relative paths, but writing `name @ path` is wrong according to [PEP 508 grammar spec](https://www.python.org/dev/peps/pep-0508/#complete-grammar).

It seems any kind of URL or even just the distribution name without the `@` is enough for `pkg_resources` to be happy when trying to list the dependencies of a distribution. So

[2020-10-30 12:45] johnpaulett commented on #3148
I'd lean towards just `name`.

`name @ file:///absolute/path` requires the directory structure for the host that the .whl is installed into to match the structure of the build system.

Both the absolute and relative paths, I believe, would incorrect if those dependencies are .whl's themselves -- the file would be at `file://relative/path/dist/*.whl` or `file:///absolute/path/dist/*.whl`.

[2020-10-30 13:57] apost71 opened #3308 "The 'poetry run' command should not execute binaries installed outside of the environment"
- [ x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [ x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x ] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Mac OS Catalina 10.15.7
-

[2020-10-30 14:08] joshcoales commented on #3018
I'm getting a slightly different failure when doing poetry lock with poetry 1.1.4, installing pyparsing 3.0.0a2 with diagrams extra, as you mentioned in your issue.

I get this, slightly baffling, error:
[code]

Did you check pyparsing+diagrams after this fix?

[2020-10-30 14:34] sinoroc commented on #3308
My first impression is that it is not possible without breaking tons of other workflows. The point of `poetry run` as I understand it, is to call a binary in the context of the virtual environment, but not necessarily call a binary that is installed in the environment.

Something like the following seems like a perfectly legitimate use case to me:

[code]

where the `Makefile` contains rules that

[2020-10-30 15:08] sinoroc commented on #3018
@joshcoales

Are you sure it is related to the current topic? What was the command you entered? Can you run the command again with more verbosity (`poetry command -vvv ...`) and post the output?

Bonus points (maybe it is unrelated):
I recently saw some issues when poetry is running in a _conda_ environment (virtualenv and conda do not really mix so well apparently). Could you maybe try to remove

[2020-10-30 15:35] apost71 commented on #3308
That makes sense to me.  I wonder if it's something that could trigger a warning or some kind of indication to say that the binary is not actually installed in the environment.  The reason I was a bit hesitant to call this a bug is because, like you said, the point of poetry run is to run something in the context of the environment.  My biggest complaint here is that _sometimes_ it matters which i

[2020-10-30 15:43] sinoroc commented on #3308
Fair enough. I understand your point, and I see how it can be very surprising. I would recommend you to rephrase the title of the ticket though:

"The 'poetry run' command should execute binaries installed outside of the environment"

Does that sound accurate to you?

[2020-10-30 15:46] apost71 commented on #3308
That does sound accurate.  Consider it changed.

[2020-10-30 16:56] nathanrpage97 commented on #3148
I have another workaround. Also not sure if this defined behavior.

Pyproject.toml
[code]

This has the added benefit of ensuring it is the correct version installed on a user machine. I think if you aren't using a wheel, but a path you can switch to `mylib = "*"`.

[2020-10-30 18:07] #381 closed

[2020-10-30 18:11] finswimmer commented on #3297
I guess I can close this issue then @Skyscimitar? Leave a comment if not :)

[2020-10-30 18:11] #3297 closed

[2020-10-30 18:52] rzuckerm commented on #3218
@finswimmer I have no idea where `local` is coming from, but like I said above, this is my setup.

The virtualenv that poetry runs in was created by version 16.7.10 on a Ubuntu 20 system.

[2020-10-30 18:55] joshcoales commented on #3018
I'm not certain whether it is the same issue, no. I just saw that this issue was also discussing issues installing pyparsing with the diagrams extra, which is where I am encountering issues.

I've just been doing `poetry lock`. With the -vvv argument, I get this:
https://gist.github.com/joshcoales/2b77ba660596d094d2e0c0f7f7c0964c

I had some failed attempts to bypass anaconda, I shall have another

[2020-10-30 19:08] #3304 closed

[2020-10-30 19:14] finswimmer commented on #3271
Closing this as it seems not a problem related to poetry.

[2020-10-30 19:14] #3271 closed

[2020-10-30 19:20] finswimmer commented on #3289
I guess https://github.com/python-poetry/poetry/issues/2855 is related, is it?

[2020-10-30 19:46] zyxue commented on #3110
what I have done is basically
[code]
am I missing something?

[2020-10-30 20:53] joshcoales commented on #3018
@sinoroc

Ah, okay, no issue once I managed to get a non-anaconda python installed. Strange.

[2020-10-30 21:07] francojposa commented on #1692
Update Update: I have no idea what I am doing and I am pretty overwhelmed by the codebase.

[2020-10-30 22:07] finswimmer opened #3309 "AttributeError on poetry export"
I stumbled on it, while checking type hints for poetry. In the case `poetry export` is called with `-v` and no lock file exists, poetry raises an AttributeError:

[code]

The reason for this is, that `-vvv` is added as a tuple (`options.append(("-vvv", None))`) instead of a single string.

Fix is coming soon ....

[2020-10-31 00:12] sinoroc commented on #3018
@joshcoales Thanks for helping with the debug. For information I'll link these other tickets that seem to relate to _virtualenv_ and _conda_.

* https://github.com/python-poetry/poetry/issues/3305
* https://github.com/python-poetry/poetry/issues/3297

If your problem persist, maybe open a new ticket with focus on _virtualenv_ and _conda_. Maybe that is a good lead, maybe it is not. A bit difficult

[2020-10-31 00:32] joshcoales commented on #3018
That's fair enough. It only seemed to happen with pyparsing+diagrams, but yeah. All seems good now, and I don't really use anaconda, so I'm happy to just uninstall that anyway.
Thanks for the help!

[2020-10-31 01:22] paperwhite commented on #1453
I see this hasn't been updated for a while. I'm trying to add the object detection API which requires [specific build steps](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf1.md#python-package-installation) for installation and I'm having a hard time trying to figure out how to do that with poetry. Any suggestions would be helpful. Thanks!

[2020-10-31 05:42] abitrolly commented on #3171
@n8sty and if I am not in Poetry project root, but in `tests/` subdir?

[2020-10-31 08:22] NeilGirdhar commented on #1135
@mosesontheweb That particular error of missing setuptools is resolvable by having:
[code]

[2020-10-31 11:32] peldszus commented on #3289
Yes, indeed. 👍

And I won't rename this issue here, because the related #2918 is already exactly stating what I would have changed for.

[2020-10-31 14:01] vitaliy-diachkov commented on #3260
I've found that I only have issues when I'm using python-dotenv package, so probably not a poetry issue

Here is the example: https://github.com/vitaliy-diachkov/flask-poetry-dotenv-issue-example

[2020-10-31 16:50] rzuckerm commented on #3218
I have a self-contained docker environment that reproduces this issue in [this GitHub repo](https://github.com/rzuckerm/poetry-issue-3218). The docker environment is as close to our production environment as possible. It is a Ubuntu 18.04 environment with the latest poetry installed.

To reproduce this issue, Just clone the repo and run `make issue`. This does the following:
- Build the Ubuntu 18.

[2020-10-31 17:54] n8sty commented on #3171
`importlib.import_module` allows for specifying relative paths: https://docs.python.org/3/library/importlib.html#importlib.import_module. You can use that or `pathlib.Path(__file__)` to build a path to the script in question. Using the latter option, you can define a stable absolute path which can be used to import the file.

[2020-10-31 18:25] abitrolly commented on #3171
@n8sty and how can I ship it as a module to reuse profile modification code for other Python code?

[2020-10-31 19:45] sinoroc commented on #3218
Feels like it would be worth removing _poetry_ from the equation and figure out if it is not caused by _virtualenv_ itself.

I did a quick test (really did not dig deep, so it might be a false lead), I ran `python -m sysconfig` in multiple environment created with _virtualenv_ and noticed the following for Python 2.7:

[code]

_[I know I write this on  all tickets these days :D]_

[2020-10-31 19:55] sinoroc commented on #1692
@francojposa I know the feeling. :)
Patience, one of the maintainers will get to it at some point. Maybe in the mean time, open a ***draft*** pull request, so that the work does not get lost. It does not have to be fully functional or anything.

[2020-10-31 20:01] sinoroc commented on #3218
Potentially related:

* https://github.com/pypa/virtualenv/issues/814

Seems like it might occur only on Debian/Ubuntu. Could explain why @abn could not recreate the issue at first (don't know what the `python2.7` base image uses).

[2020-11-01 03:19] avirlrma commented on #3265
Hey,

I would like to work on this. Can I get assigned?

Thanks.

[2020-11-01 03:24] kevincon commented on #3265
Ah sorry @avirlrma I forgot to call it out, but I have fixed this in a branch and I think I can put up a PR for it tomorrow. Do you mind if I finish it up?

[2020-11-01 03:31] avirlrma commented on #3265
Yes sure, please go ahead.

[2020-11-01 03:34] avirlrma commented on #236
Hey,

Is this still open? If yes, I would like to work on this.

[2020-11-01 06:03] finswimmer commented on #2855
Hello @bhallaY ,

do you still like to work on this issue?

fin swimmer

[2020-11-01 06:17] finswimmer commented on #236
Hey @avirlrma,

happy to see you like to contribute :+1: Feel free to start working on it. I'v assigned you to this issue.

fin swimmer

[2020-11-01 09:52] avirlrma commented on #236
Thanks @finswimmer. Will update my progress here.

[2020-11-01 11:19] tarasivashchuk commented on #2613
Anything on this? I always have to create a separate script to install PyTorch because of this.

[2020-11-01 11:55] sinoroc commented on #2613
I am not familiar with that topic, but if I understood right these discussions might be related:

* [_Options to build the same package in different ways (with different build dependencies)?_](https://discuss.python.org/t/options-to-build-the-same-package-in-different-ways-with-different-build-dependencies/4458)
* [_Idea: selector packages_](https://discuss.python.org/t/idea-selector-packages/4463

[2020-11-01 14:30] sinoroc commented on #3260
@vitaliy-diachkov Would you mind closing the issue, then? It will help the maintainers keep a better overview of what issues require attention. Feel free to add any new info and/or reopen the ticket any time.

[2020-11-01 15:38] vitaliy-diachkov commented on #3260
Yes, hope will resolve this issue at python-dotenv's repo. Thanks for assistance.

[2020-11-01 15:38] #3260 closed

[2020-11-01 16:53] rzuckerm commented on #3218
@sinoroc That issue is about 5 years old, and it is marked as "won't fix". Since it's unlikely that `virtualenv` will be fixed, can't something be done in poetry to create the necessary directories if they don't already exist? I have already suggested two places to fix this.

[2020-11-01 17:58] sinoroc commented on #3218
@rzuckerm

If the issue I linked is indeed the root cause, my hope is that it will help _poetry_'s maintainers to figure out what could be done to fix it. Or on the other hand you could add your voice to hopefully get a fix in _virtualenv_. Actually you should raise these concerns against Debian/Ubuntu, they notoriously mess up many things for Python packaging. But really I am not even sure that w

[2020-11-01 23:12] JosXa commented on #1387
This thread did not address the case where you have tons of outdated dependencies or would like to run a CI pipeline that upgrades your packages and runs your tests on the outcome (and then files a PR, like dependabot does for instance). I would really appreciate something like a `poetry upgrade --all` command that will handle this use-case automatically.

This would boil down to a builtin script

[2020-11-02 00:24] brettdh commented on #2895
@EvanShenkman-Sonos Did you ever figure out the reasons this happens? For my part, I noticed a couple weird things:
1. I'm trying to build my package as an sdist as part of a larger CMake project, so I'm copying the python project into a CMake build directory. When I run `poetry build -f sdist -n` in the build dir, I get the almost-empty sdist you described above. However, when I run it in the sou

[2020-11-02 01:44] hemanta212 commented on #1387
Yes this should be one usecases for upcoming poetry's plugin api.

[2020-11-02 03:28] brettdh commented on #2895
D'oh - turns out the problem in my case was due to the aforementioned cmake interaction. The `poetry build` command is running in a tree that's `.gitignore`d, and poetry excludes any VCS-ignored files from inclusion in any build. A simple workaround of building in the source tree and moving it out to the build tree should suffice.

[2020-11-02 04:57] yanbussieres commented on #1757
Python 3.9, pip 20.2.3

Is this solving every corner case ?
Please have a look at this example :
[Code here](https://github.com/yanbussieres/poetryex )
- main requires dep2,
- dep2 requires dep1

Trying to run `poetry install` from the main folder, I still have this issue :
[code]

### Solution _(kind of)_

1. from lib/dep2, python 3.9, pip 20.2.3,  run`poetry install`
2. from main/ , python 3.9,

[2020-11-02 07:25] PetterS opened #3316 "Method for enforcing a minimum version of Poetry"
Poetry 1.1 is not compatible with 1.0, so we need to enforce Poetry version for our development team one way or another.

There is this Stack Overflow question: https://stackoverflow.com/questions/64003868/how-to-enforce-a-minimum-python-poetry-version which currently is unanswered.

Is there a way of specifying a version of Poetry in pyproject.toml that will fail if the executing version of poetr

[2020-11-02 10:04] sinoroc commented on #1387
@JosXa In such cases I tend to reach for the hammer and simply recreate the virtual environment from scratch. It is not ideal, but maybe that would be good enough for you (or others with similar use cases). A command such as `poetry upgrade --all` sounds good though (but there might be too many edge cases, you pointed some yourself).
@hemanta212 Yes, that sounds like a good candidate for a plugin

[2020-11-02 10:25] sschrijver commented on #3303
This is also an issue with a private PyPI registry that stores packages on S3. It returns a s3 URL (with temp auth token) with the message that the request is forbidden, whilst copying the URL and pasting it in a new browser initiates the correct download.

Downgrading to 1.0.10 solved this error, this error happens from version 1.1.0

[2020-11-02 12:45] abn commented on #3303
This block
https://github.com/python-poetry/poetry/blob/6ddd58f81287c1e63d155c120325066c71692b41/poetry/repositories/legacy_repository.py#L392-L396

Should move to before https://github.com/python-poetry/poetry/blob/6ddd58f81287c1e63d155c120325066c71692b41/poetry/repositories/legacy_repository.py#L388

[2020-11-02 12:48] abn commented on #3303
@dvf thank you for the great issue report! :tada:

Regarding the fallback behaviour, I am reluctant to suggest we change at that at the moment since I think there are cases where authentication/authorsation is not available and a public package can still be added. Happy to discuss that and change behaviour in another issue. For this one, lets treat it as a bug and resolve it as such.

[2020-11-02 12:50] JosXa commented on #1387
@sinoroc That's a comparable amount of effort though since you still have to be careful with extras, dev, etc., am I right?
I'm also wondering about this: If I add a star (*) dependency for every version in toml, is it possible to let poetry resolve and pin the latest versions that make a valid dependency graph somehow? Write them back in pyproject.toml?

[2020-11-02 12:55] JosXa commented on #1387
@hemanta212

 Is there maybe a collection issue, roadmap or ideas board where issues can be linked to and be prettied up for the community to pick projects from?

[2020-11-02 12:55] WouldYouKindly commented on #2146
Poetry cannot install the latest versions of yarl and multidict, which breaks installation of aiohttp in our CI environment. Both libraries now build only manylinux2014 wheels.

[2020-11-02 13:09] abn commented on #3303
@sschrijver think this was reported elsewhere, the issue here is that we use basic authentication as configured along with those requests. The existence of an "Authorization" header the "authorised" url ends up failing on the server side. IIRC, this was an issue with PyPI cloud since it deviates from the defined/expected behaviour for an index. See https://github.com/python-poetry/poetry/issues/30

[2020-11-02 13:24] rzuckerm commented on #3218
@sinoroc Thanks for your feedback. I'll have to discuss this with my colleagues and see how to proceed.

[2020-11-02 13:29] abn commented on #3041
@Katafalkas one aspect to note here is that `pip` and `poetry` have different uses for these URLs. One such case is that `poetry` stores these URLs in the lock file. Considering that the tokens used for these URLs are short-lived, it is not ideal to be used within a lock file. As far as I can tell the use of short-lived authorised URLs are not a defined behaviour. The use case in `pip` most likely

[2020-11-02 13:41] sinoroc commented on #1387
You mean some kind of "_wishlist for poetry plugins_"? That seems like a rather good idea.

No. Unless your `pyproject.toml` is missing some information, it should be straightforward. You might need to remove the lockfile, though.

I think, yes. I am not sure why you would want that, but fair enough, to each their own. Just give it a try. And I think I might need to come back on what I said earlie

[2020-11-02 13:51] abn commented on #3316
At present, `poetry` does not enforce a version required as in theory it is not necessary per say at the moment as it is the lock file that is not forwards compatible.

[code]

That said, the lock version is the closest thing we have at the moment. As you can see above, lock files generated since `1.0.10` if add and verify `lock-version` metadata in the `poetry.lock` file. Version `1.1.0` onwards

[2020-11-02 13:58] sinoroc commented on #2146
@WouldYouKindly You might want to open a new ticket. I am not sure your issue is related to the original ticket.

As far as I know _poetry_ does not depend much on _pip_ directly anymore. Since _v1.1_, poetry has its own installer, so I have my doubts that the original ticket is still relevant. Although it still uses pip on some particular cases, if I am not mistaken.

Anyway, I could not recreate

[2020-11-02 14:02] abn commented on #2146
As @sinoroc suggested, I do not think this should be an issue anymore considering that #2666 has been merged. As we are now tied to the version provided by `virtualenv` when creating the environment. See below for tests verifying this is not an issue.

If further control is required over the `pip` version, recommendation is to pre-create the virtualenvironment for the project as required. You can

[2020-11-02 14:04] #2146 closed

[2020-11-02 14:04] abn commented on #2146
PS: @playpauseandstop thank you for a great issue report! :tada:

[2020-11-02 14:48] hemanta212 commented on #1387
Yes there is, you have to search issues with "plugins" label

I dont think such workaround exists but for a plugin it should be pretty easy to pipe the new versions to poetry since poetry show -l already does most of the work

[2020-11-02 15:08] PetterS commented on #3316
Right, it is the format of the lock file and possibly the virtualenv that is the issue.

But alright, it makes upgrading from 1.0 to 1.1 harder but not impossible.

I have found that if the system version of poetry is 1.0 and 1.1 is added as a dep into the pyproject.toml, the newer version will be used for the project from that point on. That feels a bit nonstandard though.

[2020-11-02 15:09] chohner commented on #1616
I am on poetry `1.1.4` and
[code]

Installs fine on my mac (which used to fail trying to install the linux wheel) and linux CI!

[2020-11-02 16:00] abn commented on #3316
Probably not a good idea if you are adding it as a dependnecy as this will affect your dependency graph.

[2020-11-02 17:32] sinoroc commented on #1387
For easy clicking: this is the [list of tickets labelled "_plugins_"](https://github.com/python-poetry/poetry/labels/Plugins).

@JosXa

As I wrote earlier, I believe this would work. And the resulting pinned version numbers would be written in the lockfile. What would be the point of writing the pinned versions in `pyproject.toml` (if that is really what you're asking for)?

[2020-11-02 18:03] JosXa commented on #1387
Okay let me lay out that use-case once more:

There is a project you haven't touched in a year with 80 dependent PyPI packages. You decide it's time to make some changes and install potentially security-critical updates. You want to upgrade all packages to their latest versions while maintaining a valid dependency graph but also leave the versions halfways pinned in pyproject.toml and running some

[2020-11-02 18:08] finswimmer commented on #1387
https://github.com/python-poetry/poetry/issues/461 ?

[2020-11-02 18:25] finswimmer commented on #1757
Hello @yanbussieres,

since poetry 1.1 path dependencies are no longer installed in editable mode by default. You will need to add a `develop=true` to your dependency definitions in the `pyproject.toml`, e.g. `dep1 = {path = "../dep1", develop=true}`.

fin swimmer

[2020-11-02 19:03] #3236 closed

[2020-11-02 19:45] #2620 closed

[2020-11-02 21:29] keikumata opened #3317 "'Key "reference" does not exist.'"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**:
  - _Local Env:_
     - macO

[2020-11-02 21:47] Qu4tro commented on #3041
They are for us (also using `pypicloud`), as the files are hosted on `amazonaws.com` and the index is on our domain.

[2020-11-02 21:54] abn opened #3318 "Drop support for Python 2.7/3.5"
As part of the roadmap, we are dropping support for Python 2.7 and 3.5 with Poetry 1.2.0. This issue is used to group related changes.

[2020-11-02 21:58] jaredvacanti commented on #2486
I'm also interested in getting poetry into a Debian package. I've noticed here: https://github.com/python-poetry/poetry/blob/master/get-poetry.py#L1046 that it is possible to install from an offline file. I'm not sure yet what file it expects or where it is available. (Any objections? I am just doing preliminaries. Maybe it's used for something else.)

For reference, there is a Debian bug tracking

[2020-11-02 22:27] abn commented on #2486
Poetry's `get-poetry.py` is used as an installer not necessarily built for distribution packaging. Poetry should be treated as any other python package that support [PEP 517](https://www.python.org/dev/peps/pep-0517/), ie. built using a PEP 517 build frontend.

The (upcoming) desired way to build such wheels are to rely on [python-build](https://github.com/pypa/build). If this is not available cou

[2020-11-02 22:29] #477 closed

[2020-11-02 23:40] Yajing-Zhao commented on #1208
Hi @TheFriendlyCoder, I had the same feature request and came across your post. I understand why this stops you from adopting poetry. I wonder if you can share your current solution to this problem?

Thanks!

[2020-11-03 00:01] Anthchirp opened #3319 "jsonschema not listed as dependency"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.

## Issue

The [poetry `pyproject.toml`](https://github.com/python-poetry/poetry/blob/master/pyproject.toml) does not list jsonschema as dependency, but the code does use it
https://github.com/python-poetry/poetry/blob/6b09639002e737e76a09eb973f0049262511d3f0/po

[2020-11-03 04:29] radek-sprta opened #3320 "wheel_file_re does not match version correctly"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Debian 10.6
- **Poetry versi

[2020-11-03 05:02] finswimmer commented on #3317
Hello @keikumata,

which version of poetry is running in your CI env? The lock file format has changed in poetry 1.1. You can used lock files generated with poetry < 1.1 in newer version, but not lock file generated with 1.1 in older version.

fin swimmer

[2020-11-03 05:10] finswimmer commented on #3319
Hello @Anthchirp,

`poetry` depends on `poetry.core` which [vendors some of it's dependencies](https://github.com/python-poetry/poetry-core/tree/master/poetry/core/_vendor). `jsonschema` is one of them.

fin swimmer

[2020-11-03 05:10] #3319 closed

[2020-11-03 05:11] keikumata commented on #3317
@finswimmer we're running 1.1.4 in both the local environment and the CI env, which is why I was confused - double checked this a few times!

[2020-11-03 05:19] finswimmer commented on #3317
Hm,

the error message shows this:

[code]

In poetry 1.0.10 this line has moved to another line number and since poetry 1.1. this line doesn't exists at all.

Do you have installed poetry multiple times? According to the error message it seems to me this version was installed via pip. Check the output of `which -a poetry` to see if there might be multiple versions.

fin swimmer

[2020-11-03 07:57] PetterS commented on #3316
I agree. It would be a dev dependency and for an internal project but I am not looking for creative solutions here. :-)

[2020-11-03 08:45] abn commented on #3319
@finswimmer if we use it in poetry we should explicitly require it I reckon.

However, in this case we should simply drop `poetry.json` in favour of `poetry.core.json`.

[2020-11-03 09:15] WhyNotHugo commented on #1208
Personally, I use [`setuptools-scm`](https://pypi.org/project/setuptools-scm/), which generates a version at build-time based on git metadata.

[2020-11-03 09:18] venthur commented on #2486
@abn I think you're missing the point. We're asking for a list of dependencies, or a way on how to get those dependencies **before build** -- otherwise we can't package poetry for Debian, Ubuntu, etc. As the build machines are not allowed to download stuff from the internet at build time.

The way a build works in a nutshell is that you provide the source, a list of build-dependencies and a script

[2020-11-03 09:33] abn commented on #2486
@venthur I am not sure I follow why you need the dependencies in-tree. Since, I suspect similar to RPMs, you'd want to declare the dependencies as package metadata and not include in your package.

The vendored dependencies are only used for poetry installed using `get-poetry.py` and the platform specific distribution files used are attached to the release tags. But, I do not recommend using this

[2020-11-03 09:33] sinoroc commented on #2486
@venthur Thanks to _PEP517_ it is pretty standardized now. As @abn mentioned you might want to look at [_PyPA_'s _build_ tool](https://pypi.org/project/build/)  and _PEP 517_ in general, so that you can solve the packaging process once and for all for all projects that use a _PEP 517_ conform builder (instead of solving just for one project: _poetry_).

[2020-11-03 09:37] keikumata commented on #3317
it turns out that was exactly right - we were by default using what was already installed via the CircleCI python image. We thought we were installing poetry using the poetry install script, but we weren't reloading the $PATH variable to use the latest version.

closing this issue! thanks for the help!

[2020-11-03 09:37] #3317 closed

[2020-11-03 10:01] venthur commented on #2486
@abn thanks! I was missing the `tool.poetry.dependencies` which was exactly what I was looking for.

Of course vendoring is basically the last resort, and having the dependencies as Packages in Python and use those is the preferred solution. But sometimes that is not possible as either some packages require specific pinned versions of dependencies or the dependencies are not packaged at all for De

[2020-11-03 10:02] cereblanco commented on #3303
hello! if no one started working on this yet, I can create the fix. 💭

[2020-11-03 10:14] sinoroc commented on #3320
I could recreate the issue with `poetry add markdown-captions`.

@python-poetry/triage
Seems like a severe enough bug.

[2020-11-03 10:30] abn commented on #3320
@python-poetry/triage

[2020-11-03 10:53] sinoroc commented on #1208
This might need the ["_Plugins_" label](https://github.com/python-poetry/poetry/labels/Plugins).

[2020-11-03 11:01] SharpEdgeMarshall commented on #3114
@ChameleonTartu same issue as yours

[2020-11-03 13:48] jacek-jablonski opened #3321 "Possible race condition with poetry install inside docker"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Ubuntu 18.04
- **Poetry vers

[2020-11-03 16:19] rzuckerm commented on #3218
We've decided not to try to fix this in poetry. Instead, we have modified our build system to create the necessary `sysconfig` directories before invoking `poetry install`. That seems to work.

[2020-11-03 16:36] absassi commented on #3186
I didn't know that one could use PEP 440 operators for version specification in Poetry. This is [not currently documented](https://python-poetry.org/docs/dependency-specification/), but I think it should be.

[2020-11-03 16:42] absassi commented on #3110
@zyxue that looks correct to me. Are you using a private repo _in addition_ to PyPI (i.e. no `default = true` in the source in pyproject.toml)? If so, do you have public CA certificates in this bundle or only the private CAs? The only thing I could think of is that Poetry is trying to get packages from both sources and your bundle have only the certificate for the private one, so when you set the

[2020-11-04 00:07] cjolowicz commented on #3160
@abn @finswimmer Could you have a look at this? This was a regression in Poetry 1.1.3 that is still present in 1.1.4. It affects every project that has pre-commit in its development dependencies. Thank you!

I have narrowed the repro down a little further.

Create this `pyproject.toml`:

[code]

Then export the requirements:

[code]

If you look at the output, you can see that the python constrain

[2020-11-04 08:09] cmsax commented on #2094
Update a `poetry.lock` to CI will avoid resolving dependencies.

[2020-11-04 08:16] nathan-at-least opened #3322 "Two features for offline builds: show --toml/json and install --archive-dir"
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Feature Request

For various constrained build environments, like `nix` or some uses of `docker` etc… it's useful to outsource fetching de

[2020-11-04 13:04] albinamunirova commented on #3321
Having the same issue with torch and uwsgi

[2020-11-04 13:30] hhoeflin commented on #2543
Is there any update on this? It is a real problem for my projects where I rely on torch.

[2020-11-04 13:53] yoav-orca opened #3323 "unable to install line_profiler on alpine linux with poetry"
- [x] I am on the [latest](https://github.com/python-poetry/poetry/releases/latest) Poetry version.
- [x] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [x] If an exception occurs when executing a command, I executed it again in debug mode (`-vvv` option).

- **OS version and name**: Alpine Linux 3.12
- **Poetry

[2020-11-04 14:00] yoav-orca opened #3324 "Support .env file loading on shell & run"
- [X] I have searched the [issues](https://github.com/python-poetry/poetry/issues) of this repo and believe that this is not a duplicate.
- [X] I have searched the [documentation](https://python-poetry.org/docs/) and believe that my question is not covered.

## Feature Request

I'm working on migrating from pipenv to poetry, and I found I'm missing a feature from pipenv, the automatic loading of `